{%- block form_errors -%}
    {%- for error in errors -%}
        {% import '@OroFrontend/layouts/renderIcon.html.twig' as renderIcon %}
        <span class="validation-failed grid-col-12" role="alert">
            {{ renderIcon.icon({id: 'alert-circle', extraClass: 'theme-icon--medium validation-failed__icon'}) }}
            <span>{{ error.message|trans }}</span>
        </span>
    {%- endfor -%}
{%- endblock -%}
