// @theme: blank

@mixin table-base(
    $table-width:         $table-width,
    $table-text-align:    $table-text-align,
    $table-margin-bottom: $table-margin-bottom,
    $head-padding:        $table-head-padding,
    $row-padding:         $table-row-padding
) {
    width: $table-width;
    margin-bottom: $table-margin-bottom;

    border-spacing: 0;
    border-collapse: collapse;

    &__td {
        padding: $row-padding;

        text-align: $table-text-align;
    }

    &__th {
        padding: $head-padding;

        text-align: $table-text-align;
    }
}

@mixin mosaic-grid(
    $mosaic-grid-columns: 3
) {
    -webkit-columns: $mosaic-grid-columns;
    -moz-columns: $mosaic-grid-columns;
    columns: $mosaic-grid-columns;
}

@mixin mosaic-grid-break-inside(
    $break-inside-value: avoid
) {
    -webkit-column-break-inside: $break-inside-value;
    page-break-inside: $break-inside-value;
    break-inside: $break-inside-value;
}

@mixin badge(
    $badge-size:        26px,
    $badge-f-size:      14px,
    $badge-bg:          get-color('primary', 'base'),
    $badge-radius:      50%,
    $badge-color:       get-color('additional', 'ultra'),
    $badge-icon-align:  baseline,
    $badge-icon-offset: 0,
    $badge-icon-line-height: inherit
) {
    display: inline-block;
    vertical-align: middle;
    width: $badge-size;
    height: $badge-size;

    text-align: center;
    font-size: $badge-f-size;
    line-height: $badge-size;

    background-color: $badge-bg;
    border-radius: $badge-radius;
    color: $badge-color;

    [class^="fa-"] {
        margin: $badge-icon-offset;

        line-height: $badge-icon-line-height;
    }
}

// mixin for Slick Arrows
@mixin slick-arrow(
    $slick-arrow-position: absolute,
    $slick-arrow-top: 50%,
    $slick-arrow-transform: translateY(-50%),
    $slick-arrow-z-index: z('base'),

    $slick-arrow-width: auto,
    $slick-arrow-height: auto,
    $slick-arrow-display: null,
    $slick-arrow-offset: 0,

    $slick-arrow-font-size: 0,
    $slick-arrow-line-height: 0,
    $slick-arrow-text-align: center,
    $slick-arrow-outline: null,
    $slick-arrow-color: transparent,

    $slick-arrow-background: none,
    $slick-arrow-border: none,
    $slick-arrow-border-radius: null,

    $slick-arrow-icon-size: $base-font-size,
    $slick-arrow-icon-color: get-color('additional', 'middle'),
    $slick-arrow-icon-hover-color: get-color('additional', 'dark'),
    $slick-arrow-icon-display: block,

    $slick-arrow-prev-icon: $fa-var-angle-left,
    $slick-arrow-next-icon: $fa-var-angle-right,

    $slick-arrow-next-icon-right: 0,
    $slick-arrow-prev-icon-left: 0
) {
    .slick-arrow {
        position: $slick-arrow-position;
        top: $slick-arrow-top;
        transform: $slick-arrow-transform;
        z-index: $slick-arrow-z-index;

        width: $slick-arrow-width;
        height: $slick-arrow-height;
        display: $slick-arrow-display;
        padding: $slick-arrow-offset;

        outline: $slick-arrow-outline;
        font-size: $slick-arrow-font-size;
        line-height: $slick-arrow-line-height;
        text-align: $slick-arrow-text-align;

        background: $slick-arrow-background;
        color: $slick-arrow-color;
        border: $slick-arrow-border;
        border-radius: $slick-arrow-border-radius;

        cursor: pointer;

        &:before,
        &:after {
            display: $slick-arrow-icon-display;

            font-size: $slick-arrow-icon-size;

            color: $slick-arrow-icon-color;
        }

        @include element-state('hover') {
            &:before,
            &:after {
                color: $slick-arrow-icon-hover-color;
            }
        }
    }

    .slick-prev {
        left: $slick-arrow-prev-icon-left;

        @include fa-icon($slick-arrow-prev-icon, after);
    }

    .slick-next {
        right: $slick-arrow-next-icon-right;

        @include fa-icon($slick-arrow-next-icon);
    }
}

// mixin for Slick slider dots navigation
@mixin slick-dots(
    $slick-dots-class:                    '.slick-dots',
    $slick-dots-bottom-pos:               $offset-y,
    $slick-dots-item-offset:              0 $offset-x-s,
    $slick-dots-button-size:              10px,
    $slick-dots-button-bg:                get-color('additional', 'light'),
    $slick-dots-button-border:            1px solid get-color('additional', 'middle'),
    $slick-dots-button-box-shadow:        null,
    $slick-dots-button-border-radius:     50%,
    $slick-dots-button-active-border:     1px solid get-color('ui', 'focus'),
    $slick-dots-button-active-bg:         get-color('ui', 'focus'),
    $slick-dots-button-active-box-shadow: 0 0 7px get-color('ui', 'focus')
) {
    #{$slick-dots-class} {
        position: absolute;
        bottom: $slick-dots-bottom-pos;

        width: 100%;
        margin: 0 auto;
        padding: 0;

        text-align: center;
        vertical-align: bottom;

        li {
            display: inline-block;

            margin: $slick-dots-item-offset;

            &.slick-active {
                button {
                    background: $slick-dots-button-active-bg;
                    border: $slick-dots-button-active-border;
                    box-shadow: $slick-dots-button-active-box-shadow;
                }
            }
        }

        button {
            width: $slick-dots-button-size;
            height: $slick-dots-button-size;
            padding: 0;

            font-size: 0;

            background: $slick-dots-button-bg;
            border: $slick-dots-button-border;
            box-shadow: $slick-dots-button-box-shadow;

            border-radius: $slick-dots-button-border-radius;

            cursor: pointer;
        }
    }
}
