// @theme: blank

@mixin table-base(
    $table-width:         $table-width,
    $table-text-align:    $table-text-align,
    $table-margin-bottom: $table-margin-bottom,
    $head-padding:        $table-head-padding,
    $row-padding:         $table-row-padding
) {
    width: $table-width;
    margin-bottom: $table-margin-bottom;

    border-spacing: 0;
    border-collapse: collapse;

    &__td {
        padding: $row-padding;

        text-align: $table-text-align;
    }

    &__th {
        padding: $head-padding;

        text-align: $table-text-align;
    }
}

@mixin mosaic-grid(
    $mosaic-grid-columns: 3
) {
    -webkit-columns: $mosaic-grid-columns;
    -moz-columns: $mosaic-grid-columns;
    columns: $mosaic-grid-columns;
}

@mixin mosaic-grid-break-inside(
    $break-inside-value: avoid
) {
    -webkit-column-break-inside: $break-inside-value;
    page-break-inside: $break-inside-value;
    break-inside: $break-inside-value;
}

@mixin badge(
    $badge-size:        26px,
    $badge-f-size:      14px,
    $badge-bg:          get-color('primary', 'base'),
    $badge-radius:      50%,
    $badge-color:       get-color('additional', 'ultra'),
    $badge-icon-align:  baseline,
    $badge-icon-offset: 0,
    $badge-icon-line-height: inherit
) {
    display: inline-block;
    vertical-align: middle;
    width: $badge-size;
    height: $badge-size;

    text-align: center;
    font-size: $badge-f-size;
    line-height: $badge-size;

    background-color: $badge-bg;
    border-radius: $badge-radius;
    color: $badge-color;

    [class^="fa-"] {
        margin: $badge-icon-offset;

        line-height: $badge-icon-line-height;
    }
}

// mixin for Slick slider dots navigation
@mixin slick-dots(
    $slick-dots-bottom-pos:             $offset-y,
    $slick-dots-item-offset:            0 $offset-x-s,
    $slick-dots-button-size:              10px,
    $slick-dots-button-bg:                get-color('additional', 'light'),
    $slick-dots-button-border:            1px solid get-color('additional', 'middle'),
    $slick-dots-button-box-shadow:        null,
    $slick-dots-button-border-radius:     50%,
    $slick-dots-button-active-border:     1px solid get-color('ui', 'focus'),
    $slick-dots-button-active-bg:         get-color('ui', 'focus'),
    $slick-dots-button-active-box-shadow: 0 0 7px get-color('ui', 'focus')
) {
    .slick-dots {
        position: absolute;
        bottom: $slick-dots-bottom-pos;

        width: 100%;
        margin: 0 auto;
        padding: 0;

        text-align: center;
        vertical-align: bottom;

        li {
            display: inline-block;

            margin: $slick-dots-item-offset;

            &.slick-active {
                button {
                    background: $slick-dots-button-active-bg;
                    border: $slick-dots-button-active-border;
                    box-shadow: $slick-dots-button-active-box-shadow;
                }
            }
        }

        button {
            width: $slick-dots-button-size;
            height: $slick-dots-button-size;
            padding: 0;

            font-size: 0;

            background: $slick-dots-button-bg;
            border: $slick-dots-button-border;
            box-shadow: $slick-dots-button-box-shadow;

            border-radius: $slick-dots-button-border-radius;

            cursor: pointer;
        }
    }
}
