/* @theme: default; */

$breadcrumbs-font-size: $base-font-size--s - 1 !default;
$breadcrumbs-color: get-color('additional', 'dark') !default;
$breadcrumbs-offset: -3px 0 12px !default;
$breadcrumbs-link-color: get-color('additional', 'dark') !default;
