/* @theme: default; */

$breadcrumbs-display: grid !default;
$breadcrumbs-grid-auto-columns: max-content !default;
$breadcrumbs-grid-auto-flow: column !default;
$breadcrumbs-overflow-x: auto !default;
$breadcrumbs-align-items: center !default;

$breadcrumbs-item-display: block !default;
$breadcrumbs-item-flex: 0 0 auto !default;

$breadcrumbs-link-color: get-color('text', 'primary') !default;
$breadcrumbs-link-text-decoration: underline !default;

$breadcrumbs-item-separator-icon-width: 16px !default;
$breadcrumbs-item-separator-offset-inline: 8px !default;
$breadcrumbs-item-separator-color: get-color('text', 'secondary') !default;
$breadcrumbs-item-separator-item-align: middle !default;
$breadcrumbs-item-separator-display: inline-flex !default;
