/* @theme: default; */

$caption-1-font-size: 14px !default;
$caption-1-line-height: 1.4286 !default;
$caption-1-font-weight: font-weight('light') !default;
$caption-1-font-style: italic !default;

$caption-2-font-size: 13px !default;
$caption-2-line-height: 1.5385 !default;
$caption-2-font-weight: font-weight('normal') !default;

$caption-3-font-size: 12px !default;
$caption-3-line-height: 1.3333 !default;
$caption-3-font-weight: font-weight('semi-bold') !default;

$label-placeholder-font-size: 12px !default;
$label-placeholder-line-height: 1.5 !default;
$label-placeholder-font-weight: font-weight('medium') !default;
$label-placeholder-text-transform: uppercase !default;
$label-placeholder-letter-spacing: .2px !default;
