/* @theme: default; */

$collapse-view-trigger-height: 50px !default;
$collapse-view-trigger-overlay: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
) !default;
$collapse-view-trigger-color: get-color('ui', 'normal') !default;
$collapse-view-trigger-border: none !default;
$collapse-view-trigger-bg: none !default;
$collapse-view-trigger-icon-color: get-color('additional', 'dark') !default;
$collapse-view-trigger-icon-size: 16px !default;
$collapse-view-trigger-border: none !default;
$collapse-view-trigger-background: none !default;
$collapse-view-trigger-icon-transition: transform 200ms linear !default;

$collapse-view-container-max-height: 150px !default;
