/* @theme: default; */

$copyright-offset: 0 !default;
$copyright-inner-offset: spacing('base') + 7px !default;
$copyright-color: get-color('additional-old', 'middle') !default;

$copyright-border-top: 1px solid get-color('additional-old', 'light') !default;
