/* @theme: default; */

$currency-localization-icon-color: get-color('text', 'inverse-70') !default;

$currency-localization-dropdown-width: 352px !default;
$currency-localization-dropdown-padding: spacing('xl') !default;
$currency-localization-actions-gap: spacing('lg') !default;
$currency-localization-content-gap: spacing('xl') !default;
$currency-localization-content-padding-block: spacing('xl') spacing('lg') !default;
$currency-localization-title-indent: 4px !default;
$currency-localization-container-padding: spacing('sm') 0 !default;
$currency-localization-container-btn-wrapper-padding: spacing('sm') !default;
