/* @theme: default; */

$datagrid-manager-table-color: get-color('neutral', 'dark') !default;
$datagrid-manager-table-wrapper-border: 1px solid get-color('neutral', 'grey1') !default;
$datagrid-manager-table-wrapper-background: get-color('neutral', 'grey1') !default;

$datagrid-manager-table-item-background-color: get-color('neutral', 'white-100') !default;
$datagrid-manager-table-item-box-shadow: 0 0 10px rgba(0 0 0 / 10%) !default;
