/* @theme: default; */

$datagrid-manager-table-color: get-color('additional', 'dark') !default;
$datagrid-manager-table-wrapper-border: 1px solid get-color('additional', 'light') !default;
$datagrid-manager-table-wrapper-background: get-color('additional', 'light') !default;

$datagrid-manager-table-item-background-color: get-color('additional', 'ultra') !default;
$datagrid-manager-table-item-box-shadow: 0 0 10px rgba(0 0 0 / 10%) !default;
