/* @theme: default; */

$datagrid-manager-dropdown-menu-border-radius: 5px;

$datagrid-manager-dropdown-menu-border: 1px solid darken(get-color('additional', light), 4%);
$datagrid-manager-dropdown-menu-border-radius: 0;
$datagrid-manager-dropdown-menu-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
$datagrid-manager-dropdown-menu-color: get-color('additional', 'dark');

// Full Screen mode
$datagrid-manager-fullscreen-reset-btn-border-radius: 5px;
