/* @theme: default; */

@use 'sass:color';

$datagrid-manager-title-offset: spacing('base') !default;
$datagrid-manager-separator-inner-offset: 0 2px !default;
$datagrid-manager-separator-color: color.adjust(get-color('neutral', 'grey1'), $lightness: -12%) !default;
$datagrid-manager-container-offset: 0 -#{spacing('xs')} !default;
$datagrid-manager-container-inner-offset: spacing('xs') 0 !default;

$datagrid-manager-actions-item-icon-display: none !default;

$datagrid-manager-after-position-r: 0 !default;
$datagrid-manager-after-position-b: 3px !default;
$datagrid-manager-after-border--size: 8px !default;
$datagrid-manager-after-border-color: get-color('neutral', 'grey1') !default;

$datagrid-manager-handle-width: 10px !default;
$datagrid-manager-handle-height: 33px !default;
$datagrid-manager-handle-offset: 8px !default;
$datagrid-manager-handle-border: 4px dotted get-color('neutral', 'grey1') !default;

$datagrid-manager-dropdown-menu-width: 270px !default;
$datagrid-manager-dropdown-menu-inner-offset: 16px !default;
$datagrid-manager-dropdown-menu-border-radius: 0 !default;
$datagrid-manager-dropdown-menu-color: get-color('neutral', 'dark') !default;
$datagrid-manager-dropdown-font-size: $base-font-size !default;
$datagrid-manager-dropdown-font-color: get-color('text', 'primary') !default;

$datagrid-manager-disabled-color: color.adjust(get-color('neutral', 'grey2'), $lightness: -7%) !default;

$datagrid-manager-no-columns-border: 1px solid get-color('neutral', 'grey1') !default;

// Full Screen mode
$datagrid-manager-fullscreen-reset-btn-inner-offset: 7px !default;
$datagrid-manager-fullscreen-reset-btn-text-align: center !default;
$datagrid-manager-fullscreen-reset-btn-border: 1px solid get-color('neutral', 'grey1') !default;
$datagrid-manager-fullscreen-reset-btn-border-radius: $base-ui-element-border-radius !default;

$datagrid-manager-fullscreen-handle-offset: 12px !default;

$datagrid-manager-fullscreen-actions-inner-offset: spacing('base') spacing('base') spacing('xs') !default;

$datagrid-manager-fullscreen-table-inner-offset: 0 spacing('sm') 0 0 !default;

$datagrid-manager-fullscreen-footer-inner-offset: spacing('xs') spacing('sm') !default;

// Datagrid Manager Filters
$datagrid-manager-filters-dropdown-size: 1px !default;
$datagrid-manager-filters-dropdown-max-height: 350px !default;

$datagrid-manager-filters-dropdown-items-b-color: get-color('neutral', 'grey2') !default;
$datagrid-manager-filters-dropdown-content-inner-offset: spacing('sm') spacing('xs') !default;
$datagrid-manager-filters-dropdown-content-line-height: 1 !default;
$datagrid-manager-filters-dropdown-content-hover-bg-color: get-color('neutral', 'grey1') !default;
$datagrid-manager-filters-dropdown-content-checked-background-color: get-color('neutral', 'dark') !default;
$datagrid-manager-filters-dropdown-content-checked-color: get-color('neutral', 'white-100') !default;
