/* @theme: default; */

$dropdown-menu-calendar-background: get-color('additional-old', 'ultra') !default;

$dropdown-menu-calendar-date-variable-color: get-color('additional-old', 'dark') !default;

$dropdown-menu-calendar-tabs-link-color: get-color('additional-old', 'dark') !default;
$dropdown-menu-calendar-tabs-link-background-color: get-color('additional-old', 'light') !default;
$dropdown-menu-calendar-tabs-link-active-color: get-color('additional-old', 'dark') !default;
$dropdown-menu-calendar-tabs-link-hover-color: get-color('additional-old', 'dark') !default;
$dropdown-menu-calendar-tabs-link-hover-background-color: get-color('additional-old', 'base') !default;
$dropdown-menu-calendar-tabs-active-link-hover-background-color: get-color('additional-old', 'ultra') !default;
