/* @theme: default; */

$dropdown-search-search-icon-offset-right: 10px !default;

$dropdown-search-clear-search-button-offset-right: 4px !default;

$dropdown-search-input-offset: 30px !default;

$dropdown-search-item-container-height: 300px !default;
$dropdown-search-item-container-offset: $offset-x-s !default;

$dropdown-search-item-container-item-offset: $dropdown-search-item-container-offset + 28px !default;
$dropdown-search-item-container-item-content-offset: $offset-y-s !default;
$dropdown-search-item-container-item-color: get-color('additional', 'middle') !default;
$dropdown-search-item-container-item-font-size: $base-font-size--xs !default;
$dropdown-search-item-container-item-font-style: $offset-y-s !default;

$dropdown-search-item-container-icon-offset: $dropdown-item-padding-x - $dropdown-search-item-container-offset !default;

$dropdown-search-items-group-offset: 0 $offset-x $offset-y-m !default;
$dropdown-search-items-group-border: 1px solid get-color('additional', 'light') !default;
