/* @theme: default; */

@use 'sass:color';

$embedded-list-bottom-offset: null !default;
$embedded-list-bottom-offset-tablet: 40px !default;

$embedded-list-label-offset-bottom: spacing('lg') !default;
$embedded-list-label-background: get-color('additional-old', 'ultra') !default;
$embedded-list-label-line-background: get-color('additional-old', 'light');
$embedded-list-label-text-align: start !default;
$embedded-list-item-offset-inner: spacing('md') !default;

// Embeded Slider
$embedded-list-slider-mobile-landscape-side-offset: spacing('xs') 0 0 !default;
$embedded-list-slider-mobile-landscape-offset: spacing('sm') 0 0 !default;

$embedded-list-slider-btn-border-radius: 100% !default;
$embedded-list-slider-btn-arrow-width: 44px !default;
$embedded-list-slider-btn-arrow-height: 44px !default;
$embedded-list-slider-btn-arrow-top-pos: 0 !default;
$embedded-list-slider-btn-arrow-inset-inline-end-pos: 0 !default;
$embedded-list-slider-btn-arrow-inset-inline-start-pos: 0 !default;
$embedded-list-slider-btn-arrow-background: get-color('neutral', 'grey1') !default;
$embedded-list-slider-btn-arrow-transform: none !default;
$embedded-list-slider-btn-arrow-hover-background: color.adjust(
    get-color('neutral', 'grey1'), $lightness: -5%
) !default;
$embedded-list-slider-btn-arrow-focus-background: color.adjust(
    get-color('neutral', 'grey1'), $lightness: -5%
) !default;

$embedded-list-slider-arrow-side-offset: 3px !default;

// Embeded Tiles
$embedded-list-tiles-column-count: 5 !default;

// Tablet big

$embedded-list-tiles-tablet-big-column-count: 3 !default;

// Tablet
$embedded-list-title-offset-bottom-tablet: spacing('base') !default;

// tablet-small
$embedded-list-tiles-tablet-small-column-count: 2 !default;

// mobile-landscape
$embedded-list-tiles-mobile-landscape-column-count: 1 !default;

// mobile
$embedded-list-label-mobile-font-size: $base-font-size !default;
