/* @theme: default; */

$focus-via-arrows-keys-style: 0 0 0 2px get-color('primary', 'light'),
                          0 0 6px rgba(get-color('primary', 'light'), .52) !default;

$focus-via-arrows-keys-grid-cell-style: inset 0 0 0 2px get-color('primary', 'light'),
                                  inset 0 0 6px rgba(get-color('primary', 'light'), .52) !default;

$focus-via-arrows-keys-button-style: 0 0 0 1px get-color('additional', 'ultra'),
                                     0 0 0 3px get-color('primary', 'light'),
                                     0 0 6px rgba(get-color('primary', 'light'), .52) !default;

$focus-via-arrows-keys-checkbox-icon-style: 0 0 0 2px get-color('primary', 'light'),
                                              0 0 6px lighten(get-color('ui', 'normal'), 1%) !default;

$focus-via-arrows-keys-radio-icon-style: $focus-via-arrows-keys-checkbox-icon-style !default;
