/* @theme: default; */

@use 'sass:color';

$focus-via-arrows-keys-color: get-color('primary', 'light') !default;

$focus-via-arrows-keys-style:
    0 0 0 2px $focus-via-arrows-keys-color,
    0 0 6px color.adjust($focus-via-arrows-keys-color, $lightness: 1%) !default;

$focus-via-arrows-keys-grid-cell-style:
    inset 0 0 0 2px $focus-via-arrows-keys-color,
    inset 0 0 6px color.adjust($focus-via-arrows-keys-color, $lightness: 1%) !default;

$focus-via-arrows-keys-button-style:
    0 0 0 1px get-color('additional', 'ultra'),
    0 0 0 3px $focus-via-arrows-keys-color,
    0 0 6px color.adjust($focus-via-arrows-keys-color, $lightness: 1%) !default;

$focus-via-arrows-keys-checkbox-icon-style:
    0 0 0 2px $focus-via-arrows-keys-color,
    0 0 6px color.adjust($focus-via-arrows-keys-color, $lightness: 1%) !default;

$focus-via-arrows-keys-radio-icon-style: $focus-via-arrows-keys-checkbox-icon-style !default;

// Focus Visible
$focus-via-arrows-keys-checkbox-border-color: get-color('primary', 'light') !default;
