// @theme: default;

$frontend-datagrid-responsive-grid-tablet-display: block !default;
$frontend-datagrid-responsive-header-tablet-display: none !default;
$frontend-datagrid-responsive-body-tablet-display: block !default;

$frontend-datagrid-responsive-row-tablet-column-count: 3 !default;
$frontend-datagrid-responsive-row-tablet-column-width: 200px !default;
$frontend-datagrid-responsive-row-tablet-min-height: 60px !default;
$frontend-datagrid-responsive-row-tablet-display: block !default;
$frontend-datagrid-responsive-row-tablet-inner-offset: 5px 0 !default;
$frontend-datagrid-responsive-row-tablet-position: relative !default;
$frontend-datagrid-responsive-row-tablet-border-top: 1px solid #eceeef !default;

$frontend-datagrid-responsive-row-has-select-action-tablet-inner-offset-left: 25px !default;
$frontend-datagrid-responsive-row-has-actions-tablet-inner-offset-right: 175px !default;

$frontend-datagrid-responsive-body-cell-tablet-display: block !default;
$frontend-datagrid-responsive-body-cell-tablet-border: none !default;
$frontend-datagrid-responsive-body-cell-tablet-offset: 5px 0 !default;
$frontend-datagrid-responsive-body-cell-tablet-inner-offset: 0 !default;

$frontend-datagrid-responsive-body-cell-before-tablet-content: attr(data-column-label) ': ' !default;
$frontend-datagrid-responsive-body-cell-before-tablet-display: none !default;

$frontend-datagrid-responsive-boolean-cell-before-tablet-display: inline !default;

$frontend-datagrid-responsive-select-row-cell-tablet-position: absolute !default;
$frontend-datagrid-responsive-select-row-cell-tablet-top: 5px !default;
$frontend-datagrid-responsive-select-row-cell-tablet-left: 0 !default;

$frontend-datagrid-responsive-action-cell-tablet-width: 170px !default;
$frontend-datagrid-responsive-action-cell-tablet-position: absolute !default;
$frontend-datagrid-responsive-action-cell-tablet-top: 0 !default;
$frontend-datagrid-responsive-action-cell-tablet-right: 0 !default;
$frontend-datagrid-responsive-action-cell-tablet-bottom: 0 !default;
$frontend-datagrid-responsive-action-cell-tablet-bg-color: darken(get-color('additional', 'light'), 3.53) !default;
$frontend-datagrid-responsive-action-cell-tablet-icon-color: lighten(get-color('additional', 'dark'), 21.96) !default;

$frontend-datagrid-responsive-action-cell-tablet-inner-offset: 8px !default;
$frontend-datagrid-responsive-action-cell-tablet-row-height: 100% !default;
$frontend-datagrid-responsive-action-cell-tablet-column-width: 50% !default;
$frontend-datagrid-responsive-action-cell-tablet-column-inner-offset: 5px !default;
