/* @theme: default; */

@use 'sass:color';

// Cover all open dropdown while datagrid is loading or refreshing
$frontend-datagrid-loading-mask-z-index: z('dropdown') + 1 !default;

$frontend-datagrid-responsive-grid-tablet-display: block !default;
$frontend-datagrid-responsive-header-tablet-display: none !default;
$frontend-datagrid-responsive-body-mobile-big-display: block !default;
$frontend-datagrid-responsive-body-tablet-disabled-display: none !default;

$frontend-datagrid-has-swipe-action-cell-tablet-width: 220px !default;
$frontend-datagrid-has-swipe-action-cell-tablet-position: absolute !default;
$frontend-datagrid-has-swipe-action-cell-tablet-top: 0 !default;
$frontend-datagrid-has-swipe-action-cell-tablet-right: 0 !default;
$frontend-datagrid-has-swipe-action-cell-tablet-bottom: 0 !default;
$frontend-datagrid-has-swipe-action-cell-z-index: z('base');
$frontend-datagrid-has-swipe-action-cell-tablet-bg-color: color.adjust(
    get-color('neutral', 'grey1'), $lightness: -3.53%
) !default;
$frontend-datagrid-has-swipe-action-cell-tablet-icon-color: color.adjust(
    get-color('neutral', 'dark'), $lightness: 21.96%
) !default;

$frontend-datagrid-has-swipe-action-cell-tablet-action-width: 100% !default;

$frontend-datagrid-has-swipe-action-cell-tablet-inner-offset: 0 8px !default;
$frontend-datagrid-has-swipe-action-cell-tablet-outer-offset: 0 !default;
$frontend-datagrid-has-swipe-action-cell-tablet-row-height: 100% !default;
$frontend-datagrid-has-swipe-action-cell-tablet-row-display: flex !default;
$frontend-datagrid-has-swipe-action-cell-tablet-row-align-items: center !default;
$frontend-datagrid-has-swipe-action-cell-tablet-column-width: 98px !default;
$frontend-datagrid-has-swipe-action-cell-tablet-column-inner-offset: 0 !default;
$frontend-datagrid-has-swipe-action-cell-tablet-column-outer-offset: 0 !default;

$frontend-datagrid-has-swipe-action-cell-tablet-launchers-list-display: inline-flex !default;
$frontend-datagrid-has-swipe-action-cell-tablet-launchers-list-flex-wrap: wrap !default;
$frontend-datagrid-has-swipe-action-cell-tablet-launchers-list-last-offset: 8px !default;

// Mobile Landscape
$frontend-datagrid-responsive-row-mobile-landscape-grid-template-columns: none !default;
$frontend-datagrid-responsive-row-mobile-landscape-gap: 0 !default;

$frontend-datagrid-responsive-action-cell-border: 1px solid get-color('neutral', 'grey2') !default;
$frontend-datagrid-responsive-action-cell-width: auto !default;
$frontend-datagrid-responsive-action-cell-min-width: 44px !default;
$frontend-datagrid-responsive-cell-qid-width: 18px !default;

$frontend-datagrid-responsive-body-tablet-display: block !default;
$frontend-datagrid-responsive-row-tablet-min-height: 60px !default;
$frontend-datagrid-responsive-row-tablet-display: grid !default;
$frontend-datagrid-responsive-row-tablet-grid-template-columns: repeat(3, 1fr) !default;
$frontend-datagrid-responsive-row-tablet-gap: 8px 16px !default;
$frontend-datagrid-responsive-row-tablet-inner-offset: 5px 0 10px !default;
$frontend-datagrid-responsive-row-tablet-position: relative !default;
$frontend-datagrid-responsive-row-tablet-border-top: 1px solid #eceeef !default;

$frontend-datagrid-responsive-row-has-select-action-tablet-inner-offset-left: 42px !default;
$frontend-datagrid-responsive-row-has-actions-tablet-inner-offset-right: 220px !default;

$frontend-datagrid-responsive-row-swipe-active-tablet-background-color: get-color('neutral', 'grey2') !default;

$frontend-datagrid-responsive-body-cell-tablet-display: block !default;
$frontend-datagrid-responsive-body-cell-tablet-border: none !default;
$frontend-datagrid-responsive-body-cell-tablet-offset: 0 !default;
$frontend-datagrid-responsive-body-cell-tablet-inner-offset: 0 !default;
$frontend-datagrid-responsive-body-cell-tablet-word-wrap: break-word !default;

$frontend-datagrid-responsive-select-row-cell-tablet-position: absolute !default;
$frontend-datagrid-responsive-select-row-cell-tablet-top: 6px !default;
$frontend-datagrid-responsive-select-row-cell-tablet-left: spacing('md') !default;
$frontend-datagrid-responsive-action-cell-tablet-launchers-first-last-offset: 0 !default;
$frontend-datagrid-launchers-separator-height: 15px !default;
