/* @theme: default; */

@use 'sass:color';

$fullscreen-popup-display: flex !default;
$fullscreen-popup-flex-direction: column !default;
$fullscreen-popup-position: fixed !default;
$fullscreen-popup-z-index: z('popup') + 1 !default;
$fullscreen-popup-top: 0 !default;
$fullscreen-popup-right: 0 !default;
$fullscreen-popup-bottom: 0 !default;
$fullscreen-popup-left: 0 !default;
$fullscreen-popup-height: auto !default;
$fullscreen-popup-margin-left: 0 !default;
$fullscreen-popup-bg: get-color('additional', 'ultra') !default;

$fullscreen-popup-header-display: inline-flex !default;
$fullscreen-popup-header-align-items: center !default;
$fullscreen-popup-header-position: relative !default;
$fullscreen-popup-header-z-index: z('base') + 1 !default;
$fullscreen-popup-header-right: 0 !default;
$fullscreen-popup-header-left: 0 !default;
$fullscreen-popup-header-min-height: $close-dialog-size !default;
$fullscreen-popup-header-bg: get-color('additional', 'ultra') !default;
$fullscreen-popup-header-border-bottom: 1px solid get-color('additional', 'light') !default;
$fullscreen-popup-header-offset: 0 ($close-dialog-size + $offset-x-s) 0 $offset-x !default;

$fullscreen-popup-footer-display: flex !default;
$fullscreen-popup-footer-align-items: center !default;
$fullscreen-popup-footer-position: relative !default;
$fullscreen-popup-footer-z-index: z('base') + 1 !default;
$fullscreen-popup-footer-right: 0 !default;
$fullscreen-popup-footer-left: 0 !default;
$fullscreen-popup-footer-bottom: 0 !default;
$fullscreen-popup-footer-offset: $offset-y-m !default;
$fullscreen-popup-footer-bg: get-color('additional', 'ultra') !default;
$fullscreen-popup-footer-border-top: 1px solid get-color('additional', 'light') !default;

$fullscreen-popup-footer-btn-width: 100% !default;
$fullscreen-popup-footer-btn-offset: 5px !default;

$fullscreen-popup-content-height: 100% !default;
$fullscreen-popup-content-overflow: auto !default;
$fullscreen-popup-content-alert-offset-height: 0 $offset-x-m $offset-y-m !default;
$fullscreen-popup-content-loader-position: fixed !default;
$fullscreen-popup-content-offset: 0 !default;

$fullscreen-popup-label-display: inline-flex !default;

$fullscreen-popup-text-display: inline-flex !default;
$fullscreen-popup-text-align-items: center !default;
$fullscreen-popup-text-offset: null !default;
$fullscreen-popup-text-weight: font-weight('bold') !default;
$fullscreen-popup-text-cursor: pointer !default;
$fullscreen-popup-text-text-transform: uppercase !default;

$fullscreen-popup-text-fa-icon-margin-right: $offset-x-s !default;
$fullscreen-popup-text-fa-icon-line-height: inherit !default;
$fullscreen-popup-text-fa-icon-vertical-align: top !default;

$fullscreen-popup-words-vertical-align: middle !default;

$fullscreen-popup-badge-offset: 6px !default;
$fullscreen-popup-badge-vertical-align: baseline !default;
$fullscreen-popup-badge-bg: color.adjust(get-color('additional', 'middle'), $lightness: -33%) !default;

$fullscreen-popup-actions-wrapper-width: 100% !default;
$fullscreen-popup-actions-wrapper-offset: 10px 5px !default;
$fullscreen-popup-actions-wrapper-bnt-width: 100% !default;
$fullscreen-popup-widget-actions-section-display: inline-flex !default;
$fullscreen-popup-widget-actions-section-width: 100% !default;
