/* @theme: default; */

@use 'sass:color';

$fullscreen-popup-display: flex !default;
$fullscreen-popup-flex-direction: column !default;
$fullscreen-popup-position: fixed !default;
$fullscreen-popup-z-index: $zindex-modal !default;
$fullscreen-popup-top: 0 !default;
$fullscreen-popup-right: 0 !default;
$fullscreen-popup-bottom: 0 !default;
$fullscreen-popup-left: 0 !default;
$fullscreen-popup-height: auto !default;
$fullscreen-popup-margin-left: 0 !default;
$fullscreen-popup-bg: get-var-color('neutral', 'white-100') !default;

$fullscreen-popup-header-display: flex !default;
$fullscreen-popup-header-align-items: center !default;
$fullscreen-popup-header-flex-shrink: 0 !default;
$fullscreen-popup-header-gap: spacing('md');

$fullscreen-popup-header-z-index: z('base') + 1 !default;

$fullscreen-popup-header-bg: get-var-color('neutral', 'white-100') !default;
$fullscreen-popup-header-offset: spacing('base') + spacing('sm') !default;

$fullscreen-popup-icon-flex-shrink: 0 !default;
$fullscreen-popup-icon-align-self: flex-start !default;

$fullscreen-popup-footer-display: flex !default;
$fullscreen-popup-footer-align-items: center !default;
$fullscreen-popup-footer-position: relative !default;
$fullscreen-popup-footer-z-index: z('base') + 1 !default;
$fullscreen-popup-footer-right: 0 !default;
$fullscreen-popup-footer-left: 0 !default;
$fullscreen-popup-footer-bottom: 0 !default;
$fullscreen-popup-footer-offset: (
    spacing('base')
    spacing('base') + spacing('sm')
    spacing('base') + spacing('sm')
) !default;
$fullscreen-popup-footer-bg: get-var-color('neutral', 'white-100') !default;
$fullscreen-popup-footer-border-top: 1px solid get-var-color('neutral', 'grey2') !default;

$fullscreen-popup-footer-btn-width: 100% !default;

$fullscreen-popup-content-height: 100% !default;
$fullscreen-popup-content-overflow: auto !default;
$fullscreen-popup-content-alert-offset-height: 0 spacing('sm') spacing('sm') !default;
$fullscreen-popup-content-loader-position: fixed !default;
$fullscreen-popup-content-offset: 0 (spacing('base') + spacing('md') + spacing('sm')) !default;

$fullscreen-popup-label-display: inline-flex !default;
$fullscreen-popup-label-justify-content: null !default;
$fullscreen-popup-label-offset: null !default;
$fullscreen-popup-label-weight: $headline3-font-weight !default;
$fullscreen-popup-label-font-size: $headline3-font-size !default;
$fullscreen-popup-label-line-height: $headline3-line-height !default;
$fullscreen-popup-label-cursor: pointer !default;

$fullscreen-popup-words-vertical-align: middle !default;

$fullscreen-popup-actions-wrapper-width: 100% !default;
$fullscreen-popup-actions-wrapper-offset: 10px 5px !default;
$fullscreen-popup-actions-wrapper-bnt-width: 100% !default;
$fullscreen-popup-widget-actions-section-display: inline-flex !default;
$fullscreen-popup-widget-actions-section-width: 100% !default;
