/* @theme: default; */

$link-color: get-var-color('text', 'link') !default;
$link-color-current: get-var-color('text', 'link') !default;
$link-color-hover: get-var-color('text', 'link-hover') !default;

$link-link-normal-text-decoration: none !default;
$link-link-hover-text-decoration: underline !default;
