/* @theme: default; */

//Active
$link-active-color: null !default;
$link-active-decoration: null !default;

//Focus
$link-focus-color: null !default;
$link-focus-decoration: null !default;

//Visited
$link-visited-color: null !default;
$link-visited-decoration: null !default;

//No-decorated
$link-hover-decoration-no-decorated: null !default;

// Inverse
$link-inverse-color: get-var-color('text', 'inverse') !default;
$link-inverse-hover-color: get-var-color('text', 'link-hover-on-dark') !default;
$link-inverse-disabled-color: get-var-color('text', 'inverse-70') !default;
$link-inverse-visited-color: null !default;
