/* @theme: default; */

//Active
$link-active-color: null !default;
$link-active-decoration: null !default;

//Focus
$link-focus-color: null !default;
$link-focus-decoration: null !default;

//Visited
$link-visited-color: null !default;
$link-visited-decoration: null !default;

//No-decorated
$link-hover-decoration-no-decorated: null !default;
