/* @theme: default; */
@use 'sass:math';

$loader-mask-overlay-bg: get-color('neutral', 'dark') !default;
$loader-mask-overlay-opacity: .3 !default;
$loader-mask-overlay-width: 100% !default;
$loader-mask-overlay-height: 100% !default;

$loader-mask-view-loading-height: 200px !default;
$loader-mask-z-index: z('dropdown') - 10 !default;
$loader-mask-frame-width: 48px !default;
$loader-mask-frame-height: 48px !default;
$loader-mask-frame-max-width: 62% !default;
$loader-mask-frame-max-height: 62% !default;
$loader-mask-frame-background-size: 100% 100% !default;
$loader-mask-frame-aspect-ratio: 1 !default;

$loader-mask-loader-shown-display: grid !default;
$loader-mask-loader-shown-place-items: center !default;
$loader-mask-loader-url: '#{$global-url}/orofrontend/default/images/loader.svg' !default;
