/* @theme: default; */

$logo-display: block !default;
$logo-width: 142px !default;
$logo-height: 44px !default;

$logo-img-display: block !default;
$logo-img-max-width: 100% !default;
$logo-img-width: auto !default;
$logo-img-height: 100% !default;

$logo-link-opacity: .8 !default;
