/* @theme: default; */

$middlebar-grid-gap: 0 16px !default;
$middlebar-grid-template-columns: auto 1fr auto !default;
$middlebar-display: grid !default;
$middlebar-align-items: center !default;

$middlebar-right-display: flex !default;
$middlebar-right-gap: spacing('xl') !default;

// Tablet
$middlebar-tablet-grid-template-columns: 1fr !default;
$middlebar-tablet-padding: spacing('base') spacing('sm') !default;

$middlebar-left-tablet-display: flex !default;
$middlebar-left-tablet-gap: 0 spacing('md') !default;

$middlebar-center-tablet-grid-column: #{'1 / 3'} !default;
$middlebar-center-tablet-grid-row: #{'2 / 3'} !default;

// mobile-landscape
$middlebar-right-mobile-landscape-gap: spacing('md') !default;
