/* @theme: default; */

$notes-item-border-bottom: 1px solid get-color('additional', 'middle') !default;
$notes-item-border-top: 1px solid get-color('additional', 'middle') !default;

$notes-date-color: get-color('ui', 'normal') !default;
