/* @theme: default; */

$notes-item-border-bottom: 1px solid get-color('neutral', 'grey2') !default;
$notes-item-border-top: 1px solid get-color('neutral', 'grey2') !default;

$notes-date-color: get-color('usecondaryi', 'c3') !default;
