/* @theme: default; */

$notification-flash-container-offset: $offset-y auto !default;
$notification-flash-container-inner-offset: $offset-x-m !default;
$notification-flash-container-max-width: $site-width !default;
