/* @theme: default; */

@use 'sass:color';

$notification-flash-offset: 15px 0 0 !default;
$notification-flash-inner-offset: 15px !default;
$notification-flash-text-offset: 0 15px !default;
$notification-flash-border: none !default;
$notification-flash-border-radius: 3px !default;
$notification-flash-badge-size: 20px !default;
$notification-flash-badge-background: color.adjust(get-color('additional', 'middle'), $lightness: -35.2%) !default;
$notification-flash-badge-color: get-color('additional', 'ultra') !default;
$notification-flash-badge-radius: 50% !default;
$notification-flash-close-offset: -5px !default;
$notification-flash-close-inner-offset: 5px !default;
$notification-flash-close-background: none !default;
$notification-flash-close-border: none !default;
$notification-flash-close-color: get-color('ui', 'warning-dark') !default;
$notification-flash-close-icon-size: 20px !default;

$notification-flash-success-background: get-color('ui', 'success') !default;
$notification-flash-success-color: get-color('ui', 'success-dark') !default;
$notification-flash-success-close-color: get-color('ui', 'success-dark') !default;
$notification-flash-success-badge-background: get-color('ui', 'success-dark') !default;

$notification-flash-warning-background: get-color('ui', 'warning') !default;
$notification-flash-warning-color: get-color('ui', 'warning-dark') !default;
$notification-flash-warning-close-color: get-color('ui', 'warning-dark') !default;
$notification-flash-warning-badge-background: get-color('ui', 'warning-dark') !default;

$notification-flash-error-background: get-color('ui', 'error') !default;
$notification-flash-error-color: get-color('ui', 'error-dark') !default;
$notification-flash-error-close-color: get-color('ui', 'error-dark') !default;
$notification-flash-error-badge-background: get-color('ui', 'error-dark') !default;
