/* @theme: default; */

$notification-flash-offset: spacing('md') 0 0 !default;
$notification-flash-inner-offset: 0 0 0 spacing('md') !default;
$notification-flash-border-radius: 0 4px 4px 0 !default;

$notification-flash-icon-offset: 0 spacing('sm') 0 0 !default;
$notification-flash-icon-small-offset: 2px spacing('sm') 0 0 !default;

$notification-flash-content-offset: spacing('sm') 0 !default;

$notification-flash-text-font-weight: font-weight('semi-bold') !default;

$notification-flash-success-background: get-color('success', 'light') !default;
$notification-flash-success-before-background: get-color('success', 'dark') !default;
$notification-flash-success-color: get-color('success', 'dark') !default;
$notification-flash-success-close-color: get-color('success', 'dark') !default;
$notification-flash-success-badge-background: get-color('success', 'dark') !default;

$notification-flash-warning-background: get-color('warning', 'light') !default;
$notification-flash-warning-before-background: get-color('warning', 'dark') !default;
$notification-flash-warning-color: get-color('warning', 'dark') !default;
$notification-flash-warning-close-color: get-color('warning', 'dark') !default;
$notification-flash-warning-badge-background: get-color('warning', 'dark') !default;

$notification-flash-error-background: get-color('destructive', 'light') !default;
$notification-flash-error-before-background: get-color('destructive', 'dark') !default;
$notification-flash-error-color: get-color('destructive', 'dark') !default;
$notification-flash-error-close-color: get-color('destructive', 'dark') !default;
$notification-flash-error-badge-background: get-color('destructive', 'dark') !default;
