/* @theme: default; */

$notification-inner-offset: spacing('xs') spacing('sm') !default;

$notification-inner-gap: spacing('sm') !default;
$notification-inner-direction: column !default;
$notification-font-size: $base-font-size--s !default;
$notification-border-radius: $base-ui-element-border-radius !default;
$notification-list-offset: spacing('xs') !default;

$notification-list-margin: spacing('sm') 0 !default;
$notification-list-padding: 0 0 0 spacing('xl') !default;

$notification-success-background: get-var-color('success', 'light');
$notification-success-color: get-var-color('success', 'dark');

$notification-warning-background: get-var-color('warning', 'light');
$notification-warning-color: get-var-color('warning', 'dark');

$notification-error-background: get-var-color('destructive', 'light') !default;
$notification-error-color: get-var-color('destructive', 'dark') !default;
