$page-footer-background: get-color('additional', 'base');
$page-footer-container-offset: null;

$page-footer-inner-offset: 50px 0 $offset-y;
$page-footer-border-style: solid get-color('additional', 'base');
$page-footer-border-width: 1px 0 0 0 !default;

$page-footer-container-offset-tablet: null;

$footer-collapse-view-trigger-icon-tablet-color: null !default;
