/* @theme: default; */

$page-main-offset-top: spacing('base') !default;
$page-main-max-width: $site-width !default;
$page-main-inner-offset: 0 28px !default;
$page-main-content-offset: 0 auto 70px !default;

// mobile-landscape
$page-main-mobile-landscape-inner-offset: 0 spacing('base') !default;
