/* @theme: default; */

$page-footer-background: get-color('neutral', 'grey1') !default;
$page-footer-container-offset: 0 28px 32px !default;
$page-footer-inner-offset: 48px 0 spacing('base') !default;
$page-footer-inner-offset-table: spacing('base') 0 !default;
$page-footer-container-offset-tablet: null !default;
$footer-collapse-view-trigger-icon-tablet-color: null !default;
