// @theme: default

$page-main-max-width: $site-width !default;
$page-main-inner-offset: 0 $offset-x-m 0;
$page-main-header-min-height: 40px !default;

// Tablet
$page-main-header-min-height-tablet: 15px !default;
