/* @theme: default; */

$page-area-container-width: 100% !default;
$page-area-container-max-width: $site-width !default;
$page-area-container-padding-inline: 28px !default;

// mobile-landscape
$page-area-container-mobile-landscape-padding-inline: spacing('base') !default;
