/* @theme: default; */

$page-sidebar-offset-top: $page-content-offset-top !default;
$page-sidebar-width: 330px !default;
$page-sidebar-order: 1 !default;
$page-sidebar-display: flex !default;
$page-sidebar-flex-direction: column !default;
$page-sidebar-flex: none !default;

$page-sidebar-z-index: z('fixed') + 1 !default;
$page-sidebar-background-color: get-color('neutral', 'white-100') !default;

// tablet-small
$page-sidebar-tablet-s-width: 100% !default;
