/* @theme: default; */

$page-header-inner-offset: 0 !default;
$page-header-inner-inner-offset: 20px 0 !default;
$page-header-background-color: get-color('neutral', 'dark') !default;
$page-header-padding: 12px 0 !default;
