/* @theme: default; */

$page-title-actions-actions-list-display: flex !default;
$page-title-actions-actions-list-gap: spacing('base') !default;

$page-title-actions-actions-list-li-list-style: none !default;

$page-title-actions-width-mobile: 100% !default;
$page-title-actions-display-mobile: grid !default;
$page-title-actions-gap-mobile: spacing('sm') !default;
