/* @theme: default; */

$oro-pagination-pager-display: flex !default;
$oro-pagination-pager-align-items: center !default;
$oro-pagination-pager-gap: spacing('base') !default;

$oro-pagination-total-font-size: $base-font-size !default;

$oro-pagination-input-width: 56px !default;
$oro-pagination-input-text-align: center !default;
$oro-pagination-input-color: get-color('neutral', 'dark') !default;

$oro-pagination-page-to-size: 44px !default;
$oro-pagination-page-to-border-radius: 4px !default;
$oro-pagination-page-to-line-inset: auto 2px 2px !default;
$oro-pagination-page-to-line-height: 3px !default;

$oro-pagination-page-to-color: get-color('text', 'primary') !default;
$oro-pagination-page-to-hover-color: get-color('primary', 'main') !default;
$oro-pagination-page-to-active-color: get-color('primary', 'main') !default;

$oro-pagination-arrow-color: get-color('text', 'primary') !default;
$oro-pagination-arrow-background: get-color('neutral', 'grey1') !default;
$oro-pagination-arrow-color-hover: get-color('primary', 'main') !default;
$oro-pagination-arrow-background-hover: get-color('primary', 'light') !default;

$oro-pagination-arrow-color-disabled: get-color('text', 'disabled') !default;
$oro-pagination-arrow-transition: color .15s, background-color .15s !default;

$oro-pagination-pager-tablet-small-gap: spacing('xs') !default;

// mobile-landscape
$oro-pagination-label-display-mobile-landscape: none !default;

// Mobile
$oro-pagination-pager-mobile-gap: 2px !default;
