/* @theme: default; */

$password-wrapper-position: relative !default;

$password-button-position: absolute !default;
$password-button-right: 0 !default;
$password-button-top: 0 !default;

$password-requires-font-size: $base-font-size--s !default;
$password-requires-color: get-color('text', 'secondary') !default;
$password-requires-margin-bottom: spacing('md') !default;
