/* @theme: default; */

$password-wrapper-position: relative !default;

$password-button-position: absolute !default;
$password-button-right: 1px !default;
$password-button-top: 1px !default;
$password-button-bottom: 1px !default;
$password-button-min-height: $btn-sizes-default-min-height - 2px !default;

$password-requires-font-size: $base-font-size--s !default;
$password-requires-color: get-color('text', 'secondary') !default;
$password-requires-margin-bottom: spacing('md') !default;
