/* @theme: default; */

// Desktop
$popup-gallery-widget-body-offset: 0 !default;

$popup-gallery-loader-url: '#{$global-loader-url}' !default;

$popup-gallery-widget-arrow-prev-icon-offset: 0 2px 0 0 !default;
$popup-gallery-widget-arrow-next-icon-offset: 0 0 0 2px !default;
$popup-gallery-widget-arrow-side-position: 0 !default;
$popup-gallery-widget-arrow-bg: get-color('neutral', 'dark', 60%) !default;
$popup-gallery-widget-arrow-border-radius: 100% !default;
// product_gallery_popup image width + modal's offset
$popup-gallery-widget-dialog-max-width: 860px + $modal-content-padding !default;
$popup-gallery-widget-dialog-max-height: initial !default;

$popup-gallery-widget-thumbnails-offset-inner: 0 13px !default;
$popup-gallery-widget-thumbnails-img-offset: 0 2px !default;
$popup-gallery-widget-thumbnails-img-border: 1px solid get-color('neutral', 'grey2') !default;
$popup-gallery-widget-thumbnails-img-active-border: 2px solid get-color('primary', 'active') !default;
$popup-gallery-widget-thumbnail-arrow-width: 24px !default;
$popup-gallery-widget-thumbnail-arrow-height: 24px !default;
$popup-gallery-widget-thumbnail-arrow-side-position: -20px !default;

$popup-gallery-widget-no-slide-max-width: 720px !default;
$popup-gallery-widget-no-slide-top: calc(100% + #{spacing('sm')}) !default;
$popup-gallery-widget-no-slide-list-max-width: $popup-gallery-widget-no-slide-max-width - 100px !default;
