/* @theme: default; */

$primary-menu-item-active-background: get-color('primary', 'base');

$primary-menu-link-color: get-color('additional', 'dark');
$primary-menu-link-color-current: get-color('additional', 'dark');

$primary-menu-item-inner-offset: 5px 0 0 18px;
$primary-menu-item-inner-offset-tablet: 0 !default;
$primary-menu-link-inner-offset-tablet: 13px 0 !default;

$primary-menu-link-inner-offset-fullscreen: 13px 16px !default;
$primary-menu-link-text-transform-fullscreen: uppercase !default;

// Fullscreen mode

$primary-menu-fullscreen-mode-item-border: 1px solid get-color('additional', 'light');

// Tablet mode

$primary-menu-tablet-item-border: 1px solid get-color('additional', 'light');
