/* @theme: default; */

$primary-menu-display: flex !default;
$primary-menu-flex-direction: column !default;

$primary-menu-link-color: get-color('text', 'primary') !default;
$primary-menu-link-color-current: get-color('text', 'primary') !default;
$primary-menu-link-text-decoration: none !default;
$primary-menu-link-height: 100% !default;
$primary-menu-link-width: 100% !default;
$primary-menu-link-display: flex !default;
$primary-menu-link-vertical-align: center !default;
$primary-menu-link-inner-offset-start: spacing('lg') !default;
$primary-menu-link-inner-offset-end: spacing('base') !default;
$primary-menu-link-inner-offset-block: spacing('xmd') !default;
$primary-menu-item-height: 44px !default;
$primary-menu-item-position: relative !default;
$primary-menu-item-active-background: get-color('primary', 'light') !default;
$primary-menu-item-active-border-background: get-color('primary', 'main') !default;
$primary-menu-item-active-border-width: 3px !default;
$primary-menu-item-active-border-radius: 0 $base-ui-element-border-radius $base-ui-element-border-radius 0 !default;
$primary-menu-item-display: flex !default;
$primary-menu-item-flex-flow: column !default;

$primary-menu-item-inner-offset-tablet: 0 !default;
$primary-menu-link-inner-offset-tablet: spacing('xmd') 0 !default;

$primary-menu-link-inner-offset-fullscreen: spacing('xmd') 0 !default;
