/* @theme: default; */

$scrollbar-track-color: get-var-color('neutral', 'white-100') !default;
$scrollbar-color: get-var-color('neutral', 'grey2') !default;
$scrollbar-color-hover: get-var-color('neutral', 'grey3') !default;
$scrollbar-color-bg: get-color('neutral', 'grey1') !default;

$scrollbar-size: 6px !default;
$scrollbar-thumb-radius: 3px !default;
