/* @theme: default; */

$scroll-top-position: fixed !default;
$scroll-top-z-index: z('fixed') + 1 !default;
$scroll-top-size: 44px !default;

// Bottom left
$scroll-top-bl-left: $base-spacing !default;

// Bottom right
$scroll-top-br-right: $base-spacing !default;

// Center
$scroll-top-c-left: 50% !default;
