/* @theme: default; */

$search-widget-position: relative !default;

$search-widget-wrap-width: 100% !default;
$search-widget-wrap-max-width: 400px !default;

$search-widget-backdrop-view-inset-block-start: var(--sticky-page-header-element-offset-top, 0) !default;
$search-widget-backdrop-view-background-color: initial !default;
$search-widget-backdrop-view-background-image:
    linear-gradient(
        180deg,
        transparent $search-widget-backdrop-view-inset-block-start,
        #{$backdrop-background-color} $search-widget-backdrop-view-inset-block-start
    ) !default;
$search-widget-backdrop-view-background-repeat: no-repeat !default;

$search-widget-input-border-radius: 4px !default;
$search-widget-input-border-color: get-color('neutral', 'grey3') !default;
$search-widget-input-color: get-color('neutral', 'grey3') !default;
$search-widget-input-height: 44px !default;
$search-widget-input-inner-offset: 0 18px 0 40px !default;
$search-widget-input-width: 100% !default;
$search-widget-input-position: relative !default;
$search-widget-input-icon-color: get-color('neutral', 'white-100') !default;

$search-widget-input-placeholder-text-overflow: ellipsis !default;

// Focus
$search-widget-input-focus-border-width: 2px !default;
$search-widget-input-focus-border-color: get-color('neutral', 'white-100') !default;

$search-widget-input-undo-focus-border: $input-border !default;
$search-widget-input-undo-focus-box-shadow: none !default;

$search-widget-input-btn-position: absolute !default;
$search-widget-input-btn-top: 0 !default;
$search-widget-input-btn-left: 0 !default;
$search-widget-input-btn-right: 0 !default;
$search-widget-input-btn-bottom: 0 !default;
$search-widget-input-btn-min-width: 40px !default;
$search-widget-input-btn-inner-offset: spacing('sm') 10px !default;
$search-widget-input-btn-offset: 0 !default;
$search-widget-input-btn-font-size: $base-font-size--m - 1px !default;
$search-widget-input-btn-background: transparent !default;
$search-widget-input-btn-border: none !default;

$search-widget-input-btn-hover-color: get-color('neutral', 'grey3') !default;
$search-widget-input-btn-hover-cursor: pointer !default;

$search-widget-input-btn-focus-box-shadow: none !default;
$search-widget-input-btn-focus-color: get-color('neutral', 'focus') !default;

// Full width

$search-widget-full-background-color: $page-header-background-color !default;
$search-widget-full-inset: auto 0 spacing('md') !default;

// Tablet
$search-widget-tablet-offset: spacing('md') 0 0 !default;

$search-widget-wrap-tablet-max-width: initial !default;

$search-widget-btn-tablet-bottom: auto !default;
