/* @theme: default; */

$sticky-panel-z-index: z('fixed') !default;

// Inner container
$sticky-panel-box-shadow: 0 2px 5px 0 rgba(0 0 0 / 20%) !default;
$sticky-panel-transition: transform 250ms ease-out !default;
