/* @theme: default; */

$sticky-panel-z-index: z('fixed') !default;

// Inner container
$sticky-panel-box-shadow: 0px 3px 3px 0px rgba(5, 59, 66, .03), 0px 7px 12px 0px rgba(91, 126, 131, .12) !default;
$sticky-panel-transition: transform 250ms ease-out !default;
