/* @theme: default; */

$summary-widget-inner-display: grid !default;
$summary-widget-inner-gap: spacing('base') !default;

$summary-widget-summary-background: get-color('neutral', 'grey1') !default;
$summary-widget-summary-display: grid !default;
$summary-widget-summary-gap: spacing('base') !default;
$summary-widget-summary-border-radius: $base-ui-element-border-radius !default;
$summary-widget-summary-padding: spacing('base') !default;

$summary-widget-combined-bottons-display: grid !default;
$summary-widget-combined-bottons-gap: spacing('base') spacing('sm') !default;

$summary-widget-divider-color: get-color('text', 'secondary') !default;
$summary-widget-border-top: 1px solid get-color('neutral', 'grey2') !default;
$summary-widget-inner-background: get-color('neutral', 'grey1') !default;
$summary-widget-background: get-color('neutral', 'grey1') !default;

$summary-widget-combined-bottons-grid-auto-columns: 1fr !default;
$summary-widget-combined-bottons-grid-auto-flow: column !default;

$summary-widget-summary-shown-grid-template-columns: minmax(160px, auto) 1fr !default;
$summary-widget-summary-shown-align-items: center !default;
$summary-widget-summary-shown-gap: spacing('base') spacing('xxxl') !default;

$summary-widget-combined-bottons-shown-grid-auto-columns: minmax(auto, 360px) !default;
$summary-widget-combined-bottons-shown-justify-content: end !default;

$summary-widget-combined-bottons-wrapper-display: flex !default;
$summary-widget-combined-bottons-wrapper-justify-content: end !default;
$summary-widget-combined-bottons-wrapper-gap: spacing('base') spacing('sm') !default;

// Desktop Big
$summary-widget-combined-bottons-wrapper-desktop-big-flex-wrap: wrap !default;
$summary-widget-combined-bottons-wrapper-desktop-big-gap: 0 !default;
$summary-widget-combined-bottons-wrapper-divider-desktop-display: grid !default;
$summary-widget-combined-bottons-wrapper-divider-desktop-padding: spacing('sm') 0 !default;

// Tablet
$summary-widget-tablet-border-top: 1px solid get-color('neutral', 'grey2') !default;
$summary-widget-combined-bottons-tablet-grid-auto-columns: minmax(max-content, 360px) !default;

// mobile-landscape
$summary-widget-combined-bottons-mobile-landscape-grid-auto-columns: initial !default;
$summary-widget-combined-bottons-mobile-landscape-grid-auto-flow: initial !default;

$summary-widget-summary-shown-mobile-landscape-grid-template-columns: initial !default;
$summary-widget-combined-bottons-shown-mobile-landscape-grid-auto-flow: column !default;
$summary-widget-combined-bottons-shown-mobile-landscape-grid-auto-columns: initial !default;
$summary-widget-combined-bottons-shown-mobile-landscape-justify-content: initial !default;
