/* @theme: default; */

$oro-grid-table-th-border-top: 1px solid get-color('additional', 'light') !default;
$oro-grid-table-th-border-bottom: 1px solid get-color('additional', 'light') !default;
$oro-grid-table-th-background: get-color('additional', 'base') !default;

$oro-grid-table-decor-row-background: get-color('additional', 'light') !default;
$oro-grid-table-underlined-row-background: get-color('additional', 'light') !default;

$oro-grid-table-b-bordered-border: 1px solid get-color('additional', 'light') !default;
