/* @theme: default; */

$oro-grid-table-th-border-top: 1px solid get-color('neutral', 'grey1') !default;
$oro-grid-table-th-border-bottom: 1px solid get-color('neutral', 'grey1') !default;
$oro-grid-table-th-background: get-color('neutral', 'grey1') !default;

// Accessibility: minimum sufficient size to activate a link
$oro-grid-table-link-offset: 4px !default;
$oro-grid-table-decor-row-background: get-color('neutral', 'grey1') !default;
$oro-grid-table-underlined-row-background: get-color('neutral', 'grey1') !default;

$oro-grid-table-b-bordered-border: 1px solid get-color('neutral', 'grey1') !default;
