/* @theme: default; */

$toggler-base-color: get-color('text', 'secondary') !default;
$toggler-active-color: get-color('primary', 'active') !default;
$toggler-background-color: get-color('neutral', 'grey1') !default;
$toggler-background-color-active: get-color('neutral', 'white-100') !default;
$toggler-switcher-box-shadow: 0px 1px 11px 0px #5b7e8321, 0px 0px 4px 0px #053b4217 !default;
$toggler-font-size: 14px !default;
$toggler-line-height: 1.4 !default;
$toggler-border-radius: 4px !default;

$toggle-divider-color: get-color('neutral', 'grey2') !default;
$toggle-divider-height: 20px !default;

$toggle-vertical-border-color: get-color('neutral', 'grey2') !default;
$toggle-vertical-border-color-active: get-color('neutral', 'dark') !default;
$toggle-vertical-icon-color-active: get-color('primary', 'main') !default;
$toggle-vertical-background-color-active: get-color('primary', 'light') !default;
