/* @theme: default; */

$uploader-display: flex !default;
$uploader-position: relative !default;

$uploader-filename-flex-grow: 1 !default;
$uploader-filename-border-start-start-radius: 0 !default;
$uploader-filename-border-end-start-radius: 0 !default;
$uploader-filename-order: 1 !default;
$uploader-filename-overflow: hidden !default;
$uploader-filename-padding-inline-end: 52px !default;
$uploader-filename-text-overflow: ellipsis !default;
$uploader-filename-white-space: nowrap !default;
$uploader-filename-focus-hover-border-color: get-color('additional-old', 'light') !default;

$uploader-filename-placeholder-color: get-color('additional-old', 'middle') !default;

$uploader-action-border-start-end-radius: 0 !default;
$uploader-action-border-end-end-radius: 0 !default;
$uploader-action-white-space: nowrap !default;

$uploader-input-display: none !default;
