/* @theme: default; */

$ui-datepicker-hide-button-panel: true !default;
$ui-datepicker-trigger-corner: true !default;

$ui-datepicker-inner-offset: $offset-y-s $offset-x-m !default;
$ui-datepicker-border: 1px solid get-color('additional', 'middle') !default;
$ui-datepicker-border-radius: $border-radius !default;
$ui-datepicker-b-color: get-color('additional', 'ultra') !default;

$ui-datepicker-header-inner-offset: 0 $offset-y-s !default;
$ui-datepicker-header-font-weight: font-weight('bold') !default;
$ui-datepicker-title-offset: 0 30px !default;
$ui-datepicker-title-line-height: 2 !default;
$ui-datepicker-title-text-align: center !default;

$ui-datepicker-calendar-border-spacing: $offset-y-s !default;
$ui-datepicker-calendar-offset-top: $offset-y-s !default;

$ui-datepicker-item-inner-offset: $offset-x-s 6px !default;
$ui-datepicker-item-text-decoration: none !default;
$ui-datepicker-item-text-align: center !default;
$ui-datepicker-item-color: get-color('additional', 'dark') !default;
$ui-datepicker-item-border-radius: 4px !default;
$ui-datepicker-item-active-background: get-color('primary', 'base') !default;
$ui-datepicker-item-active-color: get-color('additional', 'ultra') !default;
$ui-datepicker-item-hover-background: get-color('additional', 'base') !default;
$ui-datepicker-item-hover-box-shadow: 0 0 0 1px get-color('additional', 'dark') !default;
$ui-datepicker-item-disabled-background: get-color('additional', 'light') !default;

$ui-datepicker-trigger-top: 50% !default;
$ui-datepicker-trigger-size: 25px !default;
$ui-datepicker-trigger-hover-background: get-color('additional', 'base') !default;
$ui-datepicker-trigger-disabled-opacity: .5 !default;
$ui-datepicker-item-highlight-border: 1px solid get-color('primary', 'base') !default;
$ui-datepicker-td-inner-offset: 2px !default;
$ui-datepicker-th-inner-offset: 2px !default;

$ui-datepicker-header-color: get-color('additional', 'middle') !default;

$ui-datepicker-trigger-corner-size: 7px !default;
$ui-datepicker-trigger-icon: $ui-datepicker-trigger-corner-size solid get-color('additional', 'middle') !default;
