/* @theme: default; */

$ui-datepicker-hide-button-panel: true !default;
$ui-datepicker-trigger-corner: true !default;

$ui-datepicker-inner-offset: spacing('xs') spacing('sm') !default;
$ui-datepicker-border: 1px solid get-color('neutral', 'grey3') !default;
$ui-datepicker-border-radius: $border-radius !default;
$ui-datepicker-b-color: get-color('neutral', 'white-100') !default;

$ui-datepicker-header-inner-offset: 0 spacing('xs') !default;
$ui-datepicker-header-font-weight: font-weight('bold') !default;
$ui-datepicker-title-offset: 0 30px !default;
$ui-datepicker-title-line-height: 2 !default;
$ui-datepicker-title-text-align: center !default;

$ui-datepicker-calendar-border-spacing: spacing('xs') !default;
$ui-datepicker-calendar-offset-top: spacing('xs') !default;

$ui-datepicker-item-inner-offset: spacing('xs') 6px !default;
$ui-datepicker-item-text-decoration: none !default;
$ui-datepicker-item-text-align: center !default;
$ui-datepicker-item-color: get-color('text', 'primary') !default;
$ui-datepicker-item-border-radius: 4px !default;
$ui-datepicker-item-active-background: get-color('primary', 'main') !default;
$ui-datepicker-item-active-color: get-color('neutral', 'white-100') !default;
$ui-datepicker-item-hover-background: get-color('primary', 'light') !default;
$ui-datepicker-item-hover-box-shadow: 0 0 0 1px get-color('neutral', 'dark') !default;
$ui-datepicker-item-disabled-background: get-color('neutral', 'grey1') !default;

$ui-datepicker-trigger-top: 50% !default;
$ui-datepicker-trigger-size: 25px !default;
$ui-datepicker-trigger-hover-background: get-color('neutral', 'grey1') !default;
$ui-datepicker-trigger-disabled-opacity: .5 !default;
$ui-datepicker-item-highlight-border: 1px solid get-color('secondary', 'c2') !default;
$ui-datepicker-td-inner-offset: 2px !default;
$ui-datepicker-th-inner-offset: 2px !default;

$ui-datepicker-header-color: get-color('neutral', 'grey1') !default;

$ui-datepicker-trigger-corner-size: 7px !default;
$ui-datepicker-trigger-icon: $ui-datepicker-trigger-corner-size solid get-color('neutral', 'grey1') !default;
