/* @theme: default; */

$dialog-min-height: 220px !default;
$dialog-widget-content-border-radius: $base-ui-popup-border-radius !default;

$dialog-title-font-size: $headline3-font-size !default;
$dialog-title-font-weight: $headline3-font-weight !default;
$dialog-title-line-height: $headline3-line-height !default;
$dialog-widget-content-offset-inner: spacing('md') spacing('lg') + spacing('md') !default;
$dialog-widget-content-bg-color: $modal-content-bg !default;
$dialog-widget-content-border: 0 !default;
$dialog-widget-content-color: $body-color !default;

$dialog-titlebar-offset-inner: spacing('lg') spacing('lg') spacing('md') spacing('lg') + spacing('md') !default;
$dialog-titlebar-font-weight: font-weight('normal') !default;
$dialog-titlebar-color: $body-color !default;
$dialog-titlebar-background: transparent !default;

$dialog-buttonpane-offset-inner: spacing('md') spacing('lg') + spacing('md') spacing('lg') + spacing('md') !default;

$dialog-draggable-handle-cursor: move !default;
$dialog-buttons-inner-cursor: pointer !default;

$dialog-messages-inner-offset: spacing('md') spacing('lg') + spacing('md') !default;

$ui-dialog-dialog-icon-padding: spacing('sm') spacing('md') !default;

// Fullscreen mode
$ui-dialog-titlebar-fullscreen-offset: $fullscreen-popup-header-offset !default;
$ui-dialog-titlebar-fullscreen-background: $fullscreen-popup-header-bg !default;

$ui-dialog-content-fullscreen-messages-offset: spacing('md') spacing('base') !default;

$ui-dialog-content-fullscreen-offset: spacing('md') spacing('base') !default;

$ui-dialog-fullscreen-viewport-offset: 20vh !default;
$ui-dialog-extra-header-content-fullscreen-offset: $ui-dialog-content-fullscreen-messages-offset !default;

$ui-dialog-buttonpane-offset: spacing('md') spacing('base') spacing('lg') !default;
$ui-dialog-buttonpane-background: $fullscreen-popup-footer-bg !default;
$ui-dialog-buttonpane-form-actions-display: flex;
$ui-dialog-buttonpane-form-actions-width: 100%;
$ui-dialog-buttonpane-form-actions-justify: flex-end;
$ui-dialog-buttonpane-form-actions-pull-container-display: flex;
$ui-dialog-buttonpane-form-actions-pull-container-justify: flex-end;

$ui-dialog-footer-gap: spacing('base');
