/* @theme: default; */

$dialog-min-height: 220px !default;
$dialog-widget-content-border-radius: $base-ui-popup-border-radius !default;

$dialog-title-font-size: $page-title-font-size !default;
$dialog-title-line-height: $page-title-line-height !default;

$dialog-widget-content-offset-inner: 4px 40px !default;
$dialog-widget-content-bg-color: get-color('additional', 'ultra') !default;
$dialog-widget-content-border: 0 !default;
$dialog-widget-content-color: get-color('additional', 'dark') !default;

$dialog-titlebar-offset-inner: 40px 40px 12px !default;
$dialog-titlebar-font-weight: font-weight('normal') !default;
$dialog-titlebar-color: get-color('additional', 'dark') !default;
$dialog-titlebar-background: transparent !default;
$dialog-titlebar-border: 0 !default;

$dialog-titlebar-buttonpane-top: 0 !default;
$dialog-titlebar-buttonpane-right: 0 !default;

$dialog-buttonpane-offset-inner: 16px 40px 20px 30px !default;

$dialog-action-wrapper-side-offset: $offset-x-m !default;

$dialog-draggable-handle-cursor: move !default;
$dialog-buttons-inner-cursor: pointer !default;

$dialog-messages-offset: 0 0 12px !default;
$dialog-messages-inner-offset: 0 40px !default;
$dialog-notification-offset-inner: 8px 12px !default;

$dialog-btn-success-background: get-color('primary', 'base') !default;
$dialog-btn-success-border: get-color('primary', 'base') !default;

$dialog-frontend-fullscreen-position: static !default;
$dialog-frontend-fullscreen-titlebar-display: none !default;
$dialog-frontend-fullscreen-content-offset-inner: 0 12px !default;

// mobile-landscape
$dialog-widget-content-offset-inner-mobile-landscape: 4px $offset-x !default;

$dialog-titlebar-offset-inner-mobile-landscape: 40px $offset-x 12px !default;

$dialog-buttonpane-offset-inner-mobile-landscape: $offset-y $offset-x  20px !default;

$dialog-frontend-fullscreen-content-offset-inner-mobile-landscape: 0 12px !default;
