services:
    oro_frontend.form.extension.theme_select_type:
        class: 'Oro\Bundle\FrontendBundle\Form\Extension\ThemeSelectTypeExtension'
        tags:
            - { name: form.type_extension, extended_type: Oro\Bundle\ThemeBundle\Form\Type\ThemeSelectType }

    oro_frontend.form.type.country:
        class: 'Oro\Bundle\FrontendBundle\Form\Type\CountryType'
        tags:
            - { name: form.type, alias: oro_frontend_country }

    oro_frontend.form.type.region:
        class: 'Oro\Bundle\FrontendBundle\Form\Type\RegionType'
        tags:
            - { name: form.type, alias: oro_frontend_region }

    oro_frontend.form.type.page_template_collection:
        class: 'Oro\Bundle\FrontendBundle\Form\Type\PageTemplateCollectionType'
        arguments:
            - '@oro_layout.page_templates_manager'
        tags:
            - { name: form.type, alias: 'oro_frontend_page_template_collection' }

    oro_frontend.form.type.page_template:
        class: 'Oro\Bundle\FrontendBundle\Form\Type\PageTemplateType'
        arguments:
            - '@oro_layout.page_templates_manager'
        tags:
            - { name: form.type, alias: 'oro_frontend_page_template' }

    oro_frontend.form.options_configurator.rule_editor_options_configurator:
        class: Oro\Bundle\FrontendBundle\Form\OptionsConfigurator\RuleEditorOptionsConfigurator
        public: false

    oro_frontend.form.type.rule_editor_textarea:
        class: Oro\Bundle\FrontendBundle\Form\Type\RuleEditorTextareaType
        arguments:
            - '@oro_frontend.form.options_configurator.rule_editor_options_configurator'
        tags:
            - { name: form.type, alias: oro_frontend_rule_editor }

    oro_frontend.form.type.rule_editor_text:
        class: Oro\Bundle\FrontendBundle\Form\Type\RuleEditorTextType
        arguments:
            - '@oro_frontend.form.options_configurator.rule_editor_options_configurator'
        tags:
            - { name: form.type, alias: oro_frontend_rule_editor_text }

    oro_frontend.form.extension.dynamic_fields:
        class: Oro\Bundle\FrontendBundle\Form\Extension\DynamicFieldsExtension
        arguments:
            - '@oro_frontend.request.frontend_helper'
            - '@oro_entity_config.config_manager'
        tags:
            - { name: form.type_extension }

    oro_frontend.form.extension.contact_request_bc:
        class: Oro\Bundle\FrontendBundle\Form\Extension\ContactRequestBCExtension
        arguments:
            - '@oro_layout.current_theme_provider'
            - '@oro_layout.theme_manager'
        tags:
            - { name: form.type_extension }


    Oro\Bundle\FrontendBundle\Form\Type\QuickAccessButtonConfigType:
        arguments:
            - '@oro_config.global'
        tags:
            - { name: form.type }

    oro_frontend.form.quick_access_button_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\QuickAccessButtonConfigBuilder
        arguments:
            - '@assets.packages'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.type.storefront_icon_type:
        class: 'Oro\Bundle\FrontendBundle\Form\Type\StorefrontIconType'
        arguments:
            - '@oro_frontend.provider.icons_mapping'
        tags:
            - { name: form.type }

    oro_frontend.form.css_background_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssBackgroundConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.css_border_radius_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssBorderRadiusConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.css_box_shadow_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssBoxShadowConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.css_color_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssColorConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.css_font_size_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssFontSizeConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.css_gap_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssGapConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.css_length_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssLengthConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.css_line_height_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssLineHeightConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.css_min_height_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssMinHeightConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.css_outline_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssOutlineConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }

    oro_frontend.form.css_padding_config_builder:
        class: Oro\Bundle\FrontendBundle\Form\Configuration\CssPaddingConfigBuilder
        arguments:
            - '@assets.packages'
            - '@translator'
        tags:
            - { name: oro_theme.form.configuration_child_builder }
