/* @theme: default; */

$filter-criteria-selector-icon-color: get-color('additional', 'dark') !default;

$filter-reset-color: get-color('additional', 'ultra');
$filter-reset-hover-color: darken(get-color('additional', 'ultra'), 10%);
