/* @theme: default; */

$filter-toggle-mode-fields-row-min-width: 100% !default;

$filter-toggle-mode-filter-item-width: 100% !default;
$filter-toggle-mode-filter-item-padding: $offset-y-m 0 !default;
$filter-toggle-mode-filter-item-border-bottom: 1px solid get-color('additional', 'light') !default;

$filter-toggle-mode-criteria-offset-top: -12px !default;
$filter-toggle-mode-criteria-offset-left: 0 !default;
$filter-toggle-mode-criteria-offset-inner: 12px 0 !default;
$filter-toggle-mode-criteria-visibility: visible !default;
$filter-toggle-mode-criteria-value-field-frame-width: 100% !default;

$filter-toggle-mode-datagrid-manager-search-offset-top: 0 !default;
$filter-toggle-mode-datagrid-manager-search-offset-bottom: 8px !default;

$filter-toggle-mode-product-price-filter-offset-top: 12px !default;
$filter-toggle-mode-product-price-filter-inner-offset-left: 0 !default;

$filter-toggle-mode-unit-filter-separator-display: none !default;

$filter-toggle-mode-criteria-selector-display: flex !default;
$filter-toggle-mode-criteria-selector-flex-direction: row !default;
$filter-toggle-mode-criteria-selector-align-content: space-between !default;
$filter-toggle-mode-criteria-selector-align-items: baseline !default;
$filter-toggle-mode-criteria-selector-offset-inner: 4px $offset-x 4px 0 !default;
$filter-toggle-mode-criteria-selector-offset: 8px 0 !default;

$filter-toggle-mode-criteria-selector-icon-right-pos: $offset-x-m !default;

$filter-toggle-mode-criteria-selector-icon-fa-icon: var(--fa-var-angle-right) !default;
$filter-toggle-mode-criteria-selector-icon-font-size: $base-font-size--large !default;
$filter-toggle-mode-criteria-selector-icon-line-height: 1 !default;

$filter-toggle-mode-items-hint-offset-top: $offset-y-s !default;
$filter-toggle-mode-items-hint-offset-bottom: 12px !default;
$filter-toggle-mode-in-sticky-criteria-hint-item-offset: 0 !default;
$filter-toggle-mode-in-sticky-criteria-hint-item-offset-inner: 0 !default;
$filter-toggle-mode-items-hint-line-height: $filter-dropdown-mode-items-hint-line-height !default;
$filter-toggle-mode-items-hint-font-size: $filter-dropdown-mode-items-hint-font-size !default;

$filter-toggle-mode-criteria-hint-item-offset-bottom: $offset-y-s * .5 !default;
$filter-toggle-mode-criteria-hint-item-offset: 0
    $offset-y-m $filter-toggle-mode-criteria-hint-item-offset-bottom 0 !default;
$filter-toggle-mode-criteria-hint-item-offset-inner: $filter-dropdown-mode-criteria-hint-item-offset-inner !default;
$filter-toggle-mode-criteria-hint-item-border-radius: $filter-dropdown-mode-criteria-hint-item-border-radius !default;

$filter-toggle-mode-filter-item-label-font-size: $base-font-size--large !default;
$filter-toggle-mode-filter-item-label-line-height: 1.25 !default;

$filter-toggle-mode-filter-extra-hint-offset: 6px !default;
$filter-toggle-mode-filter-extra-hint-color: get-color('additional', 'middle') !default;

$filter-toggle-mode-reset-filter-button-inner-offset: 0 !default;

$filter-toggle-mode-filters-manager-trigger-width: 32px !default;

$filter-toggle-mode-start-end-max-width: 100% !default;

$filter-toggle-mode-datepicker-input-width: 100% !default;
$filter-toggle-mode-datepicker-input-max-width: 100% !default;
$filter-toggle-mode-timepicker-input-max-width: calc(40% - #{$offset-y-s}) !default;
$filter-toggle-mode-timepicker-input-width: 100% !default;
$filter-toggle-mode-timepicker-input-offset-left: $offset-y-s !default;

$filter-toggle-mode-open-filter-criteria-selector-icon-transform: rotate(90deg) !default;
