/* @theme: default; */

@use 'sass:color';

$filter-criteria-selector-icon-height: 16px !default;
$filter-criteria-selector-icon-color: get-color('additional', 'dark') !default;
$filter-criteria-selector-icon-display: block !default;
$filter-criteria-hint-max-width: 250px !default;
$filter-criteria-hint-item-color: get-color('additional', 'ultra') !default;
$filter-criteria-hint-item-bg: get-color('additional', 'middle') !default;
$filter-criteria-hint-label-offset-end: 2px !default;

$filter-trigger-wrapper-display: inline-block !default;
$filter-trigger-wrapper-dropdown-toggle-background-color: get-color('additional', 'ultra') !default;
$filter-trigger-wrapper-dropdown-toggle-color: get-color('primary', 'dark') !default;
$filter-trigger-wrapper-dropdown-toggle-border-color: transparent !default;
$filter-trigger-wrapper-dropdown-toggle-box-shadow: none !default;

$filter-date-range-offset: null !default;

$filter-separator-width: 22px !default;
$filter-separator-text-align: center !default;

$filter-reset-color: get-color('additional', 'ultra') !default;
$filter-reset-hover-color: color.adjust(get-color('additional', 'ultra'), $lightness: -10%) !default;

$filter-value-range-display: flex !default;
$filter-value-range-align-items: center !default;
$filter-value-range-justify-content: space-between !default;

$filter-start-end-width: 100% !default;
$filter-start-end-display: flex !default;

$filter-datepicker-box-icon-top: 5px !default;

$filter-action-row-offset-top: $offset-y !default;

$filter-dropdown-menu-calendar-max-width: 287px !default;
$filter-dropdown-item-active-weight: font-weight('bold') !default;

$align-filter-dropdown-to-right-side: true !default;

$filter-container-header-display: flex !default;
$filter-container-title-flex-grow: 1 !default;
$filter-container-title-flex-shrink: 1 !default;
$filter-container-manager-flex-grow: 0 !default;
$filter-container-manager-flex-shrink: 0 !default;
$filter-container-manager-offset-top: $offset-y-m !default;

$filter-actions-gap: $offset-x-m !default;
$filter-actions-align-self: flex-start !default;
$filter-actions-align-items: flex-start !default;

// Filters Dropdown Mode
$filter-box-dropdown-mode-in-sticky-offset: auto !default;
$filter-box-dropdown-mode-margin: 4px 0 0 !default;
$filter-box-dropdown-mode-inner-offset: 8px !default;
$filter-box-dropdown-mode-background: get-color('additional', 'base') !default;
$filter-box-dropdown-mode-use-corner: true !default;
$filter-box-dropdown-mode-corner-position-r: 15px !default;
$filter-box-dropdown-mode-corner-position-b: 100% !default;
$filter-box-dropdown-mode-corner-size: 8px !default;

$filter-box-apply-offset: 8px !default;
$filter-box-apply-background-color: get-color('additional', 'ultra') !default;
$filter-box-apply-box-shadow: 0 2px 6px 1px rgba(0 0 0 / 12%) !default;
$filter-box-apply-border: 1px solid get-color('additional', 'middle') !default;
$filter-box-apply-arrow-height: 18px !default;
$filter-box-apply-arrow-width: 19px !default;
$filter-box-apply-arrow-box-shadow: 0 0 0 1px get-color('additional', 'middle') !default;
$filter-box-apply-arrow-placeholder: 10px !default;

$multiselect-filter-no-found-offset-top: $offset-y-s !default;

// Filter Range
$filter-input-group-prefix-width: 30px !default;
$filter-input-group-extend-prefix-width: 50px !default;
$filter-input-group-prefix-display: flex !default;
$filter-input-group-prefix-align-items: center !default;
$filter-input-group-prefix-justify-content: center !default;

$product-price-filter-criteria-max-width: 306px !default;
