// @theme: default;

.footer-nav {
    width: 60%;
    padding: 0 0 $offset-y-m;

    &__title {
        margin: 0 0 $offset-y;

        font-size: $base-font-size--large;
        line-height: 1;

        white-space: nowrap;
        text-transform: uppercase;
    }

    &__list {
        margin: 0 0 50px;

        @include list-normalize();
    }

    &__item {
        margin: $offset-y 0 0;
    }

    &__link {
        color: get-color('additional', 'dark');

        &:hover {
            color: get-color('additional', 'dark');
        }
    }

    &__icon {
        display: none;
    }

    &__column {
        float: left;

        width: 33.3333%;
        padding-left: 13%;
    }
}

@include breakpoint('tablet-small') {
    .footer-nav {
        width: 100%;

        &__column {
            padding: 0 0 0 5%;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .footer-nav {
        width: 100%;
        margin-top: -50px;
        padding: 0;

        &__title {
            margin: 0;
            padding: ($offset-y-m * 2) $offset-y-m;
        }

        &__list {
            margin: 0 0 ($offset-y-m * 2);
            padding: 0 ($offset-x + $offset-x-m);
        }

        &__icon {
            display: inline-block;

            margin-right: $offset-x-s;

            vertical-align: baseline;
        }

        &__column {
            float: none;

            width: 100%;
            padding: 0;

            border-top: 1px solid get-color('additional', 'light');
        }

        &__column.expanded &__icon {
            transform: rotate(90deg);
        }
    }
}
