// @theme: default

.credit-card-icon {
  $paymentIconUrl: $global-url + '/orofrontend/default/images/payments';

  display: inline-block;
  vertical-align: middle;

    &_mastercard {
        width: 39px;
        height: 25px;

    background: url('#{$paymentIconUrl}/mastercard.png') no-repeat;
  }

    &_visa {
        width: 41px;
        height: 25px;

    background: url('#{$paymentIconUrl}/visa.png') no-repeat;
  }

    &_american_express {
        width: 40px;
        height: 25px;

    background: url('#{$paymentIconUrl}/american_express.png') no-repeat;
  }

    &_discover {
        width: 40px;
        height: 25px;

    background: url('#{$paymentIconUrl}/discover.png') no-repeat;
  }
}

.oro-icon-dollar {
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.fa-bars {
    @include fa-icon($fa-var-list);
}

[class^="fa-"],
[class*=" fa-"] {
    margin-right: 3px;

    line-height: 1;
}

// TODO: need refactor after removal less from frontend
.hide-text {
    &:after,
    &:before {
        color: inherit;
    }

    &.fa--small,
    &.fa--medium,
    &.fa--large {
        &:before {
            font-size: inherit;
        }
    }
}

.fa {
    &--small {
        font-size: $root-font-size;
    }

    &--medium {
        font-size: $base-font-size;
    }

    &--large {
        font-size: 24px;
    }

    &--gray {
        color: lighten(get-color('additional', 'dark'), 17.5%);
    }

    &--hidden {
        visibility: hidden;
    }

    &--no-offset {
        margin-right: 0;
    }
}
