@mixin add-separator() {
  &:not(:first-child) {
    &:before {
      top: 5px;
      bottom: 5px;

      border-left: 1px solid get-color('additional', 'middle');

      @include after();
    }
  }
}

@mixin mode-icon-size($size: $base-font-size--large) {
  font-size: $size;
  line-height: strip-units($size / 10);
}

//Toolbar
.grid-scrollable-container {
  overflow-y: visible;
  overflow-x: auto;
}

.grid-toolbar {
  justify-content: center;
  padding: 0;

  @media (max-width: 1300px) {
    flex-wrap: wrap;
  }

  @media (max-width: $screen-md) {
    justify-content: space-between;
  }


  .page-size {
    font-size: $base-font-size - 2px;

    flex-grow: 0;
  }

  //Mass actions
  .grid-toolbar-mass-actions {
    order: 5;

    .mass-actions-panel {
      max-width: 135px;
    }

    @media (max-width: $screen-md) {
      order: 3;

      .action-select {
        width: 100%;
        margin: 0;
      }
    }

    @media (max-width: $screen-md) {
      flex-basis: calc(100% - 138px);
      margin: 0 0 10px;

      text-align: right;
    }
  }

  .btn-group {
    .btn {
      display: inline-block;
      max-width: 460px;
      height: 32px;
      box-sizing: border-box;
      vertical-align: middle;
      padding: 5px 10px;
      border: 1px solid get-color('additional', 'middle');

      background: rgb(255,255,255);
      background: linear-gradient(
                      to bottom,
                      rgba(255,255,255,1) 0%,
                      rgba(230,230,230,1) 100%);

      color: get-color('additional', 'dark');
      font-family: 'Lato', Arial, sans-serif;
      font-size: $base-font-size !important;
      line-height: 1.14 !important;
    }

    &.open {
      .btn {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  //Actions panel
  .actions-panel {
    display: inline-block;
    vertical-align: middle;
    margin: 0;

    font-size: 0;

    @media (max-width: $screen-md) {
      margin: 0 0 10px;
    }

    .action {
      display: inline-block;
      vertical-align: middle;

      height: 32px;

      padding: 7px 10px;

      font-size: 0;

      line-height: 1;

      border: 1px solid get-color('additional', 'middle');
      background: get-color('additional', 'ultra');
      background: linear-gradient(
                      to bottom,
                      rgba(255,255,255,1) 0%,
                      rgba(230,230,230,1) 100%);

      color: get-color('additional', 'dark');


      &.pressed {
        box-shadow: inset 0 3px 5px 0 rgba(0,0,0,.35);
      }

      i, [class^="fa-"] {
        margin: 0 !important;

        font-size: 0 !important;
        line-height: 1 !important;

        &:before {
          font-size: 17px !important;

          line-height: 1 !important;
        }
      }
    }
  }

  .table-wrapper {
    position: relative;

    margin: 10px 0 0;
    padding-right: 17px;
    border: 0;

    &.ps-active-y {
      padding-right: 24px;
    }

    .table {
      margin: 0;
      border-collapse: separate;
      border: 0;
      border-left: 1px solid get-color('additional', 'light');
      border-right: 1px solid get-color('additional', 'light');

      > thead {
        display: none;
      }
    }
  }
}

.more-bar-holder {
  position: relative;
  padding: 0;

  .action {
    &.mode-icon-only {
      color: get-color('additional', 'middle');

      @include hover-focus {
        text-decoration: none;

        color: get-color('additional', 'dark');
      }

      [class^='fa-'] {
        margin-right: 0;
      }
    }
  }

  .dropdown-toggle {
    height: 10px;

    display: inline-block;
    vertical-align: middle;

    line-height: 0;
    font-size: 24px;
    text-decoration: none;

    color: inherit;

    &:after {
      content: none;
    }
  }

  &.action-row {
    .launcher-item {
      display: block;
      padding: 0;

      a {
        padding: 0 10px;
        display: inline-block;
      }

      [class^="fa-"] {
        font-size: 15px;
      }
    }
  }

  .dropdown-toggle {
    display: inline-block;
    padding: $offset-y-s 15px;
    height: $base-font-size--m;
    margin: 0;

    font-size: $base-font-size--m;
    line-height: 0;

    color: get-color('additional', 'semidark');

    &:after {
      display: none;
    }
  }

  .dropdown-menu__placeholder + .dropdown-toggle,
  .dropdown-toggle:hover {
    text-decoration: none;
  }

}

//Table
.oro-datagrid {
  &.no-data-visible {
    > .toolbar {
      display: block;
    }
  }
  .other-scroll-container {
    margin: 0;
    border: 0;
    border-radius: 0;

    .container-fluid {
      padding: 0;
    }

    .table-bordered {
      border-width: 1px 0;
    }
  }

  .grid-container {
    .table-bordered {
      th, td {
        border-left: 0;
        border-right: 0;
      }
    }

    .grid {
      thead {
        tr {
          th {
            vertical-align: middle;
            padding: 12px;
            border-bottom: 0;
            border-radius: 0;

            text-align: left;

            background: get-color('additional', 'base');

            > a,
            > span {
              font-size: $base-font-size;
              line-height: 1;
              font-weight: 600;
              text-transform: none;

              &:hover, &:focus, &:active {
                text-decoration: none;
              }
            }
          }
        }
      }

      tbody {
        tr {
          td {
            vertical-align: middle;
            padding: 16px 12px;

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }

      .actions-row {
        text-align: right;
      }

      .launchers-list {
        display: block;

        text-align: left;

        white-space: nowrap;
      }

      .dropdown-menu {
        .launchers-list {

          white-space: nowrap;

          .mode-text-only {
            display: block;
          }
        }
      }
    }

    .launcher-item {
      display: block;

      &.mode-text-only,
      &.mode-icon-only {
        display: inline-block;

        @include add-separator();
      }

      &.mode-text-only {
        margin: 2px 0;
      }

      a.action {
        position: relative;
        white-space: nowrap;
        text-align: center;

        [class^='fa-'].hide-text {
          display: inline-block;

          &:after,
          &:before {
            color: inherit;

            @include mode-icon-size();
          }
        }
      }

      .dropdown-menu {
        .mode-text-only {
          display: block;
        }
      }
    }
  }

  .action-cell {
    text-align: right;

    .launcher-item.mode-icon-text {
      text-align: left;
    }

    .dropdown {
      display: inline-block;
    }
    .more-bar-holder .dropdown-toggle {
      margin-left: 0;
    }
  }
}

.dropdown-menu {
  min-width: 0;
  margin: 0;
  padding: 0;

  .launcher-item {
    float: none;

    a {
      padding: 5px 10px;
      display: block;
    }

    &.mode-icon-only {
      display: table-cell;

      @include add-separator();

      a {
        color: get-color('additional', 'middle');
        text-align: center;

        [class^="fa-"],
        [class*=" fa-"] {
          margin: 0;

          vertical-align: top;

          &:before {
            @include mode-icon-size();
          }
        }

        @include hover-focus-active() {
          color: get-color('additional', 'dark');
        }
      }
    }
    &.mode-text-only {
      display: block;

      a {
        padding: 3px 10px;
      }
    }
  }

  .nav-pills > li + li {
    margin: 0;
  }
}
