.grid-scrollable-container {
  overflow-y: visible;
  overflow-x: auto;
}

//Table
.oro-datagrid {
  &.no-data-visible {
    > .toolbar {
      display: block;
    }
  }
  .other-scroll-container {
    margin: 0;
    border: 0;
    border-radius: 0;

    .container-fluid {
      padding: 0;
    }

    .table-bordered {
      border-width: 1px 0;
    }
  }

  .grid-container {
    .table-bordered {
      th, td {
        border-left: 0;
        border-right: 0;
      }
    }

    .grid {
      thead {
        tr {
          th {
            vertical-align: middle;
            padding: 12px;
            border-bottom: 0;
            border-radius: 0;

            text-align: left;

            background: get-color('additional', 'base');

            > a,
            > span {
              font-size: $base-font-size;
              line-height: 1;
              font-weight: 600;
              text-transform: none;

              &:hover, &:focus, &:active {
                text-decoration: none;
              }
            }
          }
        }
      }

      tbody {
        tr {
          td {
            vertical-align: middle;
            padding: 16px 12px;

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }

      .action-row {
        text-align: right;
      }
    }
  }

  .action-cell {
    text-align: right;
  }
}

.dropdown-menu {
  min-width: 0;
  margin: 0;
  padding: 0;
}
