.grid-scrollable-container {
  overflow-y: visible;
  overflow-x: auto;
}

.more-bar-holder {
  position: relative;
  padding: 0;

  .dropdown-toggle {
    height: 10px;

    display: inline-block;
    vertical-align: middle;

    line-height: 0;
    font-size: 24px;
    text-decoration: none;

    color: inherit;

    &:after {
      content: none;
    }
  }

  .dropdown-toggle {
    display: inline-block;
    padding: $offset-y-s 15px;
    height: $base-font-size--m;
    margin: 0;

    font-size: $base-font-size--m;
    line-height: 0;

    color: get-color('additional', 'semidark');

    &:after {
      display: none;
    }
  }

  .dropdown-menu__placeholder + .dropdown-toggle,
  .dropdown-toggle:hover {
    text-decoration: none;
  }

}

//Table
.oro-datagrid {
  &.no-data-visible {
    > .toolbar {
      display: block;
    }
  }
  .other-scroll-container {
    margin: 0;
    border: 0;
    border-radius: 0;

    .container-fluid {
      padding: 0;
    }

    .table-bordered {
      border-width: 1px 0;
    }
  }

  .grid-container {
    .table-bordered {
      th, td {
        border-left: 0;
        border-right: 0;
      }
    }

    .grid {
      thead {
        tr {
          th {
            vertical-align: middle;
            padding: 12px;
            border-bottom: 0;
            border-radius: 0;

            text-align: left;

            background: get-color('additional', 'base');

            > a,
            > span {
              font-size: $base-font-size;
              line-height: 1;
              font-weight: 600;
              text-transform: none;

              &:hover, &:focus, &:active {
                text-decoration: none;
              }
            }
          }
        }
      }

      tbody {
        tr {
          td {
            vertical-align: middle;
            padding: 16px 12px;

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }

      .actions-row {
        text-align: right;
      }

      .launchers-list {
        display: block;

        text-align: left;

        white-space: nowrap;
      }

      .dropdown-menu {
        .launchers-list {
          white-space: nowrap;
        }
      }
    }
  }

  .action-cell {
    text-align: right;

    .dropdown {
      display: inline-block;
    }
    .more-bar-holder .dropdown-toggle {
      margin-left: 0;
    }
  }
}

.dropdown-menu {
  min-width: 0;
  margin: 0;
  padding: 0;
}
