api:
    entity_aliases:
        Oro\Bundle\CustomerBundle\Api\Model\Login:
            alias: login
            plural_alias: login

    entities:
        Oro\Bundle\CustomerBundle\Api\Model\Login:
            documentation_resource: '@OroCustomerBundle/Resources/doc/api_frontend/login.md'
            fields:
                email:
                    data_type: string
                password:
                    data_type: string
                apiKey:
                    data_type: string
            actions:
                get: false
                get_list: false
                update: false
                delete: false
                delete_list: false
                create:
                    description: Get API Access Key
                    fields:
                        email:
                            direction: input-only
                            form_options:
                                constraints:
                                    - NotBlank: ~
                        password:
                            direction: input-only
                            form_options:
                                constraints:
                                    - NotBlank: ~
                        apiKey:
                            direction: output-only
                    status_codes:
                        201: false
                        200: Returned when the credentials are valid and API access key exists
                        403: Returned when the credentials are not valid or API access key does not exist
                        409: false
