/* @theme: default; */

.ui-datepicker {
    padding: $ui-datepicker-inner-offset;

    border-radius: $ui-datepicker-border-radius;
    background-color: $ui-datepicker-b-color;
    box-shadow: $ui-datepicker-box-shadow;

    .ui-datepicker-header {
        font-weight: $ui-datepicker-header-font-weight;
        position: $ui-datepicker-header-position;
        display: $ui-datepicker-header-display;
        grid-template-areas: $ui-datepicker-header-grid-template-areas;
        grid-template-columns: $ui-datepicker-header-grid-template-columns;
        gap: $ui-datepicker-header-gap;
    }

    .ui-datepicker-title {
        display: flex;
        grid-area: base;
        align-items: center;

        &:has(.select, .oro-select2) {
            gap: spacing('md');
        }

        .select {
            width: 100%;
        }
    }

    @if ($ui-datepicker-hide-button-panel) {
        .ui-datepicker-buttonpane {
            display: none;
        }
    }

    .ui-datepicker-calendar {
        width: 100%;
        margin-top: $ui-datepicker-calendar-offset-top;
    }

    .ui-state-default {
        width: $ui-datepicker-item-width;
        height: $ui-datepicker-item-height;
        display: $ui-datepicker-item-display;
        align-items: $ui-datepicker-item-align-items;
        justify-content: $ui-datepicker-item-justify-content;
        padding: $ui-datepicker-item-inner-offset;

        text-decoration: $ui-datepicker-item-text-decoration;
        text-align: $ui-datepicker-item-text-align;

        color: $ui-datepicker-item-color;

        border-radius: $ui-datepicker-item-border-radius;

        &.ui-state-highlight {
            border: $ui-datepicker-item-highlight-border;
        }

        &.ui-state-active {
            background: $ui-datepicker-item-active-background;
            font-weight: $ui-datepicker-item-active-font-weight;
            color: $ui-datepicker-item-active-color;
        }

        &.ui-state-hover {
            // Not active date
            &:not(.ui-state-active) {
                background: $ui-datepicker-item-hover-background;
                color: $ui-datepicker-item-hover-color;
                border: $ui-datepicker-item-hover-border;
            }
        }
    }

    .ui-state-disabled {
        .ui-state-default {
            color: $ui-datepicker-item-disabled-color;
        }
    }

    .ui-datepicker-next,
    .ui-datepicker-prev {
        width: $ui-datepicker-trigger-size;
        height: $ui-datepicker-trigger-size;
        display: $ui-datepicker-trigger-display;
        align-items: $ui-datepicker-trigger-align-items;
        justify-content: $ui-datepicker-trigger-justify-content;
        border-radius: $ui-datepicker-trigger-border-radius;
        cursor: pointer;

        @if ($ui-datepicker-trigger-corner) {
            &::before {
                content: '';
                background-color: $ui-datepicker-trigger-icon-color;
                width: $ui-datepicker-trigger-icon-size;
                height: $ui-datepicker-trigger-icon-size;
                display: block;
            }
        }

        &.ui-state-disabled {
            background: $ui-datepicker-trigger-disabled-background;

            &::before {
                background-color: $ui-datepicker-trigger-icon-disabled-color;
            }
        }
    }

    .ui-datepicker-next {
        grid-area: end;

        @if ($ui-datepicker-trigger-corner) {
            &::before {
                mask-image: $ui-datepicker-trigger-next-icon-mask;
            }
        }
    }

    .ui-datepicker-prev {
        grid-area: start;

        @if ($ui-datepicker-trigger-corner) {
            &::before {
                mask-image: $ui-datepicker-trigger-prev-icon-mask;
            }
        }
    }

    .ui-datepicker-next-hover,
    .ui-datepicker-prev-hover {
        background: $ui-datepicker-trigger-hover-background;

        &::before {
            background-color: $ui-datepicker-trigger-icon-hover-color;
        }
    }

    td {
        min-height: $ui-datepicker-td-min-height;
        padding: $ui-datepicker-td-inner-offset;
    }

    th {
        min-height: $ui-datepicker-th-min-height;
        font-weight: $ui-datepicker-th-font-weight;
        padding: $ui-datepicker-th-inner-offset;

        span {
            width: $ui-datepicker-header-width;
            height: $ui-datepicker-header-height;
            display: $ui-datepicker-header-display;
            align-items: $ui-datepicker-header-align-items;
            justify-content: $ui-datepicker-header-justify-content;

            color: $ui-datepicker-header-color;
        }
    }
}
