/* @theme: default; */

.ui-dialog {
    position: fixed;
    top: 50%;

    /* rtl:ignore */
    left: 50%;

    /* rtl:ignore */
    z-index: z('popup') + 1;

    display: flex;
    flex-flow: column;
    // stylelint-disable-next-line declaration-no-important
    min-height: $dialog-min-height !important;

    font-family: $base-font;

    &.ui-widget-content,
    .ui-widget-content {
        max-width: 100%;

        border: $dialog-widget-content-border;
        color: $dialog-widget-content-color;
        background-color: $dialog-widget-content-bg-color;

        @include border-radius($dialog-widget-content-border-radius);
    }

    .ui-widget-content {
        padding: $dialog-widget-content-offset-inner;
        overflow-y: auto;
        border-radius: $dialog-widget-content-border-radius;
    }

    .ui-dialog-title {
        display: flex;
        align-items: center;
        gap: $fullscreen-popup-header-gap;
        flex-grow: 1;
        font-size: $dialog-title-font-size;
        font-weight: $dialog-title-font-weight;
        line-height: $dialog-title-line-height;
    }

    .ui-dialog-titlebar {
        display: flex;
        align-items: $modal-header-align-items;
        gap: $modal-header-gap;
        padding: $dialog-titlebar-offset-inner;

        font-weight: $dialog-titlebar-font-weight;

        background: $dialog-titlebar-background;
        color: $dialog-titlebar-color;

        flex-shrink: 0;

        &.ui-draggable-handle {
            cursor: $dialog-draggable-handle-cursor;
        }
    }

    .ui-dialog-titlebar-buttonpane {
        display: inline-flex;
        flex-shrink: 0;
        align-self: flex-start;
    }

    .ui-dialog-buttonpane {
        padding: $dialog-buttonpane-offset-inner;
        flex-shrink: 0;

        border-radius: $dialog-buttonpane-border-radius;

        overflow: visible;
    }

    .pull-right .action-wrapper {
        margin-left: $dialog-action-wrapper-side-offset;
    }

    .pull-left .action-wrapper {
        margin-right: $dialog-action-wrapper-side-offset;
    }

    .ui-dialog-messages {
        padding: $dialog-messages-inner-offset;

        &:empty {
            display: none;
        }
    }

    .ui-dialog-extra-header-content {
        padding: $dialog-extra-header-content-inner-offset;

        &:empty {
            display: none;
        }
    }

    .close-dialog {
        // Hide unused elements
        .ui-icon,
        .ui-button-icon-space {
            display: none;
        }
    }

    .dialog-icon {
        display: inline-flex;
        align-self: flex-start;
        flex-shrink: 0;
        padding: $ui-dialog-dialog-icon-padding;
    }

    &.fullscreen {
        // Next styles might be updated by JS in different levels while dialog is open,
        // but we need to occupy a dialog a whole screen
        /* stylelint-disable declaration-no-important */
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        max-height: 100% !important;
        /* stylelint-enable declaration-no-important */

        .ui-dialog-titlebar {
            @include safe-area-offset(padding, $ui-dialog-titlebar-fullscreen-offset);

            background: $ui-dialog-titlebar-fullscreen-background;
        }

        .ui-dialog-messages {
            @include safe-area-offset(padding, $ui-dialog-content-fullscreen-messages-offset);
        }

        .ui-dialog-extra-header-content {
            @include safe-area-offset(padding, $ui-dialog-extra-header-content-fullscreen-offset);
        }

        .ui-dialog-content {
            @include safe-area-offset(padding, $ui-dialog-content-fullscreen-offset);

            flex-grow: 1;
        }

        .ui-dialog-buttonpane {
            @include safe-area-offset(padding, $ui-dialog-buttonpane-offset);

            background: $ui-dialog-buttonpane-background;
            border-top: $ui-dialog-buttonpane-border;
        }
    }
}
