// @theme: default;

.embedded-list {
    position: relative;

    &__label {
        position: relative;

        margin-top: $embedded-list-label-offset-top;

        line-height: $embedded-list-label-line-height;

        text-align: center;

        &:before {
            position: absolute;
            z-index: z('base');
            top: 50%;
            right: 0;
            left: 0;

            height: 1px;

            content: '';

            background: $embedded-list-label-line-background;
        }
    }

    &__label-inner {
        position: relative;
        z-index: z('base') + 1;

        display: inline-block;
        padding: $embedded-list-label-inner-offset;

        font-size: $embedded-list-label-font-size;

        vertical-align: top;
        text-transform: uppercase;

        background: get-color('additional', 'ultra');
    }
}

@include breakpoint('mobile') {
    .embedded-list {
        &__label {
            margin: 0;
            margin-top: $embedded-list-label-mobile-offset-top;
        }

        &__label-inner {
            font-size: $embedded-list-label-mobile-font-size;
        }
    }
}
