// @theme: default;

$embedded-list-label-offset-top: 52px !default;
$embedded-list-label-inner-offset: 0 16px !default;
$embedded-list-label-line-height: 20px !default;
$embedded-list-label-font-size: 18px !default;
$embedded-list-label-line-background: get-color('additional', 'light') !default;

// mobile
$embedded-list-label-mobile-offset-top: 20px !default;
$embedded-list-label-mobile-font-size: $base-font-size !default;
