/* @theme: default; */

$embedded-list-label-line-background: get-color('additional', 'light');

$embedded-list-slider-btn-arrow-height: 100px;
$embedded-list-slider-btn-arrow-background: get-color('additional', 'light');
$embedded-list-slider-btn-arrow-hover-background: darken(get-color('additional', 'light'), 5%);
$embedded-list-slider-btn-arrow-focus-background: darken(get-color('additional', 'light'), 5%);
$embedded-list-slider-btn-arrow-transform: none;
$embedded-list-slider-btn-arrow-top-pos: 35%;
