<div class="fullscreen-popup">
    <div class="fullscreen-popup__header" data-role="header">
        <% if (label) { %>
            <div class="fullscreen-popup__label">
                <span class="fullscreen-popup__text"<% if (closeOnLabel) { %> data-role="close"<% } %>>
                    <% if (icon) { %>
                        <% if (badge) { %>
                            <span class="fullscreen-popup__badge">
                                <i class="<%= icon %>"></i>
                            </span>
                        <% } else { %>
                            <i class="<%= icon %>"></i>
                        <% } %>
                    <% } %>
                    <span class="fullscreen-popup__words" data-role="title"><%= label %></span>
                </span>
            </div>
        <% } %>
        <% if (close) { %>
            <buttom type="button" class="fullscreen-popup__close" data-role="close"></buttom>
        <% } %>
    </div>

    <div class="fullscreen-popup__content" data-role="content"></div>

    <% if (popupFooter) { %>
        <div class="fullscreen-popup__footer" data-role="footer">
            <button type="button" class="<%= footerActionBtnClass %>" data-role="footer-action"><%= footerActionLabel %></button>
        </div>
    <% } %>
</div>
