<% let oroui = _.macros('oroui') %>
<% if (label) { %>
    <% if (icon) { %>
        <button type="button" class="btn btn--simple-colored fullscreen-popup__icon" data-role="close" aria-label="<%- _.__('Close') %>">
            <%= oroui.renderIcon({name: icon}) %>
        </button>
    <% } %>
    <span class="fullscreen-popup__label" id="<%- id %>"
         <% if (obj.closeOnLabel) { %> role="button" tabindex="0" data-role="close"<% } %>
    ><span data-role="title"><%- label %></span></span>
    <% if (close) { %>
    <button type="button" class="btn btn--simple-colored close-dialog" data-role="close" aria-label="<%-_.__('oro_frontend.fullscreen_popup.actions.labels.close') %>">
        <%= oroui.renderIcon({name: 'close'}) %>
    </button>
<% } %>
<% } %>
