<% if (label) { %>
    <div class="fullscreen-popup__label" id="<%- id %>">
        <span class="fullscreen-popup__text" <% if (closeOnLabel) { %> data-role="close" role="button" tabindex="0"<% } %>>
            <% if (icon) { %>
                <% if (badge) { %>
                    <span class="fullscreen-popup__badge" aria-hidden="true">
                        <span class="<%- icon %>"></span>
                    </span>
                <% } else { %>
                    <span class="<%- icon %>" aria-hidden="true"></span>
                <% } %>
            <% } %>
            <span class="fullscreen-popup__words" data-role="title"><%- label %></span>
        </span>
    </div>
<% } %>
