<div class="fullscreen-popup" role="dialog" aria-modal="true" aria-labelledby="<%- id %>">
    <div class="fullscreen-popup__header" data-role="header"></div>
    <% if (close) { %>
        <button type="button" class="close-dialog" data-role="close" aria-label="<%-_.__('oro_frontend.fullscreen_popup.actions.labels.close') %>"></button>
    <% } %>
    <div class="fullscreen-popup__content" data-role="content" role="document"></div>
    <div class="fullscreen-popup__footer" data-role="footer"></div>
</div>
