/* @theme: default; */

$header-row-position: relative !default;
$header-row-display: flex !default;
$header-row-justify-content: space-between !default;
$header-row-align-items: center !default;
$header-row-gap: 30px !default;

$header-row-border-trigger-background-color: get-color('additional-old', 'base') !default;
$header-row-border-toggle-background-color: transparent !default;
$header-row-border-trigger-border-radius: 4px !default;
$header-row-border-trigger-padding: 12px !default;

$header-row-border-show-trigger-background: transparent !default;

$header-row-border: null !default;

$header-row-show-trigger-box-shadow: inset 0 4px 4px -2px rgba(0 0 0 / 20%) !default;

// Tablet
$header-row-border-tablet: null !default;
$header-row-trigger-background-color-tablet: null !default;
$header-row-trigger-border-tablet: null !default;
$header-row-tablet-toggle-box-shadow: 0 2px 4px 0 rgba(0 0 0 / 30%) !default;
$header-row-tablet-toggle-dropdown-background: get-color('additional-old', 'ultra') !default;
