/* @theme: default; */

$header-row-border: null !default;

$header-row-border-tablet: null !default;

$header-row-trigger-background-color-tablet: null !default;
$header-row-trigger-border-tablet: null !default;
