/* @theme: default; */

@use 'sass:math';

$information-nav-offset: 0 0 $offset-y-m !default;
$information-nav-width: math.div(100%, 3) !default;

$information-nav-title-offset: 0 0 $offset-y !default;
$information-nav-title-font-weight: font-weight('semi-bold') !default;

$information-nav-title-color: null !default;

$information-nav-tablet-small-offset: 0 !default;
$information-nav-tablet-border-top: 1px solid get-color('additional', 'light') !default;

$information-nav-title-tablet-small-offset: 0 !default;
$information-nav-title-tablet-small-inner-offset: ($offset-y-m * 2) 0 !default;
$information-nav-list-tablet-small-inner-offset-left: $offset-x !default;

$information-nav-title-font-size: $base-font-size--large !default;
$information-nav-title-line-height: 1 !default;
$information-nav-title-text-transform: uppercase !default;

$information-nav-item-offset: $offset-y 0 0 !default;
$information-nav-item-content-color: get-color('additional', 'dark') !default;
$information-nav-item-content-color-hover: get-color('additional', 'dark') !default;
$information-nav-item-content-text-color: $information-nav-item-content-color !default;

// Tablet small
$information-nav-tablet-small-width: 100% !default;
