/* @theme: default; */

// Base styles

$main-menu-button-arrow-width: 24px !default;
$main-menu-button-arrow-inner-offset: 0 6px 0 4px !default;
$main-menu-button-arrow-offset: -$main-menu-button-arrow-width !default;
$main-menu-button-arrow-text-align: left !default;

$main-menu-item-height: 49px;
$main-menu-item--nested: 0 24px 0 22px;
$main-menu-link-inner-offset: 14px $main-menu-button-arrow-width 14px 24px;
$main-menu-ancestor-link-inner-offset: 35px;
$main-menu-link-color: get-color('additional', 'dark');
$main-menu-link-color-hover: get-color('additional', 'dark');
$main-menu-link-text-transform: uppercase !default;
$main-menu-sublist-container-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
$main-menu-sublist-item-inner-offset: 0;

$main-menu-item-nested-background: get-color('additional', 'base');

// Only Desktop
$main-menu-item-hover-only-desktop-background: get-color('additional', 'base');

$main-menu-item-first-level-desktop-font-weight: null !default;
$main-menu-column-title-desktop-font-weight: null !default;

$main-menu-outer-tablet-border: 1px solid get-color('additional', 'light');

$main-menu-outer-tablet-icon: get-color('additional', 'dark');

$main-menu-sublist-container-background: get-color('additional', 'ultra');

$main-menu-item-show-mobile-version-background: get-color('additional', 'base');
