/* @theme: default; */

@use 'sass:color';

// Base styles
$main-menu-display: flex !default;
$main-menu-flex-grow: 0 !default;
$main-menu-gap: 0 spacing('xxl') !default;

$main-menu-link-display: block !default;
$main-menu-link-line-height: 1.4286 !default;
$main-menu-link-font-weight: font-weight('semi-bold') !default;
$main-menu-link-position: relative !default;
$main-menu-link-letter-spacing: .2px !default;
$main-menu-link-background-active: get-color('additional-old', 'base') !default;
$main-menu-sublist-title-offset: spacing('xs') !default;
$main-menu-sublist-transition: left .4s linear !default;

$main-menu-link-after-content: #{"''"} !default;
$main-menu-link-after-background: get-color('text', 'inverse') !default;
$main-menu-link-after-width: 100% !default;
$main-menu-link-after-height: 3px !default;
$main-menu-link-after-position: absolute !default;
$main-menu-link-after-inset: auto 0 0 !default;
$main-menu-link-after-border-radius: 4px 4px 0 0 !default;

$main-menu-button-arrow-width: 28px !default;
$main-menu-button-arrow-inner-offset: 0 !default;
$main-menu-button-arrow-text-align: end !default;
$main-menu-button-arrow-border: none !default;
$main-menu-button-arrow-background: none !default;
$main-menu-button-arrow-outline: none !default;
$main-menu-button-arrow-position: relative !default;
$main-menu-button-arrow-font-size: inherit !default;
$main-menu-button-arrow-cursor: pointer !default;
$main-menu-button-arrow-grid-column: 2 !default;
$main-menu-button-arrow-grid-row: 1 !default;

$main-menu-button-span-display: none !default;

$main-menu-button-only-child-display: none !default;

$main-menu-back-trigger-text-transform: uppercase !default;
$main-menu-back-trigger-font-weight: font-weight('bold') !default;
$main-menu-back-trigger-margin: 0 !default;
$main-menu-back-trigger-display: none !default;

$main-menu-back-trigger-use-base-style: true !default;
$main-menu-back-trigger-padding: 7px 0 !default;
$main-menu-back-trigger-border: none !default;
$main-menu-back-trigger-border-radius: 0 !default;
$main-menu-back-trigger-background-color: get-color('additional-old', 'ultra') !default;
$main-menu-back-trigger-color: color.adjust(get-color('additional-old', 'dark'), $lightness: 41%) !default;
$main-menu-back-trigger-appearance: true !default;

$main-menu-back-trigger-fullscreen-position: absolute !default;
$main-menu-back-trigger-fullscreen-top: 0 !default;
$main-menu-back-trigger-fullscreen-z-index: z('base') + 1 !default;
$main-menu-back-trigger-fullscreen-display: block !default;

$main-menu-link-text-align: center !default;
$main-menu-link-text-decoration: none !default;
$main-menu-link-inner-offset: spacing('md') 0 !default;
$main-menu-link-color: get-color('text', 'inverse-70') !default;
$main-menu-link-color-hover: get-color('text', 'inverse') !default;
$main-menu-link-text-decoration-focus: none !default;
$main-menu-link-text-transform: uppercase !default;
$main-menu-link-grid-column: #{'1 / 3'} !default;
$main-menu-link-grid-row: 1 !default;
$main-menu-sublist-container-shadow: 0 2px 5px 0 rgba(0 0 0 / 20%) !default;

$main-menu-sublist-fullheight-background: get-color('additional-old', 'base') !default;
$main-menu-sublist-fullheight-box-shadow: 0 2px 6px 1px #{rgba(get-color('additional-old', 'darker'), .12)} !default;
$main-menu-edge: 50px !default;
$main-menu-sublist-fullheight-top: calc(100% - #{spacing('sm')}) !default;
$main-menu-sublist-fullheight-bottom: calc(
    -100vh + #{$main-menu-edge} + var(--main-menu-offset-bottom, 170px)
) !default;

$main-menu-sublist-edge-display: flex !default;
$main-menu-sublist-edge-justify-content: end !default;
$main-menu-sublist-edge-inset-inline-start: var(--main-menu-offset-start, 0) !default;

$main-menu-item-nested-background: get-color('additional-old', 'base') !default;
$main-menu-item-flex-grow: 0 !default;

$main-menu-actions-display: grid !default;
$main-menu-actions-not-only-child-grid-template-columns: 1fr $main-menu-button-arrow-width !default;

$main-menu-divider-border-width: 1px 0 0 0 !default;
$main-menu-divider-border-style: solid !default;
$main-menu-divider-border-color: get-color('additional-old', 'light') !default;
$main-menu-divider-margin: 0 !default;

// Desktop styles
$main-menu-button-arrow-d-width: 20px !default;
$main-menu-sublist-container-d-border: 1px solid get-color('additional-old', 'light') !default;
$main-menu-sublist-container-d-z-index: z('base') + 10 !default;
$main-menu-back-trigger-width: 200px !default;
$main-menu-back-trigger-align: left !default;
$main-menu-sublist-position: absolute !default;
$main-menu-sublist-z-index: z('dropdown') + 10 !default;
$main-menu-sublist-top: 100% !default;
$main-menu-sublist-right: 0 !default;
$main-menu-sublist-left: 0 !default;
$main-menu-sublist-display: none !default;

$main-menu-sublist-floated-position: relative !default;
$main-menu-sublist-floated-top: auto !default;
$main-menu-sublist-floated-left: auto !default;
$main-menu-sublist-floated-right: auto !default;
$main-menu-sublist-floated-transform: translateY(16px) !default;

$main-menu-sublist-container-floated-position: absolute !default;
$main-menu-sublist-container-floated-right: auto !default;

$main-menu-sublist-container-centered-left: max(var(--main-menu-offset-width, 0) / 2, 0px) !default;
$main-menu-sublist-container-centered-translate:
    translateX(
        max(0px - var(--main-menu-offset-start, 0) - var(--main-menu-offset-width, 0) / 2, -50%)
    ) !default;
$main-menu-sublist-container-centered-translate-rtl:
    translateX(
        min(var(--main-menu-offset-start, 0) + var(--main-menu-offset-width, 0) / 2, 50%)
    ) !default;

$main-menu-item-hover-desktop-background: null !default;

// Only Desktop
$main-menu-outer-container-desktop-display: flex !default;
$main-menu-outer-container-desktop-justify-content: center !default;
$main-menu-outer-desktop-display: flex !default;
$main-menu-outer-tablet-icon: get-color('additional-old', 'dark') !default;

$main-menu-sublist-container-background: get-color('additional-old', 'ultra') !default;

$main-menu-sublist-container-before-content: #{"''"} !default;
$main-menu-sublist-container-before-width: 100% !default;
$main-menu-sublist-container-before-height: spacing('base') !default;
$main-menu-sublist-container-before-position: absolute !default;
$main-menu-sublist-container-before-inset: auto 0 calc(100% + 1px) !default;

$main-menu-item-show-mobile-version-background: get-color('additional-old', 'base') !default;

// Tablet styles
$main-menu-tablet-border: 1px solid color.adjust(get-color('additional-old', 'base'), $lightness: -5%) !default;

$main-menu-actions-grid-template-columns: 16px auto 1fr 32px 32px !default;

$main-menu-link-only-child-keys-padding: 0 64px 0 16px !default;

$main-menu-button-padding: 0 56px 0 8px !default;

$main-menu-sublist-tablet-background: get-color('additional-old', 'ultra') !default;
$main-menu-sublist-tablet-position: absolute !default;
$main-menu-sublist-tablet-top: var(--main-menu-offset-top) !default;
$main-menu-sublist-tablet-bottom: var(--main-menu-offset-bottom, 0) !default;
$main-menu-sublist-tablet-left: 100% !default;
$main-menu-sublist-tablet-width: 100% !default;
$main-menu-sublist-tablet-z-index: z('base') + 2 !default;

$main-menu-sublist-current-tablet-left: 0 !default;

$main-menu-sublist-container-tablet-height: 100%;
$main-menu-sublist-container-tablet-overflow: auto;

$main-menu-button-arrow-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path fill="%23000" fill-rule="evenodd" d="M5.293 8.293a1 1 0 0 1 1.414 0L12 13.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414Z"></path></svg>') !default;
$main-menu-button-arrow-display: inline-block !default;

// Full screen mode
$main-menu-button-arrow-fullscreen-offset: 12px !default;
$main-menu-button-arrow-fullscreen-text-align: right !default;
