/* @theme: default; */

@use 'sass:color';

$nav-trigger-hover-background-color: color.adjust(get-color('additional', 'base'), $lightness: 1.5%);

$nav-trigger-icon-size: 33px !default;
$nav-trigger-icon-font-size: 18px !default;
$nav-trigger-icon-color: get-color('additional', 'ultra') !default;
$nav-trigger-icon-background-color: get-color('additional', 'dark') !default;
$nav-trigger-icon-radius: 50% !default;
$nav-trigger-icon-transparent-color: get-color('additional', 'dark') !default;

$nav-trigger-icon-chromatic-background-color: get-color('primary', 'base') !default;

// Tablet

$nav-trigger-tablet-strong-color: get-color('additional', 'ultra') !default;
$nav-trigger-tablet-strong-background-color: color.scale(get-color('additional', 'dark'), $alpha: -27%) !default;
