/* @theme: default; */

$nav-trigger-icon-size: 33px !default;
$nav-trigger-icon-font-size: 18px !default;
$nav-trigger-icon-color: get-color('additional', 'ultra') !default;
$nav-trigger-icon-background-color: get-color('additional', 'dark') !default;
$nav-trigger-icon-radius: 50% !default;
$nav-trigger-icon-transparent-color: get-color('additional', 'dark') !default;
