/* @theme: default; */

$navigation-menu-gap: spacing('xl') !default;
$navigation-menu-vertical-gap: 0 !default;

$navigation-menu-item-gap: spacing('sm') !default;
$navigation-menu-item-inner-offset: spacing('sm') 0 !default;
$navigation-menu-item-min-height: 44px !default;

$navigation-menu-vartical-item-inner-offset: spacing('sm') spacing('base') !default;

$navigation-menu-link-color: get-color('text', 'primary') !default;
$navigation-menu-link-color-hover: get-color('text', 'primary') !default;

$navigation-menu-link-color-inverse: get-color('neutral', 'white-100') !default;
$navigation-menu-link-color-hover-inverse: get-color('text', 'link-hover-on-dark') !default;
