/* @theme: default; */

$quick-access-icon-size: 20px !default;
$quick-access-icon-font-size: 11px !default;
$quick-access-icon-color: get-color('primary', 'light') !default;
$quick-access-icon-border-radius: 3px !default;
