/* @theme: default; */

$quick-access-list-display: flex !default;
$quick-access-list-align-items: center !default;
$quick-access-list-gap: spacing('sm') !default;

$quick-access-item-display: block !default;
$quick-access-item-margin: 0 !default;

$quick-access-link-display: flex !default;
$quick-access-link-align-items: center !default;
$quick-access-link-gap: spacing('sm') !default;
$quick-access-link-font-weight: font-weight('semi-bold') !default;
$quick-access-link-text-overflow: ellipsis !default;
$quick-access-link-white-space: nowrap !default;
$quick-access-link-overflow: hidden !default;
$quick-access-link-padding: spacing('sm') 0 !default;
$quick-access-link-color: get-color('neutral', 'white-100') !default;
$quick-access-link-hover-color: get-color('neutral', 'white-100') !default;
$quick-access-link-hover-text-decoration: none !default;

$quick-access-icon-size: 20px !default;
$quick-access-icon-font-size: 11px !default;
$quick-access-icon-color: get-color('primary-old', 'light') !default;
$quick-access-icon-border-radius: 3px !default;

$quick-access-icon-light-background-color: get-color('secondary-old', 'main') !default;

$quick-access-icon-dark-background-color: get-color('primary-old', 'base') !default;

// Tablet

$quick-access-tablet-border: 1px solid get-color('additional-old', 'light') !default;

$quick-access-link-tablet-color: get-color('primary', 'main') !default;
