/* @theme: default; */

$top-bar-menu-item-offset-right: 40px !default;
$top-bar-menu-item-line-height: 16px !default;

$top-bar-font-size: 12px !default;
$top-bar-background: get-color('additional', 'light') !default;
$top-bar-color: null !default;
$top-bar-font-size: null !default;

$top-bar-link-color: get-color('additional', 'dark') !default;
$top-bar-list-link-color: get-color('additional', 'dark') !default;
$top-bar-promo-color: get-color('primary', 'dark') !default;
$top-bar-menu-item-offset-inner: $offset-x-s 0 !default;

$top-bar-dropdown-background: get-color('additional', 'ultra') !default;
$top-bar-dropdown-box-shadow: 0 4px 5px 0 rgba(0 0 0 / 40%) !default;

$topbar-navigation-item-tablet-inner-offset: 0 !default;
$topbar-navigation-item-tablet-border-bottom: 1px solid get-color('additional', 'light') !default;
$topbar-navigation-item-tablet-text-transform: uppercase !default;
$topbar-navigation-link-tablet-inner-offset: 13px 16px !default;
$topbar-navigation-link-tablet-border-bottom: 1px solid get-color('additional', 'light') !default;
$topbar-navigation-separator-offset: 0 4px !default;
