{% block _top_nav_customer_dropdown_sign_out_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__link sign-out-link',
        'href': path(route_name)
    }) %}

    <a {{ block('block_attributes') }}>
        <i class="fa-sign-out"></i> {{ text|trans }}
    </a>
{% endblock %}
