/* @theme: default; */

.map-visual-container {
    height: 100%;
}

.map-visual {
    height: 100%;
}

.map-visual-frame {
    height: 320px;
    flex-basis: 54%;
}

.address-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 104px;

    &__manage-link {
        font-size: $base-font-size--xs;
    }

    &__item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: spacing('sm');
    }

    &__primary {
        font-size: $base-font-size--xs;
        text-transform: uppercase;
        color: $address-list-primary-color;
        border-radius: $address-list-primary-border-radius;
        background-color: $address-list-primary-background-color;
        letter-spacing: $address-list-primary-letter-spacing;
        padding: 0 4px;
        font-weight: font-weight('medium');
    }

    &__type {
        font-weight: font-weight('light');
        font-style: italic;
        color: $address-list-item-type-color;
        padding-bottom: spacing('base');

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__actions {
        flex-shrink: 0;

        .item-map-button {
            display: none;
            border-right: none;
        }
    }

    &__empty-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $address-list-empty-content-gap;
        color: $address-list-empty-content-text-color;
    }

    &-section {
        margin-bottom: spacing('base');
    }

    .view-loading {
        flex-grow: 1;
    }

    .no-data {
        flex-grow: 1;
    }

    .map-visual {
        height: 320px;
    }
}

.map-address-list {
    flex-basis: 680px;
    flex-grow: 1;
    list-style: none;

    .map-item {
        position: relative;
        padding: $address-list-item-offset;
        border-radius: $address-list-item-border-radius;
        margin-bottom: $address-list-item-margin-bottom;

        &:after {
            content: '';
            position: absolute;
            bottom: $address-list-item-active-divider-bottom-offset;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $address-list-item-active-divider-color;
        }

        &:last-child {
            margin-bottom: 0;

            &:after {
                display: none;
            }
        }

        &:hover {
            background-color: $address-list-item-hover-background;
        }

        &.active {
            border-radius: $address-list-item-border-radius-active;
            background-color: $address-list-item-active-background;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: $address-list-item-active-mark-width;
                background-color: $address-list-item-active-mark-color;
                border-radius: $address-list-item-active-mark-border-radius;
            }
        }
    }
}

.list-item {
    padding: 20px 15px 20px 20px;

    border-bottom: $address-list-item-border;

    &.active {
        background-color: $address-list-item-background-color;
    }
}

.fullscreen-popup {
    .map-visual-container {
        .alert {
            margin-top: spacing('sm');
        }
    }
}

@include breakpoint('tablet') {
    .address-list {
        margin-left: 0;

        .item-map-button {
            display: inline-flex;
        }
    }

    .list-item {
        padding: 15px 10px;
    }

    .map-address-list {
        padding-top: $address-list-item-v-space-tablet-small;
    }

    .map-visual:empty {
        height: auto;
    }

    .map-visual-frame {
        height: auto;
        margin-left: 0;
        // Override inline styles
        // stylelint-disable-next-line declaration-no-important
        display: none !important;
    }
}

@include breakpoint('mobile-landscape') {
    .address-list {
        &__manage-link {
            width: $address-list-link-width-mobile-landscape;
            background-color: $address-list-link-width-background-mobile-landscape;
            color: $address-list-link-width-color-mobile-landscape;

            // Hide action's labelS
            font-size: 0;
            gap: 0;

            margin-left: auto;
        }
    }
}

@include breakpoint('mobile') {
    .map-address-list {
        padding-top: 0;
    }
}
