/* @theme: default; */

.role-capability-set {
    margin-bottom: 30px;
}

.role-capability {
    margin: 16px 0;

    &__group-title {
        text-transform: uppercase;
        padding-bottom: 16px;
        font-size: $base-font-size;
    }

    &__group-own-title {
        display: inline;
    }

    &__group-common-title {
        display: none;
    }

    &__select-all {
        float: right;

        &.disabled {
            pointer-events: none;
            color: $role-capability-select-al-disabled-color;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__empty-items {
        opacity: .4;
    }

    &__item {
        display: inline-block;
        width: 30%;
        padding: 0 30px 10px 0;
    }

    &__item-label {
        display: flex;
    }

    &__item-label--no-access {
        opacity: .4;
    }

    &__item-label_changed {
        background-color: $role-capability-select-al-label-changed-background-color;
        box-shadow: $role-capability-select-al-label-changed-box-shadow;
    }
}

.role-capabilities_single-group {
    .role-capability__group-own-title {
        display: none;
    }

    .role-capability__group-common-title {
        display: inline;
    }
}

@include breakpoint('mobile-big') {
    .role-capability {
        &__item {
            width: 100%;
            padding-right: 0;
        }
    }
}
