/* @theme: default; */

.check-email {
    .form-link__wrapper {
        margin-top: spacing('xs');
    }
}

@include breakpoint('mobile') {
    .check-email {
        .form-link__wrapper {
            justify-content: left;
            text-align: left;
        }
    }
}
