/* @theme: default; */

.customer-user-form {
    --grid-gap: #{$customer-user-form-grid-gap};

    max-width: $customer-user-form-max-width;

    &--full-width {
        max-width: 100%;
    }

    &__row {
        --grid-gap: #{$customer-user-form-row-grid-gap};
    }

    &-required-label {
        margin-bottom: $customer-user-form-label-required-margin-bottom;
    }

    &-validation {
        margin-bottom: $customer-user-form-validation-margin-bottom;
    }

    .form-group {
        &:not(:first-child) {
            margin-top: spacing('xl');
        }
    }
}

@include breakpoint('tablet') {
    .customer-user-form {
        --grid-gap: #{$customer-user-form-grid-gap-tablet};
    }
}

@include breakpoint('tablet-small') {
    .customer-user-form {
        --grid-gap: #{$customer-user-form-grid-gap-tablet-small};
    }
}

@include breakpoint('mobile-landscape') {
    .customer-user-form {
        --grid-gap: #{$customer-user-form-grid-gap-mobile};
    }
}
