/* @theme: default; */

%customer-form {
    --grid-gap: #{$customer-form-grid-gap};

    margin-top: $customer-form-grid-offset-top;

    .form-group {
        legend {
            text-transform: uppercase;
            padding: 2rem 0;
            font-size: 1.6rem;
        }

        .grid {
            background: $customer-form-group-grid-background;
        }
    }

    .form-row {
        margin-bottom: 0;
    }
}

%customer-form-grid {
    --grid-gap: #{$customer-form-grid-gap};

    background: $customer-form-grid-background;
}

.form-buttons {
    margin-top: 28px;
}

@include breakpoint('mobile-landscape') {
    %customer-form {
        --grid-gap: #{$customer-form-mobile-landscape-grid-gap};
    }

    %customer-form-grid {
        --grid-gap: #{$customer-form-mobile-landscape-grid-gap};
    }
}
