/* @theme: default; */

.customer-info-grid {
    width: $customer-info-grid-width;

    --grid-gap: #{$customer-info-grid-grid-gap};

    &__section {
        display: $customer-info-grid-section-display;
        grid-template-areas: $customer-info-grid-section-grid-template-areas;
        grid-template-columns: $customer-info-grid-section-grid-template-columns;
        gap: $customer-info-grid-section-gap;
    }

    &__container {
        display: $customer-info-grid-container-display;
        justify-content: $customer-info-grid-container-justify-content;
        gap: $customer-info-grid-container-gap;
        grid-area: container;
    }

    &__data {
        grid-area: $customer-info-grid-data-grid-area;
    }

    &__total {
        grid-area: $customer-info-grid-total-grid-area;

        .summary-collapse-content:not(.show) .summary-widget__summary {
            grid-template-columns: initial;
        }
    }

    &__element--order_po_number & {
        &__element-value {
            /* rtl:ignore */
            direction: ltr;
        }
    }

    &__element-label {
        white-space: $customer-info-grid-element-label-white-space;
        color: $customer-info-grid-element-label-color;
        display: block;
    }

    &__element-content {
        font-weight: $customer-info-grid-element-content-font-weight;
        overflow-wrap: $customer-info-grid-element-content-word-wrap;
        display: block;

        ul,
        ol {
            list-style: none;
        }

        &--notes {
            font-weight: $customer-info-grid-element-content-notes-font-weight;
        }
    }

    &__view-more {
        margin: $customer-info-grid-view-more-margin;
    }

    &__list,
    &__list tbody {
        display: $customer-info-grid-list-display;
        grid-gap: $customer-info-grid-list-grid-gap;
    }

    &__row {
        display: block;
    }
}

@include breakpoint('mobile-big') {
    .customer-info-grid {
        &__section {
            grid-template-areas: $customer-info-grid-section-mobile-big-grid-template-areas;
            grid-template-columns: $customer-info-grid-section-mobile-big-grid-template-columns;
        }

        &__total {
            margin-inline: $customer-info-grid-total-mobile-big-margin-inline;
            position: $customer-info-grid-total-mobile-big-position;
            bottom: $customer-info-grid-total-mobile-big-bottom;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .customer-info-grid {
        width: $customer-info-grid-width-mobile;
        --grid-gap: #{$customer-info-grid-grid-gap-mobile};
    }
}
