/* @theme: default; */

.info-list {
    display: $info-list-display;
    gap: $info-list-gap;

    &__item {
        &:has(.info-list__control) {
            display: $info-list-item-control-display;
            grid-template-rows: $info-list-item-control-grid-template-rows;
            grid-template-columns: $info-list-item-control-grid-template-columns;
            gap: $info-list-item-control-gap;
            align-items: $info-list-item-control-align-items;
        }
    }

    &__control {
        grid-column: $info-list-control-grid-column;
        grid-row: $info-list-control-grid-row;
    }

    &__name {
        color: $info-list-name-color;
    }

    &__desc {
        font-weight: $info-list-desc-font-weight;
    }

    &__desc-status {
        display: $info-list-desc-status-display;
        flex-wrap: $info-list-desc-status-flex-wrap;
        gap: $info-list-desc-status-gap;
        padding-block: $info-list-desc-status-padding-block;
    }
}
