/* @theme: default; */

.inner-permissions-grid {
    > .oro-datagrid {
        margin-top: $permissions-grid-first-datagrid-offset-top;
    }

    .grid,
    .grid-scrollable-container {
        overflow: visible;
    }

    .grid-header-cell {
        &:first-child {
            width: $permissions-grid-first-header-cell-width;
            padding-left: $permissions-grid-first-header-cell-offser-inner-left;
        }
    }

    .entity-name {
        float: $permissions-grid-first-entity-name-float;
        width: $permissions-grid-first-entity-name-width;

        font-weight: $permissions-grid-first-entity-name-font-weight;
    }

    .fields-list {
        display: none;
    }

    .role-permissions-action-launcher {
        padding-left: $permissions-grid-first-action-launcher-offser-inner-left;
    }

    .entity-permission-container {
        display: flex;
        align-items: flex-start;

        // Fix position of actions row when permission items are not enough
        .entity-row-action {
            margin-left: auto;
        }
    }
}

.field-permission-container {
    margin-left: $permissions-grid-field-permission-container-offset-left;
    padding: $permissions-grid-field-permission-container-offset-inner;

    border-top: $permissions-grid-field-permission-container-border-top;

    &:first-child {
        border-top: $permissions-grid-field-permission-container-first-child-border-top;
    }

    .field-name {
        float: $permissions-grid-field-permission-container-field-name-float;
        width: $permissions-grid-field-permission-container-field-name-width;
        padding-left: $permissions-grid-field-permission-container-field-name-offset-inner-left;
    }

    .action-permissions {
        margin-left: $permissions-grid-field-permission-container-action-permissions-offset-left;
    }
}
