/* @theme: default; */

.primary-menu-container {
    margin: $primary-menu-container-offset;
    padding: $primary-menu-container-inner-offset;

    background: $primary-menu-container-background;
    border-radius: $primary-menu-container-border-radius;
}

@include breakpoint('desktop') {
    .primary-menu-container {
        .fa-angle-right {
            opacity: 0;
        }
    }
}

@include breakpoint('tablet') {
    .primary-menu-container {
        padding: $primary-menu-container-inner-offset-tablet;

        .fa-angle-right {
            position: absolute;
            right: 10px;
            top: 15px;
        }

        &__hidden-on-tablet {
            display: none;
        }
    }
}

@include breakpoint('tablet-small') {
    .primary-menu-container {
        border-top: $primary-menu-container-tablet-small-border;
        border-bottom: $primary-menu-container-tablet-small-border;
    }
}
