/* @theme: default; */

.registration-instructions {
    margin: $registration-instructions-offset;
    padding: $registration-instructions-inner-offset;

    background: $registration-instructions-background;
    text-align: $registration-instructions-text-align;
    font-size: $registration-instructions-font-size;
}
