/* @theme: default; */

.registration-instructions {
    margin: $registration-instructions-offset;
    padding: $registration-instructions-inner-offset;

    background: $registration-instructions-background;
    text-align: $registration-instructions-text-align;
}

@include breakpoint('tablet-small') {
    .registration-instructions {
        font-size: $registration-instructions-tablet-small-font-size;
        text-align: $registration-instructions-tablet-small-text-align;
    }
}
