/* @theme: default; */

.topbar-customer-menu {
    &__dropdown {
        padding: $top-bar-customer-menu-dropdown-offset;

        li {
            margin: $top-bar-customer-menu-dropdown-item-offset;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    a {
        color: $top-bar-customer-menu-links-color;

        @include element-state('hover') {
            color: $top-bar-customer-menu-links-hover-color;
        }
    }
}
