/* @theme: default; */

$mega-menu-depth-4-item-margin-top: $offset-y-m !default;

$mega-menu-depth-4-button-display: none !default;

$mega-menu-depth-4-link-color: get-color('additional', 'dark') !default;
$mega-menu-depth-4-link-hover-color: get-color('additional', 'dark') !default;
$mega-menu-depth-4-link-position: relative !default;

$mega-menu-depth-4-divider-margin-top: $offset-y-m !default;

// Mobile Big
$mega-menu-depth-4-list-mobile-big-height: 100% !default;
$mega-menu-depth-4-list-mobile-big-overflow: auto !default;

$mega-menu-depth-4-divider-mobile-big-display: none !default;
