/* @theme: default; */

$mega-menu-depth-3-item-margin-top: $offset-y-m !default;

$mega-menu-depth-3-button-display: none !default;

$mega-menu-depth-3-link-color: get-color('additional', 'dark') !default;
$mega-menu-depth-3-link-hover-color: get-color('additional', 'dark') !default;
$mega-menu-depth-3-link-position: relative !default;

$mega-menu-depth-3-divider-margin-top: $offset-y-m !default;

$mega-menu-depth-3-inner-margin-bottom: $offset-y !default;
$mega-menu-depth-3-inner-padding-inline-start: $offset-x !default;

// Mobile Big
$mega-menu-depth-3-list-mobile-big-height: 100% !default;
$mega-menu-depth-3-list-mobile-big-overflow: auto !default;

$mega-menu-depth-3-divider-mobile-big-display: none !default;

$mega-menu-depth-3-inner-mobile-big-position: absolute !default;
$mega-menu-depth-3-inner-mobile-big-top: 0 !default;
$mega-menu-depth-3-inner-mobile-big-left: 100% !default;
$mega-menu-depth-3-inner-mobile-big-bottom: 0 !default;
$mega-menu-depth-3-inner-mobile-big-z-index: z('base') + 2 !default;
$mega-menu-depth-3-inner-mobile-big-width: 100% !default;
$mega-menu-depth-3-inner-mobile-big-background: get-color('additional', 'ultra') !default;
$mega-menu-depth-3-inner-mobile-big-transition: left .4s linear !default;

$mega-menu-depth-3-inner-mobile-big-current-left: 0 !default;
