/* @theme: default; */

$datagrid-massaction-sticky-mode-offset: spacing('base') $page-area-container-padding-inline !default;
$datagrid-massaction-sticky-mode-background-color: get-color('neutral', 'dark') !default;
$datagrid-massaction-product-counter-color: get-color('neutral', 'white-100') !default;

$datagrid-massaction-sticky-mode-offset-mobile-landscape: spacing('base') !default;
$datagrid-massaction-select-all-label-input-offset: spacing('md') !default;
$datagrid-massaction-sticky-mode-offset: spacing('sm') !default;
$datagrid-massaction-sticky-mode-z-index: z('fixed') !default;
