/* @theme: default; */

$datagrid-toolbar-gap: 0 $offset-x-m !default;
$datagrid-tool-gap: $offset-x-m !default;

// Tablet Small
$datagrid-toolbar-tablet-small-gap: 0 $offset-x-s !default;
$datagrid-tool-tablet-small-gap: $offset-x-s !default;

// Mobile
$datagrid-toolbar-mobile-gap: 0 2px !default;
$datagrid-tool-mobile-gap: 2px !default;
