/* @theme: default; */
$datagrid-massaction-product-counter-color: get-color('neutral', 'white-100') !default;

$datagrid-massaction-select-all-label-input-offset: spacing('md') !default;
$datagrid-massaction-select-all-label-input-line-height: 20px !default;
$datagrid-massaction-action-min-width: 198px !default;
$datagrid-massaction-action-max-width: 358px !default;
$datagrid-massaction-sticky-mode-offset: spacing('base') $page-area-container-padding-inline !default;

// Tablet
$datagrid-massaction-sticky-mode-offset-tablet: spacing('base') !default;

// Mobile Big
$datagrid-massaction-sticky-mode-gap-mobile-big: spacing('sm') 0 !default;

// Mobile Landscape
$datagrid-massaction-sticky-mode-offset-mobile-landscape: spacing('base') 0 !default;
