/* @theme: default; */

@use 'sass:color';

$grid-views-border-bottom: null !default;

$grid-views-offset: 0 !default;

$grid-views-title-font-size: $base-font-size--large !default;
$grid-views-title-line-height: 1.1 !default;
$grid-views-title-cursor: pointer;
$grid-views-title-font-family: $base-font !default;
$grid-views-title-text-transform: uppercase !default;

$grid-views-subtitle-offset-inner: spacing('sm') spacing('base') spacing('base') !default;
$grid-views-edit-label-color: get-color('neutral', 'grey2') !default;
$grid-views-dropdown-width: 290px !default;
$grid-views-dropdown-offset: 0 !default;
$grid-views-dropdown-list-item-offset-inner: 12px 10px 12px 15px !default;
$grid-views-dropdown-list-item-border: 1px solid get-color('neutral', 'grey1') !default;

$grid-views-actions-color: color.adjust(get-color('neutral', 'dark'), $lightness: 38%) !default;

$grid-views-dropdown-footer-offset-inner: spacing('xs') spacing('sm') !default;
$grid-views-dropdown-form-content-offset-inner: spacing('xs') 0;

$grid-views-title-icon-inner-offset: 30px !default;

// Mobile

$grid-views-dropdown-mobile-width: calc(100vw - 18px) !default;
