/* @theme: default; */

@use 'sass:color';

$grid-views-border-bottom: null !default;

$grid-views-offset: 0 !default;

$grid-views-title-font-size: $base-font-size !default;
$grid-views-title-line-height: 1.1 !default;
$grid-views-title-cursor: pointer;
$grid-views-title-font-family: $base-font !default;
$grid-views-title-text-transform: initial !default;
$grid-views-title-btn-min-height: 20px !default;

$grid-views-subtitle-offset-inner: spacing('md') spacing('base') !default;
$grid-views-subtitle-line-height: 18px !default;
$grid-views-subtitle-font-size: 12px !default;
$grid-views-edit-label-color: get-color('text', 'secondary') !default;
$grid-views-edit-label-border-left: 1px solid get-color('neutral', 'grey3') !default;
$grid-views-dropdown-width: min(500px, calc(100vw - #{2 * spacing('base')})) !default;
$grid-views-dropdown-offset: 0 !default;

$grid-views-actions-color: color.adjust(get-color('neutral', 'dark'), $lightness: 38%) !default;

$grid-views-dropdown-footer-offset-inner: spacing('xs') spacing('base') 0 !default;
$grid-views-dropdown-footer-content-gap: spacing('sm') !default;
$grid-views-dropdown-footer-label-font-size: 14px !default;
$grid-views-dropdown-form-content-offset-inner: spacing('xs') 0;

$grid-views-title-icon-inner-offset: 30px !default;
$grid-views-title-btn-color: get-color('text', 'primary') !default;

$grid-views-suptitle-color: get-color('text', 'secondary') !default;

$grid-views-public-color: get-color('text', 'disabled') !default;

// Mobile
