/* @theme: default; */

$main-menu-column-position: relative !default;
$main-menu-column-min-width: 200px !default;
$main-menu-column-offset-inner-left: 34px !default;
$main-menu-column-offset-inner-right: 34px !default;
$main-menu-column-first-child-before-display: none !default;
$main-menu-column-last-child-offset-inner-right: 0 !default;

$main-menu-column-link-color: get-color('additional', 'dark') !default;
$main-menu-column-link-display: block !default;
$main-menu-column-link-max-width: 300px !default;
$main-menu-column-link-white-space: normal !default;
$main-menu-column-link-word-wrap: break-word !default;

$main-menu-column-image-link-display: block !default;

$main-menu-column-image-display: block !default;
$main-menu-column-image-max-width: 100% !default;
$main-menu-column-image-height: auto !default;

$main-menu-column-item-offset-top: 8px !default;

$main-menu-column-title-offset-bottom: 24px !default;
$main-menu-column-title-text-transform: uppercase !default;
$main-menu-column-title-color: get-color('primary', 'dark') !default;
$main-menu-column-title-desktop-font-weight: null !default;

$main-menu-column-splited-min-width: 400px !default;
$main-menu-column-splited-white-space: nowrap !default;

$main-menu-column-list-list-padding-inline-start: $offset-x !default;

$main-menu-column-splited-inner-left-float: left !default;
$main-menu-column-splited-inner-left-width: 50% !default;
$main-menu-column-splited-inner-left-vertical-align: top !default;

$main-menu-column-inner-display: block !default;

$main-menu-column-before-position: absolute !default;
$main-menu-column-before-top: 40px !default;
$main-menu-column-before-bottom: 0 !default;
$main-menu-column-before-left: 0 !default;
$main-menu-column-before-display: block !default;
$main-menu-column-before-width: 1px !default;
$main-menu-column-before-content: '' !default;
$main-menu-column-before-border: 1px solid get-color('additional', 'light') !default;
$main-menu-column-before-border-left: $main-menu-column-before-border !default;

$main-menu-column-tablet-offset-inner: 20px !default;
$main-menu-column-tablet-border: 1px solid get-color('additional', 'light') !default;
$main-menu-column-tablet-border-top: $main-menu-column-tablet-border !default;
$main-menu-column-tablet-before-border-left: none !default;

$main-menu-column-tablet-splited-inner-left-float: none !default;
$main-menu-column-tablet-splited-inner-left-width: auto !default;
$main-menu-column-tablet-splited-inner-left-offset-bottom: 15px !default;

$main-menu-column-inner-tablet-offset-bottom: 5px !default;

$main-menu-column-title-tablet-offset-bottom: 14px !default;
