/* @theme: default; */

$main-menu-columns-display: flex !default;
$main-menu-columns-inner-offset: 30px 40px !default;
$main-menu-columns-single-inner-offset: 14px 24px !default;

$main-menu-columns-display-tablet: block !default;
$main-menu-columns-inner-offset-tablet: 0 !default;
