/* @theme: default; */

$main-menu-multi-container-height: 100% !default;
$main-menu-multi-container-display: grid !default;
$main-menu-multi-container-grid-template-columns: 320px 1fr !default;
$main-menu-multi-container-position: relative !default;
$main-menu-multi-container-z-index: z('base') !default;

$main-menu-multi-container-edge-desktop-width: 1216px !default;
$main-menu-multi-container-edge-desktop-max-width: calc(100vw - 16px) !default;
$main-menu-multi-container-edge-desktop-margin-inline-end: auto !default;
$main-menu-multi-container-edge-desktop-flex-shrink: 0 !default;
