{% block __oro_customer_registration_instructions__text_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' registration-instructions'
    }) %}

    <div {{ block('block_attributes') }}>
        {{- parent_block_widget(block) -}}
    </div>
{% endblock %}
