/* @theme: blank; */

// @import './components/bootstrap/bootstrap4';

@import './components/layout/page-area-container';

@import './components/ui/dialog';
@import './components/ui/extend/ui-multiselect-menu';

@import './components/datagrid/datagrid-massaction';
@import './components/datagrid/launcher-item';
@import './components/datagrid/grid-views';

@import './components/filters/filters';

@import './components/pinned-dropdown';
@import './components/middlebar';
@import './components/notification-flash-container';
@import './components/popup-gallery-widget';
@import './components/breadcrumbs';
@import './components/notes';
@import './components/scroll-top';
@import './components/sticky-panel/sticky-panel';
@import './components/fullscreen-popup';
@import './components/utilites';
@import './components/pagination-widget';
@import './components/sorting-popup';
@import './components/warning-list';
@import './components/tiny-container';
@import './components/slick';
