{% block _top_authorization_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-col-5 grid-col-mobile-landscape-12'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_sign_in_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' link'
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _top_registration_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' link'
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}
