parameters:
    oro_website.entity.website.class: Oro\Bundle\WebsiteBundle\Entity\Website

services:
    oro_website.manager:
        class: 'Oro\Bundle\WebsiteBundle\Manager\WebsiteManager'
        public: true
        arguments:
            - "@doctrine"
            - "@oro_frontend.request.frontend_helper"
        tags:
            - { name: doctrine.event_listener, event: onClear }

    Oro\Bundle\WebsiteBundle\Manager\WebsiteManager:
        alias: 'oro_website.manager'

    oro_website.twig.website_extension:
        class: 'Oro\Bundle\WebsiteBundle\Twig\OroWebsiteExtension'
        public: false
        arguments:
            - "@oro_platform.twig.service_locator"
        tags:
            - { name: twig.extension }

    oro_website.twig.entity_date_time_extension:
        class: Oro\Bundle\WebsiteBundle\Twig\EntityDateTimeExtension
        public: false
        arguments:
            - '@Psr\Container\ContainerInterface'
            - '@oro_locale.twig.date_time'
        tags:
            - { name: twig.extension }
            - { name: container.service_subscriber, id: 'oro_config.global' }
            - { name: container.service_subscriber, id: 'oro_config.manager' }

    oro_website.website.manager.api:
        class: 'Oro\Bundle\SoapBundle\Entity\Manager\ApiEntityManager'
        parent: oro_soap.manager.entity_manager.abstract
        arguments:
            - '%oro_website.entity.website.class%'
            - "@doctrine.orm.entity_manager"

    oro_website.website.provider:
        class: 'Oro\Bundle\WebsiteBundle\Provider\WebsiteProvider'
        public: true
        arguments:
            - "@doctrine"

    oro_website.cache.website:
        parent: oro.cache.abstract
        calls:
            - [ setNamespace, [ 'oro_website' ] ]

    oro_website.cacheable_website_provider:
        class: 'Oro\Bundle\WebsiteBundle\Provider\CacheableWebsiteProvider'
        decorates: 'oro_website.website.provider'
        decoration_priority: -255 # the cacheable provider should be at the top of the decoration chain
        arguments:
            - '@oro_website.cacheable_website_provider.inner'
            - '@oro_website.cache.website'
            - '@oro_entity.doctrine_helper'

    oro_website.event_listener.website:
        class: 'Oro\Bundle\WebsiteBundle\EventListener\WebsiteListener'
        arguments:
            - '@oro_website.cacheable_website_provider'
        tags:
            - { name: doctrine.event_listener, event: onFlush, priority: -255 }

    oro_website.model.action.assign_current_website:
        class: 'Oro\Bundle\WebsiteBundle\Model\Action\AssignCurrentWebsite'
        public: false
        arguments:
            - '@oro_action.expression.context_accessor'
            - '@oro_website.manager'
        tags:
            - { name: oro_action.action, alias: assign_current_website }

    oro_website.translation.strategy.frontend_fallback_strategy:
        class: 'Oro\Bundle\WebsiteBundle\Translation\Strategy\FrontendFallbackStrategy'
        public: false
        arguments:
            - '@oro_frontend.request.frontend_helper'
            - '@oro_locale.translation.strategy.localization_fallback_strategy'
        tags:
            - { name: oro_translation.extension.translation_strategy, priority: 100 }

    oro_website.request_website_provider:
        class: 'Oro\Bundle\WebsiteBundle\Provider\RequestWebsiteProvider'
        arguments:
            - '@request_stack'
            - '@oro_website.manager'

    oro_website.resolver.website_url_resolver:
        class: 'Oro\Bundle\WebsiteBundle\Resolver\WebsiteUrlResolver'
        public: true
        arguments:
            - '@oro_config.manager'
            - '@router'

    Oro\Bundle\WebsiteBundle\Resolver\WebsiteUrlResolver:
        alias: oro_website.resolver.website_url_resolver

    oro_website.resolver.website_system_url_resolver:
        class: 'Oro\Bundle\WebsiteBundle\Resolver\WebsiteUrlResolver'
        arguments:
            - '@oro_config.manager'
            - '@router.default'

    oro_website.twig.website_path:
        class: Oro\Bundle\WebsiteBundle\Twig\WebsitePathExtension
        public: false
        arguments:
            - '@oro_platform.twig.service_locator'
        tags:
            - { name: twig.extension }

    oro_website.entity_listener.website:
        class: 'Oro\Bundle\WebsiteBundle\Entity\EntityListener\WebsiteEntityListener'
        public: false
        arguments:
            - '@oro_scope.scope_manager'
        tags:
            - { name: doctrine.orm.entity_listener, entity: '%oro_website.entity.website.class%', event: prePersist }

    oro_website.provider.website_localization:
        class: 'Oro\Bundle\WebsiteBundle\Provider\WebsiteLocalizationProvider'
        arguments:
            - '@oro_config.manager'
            - '@oro_locale.manager.localization'
            - '@oro_entity.doctrine_helper'

    oro_website.assetic_context:
        class: 'Oro\Bundle\WebsiteBundle\Asset\AssetsContext'
        decorates: assets.context
        arguments:
            - '@request_stack'

    oro_website.website_scope_criteria_provider:
        class: 'Oro\Bundle\WebsiteBundle\Provider\ScopeCriteriaProvider'
        public: false
        arguments:
            - "@oro_website.manager"

    oro_website.config.use_default_configurator:
        parent: oro_config.form.configurator.use_default_configurator.abstract
        calls:
            - ['disableUseDefaultFor', ['app', 'oro_website', 'url']]
            - ['disableUseDefaultFor', ['app', 'oro_website', 'secure_url']]

    oro_website.repository.website:
        class: 'Oro\Bundle\WebsiteBundle\Entity\Repository\WebsiteRepository'
        parent: oro_entity.abstract_repository
        arguments:
            - '%oro_website.entity.website.class%'

    oro_website.form_subscriber.default_website:
        class: 'Oro\Bundle\WebsiteBundle\Form\EventSubscriber\DefaultWebsiteSubscriber'
        public: true
        arguments:
            - '@oro_website.manager'

    oro_website.event_listener.redirect:
        class: 'Oro\Bundle\WebsiteBundle\EventListener\RedirectListener'
        arguments:
            - '@oro_website.manager'
            - '@oro_website.resolver.website_url_resolver'
            - '@oro_frontend.request.frontend_helper'
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onRequest, priority: 255 }
