/* @theme: default; */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
}

:focus {
    outline: none;
}
