/* @theme: default; */

table {
    border-spacing: 0;
    border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
}

button,
a.btn,
input,
select,
textarea {
    @include focus-visible();
}

:focus {
    outline: none;
}
