/* @theme: default; */

@use 'sass:list';

@if ($use-basic-styles) {
    html {
        font-size: $root-font-size;
        font-family: sans-serif;
        text-size-adjust: none;
        -webkit-tap-highlight-color: rgba(0 0 0 / 0%);
    }

    html,
    body {
        min-height: 100%;
    }

    .body {
        width: 100%;
        min-width: $body-min-width;
        margin: 0;

        font:
            list.slash(
                var(
                    #{get-var-key('base', 'font-size')},
                    #{$base-font-size}
                ),
                var(
                    #{get-var-key('base', 'line-height')},
                    #{$base-line-height}
                )
            )
            $base-font;

        background-color: $body-bg-color;
        color: $body-color;

        @if ($global-font-smoothing) {
            @include font-smoothing();
        }
    }
}
