// @theme: default;

@import './reset';

// TODO: move to loading component
.body {
    &.loading {
        height: 100%;

        .loader-mask {
            position: fixed;
        }
    }
}

// Links
a {
    text-decoration: none;

    @include link();

    @include element-state('hover') {
        text-decoration: underline;
    }
}

//Bootstrap override
.container-fluid {
    width: 100%;
    max-width: $site-width;
    margin: 0 auto;
    padding: 0 $offset-x-m;
}
