{% block __sticky_panel__sticky_panel_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-sticky-name': sticky_name,
        'data-stick-to': stick_to,
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {
            'view': 'orofrontend/default/js/app/views/sticky-panel-view'
        },
        '~class': ' sticky-panel sticky-panel--' ~ stick_to
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __sticky_panel__sticky_panel_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' sticky-panel__content'
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}
