// @theme: default;

.filter-dropdown {
    &.dropdown-menu {
        width: 312px;
        padding: 14px 18px 18px;

        color: get-color('additional', 'dark');

        &.ui-rewrite {
            width: 100% !important;
            max-width: 312px !important;
        }
    }
}
