// @theme: default;

.filter-dropdown {
    &__options-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto !important;

        // Rewrite ui-* styles
        &.ui-rewrite {
            overflow-y: inherit;
        }
    }

    &__option {
        width: 100%;
        margin-top: $offset-y-s;

        &--half-width {
            width: 50%;
            padding-right: $offset-x-s;
        }

        // Rewrite ui-* styles
        .custom-checkbox__input.ui-rewrite {
            position: absolute;
            top: 0;
        }
    }
}
