// @theme: default;

.filter-dropdown {
    &__search {
        position: relative;

        margin-bottom: 10px;

        input {
            @include base-ui-element(
                $use-base-style: true,
                $padding: 5px 9px,
                $line-height: 1.43
            );

            @include element-state('hover') {
                border-color: $input-border-color-hover-state;
                box-shadow: $input-box-shadow-hover-state;
            }

            @include element-state('focus') {
                border-color: $input-border-color-focus-state;
                box-shadow: $input-box-shadow-focus-state;
            }

            // Break inline styles
            width: 100% !important;
        }

        @include disable-search-styles(input);

        > .clear {
            position: absolute;
            top: 5px;
            right: 8px;
            z-index: z('base');

            font-weight: bold;
            font-size: $base-font-size--m;
            line-height: $base-font-size--m;

            color: transparentize(get-color('additional', 'middle'), 27%);

            &:hover {
                color: transparentize(get-color('additional', 'middle'), 42%);
            }
        }

        &.empty {
            @include fa-icon($fa-var-search, after);

            &:after {
                position: absolute;
                top: 5px;
                right: 8px;

                z-index: z('base') - 1;

                font-size: $base-font-size + 1px;

                color: transparentize(get-color('additional', 'middle'), 27%);
            }

            > .clear {
                display: none;
            }
        }
    }
}
