/* @theme: blank; */

$header-row-border: solid get-color('additional', 'light') !default;

$header-row-border-trigger-background-color: get-color('additional', 'base') !default;
$header-row-border-toggle-background-color: get-color('additional', 'ultra') !default;

$header-row-border-show-trigger-background: get-color('additional', 'ultra') !default;

$header-row-border-tablet: null !default;
$header-row-trigger-background-color-tablet: null !default;
$header-row-trigger-border-tablet: null !default;
