/* @theme: blank; */

.datagrid-toggle-pagination {
    display: flex;
    align-items: center;

    &:not(:empty) {
        + div {
            &:before {
                content: '';
                display: inline-flex;
                width: 1px;
                height: 16px;

                line-height: 1;

                background: get-color('additional', 'light');
            }
        }
    }
}

@include breakpoint('mobile') {
    .datagrid-toggle-pagination {
        margin-left: auto;
    }
}
