/* @theme: blank; */

.datagrid-toolbar-sticky-container {
    .filter-box.dropdown-mode {
        margin: 0;
        border-top: 1px solid get-color('additional', 'light');
    }
}

.filters-state {
    height: $datagrid-filters-state-height;
    width: $datagrid-filters-state-width;
    min-width: $datagrid-filters-state-min-width;
    margin: $datagrid-filters-state-margin;

    color: $datagrid-filters-state-color;
    background-color: $datagrid-filters-state-background-color;
    font-size: $base-font-size;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all $datagrid-filters-state-animation-speed;
    border-width: 0;

    // Added to avoid showing Safari's hint for elements with ellipsis
    &:before {
        content: '';
        display: block;
    }

    .sticky-panel & {
        padding: $datagrid-filters-state-sticky-padding;
    }
}

.animated-init .filters-state {
    animation: fadein $datagrid-filters-state-animation-speed;
}

.filters-state:empty {
    display: none;
}

.filters-state-popover {
    z-index: $datagrid-filters-state-popover-z-index;
}

@keyframes fadein {
    from {
        height: 0;
        margin: 0;

        opacity: 0;
    }
}
