/*Order checkout widget*/
.order-checkout-widget {
  position: relative;

  @include clearfix();

  &.order-checkout-widget_block {
    margin: $offset-y 0 0;

    .ttip {
      text-align: left;
    }
  }

  &__container-wrapper {
    margin: 0 0 ($offset-y + 5px);

    @include clearfix();

  }

  &__container {
    float: right;
    padding: $offset-y;
    border-radius: .3rem;

    background: get-color('additional', 'base');

    + .order-checkout-widget__container {
      margin-top: 4px;
      clear: right;
    }

    .order-checkout-widget__table {
      width: 100%;
      margin: 0;

      td {
        padding: 0;

        &:last-child {
          padding: 0;
        }
      }

      .order-checkout-widget__total {
        padding-top: 6px;
      }
    }

    &_lg {
      width: 280px;
    }

    &_error {
      background: get-color('ui', 'error');
      color: get-color('ui', 'error-dark');
      text-align: left;
    }
  }

  &__table {
    margin: 0 0 $offset-y;

    td {
      padding: 4px 0 3px 25px;

      text-align: left;

      &.order-checkout-widget__total {
        padding-top: 6px;

        font-size: 18px;
      }

      &:last-child {
        padding: 4px 25px;

        text-align: right;
      }
    }

    @media (max-width: $screen-md) {
      margin: 0;
    }
  }

  &__col {
    float: right;

    min-width: 280px;
  }

  &__quote {
    float: right;

    width: 320px;
  }
}

@include breakpoint('tablet-small') {
  .order-checkout-widget {
    &__container-wrapper {
      margin: $offset-y + 5px 0;
    }

    &__containe_lg {
      width: 100%;
      padding: $offset-y ($offset-y * 2);
    }

    .widget-content {
      .btn-group {
        margin: 0 0 $offset-y-m;
      }
    }
  }
}

@include breakpoint('mobile') {
  .order-checkout-widget {
    &__col,
    &__container {
      width: 100%;
      clear: both;
    }
  }
}
