.ui-dialog {
  z-index: z('popup');
  display: flex;
  flex-flow: column;
  max-height: 100%;
  height: auto !important;
  min-height: 280px !important;

  .ui-dialog-content {
    overflow-y: auto;
    flex-shrink: 5;
  }

  &.ui-dialog-no-scroll {
    .ui-dialog-content {
      overflow: visible;
    }
  }
}

.modal-backdrop {
  z-index: z('popup');
}
.oro-modal-normal {
  z-index: z('popup') + 1;
}
