.loading-mask .loading-frame .box .loading-content {
  background: get-color('additional', 'ultra') url('#{global-url}/orofrontend/default/images/loader.gif') no-repeat center left;
}

.loading {
  > .loader-mask {
    z-index: z('dropdown') - 1;
    .loader-content {
      background: get-color('additional', 'ultra') url('#{$global-url}/orofrontend/default/images/loader.gif') no-repeat center left;
    }
  }
}
