// @theme: blank;

$collapse-preview-offset: 12px !default;
$collapse-preview-outer-offset: 15px !default;
$collapse-preview-width: 100% / 3 !default;

$collapse-preview-title-offset: 0 0 16px !default;
$collapse-preview-title-font-size: null !default;
$collapse-preview-title-line-height: null !default;
$collapse-preview-item-offset: 3px 0 !default;
$collapse-preview-item-content-color: get-color('ui', 'normal') !default;
$collapse-preview-item-content-color-hover: get-color('ui', 'focus') !default;

.playground {
    &-view {
        .map-visual {
            min-height: 300px;
        }
    }
}

.js-component-container {
    width: 100%;
    position: relative;
}

.view-container {
    margin: 30px 0;
    min-height: 300px;
}


.collapse-preview {
    padding: $collapse-preview-offset;
    margin-bottom: $collapse-preview-outer-offset;
    border: 1px solid get-color('additional', 'light');
    border-radius: 5px;

    &--responsive {
        display: inline-block;
        vertical-align: top;
        width: $collapse-preview-width;
    }

    &__title {
        font-size: $collapse-preview-title-font-size;
        line-height: $collapse-preview-title-line-height;
        margin: $collapse-preview-title-offset;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        &:not(:first-child) {
            margin: $collapse-preview-item-offset;
        }


        &-content {
            color: $collapse-preview-item-content-color;

            &:hover {
                color: $collapse-preview-item-content-color-hover;
            }
        }
    }
}

.scroll-view {
    position: relative;
    margin-bottom: 20px;

    &__header {
        overflow: hidden;
        margin-left: 150px;

        &--scrollable {
            display: flex;
        }
    }

    &__side {
        width: 150px;
        position: absolute;
        top: 30px;
        left: 0;
        bottom: 0;
        overflow: hidden;
    }

    &__body {
        display: flex;
        overflow: auto;
        margin-left: 150px;
        max-height: 300px;
    }

    &__cell {
        width: 150px;
        height: 30px;
        text-align: center;
        justify-content: center;
    }

    &__head {
        min-width: 150px;
        height: 30px;
        text-align: center;
        background-color: get-color('additional', 'base');
    }

    &__side-head {
        width: 150px;
        height: 30px;
        text-align: center;
        background-color: get-color('additional', 'base');
    }
}
