{% block _customer_user_role_items_view_users_widget %}
    <h3 class="customer-navigation-title">
        {{ 'oro.customer.frontend.sections.customer_user_role.users.label'|trans }}
    </h3>
    {{ block_widget(block) }}
{% endblock %}
