/* @theme: default; */

$callout-block-color-border: solid get-color('secondary', 'base') !default;
$callout-block-background-color: get-color('ui', 'success') !default;
$callout-block-color: get-color('secondary', 'base') !default;

$callout-block-text-color: get-color('additional', 'dark') !default;

$callout-block-warning-color-border: solid get-color('secondary', 'dark') !default;
$callout-block-warning-background-color: get-color('ui', 'warning') !default;
$callout-block-warning-color: get-color('secondary', 'dark') !default;

$callout-block-danger-color-border: solid get-color('primary', 'dark') !default;
$callout-block-danger-background-color: get-color('ui', 'error') !default;
$callout-block-danger-color: get-color('primary', 'dark') !default;
