/* @theme: default; */

$style-book-menu-title-font-weight: font-weight('normal') !default;
$style-book-menu-title-text-transform: uppercase !default;
$style-book-menu-title-offset: 0 0 10px !default;
