/* @theme: default; */

$style-book-menu-link-color: get-color('additional', 'dark');
$style-book-menu-link-color-current: get-color('additional', 'dark');

// Desktop Main
$style-book-menu-main-link-color-hover: get-color('additional', 'dark');
