/* @theme: default; */

$style-book-menu-container-background: get-color('additional', 'base') !default;
$style-book-menu-container-border-radius: 3px !default;
$style-book-menu-container-inner-offset: 25px 30px !default;

$style-book-menu-container-sticked-width: 255px !default;
$style-book-menu-container-sticked-position: fixed !default;
$style-book-menu-container-sticked-overflow: auto !default;

$style-book-menu-container-tablet-inner-offset: 20px 10px !default;
