/* @theme: default; */

$style-book-page-title-font-size: 20px !default;
$style-book-page-title-line-height: 1.1 !default;
$style-book-page-title-offset: 0 0 16px !default;

$style-book-page-description-offset: 0 0 16px !default;
