/* @theme: default; */

@use 'sass:color';

$style-book-group-element-description-border-start: 5px solid get-color('destructive', 'main') !default;

$style-book-group-element-preview-offset: 15px !default;

$style-book-group-element-preview-border: 5px solid get-color('neutral', 'grey1') !default;

$style-book-group-element-preview-space-margin: spacing('sm') 0 !default;

$style-book-group-element-preview-square-background-color: get-var-color('neutral', 'grey1') !default;
$style-book-group-element-preview-square-width: 250px !default;
$style-book-group-element-preview-square-height: 250px !default;
$style-book-group-element-preview-square-margin: spacing('sm') 0 !default;
$style-book-group-element-preview-square-border: 1px solid get-var-color('neutral', 'grey2') !default;
$style-book-group-element-preview-square-position: relative !default;

$style-book-group-element-preview-grid-row-background: get-color('neutral', 'grey1') !default;

$style-book-group-element-preview-grid-item-border: 1px solid get-color('neutral', 'grey3') !default;
$style-book-group-element-preview-grid-item-background: get-color('neutral', 'grey1') !default;
$style-book-group-element-preview-grid-item-padding: spacing('sm') !default;

$style-book-group-element-preview-dark-background: get-color('neutral', 'dark') !default;

$style-book-group-element-color-palette-border: 1px solid get-color('neutral', 'grey3') !default;

$style-book-group-element-color-border: 1px solid get-color('neutral', 'grey3') !default;

$style-book-group-element-name-background-image:
    linear-gradient(
        90deg,
        var(--color-palette-background, transparent) 0%,
        var(--color-palette-background, transparent) 100%
    ),
    linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%) !default;
$style-book-group-element-name-background-size: 10px 10px !default;
$style-book-group-element-name-background-position: 0 0, 0 0, 0 5px, 5px -5px, -5px 0px !default;

$style-book-group-element-typography-color: color.adjust(
    get-color('neutral', 'grey2'),
    $lightness: -10%
) !default;

$style-book-group-element-base-font-color: get-color('neutral', 'dark') !default;

$style-book-group-element-base-line-height-color: get-color('neutral', 'dark') !default;

$style-book-group-element-code-color: get-color('neutral', 'grey3') !default;
