/* @theme: default; */

$style-book-sticky-max-width: $site-width !default;
$style-book-sticky-inner-offset: 0 8px !default;
$style-book-sticky-sidebar-width: 255px !default;
$style-book-sticky-sidebar-left: 0 !default;

$style-book-sticky-position: relative !default;
$style-book-sticky-display: flex !default;
$style-book-sticky-justify-content: flex-end !default;
$style-book-sticky-outer-offset: 0 auto !default;
$style-book-sticky-empty-display: none !default;

$style-book-sticky-sidebar-left: 8px !default;
$style-book-sticky-sidebar-position: absolute !default;
$style-book-sticky-sidebar-max-height: 100vh !default;
$style-book-sticky-sidebar-overflow-y: auto !default;
