/* @theme: default; */

$frontend-datagrid-responsive-toolbar-print-display: none !default;
$frontend-datagrid-responsive-actions-print-display: none !default;
$frontend-datagrid-responsive-row-print-display: table-row !default;
$frontend-datagrid-responsive-body-print-display: table-row-group !default;
$frontend-datagrid-responsive-cell-print-display: table-cell !default;
