<%
    let oroui = _.macros('oroui');
    let iconId = 'check-circle';

    if (type === 'error') {
        iconId = 'alert-circle';
    }

    if (type === 'process' || type === 'warning') {
        iconId = 'alert-triangle';
    }
%>
<% if (style === 'validation') { %>
    <span class="validation-<%- type %>"><%- message %></span>
<% } else { %>
    <div class="notification-flash--<%- type %> alert fade show" role="alert">
        <div class="notification-flash__content">
            <% if (obj.showIcon) { %>
                <%= oroui.renderIcon({
                    name: iconId,
                    extraClass: 'theme-icon--small notification-flash__icon notification-flash__icon--small'
                }) %>
            <% } %>
            <div class="notification-flash__text"><%= message %></div>
            <% if (obj.description) { %>
                <div class="notification-flash__description"><%- description %></div>
            <% } %>
        </div>
        <button type="button" class="notification-flash__close btn btn--plain btn--text" title="<%- _.__('Close') %>" data-dismiss="alert" aria-label="<%- _.__('oro_frontend.notification.close.aria_label') %>">
            <%= oroui.renderIcon({
                name: 'close',
                extraClass: 'theme-icon--small'
            }) %>
        </button>
    </div>
<% } %>
