.fullscreen-popup {
    position: fixed;
    z-index: z('popup') + 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: auto;
    margin-left: 0;

    background: get-color('additional', 'ultra');

    &__header {
        z-index: z('base');
        right: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 40px;
        padding: 0 16px;

        line-height: 40px;
        text-transform: uppercase;

        background: get-color('additional', 'ultra');
        border-bottom: 1px solid get-color('additional', 'light');
    }

    &__text {
        padding: 5px 0;

        font-size: $base-font-size--s;
        font-weight: bold;

        cursor: pointer;

        [class^="fa-"],
        [class*=" fa-"] {
            margin-right: 5px;

            font-size: $base-font-size--s;
            vertical-align: baseline;
        }
    }

    &__badge {
        margin-right: 5px;

        @include badge(
            $badge-bg: get-color('additional', 'dark')
        );

        vertical-align: baseline;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 16px;
        
        font-size: 20px;

        cursor: pointer;

        @include fa-icon($fa-var-close, after);
    }

    &__content {
        height: 100%;

        overflow: auto;
    }

    //TODO: Make corrent padding of popup conent for any content
    .tab-content__wrapper {
        padding: 20px;
    }
}
