navigation:
    menu_config:
        items:
            menu_list_frontend:
                label: 'oro.commercemenu.default.navigation.items.menu_list_frontend.label'
                route: 'oro_commerce_menu_global_menu_index'
                extras:
                    position: 95
                    routes: ['/^oro_commerce_global_menu_[\w_]+$/']
                    description: 'oro.commercemenu.default.navigation.items.menu_list_frontend.description'

            telephone:
                label: 'oro.commercemenu.frontend.navigation.items.telephone.label'
                extras:
                    position: 10
            free_shipping:
                label: 'oro.commercemenu.frontend.navigation.items.free_shipping.label'
                uri: '/about'
                attributes:
                    class: topbar__controls
                linkAttributes:
                    class: cart__promo__link
                extras:
                    position: 20
            orders:
                label: 'oro.commercemenu.frontend.navigation.items.orders.label'
                route: oro_order_frontend_index
            quotes:
                label: 'oro.commercemenu.frontend.navigation.items.quotes.label'
                route: oro_sale_quote_frontend_index
            quick_order_form:
                label: 'oro.commercemenu.frontend.navigation.items.quick_order_form.label'
                route: oro_product_frontend_quick_add
            about:
                label: 'oro.commercemenu.frontend.navigation.items.about.label'
                uri: '/about'
            information:
                label: 'oro.commercemenu.frontend.navigation.items.information.label'
            customer_service:
                label: 'oro.commercemenu.frontend.navigation.items.customer_service.label'
                uri: '/customer-service'
            privacy_policy:
                label: 'oro.commercemenu.frontend.navigation.items.privacy_policy.label'
                uri: '/privacy-policy'
            site_map:
                label: 'oro.commercemenu.frontend.navigation.items.site_map.label'
                uri: '/sitemap'
            search_terms:
                label: 'oro.commercemenu.frontend.navigation.items.search_terms.label'
                uri: '/search/terms'
            advanced_search:
                label: 'oro.commercemenu.frontend.navigation.items.advanced_search.label'
                uri: '/search/advanced'
            orders_and_returns:
                label: 'oro.commercemenu.frontend.navigation.items.orders_and_returns.label'
                uri: '/orders-and-returns'
            why_buy_from_us:
                label: 'oro.commercemenu.frontend.navigation.items.why_buy_from_us.label'
            shipping_and_returns:
                label: 'oro.commercemenu.frontend.navigation.items.shipping_and_returns.label'
                uri: '/shipping-and-returns'
            secure_shopping:
                label: 'oro.commercemenu.frontend.navigation.items.secure_shopping.label'
                uri: '/secure-shopping'
            international_shipping:
                label: 'oro.commercemenu.frontend.navigation.items.international_shipping.label'
                uri: '/international-shipping'
            my_customer:
                label: 'oro.commercemenu.frontend.navigation.items.my_customer.label'
                extras:
                    condition: 'is_logged_in()'
            sign_out:
                label: 'oro.commercemenu.frontend.navigation.items.sign_out.label'
                route: 'oro_customer_customer_user_security_logout'
            view_cart:
                label: 'oro.commercemenu.frontend.navigation.items.view_cart.label'
                route: 'oro_shopping_list_frontend_view'
            my_wishlist:
                label: 'oro.commercemenu.frontend.navigation.items.my_wishlist.label'
                route: 'oro_shopping_list_frontend_view'
            track_my_order:
                label: 'oro.commercemenu.frontend.navigation.items.track_my_order.label'
                uri: '/shipping/tracking'
            help:
                label: 'oro.commercemenu.frontend.navigation.items.help.label'
                uri: '/help'
            catalog:
                label: 'oro.commercemenu.frontend.navigation.items.catalog.label'
                route: oro_product_frontend_product_index
                extras:
                    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua'
                    icon: fa-book
            order_history:
                label: 'oro.commercemenu.frontend.navigation.items.order_history.label'
                route: oro_order_frontend_index
                extras:
                    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua'
                    icon: fa-list-alt
            new_arrivals:
                label: 'oro.commercemenu.frontend.navigation.items.new_arrivals.label'
                uri: '/new-arrivals'
                extras:
                    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua'
                    icon: fa-gift
            contact_us:
                label: 'oro.commercemenu.frontend.navigation.items.contact_us.label'
                route: oro_contactus_bridge_contact_us_page
                extras:
                    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua'
                    icon: fa-envelope
        tree:
            application_menu:
                children:
                    system_tab:
                        children:
                            menu_list_frontend: ~

            frontend_menu:
                scope_type: menu_frontend_visibility

            commerce_top_nav:
                type: commerce_top_nav
                scope_type: menu_frontend_visibility
                children:
                    telephone: ~
                    free_shipping: ~

            commerce_quick_access:
                type: commerce_quick_access
                scope_type: menu_frontend_visibility
                children:
                    orders: ~
                    quotes: ~
                    quick_order_form: ~

            commerce_main_menu:
                type: commerce_main_menu
                scope_type: menu_frontend_visibility
                children:
                    about: ~

            commerce_footer_links:
                type: commerce_footer_links
                scope_type: menu_frontend_visibility
                children:
                    information:
                        children:
                            about: ~
                            customer_service: ~
                            privacy_policy: ~
                            site_map: ~
                            search_terms: ~
                            advanced_search: ~
                            orders_and_returns: ~
                    why_buy_from_us:
                        children:
                            shipping_and_returns: ~
                            secure_shopping: ~
                            international_shipping: ~
                    my_customer:
                        children:
                            sign_out: ~
                            view_cart: ~
                            my_wishlist: ~
                            track_my_order: ~
                            help: ~

            featured_menu:
                type: featured_menu
                scope_type: menu_frontend_visibility
                children:
                    catalog: ~
                    order_history: ~
                    new_arrivals: ~
                    contact_us: ~
    titles:
        oro_commerce_menu_global_menu_index: 'Frontend Menus'
        oro_commerce_menu_global_menu_view: '%title% - Frontend Menus'
        oro_commerce_menu_global_menu_create: 'Create Menu Item - Frontend Menus'
        oro_commerce_menu_global_menu_update: '%title% - Edit - Frontend Menus'

        oro_commerce_menu_customer_menu_index: 'Frontend Menus - %customer%'
        oro_commerce_menu_customer_menu_view: '%title% - Frontend Menus - %customer%'
        oro_commerce_menu_customer_menu_create: 'Create Menu Item - Frontend Menus - %customer%'
        oro_commerce_menu_customer_menu_update: '%title% - Edit - Frontend Menus - %customer%'

        oro_commerce_menu_customer_group_menu_index: 'Frontend Menus - %customerGroup%'
        oro_commerce_menu_customer_group_menu_view: '%title% - Frontend Menus - %customerGroup%'
        oro_commerce_menu_customer_group_menu_create: 'Create Menu Item - Frontend Menus - %customerGroup%'
        oro_commerce_menu_customer_group_menu_update: '%title% - Edit - Frontend Menus - %customerGroup%'
