{% block __scroll_top__scroll_top_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {
            'view': 'orofrontend/default/js/app/views/scroll-top-view'
        },
        'data-emulate-btn-press': '',
        'data-scroll-top': '',
        '~class': ' btn btn--neutral-dark btn--circle scroll-top scroll-top--' ~ scroll_top_position,
        'aria-label': 'oro_frontend.scroll_to_the_top'|trans,
        role: 'button',
        tabindex: '0'
    }) %}
    {% if enabled is defined and enabled == true %}
        <div {{ block('block_attributes') }}>
            {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
            {{ renderIcon.icon({name: 'chevron-up'}) }}
        </div>
    {% endif %}
{% endblock %}
