{% block __scroll_top__scroll_top_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {
            'view': 'orofrontend/default/js/app/views/scroll-top-view',
            'viewport': 'desktop'
        },
        'data-emulate-btn-press': '',
        'data-scroll-top': '',
        '~class': ' scroll-top scroll-top--' ~ scroll_top_position,
        'aria-label': 'oro_frontend.scroll_to_the_top'|trans,
        role: 'button',
        tabindex: '0'
    }) %}
    {% if enabled is defined and enabled == true %}
        <div {{ block('block_attributes') }}>
            <span class="fa-arrow-circle-up fa--no-offset fa--xxxl" aria-hidden="true"></span>
        </div>
    {% endif %}
{% endblock %}
