<div class="popup-gallery-widget" role="dialog" aria-modal="true" aria-label="<%-_.__('oro_frontend.gallery_popup.label') %>">
    <div class="popup-gallery-widget__overlay" data-trigger-gallery-close></div>
    <div class="popup-gallery-widget__wrapper">
        <button class="close-dialog" data-trigger-gallery-close aria-label="<%-_.__('oro_frontend.fullscreen_popup.actions.labels.close') %>"></button>
        <div class="popup-gallery-widget__images" data-gallery-images>
            <% if (images && images.length) { %>
                <% _.each(images, function(image) { %>
                    <div class="popup-gallery-widget__image">
                        <picture>
                            <% _.each(image.sources || [], function(source) { %>
                                <source srcset="<%= source.srcset %>" type="<%= source.type %>">
                            <% }); %>

                            <img data-lazy="<%= image.src %>"
                                 alt="<%- image.alt %>"
                                 width="100%"
                                 height="100%"
                            />
                        </picture>
                    </div>
                <% }); %>
            <% } %>
        </div>
        <% if (use_thumb && images && images.length) { %>
            <div class="popup-gallery-widget__thumbnails" data-gallery-thumbnails>
                <% _.each(images, function(image) { %>
                    <div class="popup-gallery-widget__thumbnails-img">
                        <picture>
                            <% _.each(image.thumbSources || [], function(source) { %>
                                <source srcset="<%= source.srcset %>" type="<%= source.type %>">
                            <% }); %>

                            <img src="<%= image.thumb %>"
                                 alt="<%- image.alt %>"
                                 width="80"
                                 height="80"
                            />
                        </picture>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>
</div>
