/* @theme: admin.oro; */

.menu-user-agent-condition {
    padding: 10px 40px 10px 10px !important;
    margin-bottom: 10px !important;
    border: 1px solid #e6e6e6 !important;
    background: $primary-900;
    border-radius: 4px;
    position: relative;

    .menu-user-agent-condition-wrap {
        [data-validation-optional-group] {
            > .row-oro {
                > .menu-user-agent-condition-item {
                    padding: 10px 35px 10px 10px;
                    border-radius: 4px;
                    display: inline-block;
                    width: auto;
                    border: 1px solid #ddd;
                    background: #fff;
                }

                .btn {
                    position: absolute;
                    right: 10px;
                    bottom: 12px;
                }
            }
        }

        [data-validate-element] + [data-validation-optional-group] {
            .menu-user-agent-inner-condition-label {
                display: none;
            }
        }

        .add-list-item {
            margin-left: auto;
        }
    }

    .btn-remove-main-row {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

.menu-user-agent-condition-container {
    &:first-of-type {
        .menu-user-agent-condition-label {
            display: none;
        }
    }
}

.menu-user-agent-condition-item {
    float: left;

    .menu-user-agent-condition-item-container {
        float: left;
    }

    .menu-user-agent-condition-operation {
        margin-right: 10px;
    }

    .menu-user-agent-condition-operation,
    .menu-user-agent-condition-value {
        float: left;
        width: 260px;
    }

    input,
    .input-widget-select {
        display: block;
        height: 30px;
        max-width: 100%;
        margin: 0;
        line-height: 30px;

        box-sizing: border-box;

        span {
            max-width: 100%;
        }
    }

    .btn {
        float: right;
    }
}
