// @theme: blank;

$info-list-offset: 0 0 50px 17px !default;
$info-list-inner-offset: 12px 0 0 !default;
$info-list-border: 1px solid get-color('additional', 'light') !default;
$info-list-border-top: $info-list-border !default;

$info-list-item-display: flex !default;
$info-list-item-inner-offset: 5px 0 6px 0 !default;

$info-list-name-width: 115px !default;
$info-list-name-offset: 0 30px 0 0 !default;
$info-list-name-after-content: ':' !default;

// Mobile
$info-list-mobile-offset: 0 0 20px 0 !default;

$info-list-name-mobile-width: 88px !default;
$info-list-name-mobile-offset: 0 10px 0 0 !default;
