/* @theme: blank; */

.toggle-mode {
    .ui-multiselect-menu {
        // Break inline styles
        position: static !important;
        // Break inline styles
        max-width: 100% !important;
        // Break inline styles
        width: 100% !important;
        display: block !important;

        .ui-multiselect-header {
            display: none;
        }

        .ui-multiselect-checkboxes {
            overflow: visible !important;
            height: auto !important;
            max-height: none !important;
            padding: 0;
            margin-bottom: 0;
        }

        .datagrid-manager-search {
            margin-top: $filter-toggle-mode-datagrid-manager-search-offset-top;
            margin-bottom: $filter-toggle-mode-datagrid-manager-search-offset-bottom;
        }
    }

    .product-price-filter {
        margin-top: $filter-toggle-mode-product-price-filter-offset-top;
        padding-left: $filter-toggle-mode-product-price-filter-inner-offset-left;
    }

    .product-price-unit-filter-separator {
        display: $filter-toggle-mode-unit-filter-separator-display;
    }

    .filter-criteria-selector {
        display: $filter-toggle-mode-criteria-selector-display;
        flex-direction: $filter-toggle-mode-criteria-selector-flex-direction;
        align-content: $filter-toggle-mode-criteria-selector-align-content;
        align-items: $filter-toggle-mode-criteria-selector-align-items;
        padding: $filter-toggle-mode-criteria-selector-offset-inner;
        margin: $filter-toggle-mode-criteria-selector-offset;
        color: $filter-toggle-mode-criteria-selector-color;
    }

    .filter-criteria-selector-icon-wrap {
        top: $filter-toggle-mode-criteria-selector-icon-top-pos;
        right: $filter-toggle-mode-criteria-selector-icon-right-pos;
        transform: translateY(-$filter-toggle-mode-criteria-selector-icon-top-pos);
    }

    .filter-criteria-selector-icon {
        font-size: $filter-toggle-mode-criteria-selector-icon-font-size;
        line-height: $filter-toggle-mode-criteria-selector-icon-line-height;

        @include fa-icon($filter-toggle-mode-criteria-selector-icon-fa-icon);

        [dir="rtl"] & {
            @include fa-icon($filter-toggle-mode-criteria-selector-icon-fa-icon-rtl);
        }
    }

    .filters-manager-trigger {
        width: $filter-toggle-mode-filters-manager-trigger-width;
    }

    .fields-row {
        min-width: $filter-toggle-mode-fields-row-min-width;
    }

    .filter-item {
        // fix after filter enabling, using Filter manager
        width: $filter-toggle-mode-filter-item-width;
        padding: $filter-toggle-mode-filter-item-padding;
        border-bottom: $filter-toggle-mode-filter-item-border-bottom;
    }

    .filter-items {
        margin-bottom: $offset-y-m;
    }

    .filter-items-hint {
        padding-top: $filter-toggle-mode-items-hint-offset-top;
        padding-bottom: $filter-toggle-mode-items-hint-offset-bottom;

        line-height: $filter-toggle-mode-items-hint-line-height;
        font-size: $filter-toggle-mode-items-hint-font-size;

        clear: both;
    }

    .filter-criteria-hint-item {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: $filter-toggle-mode-criteria-hint-item-offset;
        padding: $filter-toggle-mode-criteria-hint-item-offset-inner;

        border-radius: $filter-toggle-mode-criteria-hint-item-border-radius;
    }

    .reset-filter-button {
        margin-bottom: $filter-toggle-mode-criteria-hint-item-offset-bottom;
        padding: $filter-toggle-mode-reset-filter-button-inner-offset;

        border: 0;
    }

    .filter-start-date,
    .filter-end-date {
        width: $filter-toggle-mode-start-end-max-width;
    }

    .dropdown.datefilter,
    .datepicker-input {
        max-width: $filter-toggle-mode-datepicker-input-max-width;
        min-width: 0;
        width: $filter-toggle-mode-datepicker-input-width;
    }

    .timepicker-input {
        max-width: $filter-toggle-mode-timepicker-input-max-width;
        min-width: 0;
        width: $filter-toggle-mode-timepicker-input-width;
        margin-left: $filter-toggle-mode-timepicker-input-offset-left;
    }

    .filter-criteria {
        display: none;
        margin-top: $filter-toggle-mode-criteria-offset-top;
        margin-left: $filter-toggle-mode-criteria-offset-left;
        padding: $filter-toggle-mode-criteria-offset-inner;
        visibility: $filter-toggle-mode-criteria-visibility;

        .value-field-frame {
            width: $filter-toggle-mode-criteria-value-field-frame-width;
            // Break inline styles
            margin-left: 0 !important;
            // Break inline styles
            padding-right: 0 !important;
        }
    }

    .filter-extra-hint {
        display: none;
        max-width: 30%;
        padding-left: $filter-toggle-mode-filter-extra-hint-offset;
        padding-right: $filter-toggle-mode-filter-extra-hint-offset;
        margin-left: auto;

        color: $filter-toggle-mode-filter-extra-hint-color;

        &:not(:empty) {
            display: flex;
        }
    }

    .filter-extra-hint-text {
        display: block;
        max-width: 100%;

        @include ellipsis();
    }

    .filter-item-label {
        font-size: $filter-toggle-mode-filter-item-label-font-size;
        line-height: $filter-toggle-mode-filter-item-label-line-height;
        display: inline-block;

        @include ellipsis();
    }

    .open-filter {
        .filter-extra-hint {
            display: none;
        }

        .filter-criteria-selector-icon {
            transform: $filter-toggle-mode-open-filter-criteria-selector-icon-transform;
        }

        .filter-criteria {
            display: block;
        }
    }

    .data-filter-choice,
    .choice-filter {
        display: flex;
        flex-direction: column;
    }

    .filter-select-oro-wrapper,
    .value-field-frame,
    .filter-date-range {
        width: 100%;
        display: block;
    }

    .filter-select-oro-wrapper {
        margin-bottom: 12px;
    }

    .filter-start-date {
        margin-bottom: 12px;
    }

    .filter-start-date,
    .filter-end-date {
        width: 100%;
    }

    &.in-sticky {
        .filter-items-hint {
            padding-top: $filter-toggle-mode-in-sticky-criteria-hint-item-offset;
            padding-bottom: $filter-toggle-mode-in-sticky-criteria-hint-item-offset-inner;;
        }
    }
}
