/* @theme: blank; */

// Base styles
$main-menu-link-inner-offset: 14px 10px !default;
$main-menu-ancestor-link-inner-offset: 20px !default;
$main-menu-link-line-height: 1.5 !default;
$main-menu-link-color: get-color('ui', 'normal') !default;
$main-menu-link-color-hover: get-color('ui', 'focus') !default;
$main-menu-link-background-active: get-color('additional', 'base') !default;
$main-menu-sublist-title-offset: $offset-x-s !default;
$main-menu-sublist-item-inner-offset: $offset-x !default;
$main-menu-subcategory-item-inner-offset: $offset-y-s $offset-x-s !default;
$main-menu-sublist-container-transition: left .4s linear !default;

// Desktop styles
$main-menu-button-arrow-d-width: 20px !default;
$main-menu-button-arrow-d-offset-left: -20px !default;
$main-menu-button-arrow-d-inner-offset: 0 0 0 5px !default;
$main-menu-button-arrow-d-align-items: center !default;
$main-menu-sublist-container-d-border: 1px solid get-color('additional', 'light') !default;
$main-menu-sublist-container-d-z-index: z('base') + 10 !default;
$main-menu-sublist-container-d-bg-color: get-color('additional', 'ultra') !default;
$main-menu-back-trigger-width: 200px !default;
$main-menu-back-trigger-align: left !default;

// Tablet styles
$main-menu-tablet-border: 1px solid darken(get-color('additional', 'base'), 5%) !default;
$main-menu-link-line-tablet-offset: 15px !default;
$main-menu-link-line-tablet-height: 1 !default;
$main-menu-item-tablet-border: 1px solid darken(get-color('additional', 'base'), 5%) !default;
$main-menu-sublist-container-tablet-background: get-color('additional', 'ultra') !default;

$main-menu-button-arrow-offset: 15px !default;
