/* @theme: blank; */

@use 'sass:math';

.featured-menu {
    margin: $featured-menu-offset;

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }

    &__item {
        width: math.div(100%, $featured-menu-item-items-row);
        padding: 0 $featured-menu-item-offset-x;

        &:nth-child(n+#{$featured-menu-item-items-row + 1}) {
            margin-top: $featured-menu-item-offset-x * 2;
        }
    }

    &__content {
        height: 100%;

        padding: $featured-menu-content-offset-inner;

        text-align: $featured-menu-content-text-align;

        background: $featured-menu-content-bg;
    }

    &__title {
        max-width: 100%;
        margin-bottom: $featured-menu-item-title-offset-bottom;

        font-size: $featured-menu-item-title-font-size;
        font-weight: $featured-menu-item-title-font-weight;
        text-transform: $featured-menu-item-title-text-transform;
    }

    &__description {
        max-width: 100%;
        // two rows
        min-height: ceil(($featured-menu-item-description-font-size * $featured-menu-item-description-line-height) * 2);
        // two rows
        max-height: ceil(($featured-menu-item-description-font-size * $featured-menu-item-description-line-height) * 2);
        margin-bottom: $featured-menu-item-description-offset-bottom;

        overflow: hidden;
    }

    &__link {
        white-space: $featured-menu-link-white-space;
    }

    &__img-wrap {
        margin-bottom: $featured-menu-item-img-wrap-offset-bottom;
    }

    &__img {
        width: $featured-menu-item-icon-font-size;
        height: $featured-menu-item-icon-font-size;
    }

    &__icon {
        font-size: $featured-menu-item-icon-font-size;

        color: $featured-menu-item-icon-color;
    }

    .line-clamp-polyfill::after {
        height: ceil($featured-menu-item-description-font-size * $featured-menu-item-description-line-height);

        background:
            linear-gradient(
                to right, rgba($featured-menu-content-bg, 0), rgba($featured-menu-content-bg, 1) 50%
            );
    }
}

@include breakpoint('tablet-small') {
    .featured-menu {
        margin: $featured-menu-offset-tablet-small;

        &__grid {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            width: $featured-menu-item-width-tablet-small;
            margin: $featured-menu-item-offset-tablet-small;
            padding: $featured-menu-item-offset-inner-tablet-small;
        }

        &__description {
            // two rows
            max-height:
                ceil(
                    (
                        $featured-menu-item-description-font-size-tablet-small *
                        $featured-menu-item-description-line-height
                    ) *
                    2
                );

            font-size: $featured-menu-item-description-font-size-tablet-small;
        }

        .line-clamp-polyfill::after {
            height:
                ceil(
                    $featured-menu-item-description-font-size-tablet-small *
                    $featured-menu-item-description-line-height
                );
        }
    }
}

@include breakpoint('mobile') {
    .featured-menu {
        &__item {
            width: $featured-menu-item-width-mobile;
        }
    }
}
