// @theme: blank;

.information-nav {
    padding: $information-nav-offset;

    &__title {
        font-size: $information-nav-title-font-size;
        line-height: $information-nav-title-line-height;
        margin: $information-nav-title-offset;
    }

    &__list {
        @include list-normalize();
    }

    &__item {
        &:not(:first-child) {
            margin: $information-nav-item-offset;
        }


        &-content {
            color: $information-nav-item-content-color;

            &:hover {
                color: $information-nav-item-content-color-hover;
            }
        }
    }
}
