/* @theme: blank; */

.information-nav {
    padding: $information-nav-offset;

    &--responsive {
        display: inline-block;
        vertical-align: top;
        width: $information-nav-width;
    }

    &__title {
        font-size: $information-nav-title-font-size;
        line-height: $information-nav-title-line-height;
        margin: $information-nav-title-offset;
        font-weight: $information-nav-title-font-weight;
    }

    &__list {
        @include list-normalize();
    }

    &__icon {
        display: inline-block;
    }

    &__item {
        &:not(:first-child) {
            margin: $information-nav-item-offset;
        }

        &-content {
            @at-root {
                a#{&} {
                    color: $information-nav-item-content-color;
                    &:hover {
                        color: $information-nav-item-content-color-hover;
                    }
                }

                span#{&} {
                    color: $information-nav-item-content-text-color;
                }
            }
        }
    }
}

@include breakpoint('tablet-small') {
    .information-nav {
        &--responsive {
            width: $information-nav-tablet-small-width;
        }
    }
}
