.main-menu-outer {
    &__container {
        display: flex;

        justify-content: center;
    }
}


@include breakpoint('tablet') {
    .main-menu-outer {
        &__container {
            display: block;

            overflow: hidden;
        }
    }
}
