/* @theme: blank; */

.main-menu {
    display: flex;

    flex-grow: 0;

    @include list-normalize();

    &__item {
        flex-grow: 0;

        &.active {
            background: $main-menu-link-background-active;
        }
    }

    &__link {
        display: block;

        padding: $main-menu-link-inner-offset;

        line-height: $main-menu-link-line-height;

        text-align: center;
        text-decoration: none;

        color: $main-menu-link-color;

        &:hover {
            color: $main-menu-link-color-hover;
        }
    }

    &__subcategory {
        @include list-normalize();

        &-item {
            padding: $main-menu-subcategory-item-inner-offset;
        }
    }

    &__button-arrow {
        display: none;

        color: $main-menu-link-color;
        text-align: left;

        border: none;
        background: none;
        outline: none;
    }

    &__back-trigger {
        text-transform: uppercase;
        font-weight: font-weight('bold');

        @include base-ui-element(
            $use-base-style:   true,
            $padding:          7px 0,
            $border:           none,
            $border-radius:    0,
            $background-color: get-color('additional', 'ultra'),
            $color:            lighten(get-color('additional', 'dark'), 41%),
            $appearance:       true
        );

        margin: 0;
        display: none;
    }

    @include fullscreen-mode {
        .main-menu__back-trigger {
            position: absolute;
            top: 0;

            @include safe-area-property-left(left, $offset-x);

            z-index: z('base') + 1;

            display: block;
            width: $main-menu-back-trigger-width;

            text-align: $main-menu-back-trigger-align;
        }

        .main-menu__button-arrow {
            [class^='fa-'],
            [class*=' fa-'] {
                transform: rotate(-90deg);
            }
        }
    }
}

@include only-desktop {
    .main-menu {
        &__button-arrow {
            display: none;
        }

        &__taptick {
            display: inline-block;

            .fa-angle-down {
                display: block;
            }
        }
    }
}

@include breakpoint('desktop') {
    .main-menu {
        &__sublist-container {
            position: absolute;
            // Must be above the dropdowns
            z-index: z('dropdown') + 10;
            top: 100%;
            right: 0;
            left: 0;

            display: none;

            border: $main-menu-sublist-container-d-border;
            background-color: $main-menu-sublist-container-d-bg-color;
        }

        &__item {
            &.show {
                .main-menu__sublist-container {
                    display: block;
                }
            }
        }

        .mobile-version & {
            &__text {
                vertical-align: middle;
            }

            &__button-arrow {
                display: flex;

                width: $main-menu-button-arrow-d-width;

                margin-left: $main-menu-button-arrow-d-offset-left;
                padding: $main-menu-button-arrow-d-inner-offset;
                align-items: $main-menu-button-arrow-d-align-items;
            }

            &__taptick {
                display: none;
            }

            &__item {
                display: flex;

                &--ancestor {
                    .main-menu__link {
                        padding-right: $main-menu-ancestor-link-inner-offset;
                    }
                }

                &:hover {
                    .main-menu__button-arrow {
                        color: $main-menu-link-color-hover;
                    }
                }
            }
        }
    }
}

@include breakpoint('tablet') {
    .main-menu {
        flex-direction: column;

        &:not(:last-child) {
            border-bottom: $main-menu-tablet-border;
        }

        &__taptick {
            display: none;
        }

        &__item {
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
                border-bottom: $main-menu-item-tablet-border;
            }
        }

        &__link {
            flex-grow: 3;

            padding: $main-menu-link-line-tablet-offset;
            line-height: $main-menu-link-line-tablet-height;

            text-align: left;
        }

        &__button-arrow {
            display: block;
            flex-grow: 1;

            padding: $main-menu-button-arrow-offset;

            text-align: right;
        }

        &__sublist-container {
            position: absolute;
            top: $fullscreen-popup-header-min-height - 1;
            left: 100%;
            z-index: z('base');

            width: 100%;

            background: $main-menu-sublist-container-tablet-background;

            transition: $main-menu-sublist-container-transition;
        }
    }

    .current + .main-menu__sublist-container {
        left: 0;
        overflow-y: scroll;
    }
}
