/* @theme: default; */

.callout-block {
    margin-bottom: 35px;
    padding: $offset-x;

    border: $callout-block-color-border;
    border-width: 1px 1px 1px 5px;
    border-radius: 4px;
    background-color: $callout-block-background-color;
    color: $callout-block-color;

    &__text {
        color: $callout-block-text-color;
    }

    &__title {
        margin-bottom: 10px;

        font-size: $base-font;
    }

    &.warning {
        border: $callout-block-warning-color-border;
        border-width: 1px 1px 1px 5px;
        background-color: $callout-block-warning-background-color;
        color: $callout-block-warning-color;
    }

    &.danger {
        border: $callout-block-danger-color-border;
        border-width: 1px 1px 1px 5px;
        background-color: $callout-block-danger-background-color;
        color: $callout-block-danger-color;
    }
}
