/* @theme: default; */

.style-book-sticky-header {
    max-width: $style-book-sticky-header-max-width;
    margin: $style-book-sticky-header-offset;
    padding: $style-book-sticky-header-inner-offset;
}
