/* @theme: default; */

.style-book-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    padding: spacing('base') + 10px 0;

    .content-section {
        margin-bottom: spacing('base') + 10px;

        &__text {
            &:not(:first-child) {
                margin-top: spacing('sm');
            }
        }

        &__sub-title {
            margin-bottom: spacing('sm');

            font-size: $base-font-size--m;
            text-transform: uppercase;
        }
    }
}
