/* @theme: default; */

@use 'sass:math';

.style-book-group-element {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 20px;
    }

    &__example-title {
        margin: 10px 0;
    }

    &__title {
        margin: 0 0 10px;

        font-size: $base-font-size + 1;
    }

    &__description {
        margin: 20px 0;
        padding: spacing('base');

        border-left: $style-book-group-element-description-border-start;

        line-height: 1.7;

        strong,
        b {
            font-weight: font-weight('bold');
        }

        em {
            font-style: italic;
        }

        [class*='language-'] {
            padding: 1px 2px;
        }
    }

    &__item {
        margin-bottom: 25px;
        padding-left: 25px;
    }

    &__preview {
        margin-bottom: 10px;
        padding: $style-book-group-element-preview-offset;

        border: $style-book-group-element-preview-border;

        &--inside-as-last {
            margin-left: -$style-book-group-element-preview-offset;
            margin-right: -$style-book-group-element-preview-offset;
            margin-bottom: -$style-book-group-element-preview-offset;
            border: 0;
        }

        &--space {
            margin: $style-book-group-element-preview-space-margin;
        }

        &--square {
            background-color: $style-book-group-element-preview-square-background-color;
            width: $style-book-group-element-preview-square-width;
            height: $style-book-group-element-preview-square-height;
            margin: $style-book-group-element-preview-square-margin;
            border: $style-book-group-element-preview-square-border;
            position: $style-book-group-element-preview-square-position;
        }

        .checkbox-label {
            padding-right: spacing('base');
        }

        .color-palette {
            &:not(:first-child) {
                padding-top: 40px;
                margin-top: 40px;

                border-top: $style-book-group-element-color-palette-border;
            }

            &__palette-title {
                font-weight: font-weight('bold');
                text-transform: uppercase;
                font-size: $base-font-size--m;

                margin: 0 0 10px;

                &--key {
                    text-transform: none;
                    font-weight: font-weight('light');
                }
            }

            &__color-box {
                font-size: 13px;
                align-self: end;
            }

            &__usage {
                margin-top: 5px;
                margin-bottom: 0;
                display: block;
            }

            &__name {
                padding: 10px;
                margin-top: 5px;

                border: $style-book-group-element-color-border;

                background-image: $style-book-group-element-name-background-image;
                background-size: $style-book-group-element-name-background-size;
                background-position: $style-book-group-element-name-background-position;

                &--title {
                    font-weight: font-weight('bold');
                }
            }
        }

        .example-typography {
            line-height: $base-line-height;
            margin: 0;

            &::after {
                margin-left: 10px;
                color: $style-book-group-element-typography-color;
            }
        }

        .base-font {
            &::after {
                content: '#{$base-font}';
                color: $style-book-group-element-base-font-color;
            }
        }

        .base-line-height {
            &::after {
                content: '#{$base-line-height}';
                color: $style-book-group-element-base-line-height-color;
            }
        }

        .root-font-size {
            font-size: $root-font-size;

            &::after {
                content: '(#{$root-font-size})';
            }
        }

        .base-font-size {
            font-size: $base-font-size;

            &::after {
                content: '(#{$base-font-size})';
            }

            &--s {
                font-size: $base-font-size--s;

                &::after {
                    content: '(#{$base-font-size--s})';
                }
            }

            &--m {
                font-size: $base-font-size--m;

                &::after {
                    content: '(#{$base-font-size--m})';
                }
            }

            &--l {
                font-size: $base-font-size--l;

                &::after {
                    content: '(#{$base-font-size--l})';
                }
            }

            &--large {
                font-size: $base-font-size--large;

                &::after {
                    content: '(#{$base-font-size--large})';
                }
            }
        }
    }

    &--grid &__preview {
        [class^='grid-col'] {
            overflow: hidden;
            white-space: nowrap;
            border: $style-book-group-element-preview-grid-item-border;
            background: $style-book-group-element-preview-grid-item-background;
            padding: $style-book-group-element-preview-grid-item-padding;
        }

        .grid-place-items-start-center,
        .grid-place-items-center {
            height: 150px;
        }
    }

    &--tiles &__preview {
        .tiles-item {
            border: $style-book-group-element-preview-grid-item-border;
            background: $style-book-group-element-preview-grid-item-background;
            padding: $style-book-group-element-preview-grid-item-padding;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__item--dark &__preview {
        background: $style-book-group-element-preview-dark-background;
    }

    &__code {
        display: block;

        padding: spacing('base');
        margin: 0;

        word-break: break-all;
        overflow-wrap: break-word;

        background-color: $style-book-group-element-code-color;

        white-space: pre-wrap;

        .token {
            &.tag {
                white-space: normal;
            }

            &.attr-name {
                white-space: nowrap;
            }
        }
    }
}

code,
pre {
    &[class*='language-'] {
        /* rtl:ignore */
        text-align: left;

        /* rtl:ignore */
    }
}
