/* @theme: default; */

.style-book {
    &__header-menu-container {
        display: $style-book-header-menu-display;
    }
}

@include breakpoint('tablet') {
    .style-book {
        &__header-menu-container {
            display: $style-book-header-menu-tablet-display;

            &:not(:last-child) {
                margin: $style-book-header-menu-container-offset;
            }
        }
    }
}
