/* @theme: default; */

.style-book-group-element {
    &__preview {
        .base-font-minor {
            &:after {
                content:'#{$base-font-minor}';
                color: get-color('additional', 'dark');
            }
        }

        .base-font-icons {
            &:after {
                content:'#{$base-font-icon}';
            }
        }

        .base-font-size {
            &--large {
                font-size: $base-font-size--large;

                &:after {
                    content:'(#{$base-font-size--large})';
                }
            }
        }
    }
}

code,
pre {
    &[class*=language-] {
        /*rtl:ignore*/
        text-align: left;
        /*rtl:ignore*/
    }
}
