/* @theme: default; */

.style-book-menu-title {
    font-weight: $style-book-menu-title-font-weight;
    text-transform: $style-book-menu-title-text-transform;
    margin: $style-book-menu-title-offset;
}
