/* @theme: default; */

.style-book-group-element {
    &__preview {
        .base-font-minor {
            &::after {
                content: '#{$base-font-minor}';
                color: $style-book-group-element-preview-base-font-minor-color;
            }
        }

        .base-font-icons {
            &::after {
                content: '#{$base-font-icon}';
            }
        }

        .base-font-size {
            &--large {
                font-size: $base-font-size--large;

                &::after {
                    content: '(#{$base-font-size--large})';
                }
            }
        }
    }
}

code,
pre {
    &[class*='language-'] {
        /* rtl:ignore */
        text-align: left;

        /* rtl:ignore */
    }
}
