<div class="choice-filter" data-many-to-many-filter-template>
    <div class="filter-select-oro-wrapper">
        <select name="<%= name %>"
            <% if (_.isMobile()) { %>
                data-skip-input-widgets
            <% } %>
                data-choice-value-select
                class="select select--size-m select--full">
            <% _.each(choices, function (option) { %>
                <option value="<%= option.value %>"
                    <% if (option.value == selectedChoice) { %>
                        selected="selected"
                    <% } %>
                >
                    <%- option.label %>
                </option>
            <% }); %>
        </select>
    </div>
    <div class="value-field-frame">
        <input class="name_input" type="hidden" name="<%= name %>" id="<%= name %>" value="<%= selectedChoice %>"/>
        <div class="filter-action-row">
            <% if (_.isMobile()) { %>
                <button type="button" class="btn btn--info btn--full filter-update"><%- _.__("oro_frontend.filters.apply") %></button>
            <% } else { %>
                <button type="button" class="btn btn--action filter-update"><%- _.__("Update") %></button>
            <% } %>
        </div>
    </div>
</div>
