// @theme: blank;

$embedded-list-slider-btn-arrow-width: 36px !default;
$embedded-list-slider-btn-arrow-height: 100px !default;
$embedded-list-slider-btn-arrow-top-pos: 35% !default;
$embedded-list-slider-btn-arrow-side-pos: -($embedded-list-slider-btn-arrow-width) !default;
$embedded-list-slider-btn-arrow-background: get-color('additional', 'light') !default;
$embedded-list-slider-btn-arrow-hover-background: darken(get-color('additional', 'light'), 5%) !default;

$embedded-list-slider-arrow-size: 12px !default;
$embedded-list-slider-arrow-side-offset: 3px !default;
$embedded-list-slider-arrow-border: 2px solid lighten(get-color('additional', 'dark'), 16.5%) !default;
