/* @theme: blank; */

.style-book-title {
    margin: $style-book-title-offset;
    padding: $style-book-title-inner-offset;

    font-size: $style-book-title-font-size;

    border-bottom: 1px solid get-color('additional', 'light');
    background-color: $style-book-title-b-color;
}
