/* @theme: blank; */

.style-book-group-element {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 20px;
    }

    &__title {
        margin: 0 0 10px;

        font-size: $base-font-size + 1;
    }

    &__description {
        margin: 20px 0;
        padding: $offset-x;

        border-left: 5px solid get-color('primary', 'base');

        line-height: 1.7;

        strong,
        b {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        [class*="language-"] {
            padding: 1px 2px;
        }
    }

    &__item {
        margin-bottom: 25px;
        padding-left: 25px;
    }

    &__preview {
        margin-bottom: 10px;
        padding: 15px;

        border: 5px solid get-color('additional', 'base');

        .grid__row {
            line-height: 2.5;
            background: get-color('additional', 'base');

            .grid__column {
                overflow: hidden;
                white-space: nowrap;
                border: 1px solid get-color('additional', 'middle');
                background: get-color('additional', 'light');
            }
        }

        .custom-radio,
        .custom-checkbox {
            padding-right: $offset-y;
        }

    .color-palette {
        &:not(:first-child) {
            padding-top: 40px;
            margin-top: 40px;

            border-top: 1px solid get-color('additional', 'middle');
        }

        &__collection {
            font-size: 0;
        }

        &__palette-title {
            font-weight: bold;
            text-transform: uppercase;
            font-size: $base-font-size--m;

            margin: 0 0 10px;

            &--key {
                text-transform: none;
                font-weight: normal;
            }
        }

        &__color-box {
            display: inline-block;
            width: (100 / 3) * 1%;
            margin-bottom: 20px;
            padding: 0 5px;

            font-size: 12px;

            vertical-align: top;
        }

        &__usage {
            margin-top: 5px;
            margin-bottom: 0;
            display: block;
        }

        &__name {
            padding: 10px;
            margin-top: 5px;

            color: get-color('additional', 'ultra');

            &--title {
                font-weight: bold;
            }

            &--additional-ultra {
                color: get-color('primary', 'main');

                border: 1px solid get-color('additional', 'middle');
            }

            &--additional-base {
                color: get-color('primary', 'main');
            }

            &--additional-light {
                color: get-color('primary', 'main');
            }

            &--additional-middle {
                color: get-color('primary', 'main');
            }

            &--ui-error {
                color: get-color('primary', 'main');
            }

            &--ui-success {
                color: get-color('primary', 'main');
            }

            &--ui-warning {
                color: get-color('primary', 'main');
            }
        }
    }

    .example-typography {
        line-height: $base-line-height;
        margin: 0;

        &:after {
            margin-left: 10px;
            color: darken(get-color('additional', 'middle'), 10%);
        }
    }

    .base-font {
        &:after {
            content:'#{$base-font}';
            color: get-color('additional', 'dark');
        }
    }

    .base-line-height {
        &:after {
            content:'#{$base-line-height}';
            color: get-color('additional', 'dark');
        }
    }

    .base-font-icons {
        &:after {
            content:'#{$icon-font}';
            color: get-color('additional', 'dark');
        }
    }

    .root-font-size {
        font-size: $root-font-size;

        &:after {
            content:'(#{$root-font-size})';
        }
    }

    .base-font-size {
        font-size: $base-font-size;

        &:after {
            content:'(#{$base-font-size})';
        }

        &--s {
            font-size: $base-font-size--s;

            &:after {
                content:'(#{$base-font-size--s})';
            }
        }

        &--m {
            font-size: $base-font-size--m;

            &:after {
                content:'(#{$base-font-size--m})';
            }
        }

        &--l {
            font-size: $base-font-size--l;

            &:after {
                content:'(#{$base-font-size--l})';
            }
        }
    }
}

    &__code {
        display: block;

        padding: $offset-x;
        margin: 0;

        word-break: break-all;
        word-wrap: break-word;

        background-color: get-color('additional', 'base');

        white-space: pre-wrap;

        .token {
            &.tag {
                white-space: normal;
            }

            &.attr-name {
                white-space: nowrap;
            }
        }
    }
}
