/* @theme: blank; */

$dialog-min-height: 280px !default;
$dialog-widget-content-border-radius: 0 !default;

$dialog-title-font-size: 22px !default;

$dialog-widget-content-offset-inner: 0 40px !default;
$dialog-widget-content-bg-color: get-color('additional', 'ultra') !default;
$dialog-widget-content-border: 0 !default;
$dialog-widget-content-color: get-color('additional', 'dark') !default;

$dialog-titlebar-offset-inner: 40px 40px $offset-y !default;
$dialog-titlebar-font-weight: 400 !default;
$dialog-titlebar-color: get-color('additional', 'dark') !default;
$dialog-titlebar-background: transparent !default;
$dialog-titlebar-border: 0 !default;

$dialog-titlebar-close-border: 0 !default;
$dialog-titlebar-close-background: none !default;
$dialog-titlebar-close-color: get-color('additional', 'darker') !default;
$dialog-titlebar-close-opacity: .2 !default;
$dialog-titlebar-close-hover-opacity: .5 !default;

$dialog-titlebar-buttonpane-top: 5px !default;
$dialog-titlebar-buttonpane-right: 0 !default;

$dialog-buttonpane-offset-inner: 20px 40px 30px !default;

$dialog-action-wrapper-side-offset: $offset-x-m !default;

$dialog-draggable-handle-cursor: move !default;

$dialog-messages-offset: $offset-y-s 0 -#{$offset-y-s} 0 !default;
$dialog-notification-offset-inner: 8px 12px !default;
$dialog-notification-offset-inner: 8px 12px !default;

$dialog-icon-closethick-fa-icon-width: 1em !default;
$dialog-icon-closethick-fa-icon-height: 1em !default;
$dialog-icon-closethick-fa-icon: $fa-var-remove !default;
$dialog-icon-closethick-font-size: 21px !default;

$dialog-btn-success-background: get-color('primary', 'base') !default;
$dialog-btn-success-border: get-color('primary', 'base') !default;

// mobile-landscape
$dialog-widget-content-offset-inner-mobile-landscape: 0 $offset-x !default;

$dialog-titlebar-offset-inner-mobile-landscape: 40px $offset-x $offset-y !default;

$dialog-buttonpane-offset-inner-mobile-landscape: 20px $offset-x !default;
