/* @theme: default; */

$action-permissions-offset-right: 24px !default;
$action-permissions-offset-left: $permissions-grid-first-entity-name-width + 5px !default;
$action-permissions-item-float: left !default;
$action-permissions-item-width: 209px !default;
$action-permissions-item-offset-right: $offset-x - 1px !default;
$action-permissions-item-wrapper-max-width: 100% !default;
$action-permissions-item-wrapper-offset-inner-right: $offset-x-m + 2px !default;
$action-permissions-item-wrapper-dropdown-toggle-right: 0 !default;
$action-permissions-item-wrapper-toggle-icon-right: 0 !default;
$action-permissions-item-wrapper-toggle-icon-offset-top: $offset-y-m !default;
$action-permissions-item-wrapper-toggle-icon-offset-left: 0 !default;
$action-permissions-item-wrapper-no-access-opacity: .4 !default;
$action-permissions-item-wrapper-changed-background: get-color('additional', 'base') !default;
$action-permissions-item-wrapper-changed-box-shadow: 0 0 0 3px get-color('additional', 'base') !default;
$action-permissions-dropdown-menu-top: -7px !default;
$action-permissions-dropdown-menu-right: 100% !default;
$action-permissions-dropdown-menu-left: auto !default;
$action-permissions-dropdown-offset-inner: $offset-y-m 12px !default;
$action-permissions-dropdown-min-width: 0 !default;
$action-permissions-dropdown-white-space: nowrap !default;
$action-permissions-dropdown-z-index: z('fixed') - 1 !default;
