/* @theme: default; */

$address-list-type-color: get-color('additional', 'middle') !default;

$address-list-button-color: get-color('additional', 'middle') !default;
$address-list-button-border: 1px solid get-color('additional', 'middle') !default;
$address-list-button-hover-color: get-color('ui', 'normal') !default;
