/* @theme: default; */

@use 'sass:color';

$role-capability-select-al-disabled-color: color.scale(get-color('neutral', 'grey2'), $alpha: -14%) !default;

$role-capability-select-al-label-changed-background-color: get-color('neutral', 'grey2') !default;
$role-capability-select-al-label-changed-box-shadow: 0 0 0 3px get-color('neutral', 'grey2') !default;
