/* @theme: default; */

$customer-profile-display: grid !default;
$customer-profile-gap: spacing('lg') !default;

$customer-profile-box-display: grid !default;
$customer-profile-box-grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !default;
$customer-profile-box-gap: spacing('lg') !default;
$customer-profile-email-gap: 5px !default;

$customer-profile-container-display: grid !default;
$customer-profile-container-gap: spacing('base') !default;

$customer-profile-gap: 24px !default;
$customer-profile-data-border: 1px solid get-color('neutral', 'grey1') !default;

$customer-profile-controls-wrapper-display: inline-flex !default;
$customer-profile-controls-wrapper-offset-bottom: 20px !default;
$customer-profile-controls-wrapper-justify-content: space-between !default;

$customer-profile-controls-list-line-height: 26px !default;
$customer-profile-controls-list-style: none !default;

$customer-profile-mobile-controls-wrapper-display: block !default;

$customer-profile-mobile-controls-offset-top: 10px !default;
$customer-profile-mobile-controls-text-align: left !default;

$customer-profile-offset-inner: 12px 0 0 35px !default;
$customer-profile-width: 100% !default;
$customer-profile-border-top: 1px solid get-color('neutral', 'grey1') !default;

$customer-profile-title-text-font-size: 18px !default;
$customer-profile-title-text-line-height: 1.5 !default;
$customer-profile-title-text-font-weight: 600 !default;

$customer-profile-page-title-flex-grow: 1 !default;
$customer-profile-page-title-margin-bottom: 10px !default;

$customer-profile-email-block-margin: 10px;

$customer-profile-inline-button-margin-top: -5px;
$customer-profile-inline-button-padding-inline: 10px;
