// @theme: default

$customer-user-role-edit-buttons-top-position-top: 128px !default;
$customer-user-role-edit-buttons-top-position-offset-top: -48px !default;

// Tablet
$customer-user-role-edit-buttons-top-position-offset-top-tablet: -54px !default;
