/* @theme: default; */

$customer-page-title-wrapper-align-items: flex-start !default;
$customer-page-title-wrapper-margin-bottom: spacing('lg') !default;
$customer-page-title-wrapper-gap: spacing('md') !default;

$customer-page-title--has-actions-display: block !default;
$customer-page-title--has-actions-align-self: center !default;

$customer-page-title-display: inline !default;
$customer-page-title-vertical-align: middle !default;

$customer-page-title-text-vertical-align: initial !default;

$customer-page-title-actions-width-mobile: auto !default;
