/* @theme: default; */

$customer-profile-container-offset-top: 24px !default;
$customer-profile-container-display: flex !default;

$customer-profile-data-offset-inner: 12px 0 50px 35px !default;
$customer-profile-data-width: 100% !default;
$customer-profile-data-border: 1px solid get-color('additional', 'light') !default;

$customer-profile-controls-wrapper-display: inline-flex !default;
$customer-profile-controls-wrapper-offset-bottom: 20px !default;
$customer-profile-controls-wrapper-justify-content: space-between !default;

$customer-profile-controls-list-line-height: 26px !default;
$customer-profile-controls-list-style: none !default;

$customer-profile-mobile-offset-top: 24px !default;
$customer-profile-mobile-controls-wrapper-display: block !default;

$customer-profile-mobile-controls-offset-top: 10px !default;
$customer-profile-mobile-controls-text-align: left !default;

$customer-profile-offset-inner: 12px 0 0 35px !default;
$customer-profile-width: 100% !default;
$customer-profile-border-top: 1px solid get-color('additional', 'light') !default;

$customer-profile-mobile-data-offset-inner: 12px 0 20px 0 !default;
$customer-profile-container-mobile-big-display: block !default;
$customer-profile-mobile-big-border-top: 0 !default;
