/* @theme: default; */

$form-row-height-normalize-min-height: 44px !default;
$form-row-height-normalize-display: flex !default;
$form-row-height-normalize-align-items: center !default;
$form-row-height-normalize-line-height: 1 !default;
