/* @theme: default; */

$info-list-display: grid !default;
$info-list-gap: spacing('base') !default;

$info-list-item-control-display: grid !default;
$info-list-item-control-grid-template-rows: auto 1fr !default;
$info-list-item-control-grid-template-columns: auto 1fr !default;
$info-list-item-control-gap: 0 spacing('lg') !default;
$info-list-item-control-align-items: end !default;

$info-list-control-grid-column: 2 !default;
$info-list-control-grid-row: #{'1 / 3'} !default;

$info-list-name-color: get-color('text', 'secondary') !default;

$info-list-desc-font-weight: font-weight('semi-bold') !default;

$info-list-desc-status-display: flex !default;
$info-list-desc-status-flex-wrap: wrap !default;
$info-list-desc-status-gap: spacing('xs') !default;
$info-list-desc-status-padding-block: spacing('xs') !default;
