// @theme; default;

$map-popover-width: 430px !default;
$map-popover-height: 290px !default;
$map-popover-height-border: 0 !default;
$map-popover-height-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2) !default;

$map-popover-content-inner-offset: 20px 15px;
$map-popover-content-width: 100% !default;
$map-popover-content-height: 100% !default;

$map-popover-frame-width: 100% !default;
$map-popover-frame-height: 100% !default;

$map-popover-frame-map-box-height: 100% !default;

$map-popover-frame-map-unknown-inner-offset-tablet-small: $map-popover-content-inner-offset !default;
