/* @theme: default; */

$registration-instructions-background: null !default;
$registration-instructions-offset: spacing('base') 0 0 0 !default;
$registration-instructions-inner-offset: 0 !default;

$registration-instructions-text-align: left !default;
$registration-instructions-font-size: $base-font-size--s !default;
