/* @theme: default; */

$single-form-page-width: 400px !default;
$single-form-page-bg: null !default;
$single-form-page-offset-outer: 0 auto !default;
$single-form-page-form-title-align: center !default;
$single-form-page-form-title-flex: 1 !default;

$single-form-form-padding-top: spacing('base') !default;

$single-form-page-grid-gap: $base-ui-grid-row-gap spacing('base') !default;

$single-form-page-offset-inner-tablet: spacing('lg') 0 !default;

$single-form-page-width-mobile: 100% !default;
$single-form-actions-grid-auto-column-mobile: auto !default;

$single-form-required-label-padding: spacing('base') 0 !default;

$single-form-form-title-wrapper-display: flex !default;
$single-form-form-title-wrapper-margin-bottom: spacing('base') !default;
$single-form-form-title-wrapper-align-items: center !default;

$single-form-btn-back-position: relative !default;
$single-form-btn-back-left: 32px !default;
$single-form-btn-back-margin-left: -44px !default;

$single-form-link-wrapper-min-height: 44px !default;
$single-form-link-wrapper-display: flex !default;
$single-form-link-wrapper-align-items: center !default;
$single-form-link-wrapper-justify-content: center !default;
$single-form-link-wrapper-color: get-color('text', 'secondary') !default;
$single-form-link-wrapper-font-size: $base-font-size !default;
$single-form-link-wrapper-text-align: center !default;
$single-form-link-wrapper-margin-top: spacing('sm') !default;
$single-form-link-wrapper-a-padding: spacing('xs') !default;

$single-form-subtitle-color: get-color('text', 'secondary') !default;
$single-form-subtitle-text-align: center !default;

$single-form-action-wrapper-display: grid !default;
$single-form-action-wrapper-grid-auto-columns: minmax(0, 1fr) !default;
$single-form-action-wrapper-grid-auto-flow: column !default;
$single-form-action-wrapper-gap: $base-spacing !default;
