/* @theme: blank; */

:root {
    $paletteIndex: 0;
    $keyIndex: 0;

    @each $palette, $colors in $color-palette {
        $keyIndex: 0;

        --style-book-color-palette-#{$paletteIndex}: #{$palette};

        @each $key, $color in $colors {
            --style-book-color-#{$palette}-#{$keyIndex}: #{$key};
            --style-book-color-#{$palette}-#{$key}: #{$color};
            $keyIndex: $keyIndex + 1;
        }

        $paletteIndex: $paletteIndex + 1;
    }
}
