/* @theme: blank; */

.ui-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: z('popup') + 1;

    display: flex;
    flex-flow: row;
    min-height: $dialog-min-height !important;

    font-family: $base-font;

    .ui-dialog-inner-wrapper {
        // inner-wrapper fixes max-height for flex container in IE11 https://jsfiddle.net/d158647x/
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &.ui-widget-content,
    .ui-widget-content {
        max-width: 100%;

        border: $dialog-widget-content-border;
        color: $dialog-widget-content-color;
        background-color: $dialog-widget-content-bg-color;
    }

    .ui-widget-content {
        padding: $dialog-widget-content-offset-inner;

        overflow-y: auto;
    }

    .ui-dialog-title {
        font-size: $dialog-title-font-size;
    }

    .ui-dialog-titlebar {
        padding: $dialog-titlebar-offset-inner;

        font-weight: $dialog-titlebar-font-weight;

        border: $dialog-titlebar-border;
        background: $dialog-titlebar-background;
        color: $dialog-titlebar-color;

        flex-shrink: 0;

        &.ui-draggable-handle {
            cursor: $dialog-draggable-handle-cursor;
        }
    }

    .ui-dialog-titlebar-close {
        border: $dialog-titlebar-close-border;

        background: $dialog-titlebar-close-background;
        color: rgba($dialog-titlebar-close-color, $dialog-titlebar-close-opacity);

        cursor: $dialog-buttons-inner-cursor;

        &:hover {
            color: rgba($dialog-titlebar-close-color, $dialog-titlebar-close-hover-opacity)
        }

        .ui-icon-closethick {
            text-indent: 0;

            @include fa-icon($dialog-icon-closethick-fa-icon);

            &:before {
                display: inline-block;
                vertical-align: middle;
                width: $dialog-icon-closethick-fa-icon-width;
                height: $dialog-icon-closethick-fa-icon-height;

                font-weight: normal;
                font-style: normal;
                font-size: $dialog-icon-closethick-font-size;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;

                word-wrap: normal;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                font-feature-settings: 'liga';
            }
        }

        .ui-button-text {
            font-size: 0;
            text-indent: -999rem;
        }
    }

    .ui-dialog-titlebar-buttonpane {
        position: absolute;
        top: $dialog-titlebar-buttonpane-top;
        right: $dialog-titlebar-buttonpane-right;
    }

    .ui-dialog-buttonpane {
        padding: $dialog-buttonpane-offset-inner;

        flex-shrink: 0;

        overflow: visible;

        .pull-right .action-wrapper {
            margin-left: $dialog-action-wrapper-side-offset;
        }

        .pull-left .action-wrapper {
            margin-right: $dialog-action-wrapper-side-offset;
        }

        .btn-success {
            background: $dialog-btn-success-background;
            border-color: $dialog-btn-success-border;
        }
    }

    .ui-dialog-messages {
        margin: $dialog-messages-offset;

        > [class*='notification-flash'] {
            padding: $dialog-notification-offset-inner;
        }
    }

    .ui-widget-content {
        border-radius: $dialog-widget-content-border-radius;
    }

    &--frontend {
        &-fullscreen {
            position: $dialog-frontend-fullscreen-position;
            padding-top: $dialog-frontend-fullscreen-offset-inner-top;

            .ui-dialog-titlebar,
            .ui-dialog-buttonpane {
                display: $dialog-frontend-fullscreen-titlebar-display;
            }

            .ui-widget-content {
                padding: $dialog-frontend-fullscreen-content-offset-inner;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .ui-dialog {
        .ui-dialog-titlebar {
            padding: $dialog-titlebar-offset-inner-mobile-landscape;
        }

        .ui-widget-content {
            padding: $dialog-widget-content-offset-inner-mobile-landscape;
        }

        .ui-dialog-buttonpane {
            padding: $dialog-buttonpane-offset-inner-mobile-landscape;
        }

        &--frontend {
            &-fullscreen {
                .ui-widget-content {
                    padding: $dialog-frontend-fullscreen-content-offset-inner-mobile-landscape;
                }
            }
        }
    }
}
