// @theme: blank

.ui-widget-overlay {
    z-index: z('popup');

    background: get-color('additional', 'darker');

    opacity: .5;
}

.ui-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: z('popup') + 1;

    display: flex;
    flex-flow: column;
    max-height: 100%;
    min-height: $dialog-min-height !important;

    font-family: $base-font;

    border-radius: $dialog-border-radius;

    &.ui-widget-content,
    .ui-widget-content {
        max-width: 100%;

        border: $dialog-widget-content-border;
        color: $dialog-widget-content-color;
    }

    .ui-widget-content {
        padding: $dialog-widget-content-offset-inner;

        overflow-y: auto;
        flex-shrink: 5;
    }

    .ui-dialog-title {
        font-size: $dialog-title-font-size;
    }

    .ui-dialog-titlebar {
        padding: $dialog-titlebar-offset-inner;

        font-weight: $dialog-titlebar-font-weight;

        border: $dialog-titlebar-border;
        background: $dialog-titlebar-background;
        color: $dialog-titlebar-color;

        &.ui-draggable-handle {
            cursor: $dialog-draggable-handle-cursor;
        }
    }

    .ui-dialog-titlebar-close {
        border: $dialog-titlebar-close-border;

        background: $dialog-titlebar-close-background;
        color: $dialog-titlebar-close-color;

        opacity: $dialog-titlebar-close-opacity;

        &:hover {
            opacity: $dialog-titlebar-close-hover-opacity;
        }

        .ui-icon-closethick {
            text-indent: 0;

            @include fa-icon($dialog-icon-closethick-fa-icon);

            &:before {
                display: inline-block;
                vertical-align: middle;
                width: $dialog-icon-closethick-fa-icon-width;
                height: $dialog-icon-closethick-fa-icon-height;

                font-weight: normal;
                font-style: normal;
                font-size: $dialog-icon-closethick-font-size;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;

                word-wrap: normal;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                font-feature-settings: 'liga';
            }
        }

        .ui-button-text {
            font-size: 0;
            text-indent: -999rem;
        }
    }

    .ui-dialog-titlebar-buttonpane {
        position: absolute;
        top: $dialog-titlebar-buttonpane-top;
        right: $dialog-titlebar-buttonpane-right;
    }

    .ui-dialog-buttonpane {
        padding: $dialog-buttonpane-offset-inner;


        .pull-right .action-wrapper {
            margin-left: $dialog-action-wrapper-side-offset;
        }

        .pull-left .action-wrapper {
            margin-right: $dialog-action-wrapper-side-offset;
        }

        .btn-success {
            background: $dialog-btn-success-background;
            border-color: $dialog-btn-success-border;
        }
    }

    .ui-dialog-messages {
        margin: $dialog-messages-offset;

        > [class*='notification-flash'] {
            padding: $dialog-notification-offset-inner;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .ui-dialog {
        .ui-dialog-titlebar {
            padding: $dialog-titlebar-offset-inner-mobile-landscape;
        }

        .ui-widget-content {
            padding: $dialog-widget-content-offset-inner-mobile-landscape;
        }

        .ui-dialog-buttonpane {
            padding: $dialog-buttonpane-offset-inner-mobile-landscape;
        }
    }
}
