/* @theme: default; */

.main-menu-column {
    position: $main-menu-column-position;

    min-width: $main-menu-column-min-width;

    font-size: $base-font-size;

    &__list {
        &,
        &-left,
        &-right {
            list-style-type: none;
        }
    }

    &__list &__list {
        margin-top: $main-menu-column-item-offset-top;
        padding-inline-start: $main-menu-column-list-list-padding-inline-start;
    }

    &--splited &__list-left,
    &--splited &__list-right {
        float: $main-menu-column-splited-inner-left-float;

        width: $main-menu-column-splited-inner-left-width;
        vertical-align: $main-menu-column-splited-inner-left-vertical-align;
    }

    &__title {
        margin: $main-menu-column-title-margin;

        text-transform: $main-menu-column-title-text-transform;

        color: $main-menu-column-title-color;
    }

    &__sale-title {
        line-height: $main-menu-column-sale-title-line-height;
        font-weight: $main-menu-column-sale-title-font-weight;
        color: $main-menu-column-sale-title-color;
        margin-bottom: $main-menu-column-sale-title-margin-bottom;
        text-decoration: $main-menu-column-sale-title-text-decoration;
    }

    &__item:not(:first-child) {
        margin-top: $main-menu-column-item-offset-top;
    }

    &__item-img {
        display: $main-menu-column-image-display;

        max-width: $main-menu-column-image-max-width;
        height: $main-menu-column-image-height;
    }

    &__link {
        display: $main-menu-column-link-display;
        width: 100%;
        align-items: center;
        justify-content: center;
        justify-content: flex-start;
        text-decoration: none;
        gap: 8px;
        max-width: $main-menu-column-link-max-width;
        white-space: $main-menu-column-link-white-space;
        word-wrap: $main-menu-column-link-word-wrap;
    }

    &__item &__link {
        color: $main-menu-column-link-color;
    }

    &__image-link {
        display: $main-menu-column-image-link-display;
    }
}

@at-root {
    .main-menu-stack-mode {
        .main-menu-column {
            padding-block-end: spacing('sm');

            &__sale-title {
                min-height: 44px;
                display: grid;
                align-items: center;
                padding: 0 0 0 40px;
            }

            &__item {
                margin: 0;
                padding: 0 0 0 40px;

                @media (hover: hover) {
                    &:not(&--image):hover {
                        background: $main-menu-multi-item-background-hover;
                    }
                }

                &--image {
                    padding: 0 spacing('lg');
                }
            }

            &__link {
                color: $main-menu-multi-link-color;
                height: 44px;
            }
        }
    }
}

@include breakpoint('desktop-small') {
    .main-menu-column {
        &__list {
            display: $main-menu-column-inner-display;

            @include clearfix();
        }

        &--splited {
            min-width: $main-menu-column-splited-min-width;

            white-space: $main-menu-column-splited-white-space;
        }

        &__title {
            font-weight: $main-menu-column-title-desktop-font-weight;
        }
    }
}

@include breakpoint('tablet') {
    .main-menu-column {
        padding: $main-menu-column-tablet-offset-inner;

        &:not(:first-child) {
            border-top: $main-menu-column-tablet-border-top;
        }

        &::before {
            border-left: $main-menu-column-tablet-before-border-left;
        }

        &--splited &__list-left,
        &--splited &__list-right {
            float: $main-menu-column-tablet-splited-inner-left-float;

            width: $main-menu-column-tablet-splited-inner-left-width;
            margin-bottom: $main-menu-column-tablet-splited-inner-left-offset-bottom;
        }

        &__list {
            margin-bottom: $main-menu-column-inner-tablet-offset-bottom;
        }

        &__title {
            margin-bottom: $main-menu-column-title-tablet-offset-bottom;
        }
    }
}

@include breakpoint('mobile-big') {
    .main-menu-stack-mode {
        .main-menu-column {
            &__item,
            &__sale-title {
                padding: 0 spacing('base');
            }
        }
    }
}
