/* @theme: default; */

.main-menu-outer {
    &__container {
        display: $main-menu-outer-container-desktop-display;

        justify-content: $main-menu-outer-container-desktop-justify-content;
    }
}

.main-menu-stack-mode {
    --btn-outlined-inverse-color: $main-menu-stacked-btn-colors;
    --btn-outlined-inverse-hover-color: $main-menu-stacked-btn-colors;
    --btn-outlined-inverse-active-color: $main-menu-stacked-btn-colors;
    --btn-outlined-inverse-focus-color: $main-menu-stacked-btn-colors;

    .main-menu-outer {
        &__container {
            display: block;

            overflow: hidden;
        }
    }
}

@include breakpoint('tablet') {
    .main-menu-outer {
        &__container {
            display: block;

            overflow: hidden;
        }

        &__text {
            display: inline-block;
            vertical-align: middle;
        }

        &.expanded {
            .main-menu__categories {
                display: block;
            }
        }
    }

    .fullscreen-mode {
        .main-menu-outer {
            display: block;
        }
    }
}
