/* @theme: default; */

.main-menu-columns {
    display: $main-menu-columns-display;
    gap: $main-menu-columns-gap;

    &__container {
        padding: $main-menu-columns-container-padding;
    }

    &__title {
        margin-bottom: $main-menu-columns-title-margin-bottom;
    }

    &__title-link {
        line-height: $main-menu-columns-title-link-line-height;
        font-weight: $main-menu-columns-title-link-font-weight;
        color: $main-menu-columns-title-link-color;
        text-decoration: $main-menu-columns-title-link-text-decoration;

        &:hover {
            color: $main-menu-columns-title-link-hover-color;
            text-decoration: $main-menu-columns-title-link-hover-text-decoration;
        }
    }

    &__title-inner {
        @include ellipsis();
    }

    &--single {
        padding: $main-menu-columns-single-inner-offset;
    }
}

@at-root {
    .main-menu-stack-mode {
        .main-menu-columns {
            padding: 0;

            flex-direction: column;

            &__title {
                padding-block: 0;

                @include safe-area-property-left(
                    padding-inline-start,
                    spacing('lg')
                );

                padding-inline-end: 0;
                margin-bottom: 0;

                @media (hover: hover) {
                    &:not(&--image):hover {
                        background: $main-menu-columns-item-background-hover;
                    }
                }
            }

            &__title-link {
                min-height: 44px;
                display: grid;
                align-items: center;
                color: $main-menu-columns-stack-mode-title-link-color;
            }

            &__container {
                padding: 0;
            }
        }
    }
}

@include breakpoint('tablet') {
    .main-menu-columns {
        display: $main-menu-columns-display-tablet;

        @include safe-area-offset(padding, $main-menu-columns-inner-offset-tablet);
    }
}

@include breakpoint('mobile-big') {
    .main-menu-stack-mode {
        .main-menu-columns {
            &__title {
                padding: 0 spacing('base');
                margin-bottom: 0;
            }
        }
    }
}
