/* @theme: default; */

.main-menu-column {
    position: $main-menu-column-position;

    min-width: $main-menu-column-min-width;

    font-size: $base-font-size;

    &::before {
        position: $main-menu-column-before-position;

        top: $main-menu-column-before-top;
        bottom: $main-menu-column-before-bottom;
        left: $main-menu-column-before-left;

        display: $main-menu-column-before-display;

        width: $main-menu-column-before-width;

        content: $main-menu-column-before-content;

        border-left: $main-menu-column-before-border-left;
    }

    &:first-child {
        padding-right: $main-menu-column-offset-inner-right;

        &::before {
            display: $main-menu-column-first-child-before-display;
        }
    }

    &__inner {
        &,
        &-left,
        &-right {
            list-style-type: none;
        }
    }

    &--splited &__inner-left,
    &--splited &__inner-right {
        float: $main-menu-column-splited-inner-left-float;

        width: $main-menu-column-splited-inner-left-width;
        vertical-align: $main-menu-column-splited-inner-left-vertical-align;
    }

    &__title {
        margin-bottom: $main-menu-column-title-offset-bottom;

        text-transform: $main-menu-column-title-text-transform;

        color: $main-menu-column-title-color;
    }

    &__item,
    &__subitem {
        margin-bottom: $main-menu-column-item-offset-bottom;
    }

    &__subitem {
        padding-left: $main-menu-column-subitem-offset-inner-left;
    }

    &__image {
        display: $main-menu-column-image-display;

        max-width: $main-menu-column-image-max-width;
        height: $main-menu-column-image-height;
    }

    &__link {
        display: $main-menu-column-link-display;

        max-width: $main-menu-column-link-max-width;

        white-space: $main-menu-column-link-white-space;
        word-wrap: $main-menu-column-link-word-wrap;
    }

    &__item &__link {
        color: $main-menu-column-link-color;
    }

    &__subitem &__link {
        color: $main-menu-column-link-color;
    }
}

@include breakpoint('desktop') {
    .main-menu-column {
        &:not(:first-child) {
            padding-left: $main-menu-column-offset-inner-left;
            padding-right: $main-menu-column-offset-inner-right;
        }

        &:last-child {
            padding-right: $main-menu-column-last-child-offset-inner-right;
        }

        &__inner {
            display: $main-menu-column-inner-display;

            @include clearfix();
        }

        &--splited {
            min-width: $main-menu-column-splited-min-width;

            white-space: $main-menu-column-splited-white-space;
        }
    }
}

@include breakpoint('tablet') {
    .main-menu-column {
        padding: $main-menu-column-tablet-offset-inner;

        border-top: $main-menu-column-tablet-border-top;

        &::before {
            border-left: $main-menu-column-tablet-before-border-left;
        }

        &--splited &__inner-left,
        &--splited &__inner-right {
            float: $main-menu-column-tablet-splited-inner-left-float;

            width: $main-menu-column-tablet-splited-inner-left-width;
            margin-bottom: $main-menu-column-tablet-splited-inner-left-offset-bottom;
        }

        &__inner {
            margin-bottom: $main-menu-column-inner-tablet-offset-bottom;
        }

        &__title {
            margin-bottom: $main-menu-column-title-tablet-offset-bottom;
        }
    }
}
