/* @theme: default; */

.main-menu {
    &__link {
        text-transform: $main-menu-link-text-transform;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    &__list {
        @include list-normalize();
        @include clearfix();

        &--nested {
            display: block;

            font-size: 0;
        }
    }

    &__item {
        &--nested {
            position: relative;

            display: inline-block;

            font-size: $base-font-size;

            vertical-align: middle;

            background: $main-menu-item-nested-background;
        }
    }

    &__sublist {
        display: none;
    }

    &__button-arrow {
        position: relative;
        z-index: z('base');
        width: $main-menu-button-arrow-width;
        padding: $main-menu-button-arrow-inner-offset;
        margin-left: $main-menu-button-arrow-offset;

        font-size: inherit;
        cursor: pointer;
        text-align: $main-menu-button-arrow-text-align;
    }
}

@include only-desktop() {
    .main-menu {
        &__item {
            &.show,
            &:hover {
                background: $main-menu-item-hover-only-desktop-background;
            }
        }

        &__link {
            white-space: nowrap;

            position: relative;
            z-index: z('base');
        }
    }
}

@include breakpoint('desktop') {
    .main-menu {
        max-height: $main-menu-item-height;

        display: flex;

        &-column__title {
            font-weight: $main-menu-column-title-desktop-font-weight;
        }

        &__view-parent {
            display: none;
        }

        &__item {
            min-height: $main-menu-item-height;

            &--nested {
                padding: $main-menu-item--nested;
            }
        }

        &__link {
            min-height: $main-menu-item-height;

            display: inline-block;
        }

        &__sublist-container {
            display: none;

            background: $main-menu-sublist-container-background;
            box-shadow: $main-menu-sublist-container-shadow;
        }

        &__item--floated-dropdown,
        &__item--centered-dropdown {
            position: relative;
        }

        &__item--floated-dropdown .main-menu__sublist-container {
            right: auto;
        }

        &__item--centered-dropdown .main-menu__sublist-container {
            left: calc(-50% - 34px);
            right: auto;
        }

        > .main-menu__item {
            > .main-menu__link {
                font-weight: $main-menu-item-first-level-desktop-font-weight;
            }
        }

        .mobile-version & {
            &__item {
                &.show {
                    background: $main-menu-item-show-mobile-version-background;
                }
            }
        }
    }
}
