services:
    # Writer
    oro_customer.importexport.delete_aware.writer:
        class: Oro\Bundle\CustomerBundle\ImportExport\Writer\DeleteAwareWriter
        parent: oro_integration.writer.persistent_batch_writer

    # Data converter
    oro_customer.importexport.data_converter.customer:
        parent: oro_importexport.data_converter.configurable

    oro_customer.importexport.event_listener.customer_headers:
        class: Oro\Bundle\CustomerBundle\ImportExport\EventListener\CustomerHeadersListener
        arguments:
            - '@oro_entity.helper.field_helper'
        tags:
            - { name: kernel.event_listener, event: oro.import_export.after_load_entity_rules_and_backend_headers, method: afterLoadEntityRulesAndBackendHeaders }

    # Customer Export
    oro_customer.importexport.processor.export.customer:
        public: false
        parent: oro_importexport.processor.export_abstract
        calls:
            - [setDataConverter, ['@oro_customer.importexport.data_converter.customer']]
        tags:
            - { name: oro_importexport.processor, type: export, entity: 'Oro\Bundle\CustomerBundle\Entity\Customer', alias: oro_customer_customer }

    # Customer Import
    oro_customer.importexport.strategy.customer.add_or_replace:
        class: Oro\Bundle\CustomerBundle\ImportExport\Strategy\CustomerAddOrReplaceStrategy
        parent: oro_importexport.strategy.configurable_add_or_replace

    oro_customer.importexport.processor.import.customer:
        parent: oro_importexport.processor.import_abstract
        calls:
            - [setDataConverter, ['@oro_customer.importexport.data_converter.customer']]
            - [setStrategy, ['@oro_customer.importexport.strategy.customer.add_or_replace']]
        tags:
            - name: oro_importexport.processor
              type: import
              entity: 'Oro\Bundle\CustomerBundle\Entity\Customer'
              alias: oro_customer_customer
            - name: oro_importexport.processor
              type: import_validation
              entity: 'Oro\Bundle\CustomerBundle\Entity\Customer'
              alias: oro_customer_customer

    # Customer Data Normalizer
    oro_customer.importexport.serializer.normalizer.customer:
        class: Oro\Bundle\CustomerBundle\ImportExport\Serializer\Normalizer\CustomerNormalizer
        parent: oro_importexport.serializer.configurable_entity_normalizer
        tags:
            - { name: oro_importexport.normalizer }

    # Customer User Data Converter
    oro_customer.importexport.data_converter.customer_user:
        parent: oro_importexport.data_converter.configurable

    oro_customer.importexport.event_listener.customer_user_headers:
        class: Oro\Bundle\CustomerBundle\ImportExport\EventListener\CustomerUserHeadersListener
        arguments:
            - '@oro_entity.helper.field_helper'
        tags:
            - { name: kernel.event_listener, event: oro.import_export.after_load_entity_rules_and_backend_headers, method: afterLoadEntityRulesAndBackendHeaders }

    # Customer User Normalizer
    oro_customer.importexport.serializer.normalizer.customer_user:
        class: Oro\Bundle\CustomerBundle\ImportExport\Serializer\Normalizer\CustomerUserNormalizer
        parent: oro_importexport.serializer.configurable_entity_normalizer
        tags:
            - { name: oro_importexport.normalizer }

    # Customer User Export
    oro_customer.importexport.processor.export.customer_user:
        public: false
        parent: oro_importexport.processor.export_abstract
        calls:
            - [setDataConverter, ['@oro_customer.importexport.data_converter.customer_user']]
        tags:
            - name: oro_importexport.processor
              type: export
              entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerUser'
              alias: oro_customer_customer_user

    # Customer User Import
    oro_customer.importexport.processor.import.customer_user:
        parent: oro_importexport.processor.import_abstract
        calls:
            - [setDataConverter, ['@oro_customer.importexport.data_converter.customer_user']]
            - [setStrategy, ['@oro_customer.importexport.strategy.customer_user.add_or_replace']]
        tags:
            - name: oro_importexport.processor
              type: import
              entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerUser'
              alias: oro_customer_customer_user
            - name: oro_importexport.processor
              type: import_validation
              entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerUser'
              alias: oro_customer_customer_user

    # Customer User Import Strategy
    oro_customer.importexport.strategy.customer_user.add_or_replace:
        class: Oro\Bundle\CustomerBundle\ImportExport\Strategy\CustomerUserAddOrReplaceStrategy
        public: false
        parent: oro_importexport.strategy.configurable_add_or_replace
        calls:
            - [setConfigManager, ['@oro_config.manager']]

    oro_customer.importexport.customer_user.writer:
        class: Oro\Bundle\CustomerBundle\ImportExport\Writer\CustomerUserWriter
        public: false
        parent: oro_integration.writer.persistent_batch_writer

    # Customer User Import Listener
    oro_customer.importexport.strategy.event_listener.import_customer_user_listener:
        class: 'Oro\Bundle\CustomerBundle\ImportExport\Strategy\EventListener\ImportCustomerUserListener'
        arguments:
            - '@doctrine'
            - '@oro_customer_user.manager'
            - '@translator'
            - '@oro_importexport.strategy.import.helper'
        tags:
            - name: kernel.event_listener
              event: oro_importexport.strategy.process_after
              method: onProcessAfter

    #Fixtures
    oro_customer.importexport.template_fixture.customer_user:
        class: Oro\Bundle\CustomerBundle\ImportExport\TemplateFixture\CustomerUserFixture
        tags:
            - { name: oro_importexport.template_fixture }

    oro_customer.importexport.processor.export_template.customer_user:
        parent: oro_importexport.processor.export_abstract
        calls:
            - [setDataConverter, ['@oro_customer.importexport.data_converter.customer_user']]
        tags:
            - name: oro_importexport.processor
              type: export_template
              entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerUser'
              alias: oro_customer_customer_user

    # Customer Fixtures
    oro_customer.importexport.template_fixture.customer:
        public: false
        class: Oro\Bundle\CustomerBundle\ImportExport\TemplateFixture\CustomerFixture
        arguments:
            - '@oro_entity_extend.enum_value_provider'
        tags:
            - { name: oro_importexport.template_fixture }

    oro_customer.importexport.processor.export_template.customer:
        public: false
        parent: oro_importexport.processor.export_abstract
        calls:
            - [setDataConverter, ['@oro_customer.importexport.data_converter.customer']]
        tags:
            - { name: oro_importexport.processor, type: export_template, entity: 'Oro\Bundle\CustomerBundle\Entity\Customer', alias: oro_customer_customer }

    oro_customer.importexport.configuration_provider.customer:
        class: 'Oro\Bundle\CustomerBundle\ImportExport\Configuration\CustomerImportExportConfigurationProvider'
        tags:
            - { name: oro_importexport.configuration, alias: oro_customer }

    # Customer Address Import-Export services
    oro_customer.importexport.configuration_provider.customer_address:
        class: 'Oro\Bundle\CustomerBundle\ImportExport\Configuration\CustomerAddressImportExportConfigurationProvider'
        arguments:
            - '@translator'
        tags:
            - { name: oro_importexport.configuration, alias: oro_customer }

    oro_customer.importexport.template_fixture.customer_address:
        class: Oro\Bundle\CustomerBundle\ImportExport\TemplateFixture\CustomerAddressFixture
        tags:
            - { name: oro_importexport.template_fixture }

    oro_customer.importexport.processor.export_template.customer_address:
        parent: oro_importexport.processor.export_abstract
        calls:
            - [ setDataConverter, [ '@oro_customer.importexport.data_converter.customer_address' ] ]
        tags:
            -   name: oro_importexport.processor
                type: export_template
                entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerAddress'
                alias: oro_customer_customer_address

    oro_customer.importexport.normalizer.customer_address:
        class: Oro\Bundle\CustomerBundle\ImportExport\Serializer\Normalizer\CustomerAddressNormalizer
        parent: oro_importexport.serializer.configurable_entity_normalizer
        tags:
            - { name: oro_importexport.normalizer }

    oro_customer.importexport.data_converter.customer_address:
        class: 'Oro\Bundle\CustomerBundle\ImportExport\DataConverter\AddressDataConverter'
        parent: oro_importexport.data_converter.configurable

    oro_customer.importexport.strategy.customer_address.add_or_replace:
        class: Oro\Bundle\CustomerBundle\ImportExport\Strategy\TypedAddressAddOrReplaceStrategy
        parent: oro_importexport.strategy.configurable_add_or_replace

    oro_customer.importexport.processor.import.customer_address:
        parent: oro_importexport.processor.import_abstract
        calls:
            - [ setDataConverter, [ '@oro_customer.importexport.data_converter.customer_address' ] ]
            - [ setStrategy, [ '@oro_customer.importexport.strategy.customer_address.add_or_replace' ] ]
        tags:
            -   name: oro_importexport.processor
                type: import
                entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerAddress'
                alias: oro_customer_customer_address
            -   name: oro_importexport.processor
                type: import_validation
                entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerAddress'
                alias: oro_customer_customer_address

    oro_customer.importexport.processor.export.customer_address:
        parent: oro_importexport.processor.export_abstract
        calls:
            - [ setDataConverter, [ '@oro_customer.importexport.data_converter.customer_address' ] ]
        tags:
            -   name: oro_importexport.processor
                type: export
                entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerAddress'
                alias: oro_customer_customer_address

    # Customer User Address Import-Export services
    oro_customer.importexport.configuration_provider.customer_user:
        class: 'Oro\Bundle\CustomerBundle\ImportExport\Configuration\CustomerUserImportExportConfigurationProvider'
        tags:
            - { name: oro_importexport.configuration, alias: oro_customer_user }

    oro_customer.importexport.configuration_provider.customer_user_address:
        class: 'Oro\Bundle\CustomerBundle\ImportExport\Configuration\CustomerUserAddressImportExportConfigurationProvider'
        arguments:
            - '@translator'
        tags:
            - { name: oro_importexport.configuration, alias: oro_customer_user }

    oro_customer.importexport.template_fixture.customer_user_address:
        class: Oro\Bundle\CustomerBundle\ImportExport\TemplateFixture\CustomerUserAddressFixture
        tags:
            - { name: oro_importexport.template_fixture }

    oro_customer.importexport.processor.export_template.customer_user_address:
        parent: oro_importexport.processor.export_abstract
        calls:
            - [ setDataConverter, [ '@oro_customer.importexport.data_converter.customer_user_address' ] ]
        tags:
            -   name: oro_importexport.processor
                type: export_template
                entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerUserAddress'
                alias: oro_customer_customer_user_address

    oro_customer.importexport.normalizer.customer_user_address:
        class: Oro\Bundle\CustomerBundle\ImportExport\Serializer\Normalizer\CustomerUserAddressNormalizer
        parent: oro_importexport.serializer.configurable_entity_normalizer
        tags:
            - { name: oro_importexport.normalizer }

    oro_customer.importexport.data_converter.customer_user_address:
        class: 'Oro\Bundle\CustomerBundle\ImportExport\DataConverter\CustomerUserAddressDataConverter'
        parent: oro_importexport.data_converter.configurable

    oro_customer.importexport.strategy.customer_user_address.add_or_replace:
        class: Oro\Bundle\CustomerBundle\ImportExport\Strategy\TypedAddressAddOrReplaceStrategy
        parent: oro_importexport.strategy.configurable_add_or_replace

    oro_customer.importexport.processor.import.customer_user_address:
        parent: oro_importexport.processor.import_abstract
        calls:
            - [ setDataConverter, [ '@oro_customer.importexport.data_converter.customer_user_address' ] ]
            - [ setStrategy, [ '@oro_customer.importexport.strategy.customer_user_address.add_or_replace' ] ]
        tags:
            -   name: oro_importexport.processor
                type: import
                entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerUserAddress'
                alias: oro_customer_customer_user_address
            -   name: oro_importexport.processor
                type: import_validation
                entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerUserAddress'
                alias: oro_customer_customer_user_address

    oro_customer.importexport.processor.export.customer_user_address:
        parent: oro_importexport.processor.export_abstract
        calls:
            - [ setDataConverter, [ '@oro_customer.importexport.data_converter.customer_user_address' ] ]
        tags:
            -   name: oro_importexport.processor
                type: export
                entity: 'Oro\Bundle\CustomerBundle\Entity\CustomerUserAddress'
                alias: oro_customer_customer_user_address
