services:
    oro_customer.api_doc.security_context:
        class: Oro\Bundle\CustomerBundle\Api\ApiDoc\SecurityContext
        public: false
        decorates: oro_api.api_doc.security_context
        arguments:
            - '@oro_customer.api_doc.security_context.inner'
            - '@security.token_storage'

    oro_customer.api.sign_in_target_path_provider:
        class: Oro\Bundle\CustomerBundle\Api\ApiDoc\SignInTargetPathProvider
        public: false
        decorates: oro_customer.provider.sign_in.target_path
        arguments:
            - '@oro_customer.api.sign_in_target_path_provider.inner'
            - '@request_stack'
            - '@oro_api.rest.doc_url_generator'

    oro_customer.api.entity_accessor.address:
        class: Oro\Bundle\CustomerBundle\Api\AddressEntityDataAccessor
        public: false
        decorates: oro_api.entity_accessor
        arguments:
            - '@oro_customer.api.entity_accessor.address.inner'

    oro_customer.api.frontend.authentication_provider:
        alias: oro_security.authentication.provider.username_password_organization.frontend
        public: false

    oro_customer.api.create.save_customer_user:
        class: Oro\Bundle\CustomerBundle\Api\Processor\Create\SaveCustomerUser
        arguments:
            - '@oro_customer_user.manager'
        tags:
            - { name: oro.api.processor, action: create, group: save_data, class: Oro\Bundle\CustomerBundle\Entity\CustomerUser }

    oro_customer.api.addresses.fix_primary_addresses:
        class: Oro\Bundle\AddressBundle\Api\Processor\FixPrimaryAddresses
        arguments:
            - 'frontendOwner.addresses'
            - '@oro_api.form_property_accessor'
        tags:
            - { name: oro.api.processor, action: customize_form_data, event: pre_validate, class: Oro\Bundle\CustomerBundle\Entity\CustomerAddress }
            - { name: oro.api.processor, action: customize_form_data, event: pre_validate, class: Oro\Bundle\CustomerBundle\Entity\CustomerUserAddress }

    oro_customer.api.addresses.fix_default_customer_addresses:
        class: Oro\Bundle\CustomerBundle\Api\Processor\FixDefaultCustomerAddresses
        arguments:
            - 'frontendOwner.addresses'
            - '@oro_api.form_property_accessor'
        tags:
            - { name: oro.api.processor, action: customize_form_data, event: pre_validate, class: Oro\Bundle\CustomerBundle\Entity\CustomerAddress }
            - { name: oro.api.processor, action: customize_form_data, event: pre_validate, class: Oro\Bundle\CustomerBundle\Entity\CustomerUserAddress }

    oro_customer.api.frontend.login.handle:
        class: Oro\Bundle\CustomerBundle\Api\Processor\HandleLogin
        arguments:
            - 'frontend'
            - '@oro_customer.api.frontend.authentication_provider'
            - '@oro_config.manager'
            - '@oro_api.doctrine_helper'
            - '@translator'
        tags:
            - { name: oro.api.processor, action: create, group: save_data, requestType: frontend, class: Oro\Bundle\CustomerBundle\Api\Model\Login }

    oro_customer.api.frontend.login.normalize:
        class: Oro\Bundle\ApiBundle\Processor\Shared\NormalizeEntity
        arguments:
            - '@oro_api.object_normalizer'
        tags:
            - { name: oro.api.processor, action: create, group: normalize_data, requestType: frontend, class: Oro\Bundle\CustomerBundle\Api\Model\Login }

    # return HTTP_OK status code instead of HTTP_CREATED for "login" POST request
    oro_customer.api.frontend.login.set_http_ok_response_status_code:
        class: Oro\Bundle\ApiBundle\Processor\Shared\SetHttpResponseStatusCode
        tags:
            - { name: oro.api.processor, action: create, group: normalize_result, requestType: frontend&rest, class: Oro\Bundle\CustomerBundle\Api\Model\Login, priority: -29 }
