Oro\Bundle\CustomerBundle\Entity\Customer:
    properties:
        name:
            - NotBlank: ~
        addresses:
            - Valid: ~
            - Oro\Bundle\FormBundle\Validator\Constraints\ContainsPrimary:
                message: One of the addresses must be set as primary.
            - Oro\Bundle\CustomerBundle\Validator\Constraints\UniqueAddressDefaultTypes: ~
        parent:
            - Oro\Bundle\CustomerBundle\Validator\Constraints\CircularCustomerReference: ~

Oro\Bundle\CustomerBundle\Entity\CustomerAddress:
    properties:
        street:
            - NotBlank: ~
        city:
            - NotBlank: ~
        postalCode:
            - NotBlank: ~
        phone:
            - Length:
                max: 255
    constraints:
        - Callback:
            methods: [isRegionValid]

Oro\Bundle\CustomerBundle\Entity\CustomerGroup:
    properties:
        name:
            - NotBlank: ~

Oro\Bundle\CustomerBundle\Entity\CustomerUser:
    constraints:
        - Oro\Bundle\CustomerBundle\Validator\Constraints\UniqueCustomerUserNameAndEmail: ~
        - Oro\Bundle\CustomerBundle\Validator\Constraints\CustomerUserCheckRole: ~
    properties:
        firstName:
            - NotBlank: ~
            - Length:
                max: 255
        lastName:
            - NotBlank: ~
            - Length:
                max: 255
        email:
            - NotBlank: ~
            - Email: ~
            - Length:
                min: 6
                max: 255
        plainPassword:
            - NotBlank:
                groups: [create]
            - Oro\Bundle\UserBundle\Validator\Constraints\PasswordComplexity:
                groups: [create, Default]
        username:
            - NotBlank: ~
            - Length:
                min: 3
                max: 255
        birthday:
            - Date: ~
        customer:
            - NotBlank: ~
        addresses:
            - Valid: ~
            - Oro\Bundle\FormBundle\Validator\Constraints\ContainsPrimary:
                message: One of the addresses must be set as primary.
            - Oro\Bundle\CustomerBundle\Validator\Constraints\UniqueAddressDefaultTypes: ~

Oro\Bundle\CustomerBundle\Entity\CustomerUserAddress:
    properties:
        street:
            - NotBlank: ~
        city:
            - NotBlank: ~
        postalCode:
            - NotBlank: ~
        phone:
            - Length:
                max: 255
    constraints:
        - Callback:
            methods: [isRegionValid]

Oro\Bundle\CustomerBundle\Entity\CustomerUserRole:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: [label, customer]
            message: "Role with this name already exists"
            ignoreNull: false
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: role
    properties:
        role:
            - NotBlank: ~
            - Length:
                min: 3
                max: 255
        label:
            - NotBlank: ~
            - Length:
                min: 3
                max: 255
        customerUsers:
            - Oro\Bundle\CustomerBundle\Validator\Constraints\CustomerUserWithoutRole: ~
