<div class="filter-select-oro-wrapper" data-select-field-template>
    <select <% if (_.isMobile()) { %>data-skip-input-widgets<% } %> name="<%= name %>"
    <% if (typeof(dataName) !== "undefined") { %>data-name="<%= dataName %>"<% } %>
        class="select select--size-m select--full"
    >
    <% _.each(choices, function (option) { %>
        <option value="<%= option.value %>"
            <% if (option.value == selectedChoice) { %>
                selected="selected"
            <% } %>
        >
            <%- option.label %>
        </option>
    <% }); %>
    </select>
</div>
