<% let oroui = _.macros('oroui') %>
<div class="<%- searchClassName %>" data-role="search-container">
    <input type="text"
           class="<%- inputClassName %>"
           placeholder="<%- inputPlaceholder %>"
           aria-label="<%- inputAriaLabel %>"
           data-role="quick-search"
    >
    <%= oroui.renderIcon({name: actionIconClassName}) %>
    <button class="clear-search-button <%- buttonClassName %>"
            aria-label="<%- buttonAriaLabel %>"
            disabled="disabled"
            data-role="clear-search"
            type="button"
            data-btn-processor="exclude"
    ><%= oroui.renderIcon({name: actionIconClassName}) %></button>
    <%= oroui.renderIcon({name: iconClassName, extraClass: 'theme-icon--medium quick-search-icon'}) %>
</div>
