/* @theme: default; */

.header-row {
    position: relative;
    margin-top: $offset-y;
    border: $header-row-border;
    border-width: 1px 0;
    display: flex;
    max-width: $site-width;
    margin: 0 auto;
    justify-content: space-between;

    @include clearfix();

    &__trigger {
        position: relative;
        z-index: z('base');
        width: 100%;
        display: block;
        margin: 0;
        padding: 7px 10px;
        background-color: $header-row-border-trigger-background-color;
        border: 0;
        border-right: $header-row-trigger-border;

        .main-menu__item:hover {
            // stylelint-disable-next-line declaration-no-important
            background-color: transparent !important;
        }
    }

    &__toggle {
        background-color: $header-row-border-toggle-background-color;
    }

    &.show {
        .header-row__trigger {
            background: $header-row-border-show-trigger-background;

            z-index: auto;
        }

        .header-row__toggle {
            display: block;
        }
    }

    &__container {
        &.show {
            .header-row__trigger {
                box-shadow: $header-row-show-trigger-box-shadow;

                &.focus-visible {
                    box-shadow: $header-row-show-trigger-focus;
                }
            }

            .header-row__toggle {
                visibility: inherit;

                transition: opacity .2s;

                opacity: 1;
            }
        }

        &.show-by-hover {
            .header-row__toggle {
                display: block;
            }
        }
    }

    &--from-left .main-menu-outer {
        justify-content: flex-start;
    }
}

@include breakpoint('desktop') {
    %hidden-on-desktop {
        &.hidden-on-desktop {
            // stylelint-disable-next-line declaration-no-important
            display: none !important;
        }
    }

    .header-row {
        &__container {
            @extend %hidden-on-desktop;

            &--unstack {
                flex-grow: 1;
            }
        }

        &__trigger {
            @extend %hidden-on-desktop;

            padding: 0;
            border: none;
        }

        &__toggle {
            @extend %hidden-on-desktop;
        }
    }
}

@include breakpoint('tablet') {
    .header-row {
        border: $header-row-border-tablet;
        position: relative;
        z-index: z('base') + 2;
        margin: 0 (-$offset-x-m);

        &__container {
            position: static;

            flex-grow: 1;
            flex-basis: auto;
        }

        &__trigger {
            background-color: $header-row-trigger-background-color-tablet;
            border-right: $header-row-trigger-border-tablet;
            text-align: center;
        }

        &__toggle {
            display: none;
            position: absolute;
            z-index: z('dropdown') + 1;
            right: 0;
            left: 0;

            visibility: hidden;
            overflow-y: auto;

            transition: opacity .2s, visibility .2s;

            box-shadow: $header-row-tablet-toggle-box-shadow;
            opacity: 0;

            &.show {
                display: block;
            }
        }

        &__dropdown {
            min-width: 260px;

            background: $header-row-tablet-toggle-dropdown-background;
        }

        &--fixed {
            margin: 0;
        }

        .main-menu__inner-container {
            width: auto;
        }
    }

    .shown-on-desktop {
        // stylelint-disable-next-line declaration-no-important
        display: none !important;
    }
}
