/* @theme: default; */

.information-nav {
    &--responsive {
        flex: $information-nav-responsive-flex;
        padding: $information-nav-responsive-offset;
    }

    &__title {
        font-size: $information-nav-title-font-size;
        font-weight: $information-nav-title-font-weight;
        line-height: $information-nav-title-line-height;
        margin: $information-nav-title-offset;
        position: relative;
        text-transform: $information-nav-title-text-transform;
        color: $information-nav-title-color;

        .collapse &,
        .collapsing & {
            display: none;
        }
    }

    &__list {
        @include list-normalize();
    }

    &__item {
        padding: $information-nav-item-offset;

        &:first-child {
            padding-top: 0;
        }

        &-content {
            @at-root {
                a#{&} {
                    display: block;
                    line-height: 20px;
                    color: $information-nav-item-content-color;

                    &:hover {
                        color: $information-nav-item-content-color-hover;
                    }
                }

                span#{&} {
                    color: $information-nav-item-content-text-color;
                }
            }
        }
    }
}

@include breakpoint('tablet-small') {
    .information-nav {
        &--responsive {
            border-bottom: $information-nav-responsive-tablet-small-border-bottom;
            padding: $information-nav-responsive-tablet-small-padding;
        }

        &__title {
            text-transform: $information-nav-title-text-transform;
            color: $information-nav-title-color;
            font-size: $information-nav-title-font-size-tablet-small;
            cursor: pointer;
            margin: $information-nav-title-tablet-small-margin;

            padding-block: $information-nav-title-tablet-small-padding-block;

            display: flex;
            gap: $information-nav-title-tablet-small-gap;
            align-items: center;

            &:before {
                content: '';
                width: $information-nav-title-tablet-small-icon-placeholder-size;
                height: $information-nav-title-tablet-small-icon-placeholder-size;
                display: block;
            }
        }

        &__list {
            display: none;
            padding: $information-nav-list-offset-tablet-small;

            .information-nav__collapse & {
                display: block;
            }
        }

        &__item {
            padding: $information-nav-item-offset-tablet-small;

            &:first-child {
                padding: $information-nav-item-offset-tablet-small;
            }
        }

        .accordion-group__trigger {
            text-transform: $information-nav-title-text-transform;
            color: $information-nav-title-color;
            font-size: $information-nav-title-font-size-tablet-small;
            cursor: pointer;
        }
    }
}
