/* @theme: default; */

.information-nav {
    padding: $information-nav-offset;

    &--responsive {
        display: inline-block;
        vertical-align: top;
        width: $information-nav-width;
    }

    &__title {
        font-size: $information-nav-title-font-size;
        font-weight: $information-nav-title-font-weight;
        line-height: $information-nav-title-line-height;
        margin: $information-nav-title-offset;
        position: relative;
        text-transform: $information-nav-title-text-transform;
        color: $information-nav-title-color;

        .collapse &,
        .collapsing & {
            display: none;
        }
    }

    &__list {
        @include list-normalize();
    }

    &__item {
        &:not(:first-child) {
            margin: $information-nav-item-offset;
        }

        &-content {
            @at-root {
                a#{&} {
                    color: $information-nav-item-content-color;

                    &:hover {
                        color: $information-nav-item-content-color-hover;
                    }
                }

                span#{&} {
                    color: $information-nav-item-content-text-color;
                }
            }
        }
    }
}

@include breakpoint('tablet-small') {
    .information-nav {
        padding: $information-nav-tablet-small-offset;

        border-top: $information-nav-tablet-border-top;

        &--responsive {
            width: $information-nav-tablet-small-width;
        }

        &__title {
            margin: $information-nav-title-tablet-small-offset;
            padding: $information-nav-title-tablet-small-inner-offset;
        }

        &__list {
            margin-bottom: $offset-y-m * 2;
            padding-left: $information-nav-list-tablet-small-inner-offset-left;

            display: none;

            .collapse &,
            .collapsing & {
                display: block;
            }
        }
    }
}
