/* @theme: default; */

.nav-trigger {
    color: $body-color;

    &:hover {
        background-color: $nav-trigger-hover-background-color;
    }

    &__icon,
    &__count,
    &__text {
        display: inline-block;

        vertical-align: middle;
    }

    &__icon {
        position: relative;

        text-align: center;

        @include badge(
            $nav-trigger-icon-size,
            $nav-trigger-icon-font-size,
            $nav-trigger-icon-background-color,
            $nav-trigger-icon-radius,
            $nav-trigger-icon-color
        );

        &--transparent {
            background-color: transparent;
            color: $nav-trigger-icon-transparent-color;
        }

        &--chromatic {
            background-color: $nav-trigger-icon-chromatic-background-color;
        }

        &--large {
            font-size: 28px;
            line-height: 1;

            .fa-globe {
                font-size: 30px;
                line-height: 1;
            }
        }

        &--x-large {
            font-size: 38px;
        }
    }
}

@include breakpoint('desktop-small') {
    .nav-trigger {
        &__count {
            margin-left: 5px;

            font-weight: font-weight('bold');
        }
    }
}

@include breakpoint('tablet') {
    .nav-trigger {
        &__text {
            display: none;
        }

        .fa-angle-down {
            display: none;
        }
    }
}
