/* @theme: default; */

.navigation-menu {
    @include list-normalize();

    display: flex;
    justify-content: flex-end;
    gap: $navigation-menu-gap;

    &--sm-gap {
        gap: $navigation-menu-sm-gap;
    }

    &--align-end {
        margin-left: auto;
    }

    &--no-gap {
        gap: 0;
    }

    &__inner {
        display: inline-grid;
        align-items: center;
        grid-auto-flow: column;

        vertical-align: middle;

        font-size: $navigation-menu-item-font-size;

        gap: $navigation-menu-item-gap;

        padding: $navigation-menu-item-inner-offset;

        min-height: $navigation-menu-item-min-height;
    }

    &__button {
        border-radius: $navigation-menu-button-border-radius;
        padding: $navigation-menu-button-inner-offset;
    }

    &__link,
    &__button {
        width: 100%;
        justify-content: flex-start;
        font-size: $navigation-menu-link-font-size;
        color: $navigation-menu-link-color;

        font-weight: font-weight('semi-bold');
        text-decoration: none;

        @media (hover: hover) {
            &:hover {
                text-decoration: none;
                color: $navigation-menu-link-color-hover;
            }
        }
    }

    &--inverse &__inner {
        color: $navigation-menu-item-color;
    }

    &--inverse &__link {
        color: $navigation-menu-link-color-inverse;
        font-weight: font-weight('normal');
        text-decoration: underline;

        @media (hover: hover) {
            &:hover {
                color: $navigation-menu-link-color-hover-inverse;

                text-decoration: none;
            }
        }
    }

    &--inverse &__button {
        color: $navigation-menu-link-color-inverse;

        @media (hover: hover) {
            &:hover {
                background: $navigation-menu-button-background-color-hover;
            }
        }
    }

    &__vertical {
        flex-direction: column;
        gap: $navigation-menu-vertical-gap;
    }

    &__vertical &__inner {
        display: grid;
        justify-content: start;
        padding: $navigation-menu-vertical-item-inner-offset;

        @media (hover: hover) {
            &:hover {
                background: $navigation-menu-button-background-color-hover;
            }
        }

        &:active {
            background: $navigation-menu-button-background-color-hover;
        }
    }
}

@include breakpoint('mobile') {
    .navigation-menu {
        &--sm-gap {
            gap: $navigation-menu-sm-gap-mobile;
        }

        &__button {
            + .navigation-menu__button {
                margin-top: $navigation-menu-link-margin-top-mobile;
            }

            width: 100%;
            justify-content: start;
            color: $navigation-menu-link-color-mobile;
            font-weight: font-weight('semi-bold');
            padding: 0 spacing('base');

            &:active {
                color: $navigation-menu-link-color-active-mobile;
                background-color: $navigation-menu-link-background-active-mobile;
            }
        }

        &__button--side-menu {
            &:active {
                color: $navigation-menu-vertical-link-color-mobile;
                background-color: $navigation-menu-vertical-link-background-active-mobile;
            }

            @media (hover: hover) {
                &:hover {
                    color: $navigation-menu-vertical-link-color-mobile;
                    background-color: $navigation-menu-vertical-link-background-active-mobile;
                }
            }
        }
    }
}
