/* @theme: default; */

.quick-access-button-container {
    margin: $quick-access-button-inner-offset;

    .btn-label-ellipses {
        @include ellipsis();

        max-width: $quick-access-button-label-max-width;
    }
}

.quick-access-button-menu {
    max-height: $quick-access-menu-max-height;
    width: max-content;
    overflow: auto;
}

.quick-access-button-icon {
    .page-header & {
        display: none;
    }
}

.quick-access-menu {
    span + [class*='menu_level'] {
        &:after {
            content: '';
            display: block;
            border-bottom: $quick-access-menu-divider;
            margin: $quick-access-menu-margin;
        }
    }

    &__item {
        span {
            display: block;
            padding: $quick-access-menu-item-title-padding;
            font-size: $quick-access-menu-item-title-font-size;
            line-height: $quick-access-menu-item-title-line-height;
            font-weight: font-weight('semi-bold');
            color: $quick-access-menu-item-color;
        }

        &:last-child {
            span + [class*='menu_level'] {
                &:after {
                    display: none;
                }
            }
        }
    }
}

.quick-access-label-container {
    display: $quick-access-label-container-display;
    position: $quick-access-label-container-position;
    line-height: $quick-access-label-container-line-height;

    .conversation-badge {
        display: $quick-access-label-container-conversation-badge-display;
    }
}

@include breakpoint('tablet') {
    .main-menu__inner-container {
        height: auto;
    }

    .quick-access-label-container {
        .indicator {
            position: $quick-access-label-container-indicator-position-tablet;
            top: $quick-access-label-container-indicator-top-tablet;
            left: $quick-access-label-container-indicator-left-tablet;
        }
    }
}

@include breakpoint('mobile-big') {
    .quick-access-button-container {
        margin: $quick-access-button-inner-offset-mobile-big;

        .btn {
            position: relative;
            width: 100%;
            justify-content: start;
            color: $quick-access-button-color-mobile-big;
            border: none;
            padding: 0 spacing('base');
            border-radius: 0;

            @media (hover: hover) {
                &:hover {
                    background-color: $quick-access-button-background-active-mobile-big;
                }
            }
        }

        .quick-access-button-icon {
            right: 0;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .quick-access-label-container {
        position: $quick-access-label-container-position-mobile-landscape;

        .indicator {
            display: $quick-access-label-container-indicator-display-mobile-landscape;
        }

        .conversation-badge {
            display: $quick-access-label-container-conversation-badge-display-mobile-landscape;
            position: $quick-access-label-container-conversation-badge-position-mobile-landscape;
            right: $quick-access-label-container-conversation-badge-right-mobile-landscape;
        }
    }
}
