/* @theme: default; */

.quick-access {
    &__list {
        display: $quick-access-list-display;
        align-items: $quick-access-list-align-items;
        gap: $quick-access-list-gap;
    }

    &__item {
        display: $quick-access-item-display;
        margin: $quick-access-item-margin;
    }

    &__link {
        display: $quick-access-link-display;
        align-items: $quick-access-link-align-items;
        gap: $quick-access-link-gap;
        font-weight: $quick-access-link-font-weight;
        text-overflow: $quick-access-link-text-overflow;
        white-space: $quick-access-link-white-space;
        color: $quick-access-link-color;
        overflow: $quick-access-link-overflow;
        padding: $quick-access-link-padding;

        &:hover {
            text-decoration: $quick-access-link-hover-text-decoration;
            color: $quick-access-link-hover-color;
        }
    }

    &__icon {
        margin-right: 5px;

        @include badge(
            $quick-access-icon-size,
            $quick-access-icon-font-size,
            $quick-access-icon-color,
            $quick-access-icon-border-radius
        );

        &--light {
            background-color: $quick-access-icon-light-background-color;
        }

        &--dark {
            background-color: $quick-access-icon-dark-background-color;
        }
    }
}

@include breakpoint('tablet') {
    .quick-access {
        &__link {
            color: $quick-access-link-tablet-color;
        }

        &__text {
            font-weight: font-weight('bold');
        }

        &__icon {
            width: 26px;
            height: 26px;

            line-height: 26px;
        }
    }
}
