/* @theme: default; */

.quick-access-container {
    margin: $offset-y-m 0;
}

@include breakpoint('mobile') {
    .quick-access-container {
        display: $quick-access-container-m-display;
    }
}
