/* @theme: default; */

.quick-access-button-container {
    margin: $quick-access-button-inner-offset;

    .btn-label-ellipses {
        @include ellipsis();

        max-width: $quick-access-button-label-max-width;
    }
}

.quick-access-button-menu {
    max-height: $quick-access-menu-max-height;
    width: max-content;
    overflow: auto;
}

.quick-access-button-icon {
    .page-header & {
        display: none;
    }
}

.quick-access-menu {
    span + [class*='menu_level'] {
        &:after {
            content: '';
            display: block;
            border-bottom: $quick-access-menu-divider;
            margin: $quick-access-menu-margin;
        }
    }

    &__item {
        span {
            display: block;
            padding: $quick-access-menu-item-title-padding;
            font-size: $quick-access-menu-item-title-font-size;
            line-height: $quick-access-menu-item-title-line-height;
            font-weight: font-weight('semi-bold');
            color: $quick-access-menu-item-color;
        }

        &:last-child {
            span + [class*='menu_level'] {
                &:after {
                    display: none;
                }
            }
        }
    }
}

@include breakpoint('desktop') {
    .quick-access-dot-container {
        position: relative;
        width: 0;
        height: 0;

        .quick-access-dot {
            display: block;
            background-color: $hamburger-menu-dot-background-color;
            width: 6px;
            height: 6px;
            position: relative;
            top: -12px;
            left: -10px;
            border-radius: 3px;
        }
    }

    .quick-access-dot-data {
        display: none;
    }
}

@include breakpoint('tablet') {
    .main-menu__inner-container {
        height: auto;
    }

    .quick-access-dot-container {
        position: relative;
        width: 0;
        height: 0;

        .quick-access-dot {
            display: block;
            background-color: $hamburger-menu-dot-background-color;
            width: 6px;
            height: 6px;
            position: relative;
            top: -12px;
            left: -10px;
            border-radius: 3px;
        }
    }

    .quick-access-dot-data {
        display: none;
    }
}

@include breakpoint('mobile') {
    .quick-access-dot-container {
        display: none;
    }
    .quick-access-dot-data {
        width: 20px;
        height: 20px;
        right: 0;
        border-radius: 10px;
        margin-left: 3px;
        background-color: $side-panel-top-menu-container-menu-btn-color;
        color: $body-bg-color;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        grid-column: 25;
    }
}

@include breakpoint('mobile-big') {
    .quick-access-button-container {
        margin: $quick-access-button-inner-offset-mobile-big;

        .btn {
            position: relative;
            width: 100%;
            justify-content: start;
            color: $quick-access-button-color-mobile-big;
            border: none;
            padding: 0 spacing('base');
            border-radius: 0;

            @media (hover: hover) {
                &:hover {
                    background-color: $quick-access-button-background-active-mobile-big;
                }
            }
        }

        .quick-access-button-icon {
            right: 0;
        }
    }
}
