/* @theme: default; */

.topbar {
    background: $top-bar-background;
    color: $top-bar-color;
    font-size: $top-bar-font-size;

    &__dropdown {
        position: absolute;
        top: 26px;
        right: 0;
        z-index: 80;

        display: none;

        background: $top-bar-dropdown-background;
        box-shadow: $top-bar-dropdown-box-shadow;
        border-radius: 2px;

        &::before,
        &::after {
            content: '';
            display: block;
            height: 0;

            clear: both;
        }

        &__list {
            @include list-normalize();

            min-width: 130px;
            padding: 10px 15px;

            text-align: left;

            &.topbar__dropdown__list_lang {
                min-width: 80px;
            }

            li {
                margin: 0 0 7px;

                font-size: $base-font-size;

                &:last-child {
                    margin: 0;
                }
            }

            a {
                font-size: $base-font-size;
                color: $top-bar-list-link-color;
            }
        }
    }
}

@include breakpoint('tablet') {
    .topbar {
        display: none;

        .grid__column {
            display: block;
            float: none;

            padding: 0;
            width: 100%;
        }
    }
}
