/* @theme: default; */

.topbar {
    background: $top-bar-background;
    color: $top-bar-color;
    font-size: $top-bar-font-size;

    &__dropdown {
        position: absolute;
        top: 26px;
        right: 0;
        z-index: 80;

        display: none;

        background: $top-bar-dropdown-background;
        box-shadow: $top-bar-dropdown-box-shadow;
        border-radius: 2px;

        &::before,
        &::after {
            content: '';
            display: block;
            height: 0;

            clear: both;
        }

        &__list {
            @include list-normalize();

            min-width: 130px;
            padding: 10px 15px;

            text-align: left;

            &.topbar__dropdown__list_lang {
                min-width: 80px;
            }

            li {
                margin: 0 0 7px;

                font-size: $base-font-size;

                &:last-child {
                    margin: 0;
                }
            }

            a {
                font-size: $base-font-size;
                color: $top-bar-list-link-color;
            }
        }
    }
}

.topbar-navigation {
    @include list-normalize();

    display: flex;
    justify-content: flex-end;

    &--has-sibling {
        margin-right: 10px;
    }

    &--align-end {
        margin-left: auto;
    }

    &__link {
        display: inline-block;
        color: $top-bar-link-color;
        text-decoration: none;

        &:hover {
            color: $top-bar-link-color;
            text-decoration: underline;
        }

        .decorated {
            color: $top-bar-promo-color;
        }
    }

    &__item {
        margin-right: $top-bar-menu-item-offset-right;
        line-height: $top-bar-menu-item-line-height;
        padding: $top-bar-menu-item-offset-inner;

        &:last-child {
            margin-right: 0;
        }
    }

    &__separator {
        margin: $topbar-navigation-separator-offset;
    }
}

@include breakpoint('desktop') {
    .topbar-navigation {
        &__item {
            &.last {
                font-size: $base-font-size;

                &:hover {
                    text-decoration: none;

                    cursor: default;
                }
            }

            &--user-name {
                max-width: 250px;
            }
        }
    }
}

@include breakpoint('tablet') {
    .topbar {
        display: none;

        .grid__column {
            display: block;
            float: none;

            padding: 0;
            width: 100%;
        }
    }

    .topbar-navigation {
        display: block;

        &__item {
            display: block;
            margin-right: 0;
            padding: $topbar-navigation-item-tablet-inner-offset;
            border-bottom: $topbar-navigation-item-tablet-border-bottom;
            text-transform: $topbar-navigation-item-tablet-text-transform;
        }

        &__link {
            display: block;
            padding: $topbar-navigation-link-tablet-inner-offset;
            border-bottom: $topbar-navigation-link-tablet-border-bottom;
        }
    }
}
