/* @theme: default; */

.accordion-group {
    &__trigger {
        background: $accordion-group-trigger-background;
        width: $accordion-group-trigger-width;
        font-family: $base-ui-element-font-family;
        font-size: $accordion-group-trigger-font-size;
        font-weight: $accordion-group-trigger-font-weight;
        line-height: $accordion-group-trigger-line-height;
        color: $accordion-group-trigger-color;
        border: $accordion-group-trigger-border;
        display: $accordion-group-trigger-display;
        grid-auto-flow: $accordion-group-trigger-grid-auto-flow;
        gap: $accordion-group-trigger-gap;
        align-items: $accordion-group-trigger-align-items;
        justify-content: $accordion-group-trigger-justify-content;
        padding-block: $accordion-group-trigger-padding-block;
        padding-inline: $accordion-group-trigger-padding-inline;

        .theme-icon {
            display: block;
        }

        &:not(.collapsed) .theme-icon {
            transform: rotate(180deg);
        }
    }

    &__item + &__item {
        border-top: $accordion-group-divider;
    }

    .collapse {
        padding: $accordion-group-container-offset;
    }
}
