/* @theme: default; */

.badge {
    @include badge();

    &--inverse {
        --badge-bg-color: #{$badge-background-color-inverse};
        --badge-color: #{$badge-color-inverse};
    }
}

.badge-square {
    margin-right: $badge-inner-offset-right;

    @include badge(
        $badge-size: $badge-size,
        $badge-f-size: $badge-font-size,
        $badge-radius: $badge-square-radius
    );

    &--offset-none {
        margin-right: 0;
    }
}

.badge-rectangle {
    display: inline-flex;
    align-items: center;
    padding: spacing('xs') spacing('sm');

    font-size: $base-font-size;
    line-height: 1;
    text-transform: none;
    font-weight: font-weight('light');

    border-radius: $badge-square-radius;
    background: $badge-rectangle-background;

    &--align-start {
        margin-right: auto;
    }
}
