/* @theme: default; */

.badge {
    margin-right: $badge-inner-offset-right;

    @include badge();

    &--dark {
        background-color: $badge-background-color-dark;
    }

    &--light {
        background-color: $badge-background-color-light;
    }

    &--info {
        background-color: $badge-background-color-info;
    }

    &--offset-none {
        margin-right: 0;
    }

    &--xs {
        width: $badge-size-xs;
        min-width: $badge-size-xs;
        height: $badge-size-xs;

        font-size: $badge-font-size-xs;
        line-height: $badge-size-xs;
    }
}

.badge-square {
    margin-right: $badge-inner-offset-right;

    @include badge(
        $badge-size: $badge-size,
        $badge-f-size: $badge-font-size,
        $badge-radius: $badge-square-radius
    );

    &--offset-none {
        margin-right: 0;
    }
}

.badge-rectangle {
    display: inline-flex;
    align-items: center;
    padding: $offset-y-s $offset-x-m;

    font-size: $base-font-size;
    line-height: 1;
    text-transform: none;
    font-weight: font-weight('light');

    border-radius: $badge-square-radius;
    background: $badge-rectangle-background;

    &--align-start {
        margin-right: auto;
    }
}
