// @theme: default

.box-toolbar {
    display: flex;
    margin: 0 0 $offset-y 0;

    &--offset-none {
        margin: 0;
    }

    &__content {
        padding: 0 $offset-x-m 0 0;

        // 0px value for fix bug in IE11
        flex: 1 0 0px;
    }

    &__actions {
        flex: 0 0 auto;
    }
}
