/* @theme: default; */

.breadcrumbs {
    grid-auto-columns: max-content;

    &__item,
    &__link,
    a {
        color: $breadcrumbs-link-color;
    }

    &__item {
        display: $breadcrumbs-item-display;
        flex: $breadcrumbs-item-flex;
    }

    &__link {
        text-decoration: $breadcrumbs-link-text-decoration;

        &:is(button) {
            background: none;
            border: none;
            font-size: inherit;
            font-family: inherit;
            color: inherit;
            padding: 0;
        }

        &:hover {
            color: $link-hover-color;
        }
    }

    &-separator {
        margin-inline: $breadcrumbs-item-separator-offset-inline;
        color: $breadcrumbs-item-separator-color;
        display: $breadcrumbs-item-separator-display;
        vertical-align: $breadcrumbs-item-separator-item-align;
    }
}
