/* @theme: default; */

.clear-search-button {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translate(0, -50%);

    // fix vertical align of icon
    span::before {
        position: relative;
        top: -1px;
    }
}
