/* @theme: default; */

.close-dialog {
    align-self: flex-start;
    flex-shrink: 0;
    font-size: 0;
    gap: initial;

    &.absolute {
        position: absolute;
        top: 0;
        right: 0;
        z-index: z('base') + 1;
        margin: var(--close-dialog-offset, 0);
    }
}
