/* @theme: default; */

.collapse-view {
    &__trigger {
        display: inline-block;

        cursor: pointer;
        vertical-align: middle;

        color: $collapse-view-trigger-color;
        border: $collapse-view-trigger-border;
        background: $collapse-view-trigger-bg;

        &-icon {
            margin: $collapse-view-trigger-icon-offset;

            font-size: $collapse-view-trigger-icon-size;

            transition: $collapse-view-trigger-icon-transition;

            color: $collapse-view-trigger-icon-color;
        }

        &:focus,
        &:hover {
            text-decoration: none;
        }

        &-text {
            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__container {
        display: none;
    }

    .toggle-more,
    .toggle-less {
        display: none;
    }

    &.expanded .toggle-less,
    &.overflows .toggle-more {
        display: block;
    }

    &--overflow {
        .collapse-view__container {
            display: block;
        }

        .collapse-view__trigger {
            display: none;

            position: relative;

            padding: 0;
            width: 100%;
            height: $collapse-view-trigger-height;
            text-align: center;
            font-size: 20px;

            border: $collapse-view-trigger-border;
            background: $collapse-view-trigger-background;

            &::after {
                content: '';

                display: block;

                position: absolute;
                top: 0;

                height: 100%;
                width: 100%;

                margin-top: -($collapse-view-trigger-height);

                background: $collapse-view-trigger-overlay;
            }
        }

        &.init {
            .collapse-view__container {
                max-height: $collapse-view-container-max-height;
                overflow: hidden;
            }
        }

        &.expanded,
        &.collapsed {
            .collapse-view__trigger {
                display: block;
            }
        }

        &.expanded {
            .collapse-view__container {
                max-height: none;
                overflow: auto;
            }

            .collapse-view__trigger {
                margin-top: 0;

                &-icon {
                    transform: rotate(180deg);
                }

                &::after {
                    display: none;
                }
            }
        }
    }

    // Open widget
    &.expanded {
        .collapse-view {
            &__trigger {
                &.hide-on-expand {
                    display: none;
                }
            }

            &__container {
                display: block;
            }
        }
    }

    &:not(&--overflow).expanded {
        .collapse-view {
            &__trigger {
                &-icon {
                    transform: rotate(90deg);
                }
            }
        }
    }
}
