// @theme: default

.column-manager-search {
    position: relative;

    margin: 15px 0 10px 0;

    input {
        @include base-ui-element(
            $use-base-style: true,
            $padding: 5px 9px,
            $line-height: 1.43
        );

        @include element-state('hover') {
            border-color: $input-border-color-hover-state;
            box-shadow: $input-box-shadow-hover-state;
        }

        @include element-state('focus') {
            border-color: $input-border-color-focus-state;
            box-shadow: $input-box-shadow-focus-state;
        }

        width: 100%;
    }

    > .clear {
        position: absolute;
        top: 5px;
        right: 8px;
        z-index: z('base');

        font-weight: bold;
        font-size: 20px;
        line-height: 20px;

        color: #8c8c8c;

        &:hover {
            color: #666;
        }
    }

    &.empty {
        @include fa-icon($fa-var-search, after);

        &:after {
            position: absolute;
            top: 5px;
            right: 8px;

            z-index: z('base') - 1;

            font-size: 15px;

            color: #8c8c8c;
        }

        > .clear {
            display: none;
        }
    }
}
