/* @theme: default; */

.controls-list {
    + .controls-list {
        border-left: $controls-list-separator-width solid $controls-list-separator-color;
        margin-left: spacing('sm');
        padding-left: spacing('sm');
    }

    li {
        display: inline-block;
        margin-left: spacing('sm');
        padding-left: spacing('sm');
        vertical-align: top;

        font-size: $base-font-size;
        line-height: normal;

        border-left: $controls-list-separator-width solid $controls-list-separator-color;

        &:first-child {
            margin-left: 0;
            padding-left: 0;

            border-left: 0;
        }
    }
}
