/* @theme: default; */

[class^='icon-'],
[class*=' icon-'] {
    display: inline-block;
    font-family: $base-font-icon;
    font-weight: font-weight('light');
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    margin-right: 3px;
}

.icon {
    &--no-offset {
        margin-right: 0;
    }

    &-selector {
        &::before {
            content: $icon-selector;
        }
    }
}
