// @theme: blank;

.datagrid-manager-search {
    input {
        @include element-state('hover') {
            border-color: $input-border-color-hover-state;
            box-shadow: $input-box-shadow-hover-state;
        }

        @include element-state('focus') {
            border-color: $input-border-color-focus-state;
            box-shadow: $input-box-shadow-focus-state;
        }
    }
}
