// @theme: default

.datagrid-manager {
    &__title {
        margin-bottom: $datagrid-manager-title-offset;
    }

    &__actions {
        position: relative;

        &-item {
            display: inline-block;
        }
    }

    &__separator {
        padding: $datagrid-manager-separator-inner-offset;

        color: $datagrid-manager-separator-color;
    }

    &__item {
        background: none;
    }

    &__container {
        position: relative;

        display: flex;
        padding:  $datagrid-manager-container-inner-offset;
        margin: $datagrid-manager-container-offset;

        align-items: center;

        &:after {
            right: $datagrid-manager-after-position-r;
            bottom: $datagrid-manager-after-position-b;

            border-top: $datagrid-manager-after-border--size solid transparent;
            border-right: $datagrid-manager-after-border--size solid $datagrid-manager-after-border-color;
            border-left: $datagrid-manager-after-border--size solid transparent;

            @include after();
        }
    }

    &__handle {
        display: block;
        width: $datagrid-manager-handle-width;
        height: $datagrid-manager-handle-height;
        margin-right: $datagrid-manager-handle-offset;

        flex: 0 0 auto;

        border: $datagrid-manager-handle-border;
        border-top: 0;
        border-bottom: 0;

        cursor: move;

        vertical-align: middle;
    }

    &__label {
        flex: 1 1 auto;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto !important;
        margin-bottom: $offset-y-m;
        padding-bottom: $offset-x-s;

        // Rewrite ui-* styles
        &.ui-rewrite {
            overflow-y: inherit;
        }
    }

    &__list-item {
        width: 100%;

        margin-top: $offset-y-s;
        padding-right: $offset-x-s;

        &--half {
            width: 50%;
        }
    }

    &__footer {
        padding-bottom: $offset-y-m;
        margin-bottom: -$offset-y-m;
    }

    &__no-columns {
        padding: $offset-y;

        text-align: center;

        border: 1px solid get-color('additional', 'light');
        border-radius: 3px;
    }

    &.dropdown {
        display: inline-block;
    }

    .dropdown-menu {
        // Break inline styles
        width: $datagrid-manager-dropdown-menu-width !important;
        // Break inline styles
        max-width: $datagrid-manager-dropdown-menu-width !important;
        // Break inline styles
        min-width: inherit !important;
        padding: $datagrid-manager-dropdown-menu-inner-offset;

        border: $datagrid-manager-dropdown-menu-border;
        border-radius: $datagrid-manager-dropdown-menu-border-radius;
        box-shadow: $datagrid-manager-dropdown-menu-box-shadow;
        color: $datagrid-manager-dropdown-menu-color;

        @extend .dropdown-menu-right;

        // Rewrite ui-* styles
        &.ui-rewrite {
            // Break inline styles
            left: auto !important;

            // Break inline styles
            width: 100% !important;
        }
    }

    .close {
        position: absolute;
        top: $datagrid-manager-close-top;
        right: $datagrid-manager-close-right;

        font-size: $datagrid-manager-close-font-size;
        text-align: $datagrid-manager-close-text-align;
        line-height: $datagrid-manager-close-line-height;

        color: $datagrid-manager-close-color;

        cursor: pointer;

        @include element-state('hover') {
            opacity: $datagrid-manager-close-color-hover-opacity;
        }
    }

    .disabled {
        color: $datagrid-manager-disabled-color;

        pointer-events: none;

        a {
            color: inherit;
        }
    }

    // Rewrite ui-* styles
    .custom-checkbox__input.ui-rewrite {
        position: absolute;
        top: 0;
    }

    @at-root {
        .fullscreen {
            // Break inline styles
            max-width: none !important;

            .datagrid-manager {
                &__container {
                    &:after {
                        content: none;
                    }
                }

                &__reset-btn {
                    display: block;
                    padding: $datagrid-manager-fullscreen-reset-btn-inner-offset;

                    text-align: $datagrid-manager-fullscreen-reset-btn-text-align;

                    border: $datagrid-manager-fullscreen-reset-btn-border;

                    border-radius: $datagrid-manager-fullscreen-reset-btn-border-radius;
                }

                &__handle {
                    margin-right: $datagrid-manager-fullscreen-handle-offset;
                }

                &__header {
                    display: none;
                }

                &__actions {
                    padding: $datagrid-manager-fullscreen-actions-inner-offset;
                }


                &-table {
                    padding: $datagrid-manager-fullscreen-table-inner-offset;
                }


                &__footer {
                    padding: $datagrid-manager-fullscreen-footer-inner-offset;
                }
            }
        }
    }

    .filters-dropdown {
        display: flex;
        flex-wrap: wrap;

        height: auto !important;

        padding: $datagrid-manager-filters-dropdown-size 0 0 $datagrid-manager-filters-dropdown-size;

        overflow: inherit !important;

        &__items {
            width: 100%;

            margin: -#{$datagrid-manager-filters-dropdown-size} 0 0 -#{$datagrid-manager-filters-dropdown-size};

            border: $datagrid-manager-filters-dropdown-size solid $datagrid-manager-filters-dropdown-items-b-color;

            &--pallet {
                width: 50%;
            }
        }

        &__labels {
            position: relative;

            display: flex;
            flex-wrap: wrap;
            align-content: center;
            height: 100%;

            cursor: pointer;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            padding: $datagrid-manager-filters-dropdown-content-inner-offset;

            line-height: $datagrid-manager-filters-dropdown-content-line-height;

            word-break: break-all;

            @include hover-focus() {
                background-color: $datagrid-manager-filters-dropdown-content-hover-bg-color;
            }
        }

        &__inputs {
            position: absolute;

            visibility: hidden;

            &:checked {
                + span {
                    background-color: $datagrid-manager-filters-dropdown-content-checked-background-color;
                    color: $datagrid-manager-filters-dropdown-content-checked-color;
                }
            }
        }
    }
}
