// @theme: default

.datagrid-manager {
    &__title {
        margin-bottom: $offset-y-m;
    }

    &__actions {
        position: relative;

        &-item {
            display: inline-block;
        }
    }

    &__separator {
        padding: 0 2px;

        color: darken(get-color('additional', 'light'), 12%);
    }

    &__item {
        background: none;
    }

    &__container {
        position: relative;

        display: flex;
        padding: $offset-y-s 0;
        margin: 0 -#{$offset-y-s};

        align-items: center;

        &:after {
            right: 0;
            bottom: 3px;

            border-top: 8px solid transparent;
            border-right: 8px solid get-color('additional', 'light');
            border-left: 8px solid transparent;

            @include after();
        }
    }

    &__handle {
        display: block;
        width: 10px;
        height: 33px;
        margin-right: 8px;

        flex: 0 0 auto;

        border: 4px dotted get-color('additional', 'light');
        border-top: 0;
        border-bottom: 0;

        cursor: move;

        vertical-align: middle;
    }

    &__label {
        flex: 1 1 auto;
    }

    &__footer {
        padding-bottom: $offset-y-m;
        margin: ($offset-y-m + 2px) 0 -#{$offset-y-m};
    }

    &__no-columns {
        padding: $offset-y;

        text-align: center;

        border: 1px solid get-color('additional', 'light');
        border-radius: 3px;
    }

    &.dropdown {
        display: inline-block;
    }

    .dropdown-menu {
        border: 1px solid darken(get-color('additional', light), 4%);
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .1);

        @extend .dropdown-menu-right;

        // Rewrite ui-* styles
        &.ui-rewrite {
            // Break inline styles
            left: auto !important;

            // Break inline styles
            width: 100% !important;
            max-width: 312px;

            // Break inline styles
            min-width: inherit !important;
        }
    }

    .close {
        position: absolute;
        top: 18px;
        right: 9px;

        font-size: $base-font-size--l;
        text-align: center;
        line-height: 0;

        color: darken(get-color('additional', 'light'), 44%);

        cursor: pointer;

        @include element-state('hover') {
            opacity: .7;
        }
    }

    .disabled {
        color: darken(get-color('additional', 'middle'), 7%);

        pointer-events: none;

        a {
            color: inherit;
        }
    }

    .filter-dropdown__search {
        margin-top: $offset-y;
    }

    @at-root {
        .fullscreen {
            // Break inline styles
            max-width: none !important;

            .datagrid-manager {
                &__container {
                    &:after {
                        content: none;
                    }
                }

                &__reset-btn {
                    display: block;
                    padding: 7px;

                    text-align: center;

                    border: 1px solid get-color('additional', 'light');

                    border-radius: 5px;
                }

                &__handle {
                    margin-right: 12px;
                }

                &__header {
                    display: none;
                }

                &__actions {
                    padding: $offset-y $offset-x $offset-y-s;
                }

                &-table {
                    padding: 0 $offset-x-m 0 0;
                }

                &__footer {
                    padding: $offset-y-s $offset-x-m;
                }
            }
        }
    }
}
