// @theme: default

.datagrid-manager-table {
    position: relative;

    margin: 10px 0;

    color: get-color('additional', 'dark');

    .table-wrapper {
        border: 1px solid get-color('additional', 'light');
        border-radius: 3px;

        overflow: auto;
        overflow-x: hidden;
    }

    .datagrid-manager__item {
        padding: 0 10px;
    }

    .table {
        // Disable styles from platform
        tr:first-child td {
            border: 0;
        }
    }
}
