/* @theme: default; */

.datagrid-manager-search {
    position: relative;

    margin-bottom: spacing('base');

    &__icon {
        position: absolute;
        top: 0;
        left: spacing('md');
        bottom: 0;
        margin: auto;

        color: $datagrid-manager-search-color;
    }

    &.empty {
        > .clear {
            display: none;
        }
    }

    .input {
        padding-inline: 40px;
    }
}
