/* @theme: default; */

.dropdown-menu {
    .dropdown-search-container {
        position: relative;
        width: 100%;

        .quick-search-icon {
            display: none;
            position: absolute;
            right: $dropdown-search-search-icon-offset-right;
            top: 50%;
            transform: translateY(-50%);
        }

        .clear-search-button {
            right: $dropdown-search-clear-search-button-offset-right;

            &:disabled {
                display: none;

                + .quick-search-icon {
                    display: inline-block;
                }
            }
        }

        .input {
            padding-right: $dropdown-search-input-offset;
        }

        .no-matches {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            text-align: center;
            padding: spacing('sm') spacing('base');
        }
    }

    .item-container {
        max-height: $dropdown-search-item-container-height;
        overflow-y: auto;

        // Prevent to crop focusable children
        padding: $dropdown-search-item-container-offset;
    }

    .items-group {
        list-style: none;

        &:not(:first-of-type) {
            margin-top: spacing('sm');

            &::before {
                content: '';
                display: block;
                margin: $dropdown-search-items-group-offset;

                border-top: $dropdown-search-items-group-border;
            }
        }

        &.hide {
            + .items-group {
                &::before {
                    display: none;
                }
            }
        }
    }

    &.fullscreen {
        .item-container {
            max-height: initial;
        }
    }
}
