.editable {
    padding: 6px 10px 3px;

    background: get-color('additional', 'base');

    &__trigger {
        margin-bottom: $offset-x-s;
    }

    &__editor-container {
        display: none;
    }
}
