/* @theme: default; */

.embedded-list {
    position: relative;
    margin-bottom: $embedded-list-bottom-offset;

    &__slider {
        // Hide content before slick slider is initialized
        overflow: hidden;
        white-space: nowrap;
        // Allows to select text in any slides
        user-select: initial;

        margin-left: -$embedded-list-item-offset-inner;
        margin-right: -$embedded-list-item-offset-inner;

        // Prevents to select text if "draggable" option is enabled
        .slick-list.draggable {
            user-select: none;
        }

        &.slick-initialized {
            // Show content after slick slider is initialized
            overflow: visible;

            &::before {
                display: block;
            }
        }
    }

    &__item {
        display: inline-block;

        padding-left: $embedded-list-item-offset-inner;
        padding-right: $embedded-list-item-offset-inner;

        vertical-align: top;
        white-space: normal;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $embedded-list-label-offset-bottom;

        @include slick-arrow(
            $slick-arrow-position: static,
            $slick-arrow-transform: $embedded-list-slider-btn-arrow-transform,
            $slick-arrow-background: $embedded-list-slider-btn-arrow-background,
            $slick-arrow-hover-background: $embedded-list-slider-btn-arrow-hover-background,
            $slick-arrow-focus-background: $embedded-list-slider-btn-arrow-focus-background,
            $slick-arrow-top: $embedded-list-slider-btn-arrow-top-pos,
            $slick-arrow-width: $embedded-list-slider-btn-arrow-width,
            $slick-arrow-height: $embedded-list-slider-btn-arrow-height,
            $slick-arrow-next-right: $embedded-list-slider-btn-arrow-inset-inline-end-pos,
            $slick-arrow-prev-left: $embedded-list-slider-btn-arrow-inset-inline-start-pos,
            $slick-arrow-border-radius: $embedded-list-slider-btn-border-radius,
        );
    }

    &__arrows-holder {
        display: flex;
        gap: spacing('base');
    }

    &__dots-holder {
        &:empty {
            display: none;
        }

        @include slick-dots(
            $slick-dots-align-items: flex-start
        );
    }

    &__label {
        text-align: $embedded-list-label-text-align;
    }

    &__tiles {
        --tiles-column-count: #{$embedded-list-tiles-column-count};
    }
}

@include breakpoint('tablet-big') {
    .embedded-list {
        &__tiles {
            --tiles-column-count: #{$embedded-list-tiles-tablet-big-column-count};
        }
    }
}

@include breakpoint('tablet') {
    .embedded-list {
        margin-bottom: $embedded-list-bottom-offset-tablet;

        &__slider {
            &.slick-initialized {
                padding: 0;
            }
        }

        &__title {
            margin-bottom: $embedded-list-title-offset-bottom-tablet;
        }
    }
}

@include breakpoint('tablet-small') {
    .embedded-list {
        &__tiles {
            --tiles-column-count: #{$embedded-list-tiles-tablet-small-column-count};
        }
    }
}

@include breakpoint('mobile-landscape') {
    .embedded-list {
        &__tiles {
            --tiles-column-count: #{$embedded-list-tiles-mobile-landscape-column-count};
        }
    }
}

@include breakpoint('mobile') {
    .embedded-list {
        &__label-inner {
            font-size: $embedded-list-label-mobile-font-size;
        }
    }
}
