/* @theme: default; */

@if $focus-visible-style {
    .focus-visible.focus-via-arrows-keys:focus {
        box-shadow: $focus-via-arrows-keys-style;

        &.grid-cell,
        &.permissions-cell {
            box-shadow: $focus-via-arrows-keys-grid-cell-style;
        }

        &.btn {
            &:not(:disabled):not(.disabled) {
                box-shadow: $focus-via-arrows-keys-button-style;
            }

            &.checked,
            &.active,
            &.pressed {
                box-shadow: $active-box-shadow;
            }
        }

        &.custom-checkbox__input ~ .custom-checkbox__icon {
            box-shadow: $focus-via-arrows-keys-checkbox-icon-style;
        }

        &.custom-radio__input,
        &.custom-radio__control {
            ~ .custom-radio__text {
                &::before {
                    box-shadow: $focus-via-arrows-keys-radio-icon-style;
                }
            }

            &:checked {
                ~ .custom-radio__text {
                    &::before {
                        box-shadow:
                                $custom-radio-icon-checked-box-shadow,
                                $focus-via-arrows-keys-radio-icon-style;
                    }
                }
            }
        }
    }
}
