// @theme: default;

.frontend-datagrid {
    &__filter {
        display: none;
        flex-shrink: 0;

        width: 100%;

        &:not(:empty) {
            display: block;
        }

        @if ($filter-box-dropdown-mode-use-corner) {
            &:before {
                content: '';

                position: absolute;
                right: $filter-box-dropdown-mode-corner-position-r;
                bottom: $filter-box-dropdown-mode-corner-position-b;

                border-left: $filter-box-dropdown-mode-corner-size solid transparent;
                border-right: $filter-box-dropdown-mode-corner-size solid transparent;
                border-bottom: $filter-box-dropdown-mode-corner-size solid $filter-box-dropdown-mode-background;
            }
        }
    }

    &__panel {
        color: lighten(get-color('additional', 'dark'), 21%);

        .btn {
            color: inherit;
        }
    }
}

@include breakpoint('tablet') {
    .frontend-datagrid {
        &--responsive {
            .grid {
                display: $frontend-datagrid-responsive-grid-tablet-display;

                &-header {
                    .string-cell {
                        display: $frontend-datagrid-responsive-header-tablet-display;
                    }

                    &-cell {
                        &.action-column {
                            width: $frontend-datagrid-responsive-action-cell-tablet-action-width;
                        }
                    }
                }

                &-body {
                    display: $frontend-datagrid-responsive-body-tablet-display;
                    overflow: hidden;
                }

                &-row {
                    @include mosaic-grid(
                        $frontend-datagrid-responsive-row-tablet-column-width,
                        $frontend-datagrid-responsive-row-tablet-column-count
                    );

                    min-height: $frontend-datagrid-responsive-row-tablet-min-height;
                    display: $frontend-datagrid-responsive-row-tablet-display;
                    padding: $frontend-datagrid-responsive-row-tablet-inner-offset;
                    position: $frontend-datagrid-responsive-row-tablet-position;

                    &:not(:first-child) {
                        border-top: $frontend-datagrid-responsive-row-tablet-border-top;
                    }

                    &.has-select-action {
                        padding-left: $frontend-datagrid-responsive-row-has-select-action-tablet-inner-offset-left;
                    }

                    &.has-actions {
                        padding-right: $frontend-datagrid-responsive-row-has-actions-tablet-inner-offset-right;
                        margin-right: -$frontend-datagrid-responsive-row-has-actions-tablet-inner-offset-right;
                    }

                    &.swipe-active {
                        background-color: #F5F5F5;
                    }
                }

                &-body-cell {
                    @include mosaic-grid-break-inside();

                    display: $frontend-datagrid-responsive-body-cell-tablet-display;
                    border: $frontend-datagrid-responsive-body-cell-tablet-border;
                    margin: $frontend-datagrid-responsive-body-cell-tablet-offset;
                    padding: $frontend-datagrid-responsive-body-cell-tablet-inner-offset;

                    &:before {
                        content: $frontend-datagrid-responsive-body-cell-before-tablet-content;
                        display: $frontend-datagrid-responsive-body-cell-before-tablet-display;
                    }

                    &.boolean-cell {
                        &:before {
                            display: $frontend-datagrid-responsive-boolean-cell-before-tablet-display;
                        }
                    }

                    &.select-row-cell {
                        position: $frontend-datagrid-responsive-select-row-cell-tablet-position;
                        top: $frontend-datagrid-responsive-select-row-cell-tablet-top;
                        left: $frontend-datagrid-responsive-select-row-cell-tablet-left;
                    }

                    &.action-cell {
                        width: auto;
                        max-width: $frontend-datagrid-responsive-action-cell-tablet-width;
                        position: $frontend-datagrid-responsive-action-cell-tablet-position;
                        top: $frontend-datagrid-responsive-action-cell-tablet-top;
                        right: $frontend-datagrid-responsive-action-cell-tablet-right;
                        bottom: $frontend-datagrid-responsive-action-cell-tablet-bottom;
                        background: $frontend-datagrid-responsive-action-cell-tablet-bg-color;
                        margin: $frontend-datagrid-responsive-action-cell-tablet-outer-offset;
                        padding: $frontend-datagrid-responsive-action-cell-tablet-inner-offset;

                        .action {
                            color: $frontend-datagrid-responsive-action-cell-tablet-icon-color;

                            &-row {
                                display: $frontend-datagrid-responsive-action-cell-tablet-row-display;
                                height: $frontend-datagrid-responsive-action-cell-tablet-row-height;
                                align-items: $frontend-datagrid-responsive-action-cell-tablet-row-align-items;

                                .launchers-list {
                                    display: $frontend-datagrid-responsive-action-cell-tablet-launchers-list-display;
                                    flex-wrap: $frontend-datagrid-responsive-action-cell-tablet-launchers-list-flex-wrap;

                                    .launcher-item {
                                        &:not(.mode-icon-only) {
                                            margin: $frontend-datagrid-responsive-action-cell-tablet-column-outer-offset;
                                            width: $frontend-datagrid-responsive-action-cell-tablet-column-width;
                                            padding: $frontend-datagrid-responsive-action-cell-tablet-column-inner-offset;
                                        }
                                    }
                                }
                            }

                            &.mode-icon-only:first-child [class^="fa-"] {
                                padding-left: $frontend-datagrid-responsive-action-cell-tablet-left-inner-offset;
                            }
                        }
                    }
                }
            }
        }
    }
}
