// @theme: default

.frontend-datagrid {
    &__filter {
        display: none;
        flex-shrink: 0;

        width: 100%;

        &:not(:empty) {
            display: block;
        }

        @if ($filter-box-dropdown-mode-use-corner) {
            &:before {
                content: '';

                position: absolute;
                right: $filter-box-dropdown-mode-corner-position-r;
                bottom: $filter-box-dropdown-mode-corner-position-b;

                border-left: $filter-box-dropdown-mode-corner-size solid transparent;
                border-right: $filter-box-dropdown-mode-corner-size solid transparent;
                border-bottom: $filter-box-dropdown-mode-corner-size solid $filter-box-dropdown-mode-background;
            }
        }
    }

    &__panel {
        color: lighten(get-color('additional', 'dark'), 21%);

        .btn {
            color: inherit;
        }
    }
}

@include breakpoint('tablet') {
    .frontend-datagrid {
        .grid {
            &-header {
                display: none;
            }

            &-row {
                display: block;
                @include mosaic-grid();
            }

            &-body-cell {
                display: block;
                padding: 0;
            }
        }
    }
}
