// @theme: default;

.frontend-datagrid {
    &__filter {
        display: none;
        flex-shrink: 0;

        width: 100%;

        &:not(:empty) {
            display: block;
        }

        @if ($filter-box-dropdown-mode-use-corner) {
            &:before {
                content: '';

                position: absolute;
                right: $filter-box-dropdown-mode-corner-position-r;
                bottom: $filter-box-dropdown-mode-corner-position-b;

                border-left: $filter-box-dropdown-mode-corner-size solid transparent;
                border-right: $filter-box-dropdown-mode-corner-size solid transparent;
                border-bottom: $filter-box-dropdown-mode-corner-size solid $filter-box-dropdown-mode-background;
            }
        }
    }

    &__panel {
        color: lighten(get-color('additional', 'dark'), 21%);

        .btn {
            color: inherit;
        }
    }
}

@include breakpoint('tablet') {
    .frontend-datagrid {
        &--responsive {
            .grid {
                display: $frontend-datagrid-responsive-grid-tablet-display;

                &-header {
                    display: $frontend-datagrid-responsive-header-tablet-display;
                }

                &-body {
                    display: $frontend-datagrid-responsive-body-tablet-display;
                }

                &-row {
                    column-count: $frontend-datagrid-responsive-row-tablet-column-count;
                    column-width: $frontend-datagrid-responsive-row-tablet-column-width;
                    min-height: $frontend-datagrid-responsive-row-tablet-min-height;
                    display: $frontend-datagrid-responsive-row-tablet-display;
                    padding: $frontend-datagrid-responsive-row-tablet-inner-offset;
                    position: $frontend-datagrid-responsive-row-tablet-position;

                    &:not(:first-child) {
                        border-top: $frontend-datagrid-responsive-row-tablet-border-top;
                    }
                }

                &-body-cell {
                    @include mosaic-grid-break-inside();

                    display: $frontend-datagrid-responsive-body-cell-tablet-display;
                    border: $frontend-datagrid-responsive-body-cell-tablet-border;
                    margin: $frontend-datagrid-responsive-body-cell-tablet-offset;
                    padding: $frontend-datagrid-responsive-body-cell-tablet-inner-offset;

                    &:before {
                        content: $frontend-datagrid-responsive-body-cell-before-tablet-content;
                        display: $frontend-datagrid-responsive-body-cell-before-tablet-display;
                    }

                    &.boolean-cell {
                        &:before {
                            display: $frontend-datagrid-responsive-boolean-cell-before-tablet-display;
                        }
                    }

                    &.select-row-cell {
                        position: $frontend-datagrid-responsive-select-row-cell-tablet-position;
                        top: $frontend-datagrid-responsive-select-row-cell-tablet-top;
                        left: $frontend-datagrid-responsive-select-row-cell-tablet-left;
                    }

                    &.action-cell {
                        width: $frontend-datagrid-responsive-action-cell-tablet-width;
                        position: $frontend-datagrid-responsive-action-cell-tablet-position;
                        top: $frontend-datagrid-responsive-action-cell-tablet-top;
                        right: $frontend-datagrid-responsive-action-cell-tablet-right;
                    }
                }
            }
        }
    }
}
