// @theme: default

.frontend-datagrid {
    &__filter {
        display: none;

        width: 100%;

        &:not(:empty) {
            display: block;
        }

        .select2-container {
            display: none;
        }

        .filter-box {
            box-shadow: none;

            &:before {
                content: '';

                position: absolute;
                right: 15px;
                bottom: 100%;

                display: block;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid get-color('additional', 'base');

                box-shadow: none;
            }
        }

        .filters-state {
            padding: 0;
        }
    }

    &__panel {
        color: lighten(get-color('additional', 'dark'), 21%);

        .btn {
            color: inherit;
        }
    }
}
