// @theme: default

.frontend-datagrid {
    &__filter {
        display: none;
        flex-shrink: 0;

        width: 100%;

        &:not(:empty) {
            display: block;
        }

        .select2-container {
            display: none;
        }
    }

    &__panel {
        color: lighten(get-color('additional', 'dark'), 21%);

        .btn {
            color: inherit;
        }
    }
}
