/* @theme: default; */

.frontend-datagrid {
    &__filter {
        &:empty {
            display: none;
        }
    }
}

@include breakpoint('tablet') {
    .frontend-datagrid {
        &--responsive {
            .grid-main-container {
                display: $frontend-datagrid-responsive-grid-tablet-display;
            }

            .grid {
                &-header {
                    &-cell {
                        &:not(.action-column):not(.grid-header-cell-massAction) {
                            display: $frontend-datagrid-responsive-header-tablet-display;
                        }

                        &.action-column {
                            width: $frontend-datagrid-has-swipe-action-cell-tablet-action-width;

                            &--disabled {
                                display: $frontend-datagrid-responsive-body-tablet-disabled-display;
                            }
                        }
                    }
                }

                &-body {
                    display: $frontend-datagrid-responsive-body-tablet-display;
                    overflow: hidden;
                }

                &-row {
                    min-height: $frontend-datagrid-responsive-row-tablet-min-height;
                    display: $frontend-datagrid-responsive-row-tablet-display;
                    padding: $frontend-datagrid-responsive-row-tablet-inner-offset;
                    position: $frontend-datagrid-responsive-row-tablet-position;
                    grid-template-columns: $frontend-datagrid-responsive-row-tablet-grid-template-columns;
                    gap: $frontend-datagrid-responsive-row-tablet-gap;

                    &:not(:first-child) {
                        border-top: $frontend-datagrid-responsive-row-tablet-border-top;
                    }

                    &.has-select-action {
                        padding-left: $frontend-datagrid-responsive-row-has-select-action-tablet-inner-offset-left;
                    }

                    &.has-actions {
                        padding-right: $frontend-datagrid-responsive-row-has-actions-tablet-inner-offset-right;
                        margin-right: -$frontend-datagrid-responsive-row-has-actions-tablet-inner-offset-right;
                    }

                    &.swipe-active {
                        background-color: $frontend-datagrid-responsive-row-swipe-active-tablet-background-color;
                    }
                }

                &-body-cell {
                    display: $frontend-datagrid-responsive-body-cell-tablet-display;
                    border: $frontend-datagrid-responsive-body-cell-tablet-border;
                    margin: $frontend-datagrid-responsive-body-cell-tablet-offset;
                    padding: $frontend-datagrid-responsive-body-cell-tablet-inner-offset;
                    word-wrap: $frontend-datagrid-responsive-body-cell-tablet-word-wrap;

                    &::before {
                        content: $frontend-datagrid-responsive-body-cell-before-tablet-content;
                        display: $frontend-datagrid-responsive-body-cell-before-tablet-display;
                    }

                    &.boolean-cell {
                        &::before {
                            display: $frontend-datagrid-responsive-boolean-cell-before-tablet-display;
                        }
                    }

                    &.select-row-cell {
                        position: $frontend-datagrid-responsive-select-row-cell-tablet-position;
                        top: $frontend-datagrid-responsive-select-row-cell-tablet-top;
                        left: $frontend-datagrid-responsive-select-row-cell-tablet-left;
                    }

                    &.action-cell {
                        text-align: left;
                    }

                    .launcher-item {
                        // fix rendering in iOS
                        position: static;

                        &.mode-icon-only:first-child {
                            padding-left: $frontend-datagrid-responsive-action-cell-tablet-launchers-first-last-offset;
                        }

                        // fix rendering in iOS
                        &.mode-icon-only:not(:first-child)::before {
                            top: auto;
                            bottom: auto;
                            left: auto;
                            height: $frontend-datagrid-launchers-separator-height;
                            margin: $frontend-datagrid-responsive-body-cell-tablet-offset;
                            margin-left: -$frontend-datagrid-has-swipe-action-cell-tablet-launchers-list-last-offset;
                        }
                    }

                    .more-bar-holder {
                        // fix rendering in iOS
                        position: static;

                        .dropdown-toggle {
                            padding-left: $frontend-datagrid-responsive-action-cell-tablet-launchers-first-last-offset;
                        }
                    }
                }
            }
        }

        &--has-swipe {
            .action-cell {
                width: auto;
                max-width: $frontend-datagrid-has-swipe-action-cell-tablet-width;
                position: $frontend-datagrid-has-swipe-action-cell-tablet-position;
                top: $frontend-datagrid-has-swipe-action-cell-tablet-top;
                right: $frontend-datagrid-has-swipe-action-cell-tablet-right;
                bottom: $frontend-datagrid-has-swipe-action-cell-tablet-bottom;
                background: $frontend-datagrid-has-swipe-action-cell-tablet-bg-color;
                margin: $frontend-datagrid-has-swipe-action-cell-tablet-outer-offset;
                padding: $frontend-datagrid-has-swipe-action-cell-tablet-inner-offset;

                .action {
                    color: $frontend-datagrid-has-swipe-action-cell-tablet-icon-color;

                    @include ellipsis();

                    &-row {
                        display: $frontend-datagrid-has-swipe-action-cell-tablet-row-display;
                        height: $frontend-datagrid-has-swipe-action-cell-tablet-row-height;
                        align-items: $frontend-datagrid-has-swipe-action-cell-tablet-row-align-items;
                    }

                    &.mode-icon-only:first-child [class^='fa-'] {
                        padding-left: $frontend-datagrid-has-swipe-action-cell-tablet-left-inner-offset;
                    }
                }
            }

            .launchers-list {
                display: $frontend-datagrid-has-swipe-action-cell-tablet-launchers-list-display;
                flex-wrap: $frontend-datagrid-has-swipe-action-cell-tablet-launchers-list-flex-wrap;

                .launcher-item {
                    &:not(.mode-icon-only) {
                        margin: $frontend-datagrid-has-swipe-action-cell-tablet-column-outer-offset;
                        width: $frontend-datagrid-has-swipe-action-cell-tablet-column-width;
                        padding: $frontend-datagrid-has-swipe-action-cell-tablet-column-inner-offset;
                    }

                    &.mode-icon-only:last-child {
                        padding-right: $frontend-datagrid-has-swipe-action-cell-tablet-launchers-list-last-offset;
                    }
                }
            }
        }
    }
}

@include breakpoint('mobile-big') {
    .frontend-datagrid {
        &--responsive {
            .grid {
                &-row {
                    grid-template-columns: $frontend-datagrid-responsive-row-mobile-big-grid-template-columns;
                }
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .frontend-datagrid {
        &--responsive {
            .grid {
                &-row {
                    grid-template-columns: $frontend-datagrid-responsive-row-mobile-landscape-grid-template-columns;
                    gap: $frontend-datagrid-responsive-row-mobile-landscape-gap;
                }
            }
        }
    }
}
