/* @theme: default; */

.fullscreen-popup {
    display: $fullscreen-popup-display;
    flex-direction: $fullscreen-popup-flex-direction;
    min-width: $body-min-width;

    position: $fullscreen-popup-position;
    z-index: $fullscreen-popup-z-index;

    inset-block: $fullscreen-popup-inset-block;
    inset-inline: $fullscreen-popup-inset-inline;

    height: $fullscreen-popup-height;
    margin-left: $fullscreen-popup-margin-left;

    background: $fullscreen-popup-bg;

    &--align-down.fullscreen {
        max-height: 80dvh;
        top: auto;
    }

    &__header {
        background: $fullscreen-popup-header-bg;
        display: $fullscreen-popup-header-display;
        align-items: $fullscreen-popup-header-align-items;
        flex-shrink: $fullscreen-popup-header-flex-shrink;
        gap: $fullscreen-popup-header-gap;

        justify-content: $fullscreen-popup-header-justify-content;

        z-index: $fullscreen-popup-header-z-index;

        padding-block: $fullscreen-popup-header-padding-block;

        @include safe-area-property-left(
            padding-inline-start,
            $fullscreen-popup-header-padding-inline-start
        );
        @include safe-area-property-right(
            padding-inline-end,
            $fullscreen-popup-header-padding-inline-end
        );
    }

    &__header:has(&__label:first-child) {
        @include safe-area-property-left(
            padding-inline-start,
            $fullscreen-popup-header-only-label-padding-inline-start
        );
    }

    &__header:has(&__label:last-child) {
        @include safe-area-property-right(
            padding-inline-end,
            $fullscreen-popup-header-only-label-padding-inline-end
        );
    }

    &__icon {
        flex-shrink: $fullscreen-popup-icon-flex-shrink;
        align-self: $fullscreen-popup-icon-align-self;
    }

    &__label {
        display: $fullscreen-popup-label-display;
        justify-content: $fullscreen-popup-label-justify-content;
        flex-grow: 1;

        padding-block: $fullscreen-popup-label-padding-block;
        padding-inline: $fullscreen-popup-label-padding-inline;

        font-size: $fullscreen-popup-label-font-size;
        font-weight: $fullscreen-popup-label-weight;
        line-height: $fullscreen-popup-label-line-height;

        cursor: $fullscreen-popup-label-cursor;
    }

    &__content {
        height: $fullscreen-popup-content-height;
        overflow: $fullscreen-popup-content-overflow;
        padding-block: $fullscreen-popup-content-padding-block;

        @include safe-area-property-left(
            padding-inline-start,
            $fullscreen-popup-content-padding-inline-start
        );
        @include safe-area-property-right(
            padding-inline-end,
            $fullscreen-popup-content-padding-inline-end
        );

        .alert {
            margin: $fullscreen-popup-content-alert-offset-height;
        }

        .loader-mask {
            position: $fullscreen-popup-content-loader-position;
        }
    }

    &__footer {
        display: $fullscreen-popup-footer-display;
        align-items: $fullscreen-popup-footer-align-items;
        gap: $fullscreen-popup-footer-gap;

        position: $fullscreen-popup-footer-position;
        z-index: $fullscreen-popup-footer-z-index;

        right: $fullscreen-popup-footer-right;
        left: $fullscreen-popup-footer-left;
        bottom: $fullscreen-popup-footer-bottom;

        padding-block: $fullscreen-popup-footer-padding-block;

        @include safe-area-property-left(
            padding-inline-start,
            $fullscreen-popup-footer-padding-inline-start
        );
        @include safe-area-property-right(
            padding-inline-end,
            $fullscreen-popup-footer-padding-inline-end
        );

        background: $fullscreen-popup-footer-bg;
        border-top: $fullscreen-popup-footer-border-top;

        &:empty {
            display: none;
        }

        > .btn {
            width: $fullscreen-popup-footer-btn-width;
        }
    }

    &__actions-wrapper {
        width: $fullscreen-popup-actions-wrapper-width;

        .widget-actions-section {
            display: $fullscreen-popup-widget-actions-section-display;
            width: $fullscreen-popup-widget-actions-section-width;
        }

        .action-wrapper {
            width: $fullscreen-popup-actions-wrapper-width;
            margin: $fullscreen-popup-actions-wrapper-offset;

            .btn {
                width: $fullscreen-popup-actions-wrapper-bnt-width;
            }
        }
    }

    // Make correct padding of popup content for any content
    .tab-content__wrapper {
        padding: 20px;
    }

    .backdrop-view {
        z-index: $fullscreen-popup-footer-z-index;
    }

    &--transition {
        transition: $fullscreen-popup-transition;

        &:not(.show) {
            opacity: 0;
            transform: translateY(50px);
        }
    }
}

@include breakpoint('desktop-small') {
    .fullscreen-popup {
        &--inside-dialog {
            position: absolute;
            inset: 0 50% 0 0;
            max-width: 500px;
            min-width: 350px;
            border-radius: $fullscreen-popup-in-dialog-border-radius;
        }

        &--inside-dialog &__header {
            border-radius: $fullscreen-popup-header-in-dialog-border-radius;
        }

        &--inside-dialog &__footer {
            border-radius: $fullscreen-popup-footer-in-dialog-border-radius;
        }
    }
}

@include breakpoint('mobile-big-min') {
    .fullscreen-popup {
        &--align-left {
            inset-inline-end: auto;

            &:not(.show) {
                opacity: 1;
                transform: translateX(-100%);
            }
        }

        &--align-left &__header {
            padding-inline-end: $fullscreen-popup-header-padding-inline-end;
        }

        &--align-left &__header:has(&__label:last-child) {
            padding-inline-end: $fullscreen-popup-header-only-label-padding-inline-end;
        }

        &--align-left &__content {
            padding-inline-end: $fullscreen-popup-content-padding-inline-end;
        }

        &--align-left &__footer {
            padding-inline-end: $fullscreen-popup-footer-padding-inline-end;
        }
    }
}
