.fullscreen-popup {
    display: $fullscreen-popup-display;
    flex-direction: $fullscreen-popup-flex-direction;
    min-width: $body-min-width;

    position: $fullscreen-popup-position;
    z-index: $fullscreen-popup-z-index;

    top: $fullscreen-popup-top;
    right: $fullscreen-popup-right;
    bottom: $fullscreen-popup-bottom;
    left: $fullscreen-popup-left;

    height: $fullscreen-popup-height;
    margin-left: $fullscreen-popup-margin-left;

    background: $fullscreen-popup-bg;

    &__header {
        display: $fullscreen-popup-header-display;
        align-items: $fullscreen-popup-header-align-items;
        flex-shrink: $fullscreen-popup-header-flex-shrink;
        gap: $fullscreen-popup-header-gap;

        justify-content: $fullscreen-popup-header-justify-content;

        z-index: $fullscreen-popup-header-z-index;

        @include safe-area-offset(padding, $fullscreen-popup-header-offset);

        background: $fullscreen-popup-header-bg;
    }

    &__icon {
        flex-shrink: $fullscreen-popup-icon-flex-shrink;
        align-self: $fullscreen-popup-icon-align-self;
    }

    &__label {
        display: $fullscreen-popup-label-display;
        justify-content: $fullscreen-popup-label-justify-content;
        flex-grow: 1;

        padding: $fullscreen-popup-label-offset;

        font-size: $fullscreen-popup-label-font-size;
        font-weight: $fullscreen-popup-label-weight;
        line-height: $fullscreen-popup-label-line-height;

        cursor: $fullscreen-popup-label-cursor;
    }

    &__content {
        height: $fullscreen-popup-content-height;

        overflow: $fullscreen-popup-content-overflow;

        @include safe-area-offset(padding, $fullscreen-popup-content-offset);

        .alert {
            margin: $fullscreen-popup-content-alert-offset-height;
        }

        .loader-mask {
            position: $fullscreen-popup-content-loader-position;
        }
    }

    &__footer {
        display: $fullscreen-popup-footer-display;
        align-items: $fullscreen-popup-footer-align-items;

        position: $fullscreen-popup-footer-position;
        z-index: $fullscreen-popup-footer-z-index;

        right: $fullscreen-popup-footer-right;
        left: $fullscreen-popup-footer-left;
        bottom: $fullscreen-popup-footer-bottom;

        @include safe-area-offset(padding, $fullscreen-popup-footer-offset);

        background: $fullscreen-popup-footer-bg;
        border-top: $fullscreen-popup-footer-border-top;

        &:empty {
            display: none;
        }

        > .btn {
            width: $fullscreen-popup-footer-btn-width;
        }
    }

    &__actions-wrapper {
        width: $fullscreen-popup-actions-wrapper-width;

        .widget-actions-section {
            display: $fullscreen-popup-widget-actions-section-display;
            width: $fullscreen-popup-widget-actions-section-width;
        }

        .action-wrapper {
            width: $fullscreen-popup-actions-wrapper-width;
            margin: $fullscreen-popup-actions-wrapper-offset;

            .btn {
                width: $fullscreen-popup-actions-wrapper-bnt-width;
            }
        }
    }

    &__backdrop {
        position: fixed;
        inset: 0;

        background-color: $fullscreen-popup-backdrop-background-color;
        z-index: $fullscreen-popup-backdrop-z-index;

        transition: $fullscreen-popup-backdrop-transition;

        &:not(.show) {
            opacity: 0;
        }
    }

    // Make correct padding of popup content for any content
    .tab-content__wrapper {
        padding: 20px;
    }

    &--transition {
        transition: $fullscreen-popup-transition;

        &:not(.show) {
            opacity: 0;
            transform: translateY(50px);
        }
    }
}

@include breakpoint('desktop-small') {
    .fullscreen-popup {
        &--align-left {
            right: auto;

            &:not(.show) {
                opacity: 1;
                transform: translateX(-100%);
            }
        }
    }
}
