/* @theme: default; */

.grid-scrollable-container {
    overflow-y: visible;
    overflow-x: auto;

    clear: both;

    // Avoid z-index fall down of overlay scrollbar container
    .os-padding {
        z-index: initial;
    }

    // Preventing focus visible style from being cut
    .os-host-overflow > .os-padding,
    .os-viewport {
        --focus-visible-outline-offset: -2px;
    }
}
