/* @theme: default; */

.grid {
    display: grid;
    grid-template-columns: $grid-template-columns;
    gap: $grid-gap;

    &-col {
        @for $i from 1 through $grid-column-count {
            &-#{$i} {
                grid-column-end: span $i;
            }
        }
    }

    &-start {
        @for $i from 1 through $grid-column-count {
            &-#{$i} {
                grid-column-start: $i;
            }
        }
    }

    &-place {
        @each $place in (items, self) {
            &-#{$place} {
                @each $align in $grid-aligns {
                    &-#{$align} {
                        place-#{$place}: $align;

                        @each $justify in $grid-aligns {
                            @if $align != $justify {
                                &-#{$justify} {
                                    place-#{$place}: $align $justify;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint('tablet') {
    .grid {
        &-col-tablet {
            @for $i from 1 through $grid-column-count {
                &-#{$i} {
                    grid-column-end: span $i;
                }
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .grid {
        &-col-mobile-landscape {
            @for $i from 1 through $grid-column-count {
                &-#{$i} {
                    grid-column-end: span $i;
                }
            }
        }
    }
}
