/* @theme: default; */

.grid-scrollable-container {
    overflow-y: visible;
    overflow-x: auto;

    clear: both;

    // Avoid z-index fall down of overlay scrollbar container
    .os-padding {
        z-index: initial;
    }
}
