/* @theme: default; */

.fa-bars {
    @include fa-icon($fa-var-list);
}

.fa {
    &--small {
        font-size: $root-font-size;
    }

    &--medium {
        font-size: $base-font-size;
    }

    &--large {
        font-size: $base-font-size--large;
    }

    &--x-large {
        font-size: 20px;
    }

    &--xxxl {
        font-size: 48px;
    }

    &--gray {
        color: $fa-color-gray;
    }

    &--dark-gray {
        color: $fa-color-dark-gray;
    }

    &--hidden {
        visibility: hidden;
    }

    &--no-offset {
        margin-right: 0;
    }

    &--offset-l {
        margin-right: 0;
        margin-left: 3px;
    }

    &--offset-xl-r {
        margin-right: 6px;
    }

    &--as-line {
        line-height: inherit;
    }

    &--fw {
        width: 1em;

        text-align: center;
    }

    &--link-r {
        margin-right: 0;
        margin-left: 3px;

        font-size: $root-font-size;
        font-weight: font-weight('bold');
    }

    &--link-l {
        font-size: $root-font-size;
        font-weight: font-weight('bold');
    }
}

.loader-in-process {
    .fa--loader-icon {
        @extend %fa-spinner;
        @extend %fa-spin;
    }
}
