/* @theme: default; */

.oro-items-counter {
    display: inline-block;
    vertical-align: middle;
    font-size: $base-font-size;
}

@include breakpoint('mobile-landscape') {
    .oro-items-counter {
        display: none;
    }
}
