/* @theme: default; */

.link {
    @include link();

    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.disabled {
        text-decoration: none;

        cursor: default;
    }

    &--none-decoration {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}
