/* @theme: default; */

a {
    // Reusing a global variable located in FrontendBundle/Resources/public/default/scss/settings/bootstrap/_variables.scss.
    color: $link-color;

    // Reusing a global variable located in FrontendBundle/Resources/public/default/scss/settings/bootstrap/_variables.scss.
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    &:active {
        color: $link-active-color;
        text-decoration: $link-active-decoration;
    }

    &:focus {
        color: $link-focus-color;
        text-decoration: $link-focus-decoration;
    }

    &:visited {
        color: $link-visited-color;
        text-decoration: $link-visited-decoration;
    }

    &.no-decoration {
        text-decoration: none;

        &:hover {
            text-decoration: $link-hover-decoration-no-decorated;
        }
    }

    &.inverse {
        color: $link-inverse-color;

        &:hover {
            color: $link-inverse-hover-color;
        }

        &:visited {
            color: $link-inverse-visited-color;
        }

        &.disabled {
            color: $link-inverse-disabled-color;
        }
    }
}
