/* @theme: default; */

.view-loading {
    height: $loader-mask-view-loading-height;
}

.loader-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $loader-mask-z-index;

    display: none;

    overflow: hidden;

    .loader-frame {
        width: $loader-mask-frame-width;
        height: $loader-mask-frame-height;
        background: transparent url($loader-mask-loader-url) no-repeat center left;

        max-width: $loader-mask-frame-max-width;
        max-height: $loader-mask-frame-max-height;
        z-index: z(base) + 9;
        background-size: $loader-mask-frame-background-size;
        aspect-ratio: $loader-mask-frame-aspect-ratio;

        .box {
            margin: 20px 0;
        }
    }
}

.loader-overlay {
    position: absolute;
    width: $loader-mask-overlay-width;
    height: $loader-mask-overlay-height;

    background: $loader-mask-overlay-bg;

    opacity: $loader-mask-overlay-opacity;
}

.loader-content {
    @include sr-only();
}

.loading {
    position: relative;

    > .loader-mask {
        &.shown {
            display: $loader-mask-loader-shown-display;
            place-items: $loader-mask-loader-shown-place-items;
        }
    }
}

body.loading {
    > .loader-mask {
        position: fixed;
        z-index: z('popup') + 100;
    }
}
