/* @theme: default; */

.logo {
    display: $logo-display;
    max-width: $logo-width;
    max-height: $logo-height;
    min-width: $logo-min-width;
    min-height: $logo-min-height;

    padding: $logo-inner-offset;

    &--print-only {
        display: none;
    }

    &-img {
        display: $logo-img-display;
        width: $logo-img-width;
        max-width: $logo-img-max-width;
        height: $logo-img-height;
    }
}

a.logo {
    &:hover {
        opacity: $logo-link-opacity;
    }
}

@include breakpoint('desktop-small') {
    .logo {
        .page-header--standalone-main-menu & {
            padding-left: 0;
        }
    }
}

@include breakpoint('mobile-big') {
    .logo {
        padding: $logo-mobile-big-inner-offset;
    }
}
