/* @theme: default; */

.middlebar {
    display: $middlebar-display;
    grid-template-columns: $middlebar-grid-template-columns;
    align-items: $middlebar-align-items;
    grid-column-gap: $middlebar-grid-gap;

    &__left {
        display: flex;
        align-items: center;
        gap: $middlebar-left-gap;
    }

    &__right {
        display: $middlebar-right-display;
        gap: $middlebar-right-gap;
    }
}

@include breakpoint('tablet') {
    .middlebar {
        &--standalone {
            grid-template-columns: $middlebar-tablet-grid-template-columns;

            .middlebar__center {
                grid-column: $middlebar-center-tablet-grid-column;
                grid-row: $middlebar-center-tablet-grid-row;
            }
        }

        &__left {
            display: $middlebar-left-tablet-display;
            gap: $middlebar-left-tablet-gap;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .middlebar {
        &__right {
            gap: $middlebar-right-mobile-landscape-gap;
        }
    }
}
