/* @theme: default; */

.middlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    &__center {
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
    }

    &__left,
    &__right {
        width: 340px;
        flex: 0 0 auto;
    }

    &__shopping-list {
        // stylelint-disable-next-line declaration-no-important
        padding: 0 !important;
        // stylelint-disable-next-line declaration-no-important
        background: transparent !important;
    }
}

@include breakpoint('tablet') {
    .middlebar {
        padding: 10px 0;
        flex-wrap: wrap;
        justify-content: center;

        &__left {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &__right,
        &__center {
            width: 100%;
            display: none;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .middlebar {
        flex-wrap: wrap;

        &__left,
        &__right,
        &__center {
            width: 100%;
        }
    }
}
