/* @theme: default; */

.notification-flash-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $notification-flash-container-z-index;

    margin-top: calc(var(--notification-extra-offset-top, 116px) + #{$notification-flash-container-offset-top});
    margin-right: $notification-flash-container-offset-right;
    margin-left: $notification-flash-container-offset-left;
    width: $notification-flash-container-width;

    opacity: 1;

    transition: opacity 300ms linear, top 300ms linear, margin-top 300ms;

    &:empty {
        opacity: 0;
    }
}

@include breakpoint('tablet-small') {
    .notification-flash-container {
        margin-top:
            calc(
                var(--notification-extra-offset-top, 116px) + #{$notification-flash-container-mobile-offset-t}
            );
        width: $notification-flash-container-tablet-width;
    }
}

@include breakpoint('mobile-landscape') {
    .notification-flash-container {
        margin-left: $notification-flash-container-mobile-offset-horizontal;
        margin-right: $notification-flash-container-mobile-offset-horizontal;
        width: $notification-flash-container-mobile-width;
    }
}
