/* @theme: default; */

@use 'sass:selector';

// More about placeholders https://github.com/sass/sass/issues/2808#issuecomment-574413393
%base-notification,
.notification {
    padding: $notification-inner-offset;

    font-size: $notification-font-size;

    border-radius: $notification-border-radius;

    [class^='fa-'] {
        margin-right: $notification-icon-offset;
    }

    @at-root #{selector.append(&, '__text')} {
        vertical-align: $notification-vertical-align;
    }
}

%base-notification-success {
    @extend %base-notification;

    background: $notification-success-background;
    color: $notification-success-color;
}

%base-notification-warning {
    @extend %base-notification;

    background: $notification-warning-background;
    color: $notification-warning-color;
}

%base-notification-error {
    @extend %base-notification;

    background: $notification-error-background;
    color: $notification-error-color;
}

%base-notification-light {
    @extend %base-notification;

    background: transparent;
    padding-left: 0;
    padding-right: 0;
}

.notification {
    &--success,
    &--info,
    &--notice {
        @extend %base-notification-success;
    }

    &--warning,
    &--warn,
    &--alert {
        @extend %base-notification-warning;
    }

    &--error {
        @extend %base-notification-error;
    }

    &--lite {
        @extend %base-notification-light;
    }

    &--xmd {
        @extend %base-notification;

        padding: $notification-xmd-inner-offset;

        [class^='fa-'] {
            font-size: $notification-xmd-icon-size;
        }
    }

    &__list {
        margin: $notification-list-margin;
        padding: $notification-list-padding;
    }

    &__item {
        &:not(:first-child) {
            margin-top: $notification-list-offset;
        }

        &--flex {
            display: flex;
            align-items: baseline;
        }
    }
}
