/* @theme: default; */

.notification-flash-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $notification-flash-container-z-index;

    margin: $notification-flash-container-offset;
    width: $notification-flash-container-width;

    opacity: 1;

    @include transition($transition-fade);

    &:empty {
        opacity: 0;
    }
}

@include breakpoint('tablet-small') {
    .notification-flash-container {
        margin: $notification-flash-container-tablet-offset;
        width: $notification-flash-container-tablet-width;
    }
}

@include breakpoint('mobile-landscape') {
    .notification-flash-container {
        margin: $notification-flash-container-mobile-offset;
        width: $notification-flash-container-mobile-width;
    }
}
