/* @theme: default; */

.notification-flash {
    margin: 0;
    padding: $notification-flash-inner-offset;

    display: flex;
    align-items: center;

    border: $notification-flash-border;

    border-radius: $notification-flash-border-radius;

    &:not(:first-child) {
        margin: $notification-flash-offset;
    }

    &__badge {
        position: relative;
        width: $notification-flash-badge-size;
        height: $notification-flash-badge-size;
        flex: 0 0 auto;
        align-self: flex-start;
        background: $notification-flash-badge-background;
        color: $notification-flash-badge-color;
        border-radius: $notification-flash-badge-radius;

        [class^='fa-'] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__close {
        margin: $notification-flash-close-offset;
        padding: $notification-flash-close-inner-offset;
        flex: 0 0 auto;
        align-self: flex-start;
        background: $notification-flash-close-background;
        border: $notification-flash-close-border;
        color: $notification-flash-close-color;

        cursor: $btn-plain-cursor;

        [class^='fa-'] {
            display: block;
            font-size: $notification-flash-close-icon-size;
        }
    }

    &__text {
        padding: $notification-flash-text-offset;
        flex: 1 1 auto;

        &--center {
            text-align: center;
        }
    }

    &--success,
    &--info,
    &--notice {
        @extend .notification-flash;

        background: $notification-flash-success-background;
        color: $notification-flash-success-color;

        .notification-flash__close {
            color: $notification-flash-success-color;
        }

        .notification-flash__badge {
            background: $notification-flash-success-badge-background;
        }
    }

    &--warning,
    &--warn,
    &--process,
    &--alert {
        @extend .notification-flash;

        background: $notification-flash-warning-background;
        color: $notification-flash-warning-color;

        .notification-flash__close {
            color: $notification-flash-warning-close-color;
        }

        .notification-flash__badge {
            background: $notification-flash-warning-badge-background;
        }
    }

    &--error {
        @extend .notification-flash;

        background: $notification-flash-error-background;
        color: $notification-flash-error-color;

        .notification-flash__close {
            color: $notification-flash-error-close-color;
        }

        .notification-flash__badge {
            background: $notification-flash-error-badge-background;
        }
    }
}
