/* @theme: default; */

.notification-flash-container {
    width: 100%;
    margin: $notification-flash-container-offset;

    @include safe-area-offset(padding, $notification-flash-container-inner-offset);

    max-width: $notification-flash-container-max-width;

    &:empty {
        display: none;
    }
}
