/* @theme: default; */

.notification-flash {
    position: relative;
    display: flex;
    align-items: center;
    padding: $notification-flash-inner-offset;
    border-radius: $notification-flash-border-radius;

    &--success,
    &--info,
    &--notice {
        background: $notification-flash-success-background;
        color: $notification-flash-success-color;

        &::before {
            background-color: $notification-flash-success-before-background;
        }
    }

    &--warning,
    &--warn,
    &--process,
    &--alert {
        background: $notification-flash-warning-background;
        color: $notification-flash-warning-color;

        &::before {
            background-color: $notification-flash-warning-before-background;
        }
    }

    &--error {
        background: $notification-flash-error-background;
        color: $notification-flash-error-color;

        &::before {
            background-color: $notification-flash-error-before-background;
        }
    }

    &::before {
        content: '';

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        border-radius: 0 $base-ui-element-border-radius $base-ui-element-border-radius 0;
    }

    &:not(:first-child) {
        margin: $notification-flash-offset;
    }

    &__close {
        flex-shrink: 0;
        align-self: flex-start;
    }

    &__icon {
        margin: $notification-flash-icon-offset;

        &--small {
            margin: $notification-flash-icon-small-offset;
        }
    }

    &__text--normal,
    &__description {
        font-weight: $notification-flash-text-normal-font-weight;
    }

    &__content {
        display: flex;
        padding: $notification-flash-content-offset;
        flex: 1 1 auto;

        overflow-wrap: break-word;

        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__content:has(&__description) {
        display: grid;
        grid-gap: $notification-flash-description-grid-gap;
    }

    &:has(&__icon) &__content {
        grid-template-columns: $notification-flash-description-grid-template;
    }

    &:has(&__icon) &__description {
        grid-column: $notification-flash-description-grid-column;
    }

    &__text {
        font-weight: $notification-flash-text-font-weight;

        ul,
        ol {
            list-style-type: none;
        }
    }
}
