/* @theme: default; */

.notification {
    padding: $notification-inner-offset;

    font-size: $notification-font-size;

    border-radius: $notification-border-radius;

    &--success,
    &--info,
    &--notice {
        @extend .notification;

        background: $notification-success-background;
        color: $notification-success-color;
    }

    &--warning,
    &--warn,
    &--alert {
        @extend .notification;

        background: $notification-warning-background;
        color: $notification-warning-color;
    }

    &--error {
        @extend .notification;

        background: $notification-error-background;
        color: $notification-error-color;
    }

    &--lite {
        @extend .notification;

        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    &--xmd {
        @extend .notification;

        padding: $notification-xmd-inner-offset;

        [class^='fa-'] {
            font-size: $notification-xmd-icon-size;
        }
    }

    &__list {
        margin: $notification-list-margin;
        padding: $notification-list-padding;
    }

    &__item {
        &:not(:first-child) {
            margin-top: $notification-list-offset;
        }

        &--flex {
            display: flex;
            align-items: baseline;
        }
    }

    [class^='fa-'] {
        margin-right: $notification-icon-offset;
    }

    &__text {
        vertical-align: $notification-vertical-align;
    }
}
