/* @theme: default; */

.error-message {
    color: $notification-error-color;

    font-size: $base-font-size--s;
    line-height: 1;

    ul {
        @include list-normalize();

        li {
            margin-bottom: $offset-y-s;
        }
    }
}
