/* @theme: default; */

@use 'sass:selector';

// More about placeholders https://github.com/sass/sass/issues/2808#issuecomment-574413393
%base-notification,
.notification {
    display: flex;
    gap: $notification-inner-gap;
    padding: $notification-inner-offset;

    font-size: $notification-font-size;

    border-radius: $notification-border-radius;
}

%base-notification-success {
    @extend %base-notification;

    background: $notification-success-background;
    color: $notification-success-color;
}

%base-notification-warning {
    @extend %base-notification;

    background: $notification-warning-background;
    color: $notification-warning-color;
}

%base-notification-error {
    @extend %base-notification;

    background: $notification-error-background;
    color: $notification-error-color;
}

%base-notification-light {
    @extend %base-notification;

    background: transparent;
    padding-left: 0;
    padding-right: 0;
}

.notification {
    &--success,
    &--info,
    &--notice {
        @extend %base-notification-success;
    }

    &--warning,
    &--warn,
    &--alert {
        @extend %base-notification-warning;
    }

    &--error {
        @extend %base-notification-error;
    }

    &--lite {
        @extend %base-notification-light;
    }

    &__list {
        margin: $notification-list-margin;
        padding: $notification-list-padding;
    }

    &__item {
        display: flex;
        gap: $notification-inner-gap;
        align-items: center;

        &:not(:first-child) {
            margin-top: $notification-list-offset;
        }
    }
}
