/* @theme: default; */

.page-footer-container {
    display: flex;
    padding: $page-footer-container-offset;

    &__base {
        display: flex;
        flex: 0 0 $page-footer-container-base-width;
        padding: $page-footer-container-inner-offset;
    }

    &__side {
        flex: 0 0 $page-footer-container-side-width;
        padding: $page-footer-container-inner-offset;
    }
}

@include breakpoint('tablet') {
    .page-footer-container {
        padding: $page-footer-container-offset-tablet;
    }
}

@include breakpoint('tablet-small') {
    .page-footer-container {
        display: block;

        &__base {
            display: block;
            padding: 0;
        }

        &__side {
            padding: 0;
        }
    }
}
