// @theme: default;

.page-main {
    &__content {
        max-width: $page-main-max-width;
        margin: 0 auto 70px;

        @include clearfix();
    }

    &__header {
        min-height: $page-main-header-min-height;
    }

    &.offset-none {
        .page-main__header {
            min-height: 0;
        }
    }
}
