/* @theme: default; */

.page-title-actions {
    &__actions_list {
        &,
        ul {
            display: $page-title-actions-actions-list-display;
            gap: $page-title-actions-actions-list-gap;

            li {
                list-style: $page-title-actions-actions-list-li-list-style;
            }
        }

        @each $_breakpoint in get-breakpoints-list() {
            @include breakpoint(#{$_breakpoint}) {
                .hidden-before-relocation-on-#{$_breakpoint} {
                    display: none;
                }
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .page-title-actions {
        width: $page-title-actions-width-mobile;
        display: $page-title-actions-display-mobile;
        gap: $page-title-actions-gap-mobile;
    }
}
