/* @theme: default; */

.page-title {
    &--has-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline-end: auto;
    }

    &--centered {
        text-align: center;
    }

    &__text {
        vertical-align: $page-title-offset-text-vertical-align;
        text-transform: $page-title-offset-text-transform;

        &--offset-x {
            &-end-s {
                margin-right: $page-title-offset-end-s;
            }
        }
    }

    &.with-ellipsis {
        display: inline-flex;
        align-items: center;

        overflow: hidden;

        .page-title__text {
            display: inline-block;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
