/* @theme: default; */

.page-title {
    font-size: $page-title-font-size;
    line-height: 1.1;

    &--has-actions {
        float: left;
    }

    &__text {
        vertical-align: middle;
        text-transform: uppercase;

        &--offset-x {
            &-end-s {
                margin-#{$end}: $page-title-offset-end-s;
            }
        }
    }

    &.with-ellipsis {
        display: inline-flex;
        align-items: center;

        overflow: hidden;

        .page-title__text {
            display: inline-block;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
