/* @theme: default; */

.page-footer {
    padding: $page-footer-inner-offset;
    background: $page-footer-background;
}

@include breakpoint('tablet') {
    .page-footer {
        .collapse-view {
            &__trigger {
                &-icon {
                    color: $footer-collapse-view-trigger-icon-tablet-color;
                }
            }
        }
    }
}

@include breakpoint('tablet-small') {
    .page-footer {
        padding: $page-footer-inner-offset-table-small;
    }
}
