.page-main {
    &__content {
        max-width: $page-main-max-width;
        margin: 0 auto 70px;

        @include clearfix();
    }

    &__header {
        width: 100%;
        min-height: 40px;
    }

    &.offset-none {
        .page-main__header {
            min-height: 0;
        }
    }
}
