/* @theme: default; */

.page-sidebar {
    width: $page-sidebar-width;
    display: $page-sidebar-display;
    flex-direction: $page-sidebar-flex-direction;
    padding-top: $page-sidebar-offset-top;
    flex: $page-sidebar-flex;
}

@include breakpoint('tablet') {
    .page-sidebar {
        width: $page-sidebar-tablet-s-width;
    }
}
