/* @theme: default; */

.page-header {
    position: relative;
    padding: $page-header-inner-offset;
    background-color: $page-header-background-color;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $page-header-padding;
    }

    &__inner {
        padding: $page-header-inner-inner-offset;
    }
}
