/* @theme: default; */

.oro-pagination {
    &__pager {
        display: $oro-pagination-pager-display;
        align-items: $oro-pagination-pager-align-items;
        gap: $oro-pagination-pager-gap;

        &--stepper {
            gap: 0;
        }
    }

    &__pager--stepper &__prev {
        margin-inline-end: spacing('sm');
    }

    &__pager--stepper &__next {
        margin-inline-start: spacing('sm');
    }

    &__pager-inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__total {
        font-size: $oro-pagination-total-font-size;
    }

    &__input {
        width: $oro-pagination-input-width;

        text-align: $oro-pagination-input-text-align;
        color: $oro-pagination-input-color;

        &--page-to {
            padding-inline: spacing('xs');
            width: $oro-pagination-page-to-size;
        }
    }

    &__pages-gap,
    &__page-to {
        display: grid;
        align-items: center;
        justify-content: center;
        min-width: $oro-pagination-page-to-size;
        min-height: $oro-pagination-page-to-size;

        background: none;
        border: none;

        cursor: pointer;
        text-decoration: none;

        padding: spacing('sm') 0;
        border-radius: $oro-pagination-page-to-border-radius;

        position: relative;

        font-size: $base-font-size;
    }

    &__page-to {
        color: $oro-pagination-page-to-color;

        @media (hover: hover) {
            &:hover {
                color: $oro-pagination-page-to-hover-color;

                &:after {
                    content: '';
                    background-color: currentColor;
                    height: $oro-pagination-page-to-line-height;
                    position: absolute;
                    inset: $oro-pagination-page-to-line-inset;
                    border-radius: $oro-pagination-page-to-border-radius $oro-pagination-page-to-border-radius 0 0;
                }
            }
        }

        &--active {
            font-weight: font-weight('semi-bold');
            color: $oro-pagination-page-to-active-color;

            &:after {
                content: '';
                background-color: currentColor;
                height: $oro-pagination-page-to-line-height;
                position: absolute;
                inset: $oro-pagination-page-to-line-inset;
                border-radius: $oro-pagination-page-to-border-radius $oro-pagination-page-to-border-radius 0 0;
            }
        }
    }

    &-arrow {
        padding: spacing('md');
        border-radius: 100%;
        border: none;
        align-items: center;
        display: flex;
        background-color: $oro-pagination-arrow-background;
        color: $oro-pagination-arrow-color;
        transition: $oro-pagination-arrow-transition;
        cursor: pointer;

        &:hover {
            background-color: $oro-pagination-arrow-background-hover;
            color: $oro-pagination-arrow-color-hover;
        }

        &.disabled {
            color: $oro-pagination-arrow-color-disabled;
        }
    }

    &__icon {
        display: block;
    }
}

@include breakpoint('mobile-landscape') {
    .oro-pagination {
        &__label {
            display: $oro-pagination-label-display-mobile-landscape;
        }
    }
}

@include breakpoint('mobile') {
    .oro-pagination {
        width: 100%;

        &__pager {
            justify-content: center;
        }

        &__pager--stepper &__prev {
            margin-inline-end: auto;
        }

        &__pager--stepper &__next {
            margin-inline-start: auto;
        }
    }
}
