/* @theme: default; */

.oro-pagination {
    &__pager {
        display: $oro-pagination-pager-display;
        align-items: $oro-pagination-pager-align-items;
        gap: $oro-pagination-pager-gap;
    }

    &__total {
        font-size: $oro-pagination-total-font-size;
    }

    &__input {
        width: $oro-pagination-input-width;

        text-align: $oro-pagination-input-text-align;
        color: $oro-pagination-input-color;
    }

    &-arrow {
        padding: spacing('md');
        border-radius: 100%;
        background-color: $oro-pagination-arrow-background;
        color: $oro-pagination-arrow-color;
        transition: $oro-pagination-arrow-transition;

        &:hover {
            background-color: $oro-pagination-arrow-background-hover;
            color: $oro-pagination-arrow-color-hover;
        }

        &.disabled {
            color: $oro-pagination-arrow-color-disabled;
        }
    }

    &__icon {
        display: block;
    }
}

@include breakpoint('mobile-landscape') {
    .oro-pagination {
        &__label {
            display: $oro-pagination-label-display-mobile-landscape;
        }
    }
}

@include breakpoint('mobile') {
    .oro-pagination {
        &__pager {
            justify-content: center;
        }
    }
}
