/* @theme: default; */

.password-wrapper {
    position: $password-wrapper-position;

    .input {
        padding-right: $input-btn-size;
    }

    .btn {
        position: $password-button-position;
        right: $password-button-right;
        top: $password-button-top;
        bottom: $password-button-bottom;
        min-height: $password-button-min-height;
    }
}

.password-requires {
    font-size: $password-requires-font-size;
    color: $password-requires-color;
    margin-bottom: $password-requires-margin-bottom;
}
