/* @theme: default; */

.popover {
    box-shadow: $popover-box-shadow;

    @if ($popover-hide-arrow) {
        .arrow {
            display: none;
        }
    }

    &.fixed-min-width {
        min-width: $popover-min-width;
    }

    &--no-title {
        .popover-header {
            display: none;
        }
    }

    .modal-is-opened & {
        z-index: z('popup') + 2;
    }
}

.popover-header:empty {
    display: none;
}
