/* @theme: default; */

.popover-trigger {
    display: inline-block;
    vertical-align: middle;

    // has the same height as default button or input
    padding: $input-padding;
    padding-left: 0;
    padding-right: 0;

    line-height: $base-ui-element-line-height;

    &.disabled {
        @include base-disabled-style(.5, true) {
            cursor: default;
        }
    }
}
