/* @theme: default; */

.primary-menu {
    @include list-normalize();

    display: flex;

    &__link {
        color: $primary-menu-link-color;

        @include element-state('hover') {
            color: $primary-menu-link-color-hover;
        }

        &--current {
            color: $primary-menu-link-color-current;

            @include element-state('hover') {
                color: $primary-menu-link-color-current;
            }
        }
    }

    &__item {
        position: relative;
        flex: 0 1 auto;

        padding: $primary-menu-item-inner-offset;

        .primary-menu {
            display: none;
        }

        &--current,
        &.active {
            &::before {
                top: 10px;
                left: 0;

                width: 7px;
                height: 7px;

                border-radius: 50%;
                background: $primary-menu-item-active-background;

                @include after();
            }

            > .primary-menu__link {
                font-weight: $primary-menu-link-font-weight-current;
            }

            > .primary-menu {
                display: block;
            }
        }

        &--offset-m {
            &:not(:first-child) {
                margin-left: $offset-x-m;
            }
        }
    }

    &__badge {
        i {
            vertical-align: middle;
        }
    }

    &--vertical {
        display: block;
    }

    @include fullscreen-mode {
        .primary-menu__item {
            border-top: 0;
            border-bottom: $primary-menu-fullscreen-mode-item-border;
        }

        .primary-menu__link {
            padding: $primary-menu-link-inner-offset-fullscreen;

            text-transform: $primary-menu-link-text-transform-fullscreen;
        }
    }
}

@include breakpoint('tablet') {
    .primary-menu {
        &__link {
            display: block;
            padding: $primary-menu-link-inner-offset-tablet;
        }

        &__item {
            padding: $primary-menu-item-inner-offset-tablet;

            border-top: $primary-menu-tablet-item-border;

            &--current,
            &.active {
                &::before {
                    content: none;
                }

                .primary-menu__link {
                    color: inherit;
                }
            }
        }

        .fa-minus,
        .fa-plus {
            right: 13px;
            top: 15px;
        }
    }
}
