/* @theme: default; */

.primary-menu {
    @include list-normalize();

    display: $primary-menu-display;
    flex-direction: $primary-menu-flex-direction;

    &-container-inner {
        --sticky-position-top-offset: var(--sticky-page-header-element-offset-top);

        transition: $sticky-panel-transition;

        &.in-sticky.scroll-down {
            transform: translateY(calc(var(--sticky-page-header-group-offset-y, 0) * -1));
        }
    }

    &__link {
        color: $primary-menu-link-color;
        padding-inline-start: $primary-menu-link-inner-offset-start;
        padding-inline-end: $primary-menu-link-inner-offset-end;
        padding-block: $primary-menu-link-inner-offset-block;
        height: $primary-menu-link-height;
        width: $primary-menu-link-width;
        display: $primary-menu-link-display;
        align-items: $primary-menu-link-vertical-align;
        flex: 1;
        gap: $primary-menu-link-gap;

        @include element-state('hover') {
            background: $primary-menu-item-active-background;
            color: $primary-menu-link-color;
            text-decoration: $primary-menu-link-text-decoration;
        }
    }

    &__item {
        position: $primary-menu-item-position;
        flex: 0 1 auto;
        height: auto;
        min-height: $primary-menu-item-height;
        display: $primary-menu-item-display;
        flex-flow: $primary-menu-item-flex-flow;

        .primary-menu {
            display: none;
        }

        &--current,
        &.active {
            &::before {
                top: 0;
                left: 0;

                width: $primary-menu-item-active-border-width;
                height: 100%;

                border-radius: $primary-menu-item-active-border-radius;
                background: $primary-menu-item-active-border-background;

                @include after();
            }

            background: $primary-menu-item-active-background;

            > .primary-menu {
                display: block;
            }
        }

        &--offset-m {
            &:not(:first-child) {
                margin-left: spacing('sm');
            }
        }
    }
}

@include breakpoint('desktop-small') {
    .primary-menu {
        &-container {
            height: 100%;
            border-right: $primary-menu-border-right;
        }
    }
}
