/* @theme: default; */

.shadow-start::before {
    content: $scroll-shadow-before-content;
    position: $scroll-shadow-before-position;
    top: $scroll-shadow-before-top;
    z-index: $scroll-shadow-before-z-index;
    display: $scroll-shadow-before-display;
    background: $scroll-shadow-before-background;
    width: $scroll-shadow-before-width;
    height: $scroll-shadow-before-height;
    min-height: $scroll-shadow-before-height;
    pointer-events: $scroll-shadow-before-pointer-events;
}

.shadow-end::after {
    content: $scroll-shadow-after-content;
    position: $scroll-shadow-after-position;
    bottom: $scroll-shadow-before-bottom;
    z-index: $scroll-shadow-after-z-index;
    display: $scroll-shadow-after-display;
    background: $scroll-shadow-after-background;
    width: $scroll-shadow-after-width;
    height: $scroll-shadow-after-height;
    min-height: $scroll-shadow-after-height;
    pointer-events: $scroll-shadow-after-pointer-events;
}

.horizontal-scrolling {
    overflow-x: auto;

    &.shadow-start::before,
    &.shadow-end::after {
        width: $scroll-shadow-inline-width;
        height: $scroll-shadow-inline-height;
        min-height: $scroll-shadow-inline-height;
        top: var(--shadow-start-top, #{$scroll-shadow-inline-top});
    }

    &.shadow-start::before {
        left: var(--shadow-start-left, #{$scroll-shadow-inline-before-left});
        margin-right: -$scroll-shadow-inline-width;
        background: $scroll-shadow-inline-before-background;
    }
    &.shadow-end::after {
        right: var(--shadow-start-right, #{$scroll-shadow-inline-after-right});
        margin-left: -$scroll-shadow-inline-width;
        background: $scroll-shadow-inline-after-background;
    }
}
