/* @theme: default; */

@use 'sass:math';

.scroll-top {
    position: $scroll-top-position;
    bottom: $scroll-top-bottom;
    z-index: $scroll-top-z-index;

    transition: color linear 100ms;

    &:hover {
        text-decoration: none;
    }

    &:not(.scroll-top-visible) {
        display: none;
    }

    &--bottom-left {
        left: $scroll-top-bl-left;

        &.scroll-top--landed {
            margin: (- $scroll-top-size) 0 0;
        }
    }

    &--bottom-right {
        right: $scroll-top-br-right;

        &.scroll-top--landed {
            float: right;

            margin: (- $scroll-top-size) 0 0;
        }
    }

    &--center {
        left: $scroll-top-c-left;

        transform: translateX(-#{$scroll-top-c-left});

        &.scroll-top--landed {
            margin: (- $scroll-top-size) 0 0 (- $scroll-top-size * .5);

            transform: none;
        }
    }

    &--landed {
        position: relative;
    }
}

@include breakpoint('mobile') {
    .scroll-top {
        &--bottom-left {
            left: $scroll-top-bl-left-mobile;
        }

        &--bottom-right {
            right: $scroll-top-bl-right-mobile;
        }
    }
}
