/* stylelint-disable property-no-vendor-prefix,selector-pseudo-class-no-unknown */

@mixin styled-scrollbar(
    $track-color: $scrollbar-track-color,
    $color: $scrollbar-color,
    $color-hover: $scrollbar-color-hover,
    $size: $scrollbar-size,
    $border-radius: $scrollbar-thumb-radius,
) {
    /* Firefox's Track */
    scrollbar-width: thin;
    /* color of the handle and scrollbar track */
    scrollbar-color: $scrollbar-color $track-color;

    padding-bottom: $size;
    margin-bottom: -$size;

    /* Track */
    &::-webkit-scrollbar {
        -webkit-appearance: none;

        /* width of the scrollbar */
        &:vertical {
            width: $size;
        }

        &:horizontal {
            height: $size;
        }
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $scrollbar-color;
        border-radius: $scrollbar-thumb-radius;

        &:hover {
            background: $color-hover;
        }
    }
}

.styled-scrollbar {
    @include styled-scrollbar();
}
