/* @theme: default; */

.search-widget {
    position: $search-widget-position;

    &-wrap {
        width: $search-widget-wrap-width;
        max-width: $search-widget-wrap-max-width;
    }

    &__input {
        height: $search-widget-input-height;
        padding: $search-widget-input-inner-offset;
        width: $search-widget-input-width;
        position: $search-widget-input-position;

        &.undo-focus {
            border: $search-widget-input-undo-focus-border;
            box-shadow: $search-widget-input-undo-focus-box-shadow;
        }
    }

    &__submit {
        position: $search-widget-input-submit-position;
        top: $search-widget-input-submit-top;
        right: $search-widget-input-submit-right;
        bottom: $search-widget-input-submit-bottom;

        width: $search-widget-input-submit-width;
        padding: $search-widget-input-submit-inner-offset;
        margin: $search-widget-input-submit-offset;

        font-size: $search-widget-input-submit-font-size;

        background: $search-widget-input-submit-background;
        border: $search-widget-input-submit-border;

        color: $search-widget-input-submit-color;

        @include element-state('hover') {
            color: $search-widget-input-submit-hover-color;
            cursor: $search-widget-input-submit-hover-cursor;
        }

        &:focus,
        &.focus-visible {
            box-shadow: $search-widget-input-submit-focus-box-shadow;
        }

        &.focus-visible {
            color: $search-widget-input-submit-focus-color;
        }
    }
}

@include breakpoint('tablet') {
    .search-widget {
        margin: $search-widget-tablet-offset;

        &__input {
            height: $search-widget-input-tablet-height;
        }

        &__submit {
            height: $search-widget-submit-tablet-height;
            bottom: $search-widget-submit-tablet-bottom;
        }
    }
}
