/* @theme: default; */

$skeleton-color: get-color('additional', 'base');

@function sidebar-filter-skeleton-primary(
    $color: get-color('additional', 'base'),
    $x: 0,
    $y: 0
) {
    @return (
        skeleton-rect(
            $color: $color, $width: 129px, $height: 24px, $x: ($x + 0), $y: ($y + 0), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 32px, $height: 24px, $x: ($x + 225px), $y: ($y + 0), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 99px, $height: 16px, $x: ($x + 0), $y: ($y + 44px), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 16px, $height: 16px, $x: ($x + 241px), $y: ($y + 44px), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 257px, $height: 32px, $x: ($x + 0), $y: ($y + 76px), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 257px, $height: 4px, $x: ($x + 0), $y: ($y + 128px), $radius: $border-radius-xs
        ),
    );
}

@function sidebar-filter-skeleton-secondary(
    $color: get-color('additional', 'base'),
    $x: 0,
    $y: 0
) {
    @return (
        skeleton-rect(
            $color: $color, $width: 39px, $height: 16px, $x: ($x + 0), $y: ($y + 0), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 16px, $height: 16px, $x: ($x + 241px), $y: ($y + 0), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 99px, $height: 32px, $x: ($x + 0), $y: ($y + 32px), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 99px, $height: 32px, $x: ($x + 158px), $y: ($y + 32px), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 79px, $height: 16px, $x: ($x + 0), $y: ($y + 76px), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 55px, $height: 16px, $x: ($x + 0), $y: ($y + 104px), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 71px, $height: 16px, $x: ($x + 0), $y: ($y + 132px), $radius: $border-radius-xs
        ),
        skeleton-rect(
            $color: $color, $width: 257px, $height: 4px, $x: ($x + 0), $y: ($y + 164px), $radius: $border-radius-xs
        ),
    );
}

.sidebar-filter-container {
    width: 100%;
    max-width: 100%;
}

@include breakpoint('desktop') {
    .sidebar-filter-container {
        /* rtl:begin:ignore */
        &:empty {
            &::before,
            &::after {
                content: '';
                height: 340px;
                display: block;

                @include skeleton(
                    sidebar-filter-skeleton-primary($color: $skeleton-color, $x: 0, $y: 0),
                    sidebar-filter-skeleton-secondary($color: $skeleton-color, $x: 0, $y: 152px),
                );
            }

            margin-top: $offset-y-m;

            animation: 1s ease-in infinite alternate skeleton-pulse;
        }

        /* rtl:end:ignore */
    }
}

@keyframes skeleton-pulse {
    0% {
        opacity: .7;
    }

    100% {
        opacity: 1;
    }
}
