/* @theme: default; */

.sticky {
    position: sticky;
    z-index: z('base') + 1;

    &--top {
        top: var(--sticky-position-top-offset, 0);
    }

    &--bottom {
        bottom: var(--sticky-position-top-offset, 0);
    }

    @each $key, $value in $breakpoints {
        @include breakpoint($key) {
            &--on-#{$key} {
                position: sticky;
            }
        }
    }
}

.sticky-placeholder {
    display: block;
    visibility: hidden;
    pointer-events: none;
}
