/* @theme: default; */

.tab-collection {
    .dropdown-menu {
        .nav-item {
            margin: 0;
            float: none;

            .nav-link {
                @extend %dropdown-item;

                border-radius: 0;
            }
        }

        &:not(.dropdown) {
            > .nav-link {
                &::after {
                    visibility: hidden;
                    content: '*';
                    margin-left: 1px;
                }
            }

            &.changed > .nav-link {
                &::after {
                    visibility: visible;
                }
            }
        }

        .nav-item.active {
            .nav-link {
                color: $dropdown-link-active-color;
                text-decoration: none;

                @include gradient-bg($dropdown-link-active-bg);
            }
        }
    }
}
