/* @theme: default; */

%table {
    border-top: $table-border-top;
    width: $table-width;
    font-family: $table-font-family;

    caption {
        @extend %base-h3;

        margin-bottom: $table-caption-bottom-offset;
    }

    thead {
        th {
            background-color: $table-thead-background-color;
            border-bottom: $table-thead-th-border;
            font-weight: $table-thead-font-weight;
            padding: $table-th-inner-offset;
            vertical-align: $table-thead-th-vertical-align;
        }
    }

    th,
    td {
        text-align: $table-th-text-align;
        border-top: $table-th-border-top;
        border-bottom: $table-th-border-bottom;
        vertical-align: $table-th-vertical-align;
    }

    td {
        padding: $table-td-inner-offset;
    }

    tbody {
        th {
            padding: $table-td-inner-offset;
        }
    }
}

.table {
    @extend %table;
}
