/* @theme: default; */

.toggle-container {
    display: flex;
    width: 100%;
    border-radius: $toggler-border-radius;
    border: 2px solid $toggler-background-color;
    background-color: $toggler-background-color;

    &--dropdown {
        min-width: 0;
        padding: 0;
    }

    &--dropdown-btn {
        display: block;
        color: $toggler-dropdown-btn-color;
        font-size: $toggler-font-size;
        line-height: $toggler-line-height;
        background-color: $toggler-background-color;
        border-radius: $toggler-border-radius;
        box-shadow: none;
        border: none;
        text-align: center;
        padding: $toggler-padding;
        white-space: nowrap;
        user-select: none;
        font-weight: 400;
        cursor: pointer;
        transition: $toggler-dropdown-btn-transition;

        &:hover {
            color: $toggler-dropdown-btn-color-hover;
            background-color: $toggler-dropdown-btn-background-color-hover;
        }

        .theme-icon {
            display: block;
        }
    }

    > .toggle-link,
    > label {
        display: flex;
        justify-content: center;
        position: relative;
        flex: 1 1 100%;
        color: $toggler-base-color;
        font-size: $toggler-font-size;
        line-height: $toggler-line-height;
        text-align: center;
        padding: 10px;
        transition: all .2s ease-in-out;
        white-space: nowrap;
        user-select: none;
        font-weight: 400;

        @include ellipsis();

        &:hover {
            cursor: pointer;
            text-decoration: none;
            color: $toggler-hover-color;
            background-color: $toggler-hover-background-color;
        }

        &:not(:first-of-type) {
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 1px;
                height: $toggle-divider-height;
                margin-top: -($toggle-divider-height / 2);
                background-color: $toggle-divider-color;
                transition: opacity .2s ease-in-out;
            }
        }
    }

    .toggle-link--active {
        color: $toggler-color-active;
        background-color: $toggler-background-color-active;
        box-shadow: $toggler-switcher-box-shadow;
        border-radius: 3px;

        + .toggle-link:after,
        &:after {
            display: none;
        }
    }

    > input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;

        &:focus-visible + label {
            outline: $base-ui-element-focus-visible-outline;
            outline-offset: $base-ui-element-focus-visible-outline-offset;
        }

        &:checked + label {
            color: $toggler-color-active;
            background-color: $toggler-background-color-active;
            box-shadow: $toggler-switcher-box-shadow;
            border-radius: 3px;

            /* stylelint-disable selector-max-compound-selectors */
            &:after,
            + input + label:after {
                display: none;
            }
            /* stylelint-enable selector-max-compound-selectors */
        }

        &:disabled + label {
            color: $toggler-disabled-color;
            background-color: $toggler-disabled-background-color;
        }
    }
}
