/* @theme: default; */

.toggle-container {
    display: flex;
    width: 100%;
    border-radius: $toggler-border-radius;
    border: 2px solid $toggler-background-color;
    background-color: $toggler-background-color;

    > .toggle-link,
    > label {
        position: relative;
        flex: 1 1 100%;
        color: $toggler-base-color;
        font-size: $toggler-font-size;
        line-height: $toggler-line-height;
        text-align: center;
        padding: 10px;
        transition: all .2s ease-in-out;
        white-space: nowrap;
        user-select: none;
        font-weight: 400;

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 100%;
            width: 1px;
            height: $toggle-divider-height;
            margin-top: -($toggle-divider-height / 2);
            background-color: $toggle-divider-color;
            transition: opacity .2s ease-in-out;
        }

        &:last-child {
            &:after {
                opacity: 0;
            }
        }
    }

    .toggle-link--active {
        background-color: $toggler-background-color-active;
        box-shadow: $toggler-switcher-box-shadow;
        border-radius: 3px;
    }

    > input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;

        &:focus-visible + label {
            outline: $base-ui-element-focus-visible-outline;
            outline-offset: $base-ui-element-focus-visible-outline-offset;
        }

        &:checked + label {
            background-color: $toggler-background-color-active;
            box-shadow: $toggler-switcher-box-shadow;
            border-radius: 3px;

            &:after {
                opacity: 0;
            }
        }
    }
}
