/* @theme: default; */

.toggle-filters-action {
    position: relative;

    // Removing an excess border in case filters in sidebar are used
    // stylelint-disable-next-line declaration-no-important
    border-inline-end-color: transparent !important;

    &.pressed {
        color: $toggle-filters-action-color-active;
    }

    .filters-selected &,
    &.filters-selected {
        &::before,
        &::after {
            content: '';
            position: absolute;

            border-radius: 50%;
        }

        &::before {
            width: $toggle-filters-action-before-size;
            height: $toggle-filters-action-before-size;

            top: $toggle-filters-action-before-top;
            left: $toggle-filters-action-before-left;
            z-index: z('base');

            background-color: $toggle-filters-action-before-color;
        }

        &::after {
            width: $toggle-filters-action-after-size;
            height: $toggle-filters-action-after-size;

            top: $toggle-filters-action-after-top;
            left: $toggle-filters-action-after-left;

            background: $toggle-filters-action-after-color;
        }

        @include hover-focus {
            &:before {
                background-color: $toggle-filters-action-before-color-hover;
            }
        }

        @include element-state('disabled') {
            &::before {
                background-color: $toggle-filters-action-before-color-disabled;
            }
        }
    }
}

@include breakpoint('mobile-big') {
    .toggle-filters-action {

        // Hide action's labels
        font-size: 0;
        gap: 0;

        &:hover {
            &:after {
                display: none;
            }
        }

        &.filters-selected {
            &::before {
                background-color: $toggle-filters-action-color-mobile;
            }

            &::after {
                background: $toggle-filters-action-background-mobile;
            }
        }
    }
}
