// @theme: default;

div.uploader {
    display: flex;
    align-items: center;
    margin: $offset-y-m 0;

    input {
        z-index: z('base') + 1;

        width: 100%;
    }

    .filename {
        z-index: z('base');
    }

    .action {
        z-index: z('base');

        display: inline-block;
        vertical-align: middle;
        padding: 0 ($offset-y + 11px);
        margin: 0 $offset-y-m;

        line-height: 2.85;
        white-space: nowrap;

        color: get-color('additional', 'ultra');
        background: get-color('additional', 'darker');
        border-radius: 4px;

        touch-action: manipulation;
        -webkit-user-select: none;
        cursor: pointer;
    }
}
