/* @theme: default; */
@use 'sass:map';

.uploader {
    display: $uploader-display;
    position: $uploader-position;
    border-radius: $input-border-radius;

    @include element-state('hover') {
        border-color: $input-border-color-hover-state;

        .action {
            text-decoration: none;
        }

        .filename {
            border-color: $input-border-color-hover-state;

            &:hover {
                border-color: $uploader-filename-focus-hover-border-color;
            }
        }
    }

    .filename {
        @include base-input;

        border-start-start-radius: $uploader-filename-border-start-start-radius;
        border-end-start-radius: $uploader-filename-border-end-start-radius;
        flex-grow: $uploader-filename-flex-grow;
        padding-inline-end: $uploader-filename-padding-inline-end;
        order: $uploader-filename-order;
        overflow: $uploader-filename-overflow;
        text-overflow: $uploader-filename-text-overflow;
        white-space: $uploader-filename-white-space;
    }

    .action {
        border-start-end-radius: $uploader-action-border-start-end-radius;
        border-end-end-radius: $uploader-action-border-end-end-radius;
        white-space: $uploader-action-white-space;
    }

    .input[type='file'] {
        width: 100%;
        height: 100%;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }

    &.empty {
        .filename {
            color: $uploader-filename-placeholder-color;
        }

        .clear-search-button {
            display: none;
        }
    }

    &.focus {
        box-shadow: $input-box-shadow-focus-state;

        .filename {
            &,
            &:hover {
                border-color: $uploader-filename-focus-hover-border-color;
            }
        }
    }
}

.uploader-container {
    > .input {
        &[type='file']:not(.no-uniform) {
            color: $uploader-filename-placeholder-color;

            // Webkit
            &::-webkit-file-upload-button {
                display: none;
            }

            // Firefox
            // stylelint-disable-next-line selector-pseudo-element-no-unknown
            &::file-selector-button {
                display: none;
            }
        }
    }
}
