/* @theme: blank; */

$btn-group-border: 1px solid rgba(0 0 0 / 20%) !default;
$btn-group-dropdown-toggle-width: 48px !default;
$btn-group-dropdown-main-btn-width: calc(100% - #{$btn-group-dropdown-toggle-width}) !default;
