// @theme: blank;

$fullscreen-popup-bg: get-color('additional', 'ultra') !default;

$fullscreen-popup-header-height: 40px !default;
$fullscreen-popup-header-height-bg: get-color('additional', 'ultra') !default;
$fullscreen-popup-header-height-border: 1px solid get-color('additional', 'light') !default;
$fullscreen-popup-header-offset: 0 $offset-x !default;
$fullscreen-popup-text-transform: uppercase !default;

$fullscreen-popup-text-offset: $offset-y-s 0 !default;
$fullscreen-popup-text-weight: bold !default;

$fullscreen-popu-badge-bg: darken(get-color('additional', 'middle'), 33%) !default;

$fullscreen-popu-close-font-size: 20px !default;
$fullscreen-popu-close-color: lighten(get-color('additional', 'dark'), 41%) !default;
