// @theme: blank

// Desktop
$popup-gallery-widget-overlay-bg: rgba(get-color('additional', 'dark'), .5) !default;

$popup-gallery-widget-arrow-prev-icon: $fa-var-chevron-left !default;
$popup-gallery-widget-arrow-next-icon: $fa-var-chevron-right !default;
$popup-gallery-widget-arrow-icon-side-offset: 2px !default;
$popup-gallery-widget-arrow-width: 37px !default;
$popup-gallery-widget-arrow-height: 37px !default;
$popup-gallery-widget-arrow-side-position: -($popup-gallery-widget-arrow-width + $offset-x-m) !default;
$popup-gallery-widget-arrow-bg: rgba(get-color('additional', 'darker'), .6) !default;
$popup-gallery-widget-arrow-icon-size: 12px !default;
$popup-gallery-widget-arrow-icon-color: get-color('additional', 'ultra') !default;

$popup-gallery-widget-wrapper-max-width: 610px !default;
$popup-gallery-widget-wrapper-max-height: 710px !default;

$popup-gallery-widget-close-icon: $fa-var-close !default;
$popup-gallery-widget-close-width: 30px !default;
$popup-gallery-widget-close-height: 30px !default;
$popup-gallery-widget-close-top-right-pos: -($popup-gallery-widget-close-width / 2) !default;
$popup-gallery-widget-close-bg: get-color('additional', 'dark') !default;
$popup-gallery-widget-close-border-radius: 50% !default;

$popup-gallery-widget-close-icon-size: 15px !default;
$popup-gallery-widget-close-icon-color: get-color('additional', 'ultra') !default;
$popup-gallery-widget-close-icon-offset: -1px 0 0 1px !default;

$popup-gallery-widget-images-offset-bottom: $offset-y-m !default;
$popup-gallery-widget-slick-list-border: 1px solid get-color('additional', 'middle') !default;
$popup-gallery-widget-slick-list-bg: get-color('additional', 'ultra') !default;

$popup-gallery-widget-slick-dots-position-bottom: $offset-y !default;
$popup-gallery-widget-slick-dots-item-size: 10px !default;
$popup-gallery-widget-slick-dots-item-offset: 0 $offset-x-s !default;
$popup-gallery-widget-slick-dots-item-bg: get-color('additional', 'light') !default;
$popup-gallery-widget-slick-dots-item-box-shadow: 0 0 3px get-color('additional', 'darker') !default;
$popup-gallery-widget-slick-dots-item-border-radius: 50% !default;
$popup-gallery-widget-slick-dots-item-active-bg: get-color('ui', 'focus') !default;
$popup-gallery-widget-slick-dots-item-active-box-shadow: 0 0 7px get-color('ui', 'focus') !default;

$popup-gallery-widget-thumbnails-offset-inner: 0 13px !default;
$popup-gallery-widget-thumbnails-img-offset: 0 2px !default;
$popup-gallery-widget-thumbnails-img-border: 1px solid get-color('additional', 'middle') !default;
$popup-gallery-widget-thumbnails-img-active-border: 2px solid get-color('ui', 'focus') !default;
$popup-gallery-widget-thumbnail-arrow-width: 24px !default;
$popup-gallery-widget-thumbnail-arrow-height: 24px !default;
$popup-gallery-widget-thumbnail-arrow-side-position: -20px !default;
$popup-gallery-widget-thumbnail-arrow-icon-size: 9px !default;

$popup-gallery-widget-no-slide-max-width: 720px !default;
$popup-gallery-widget-no-slide-list-max-width: $popup-gallery-widget-no-slide-max-width - 100px !default;

// Tablet small
$popup-gallery-widget-close-top-right-pos-tablet-small: 10px !default;
