<div class="dropdown datagrid-massaction">
    <button type="button" class="datagrid-massaction__toggle"
            data-toggle="dropdown" title="<%= _.__('oro.datagrid.mass_action.title') %>">
        <span class="datagrid-massaction__dots"><%= _.__('oro.datagrid.mass_action.button_title') %></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right datagrid-massaction__dropdown-menu"
        data-action-panel
        data-options="{&quot;container&quot;: true, &quot;align&quot;: &quot;right&quot;}">
    </ul>
</div>
