<% var togglerId = _.uniqueId('dropdown-') %>
<div class="dropdown datagrid-massaction">
    <button type="button" class="datagrid-massaction__toggle" id="<%- togglerId %>"
            data-toggle="dropdown" title="<%= _.__('oro.datagrid.mass_action.title') %>"
            aria-label="<%= _.__('oro.datagrid.mass_action.title') %>" aria-haspopup="true" aria-expanded="false">
        <span class="datagrid-massaction__dots" aria-hidden="true"><%= _.__('oro.datagrid.mass_action.button_title') %></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right datagrid-massaction__dropdown-menu" aria-labelledby="<%- togglerId %>"
        data-action-panel
        data-options="{&quot;container&quot;: true, &quot;align&quot;: &quot;right&quot;}">
    </ul>
</div>
