<td class="datagrid-manager__item">
    <div class="datagrid-manager__container">
        <span class="datagrid-manager__handle handle"></span>
        <div class="datagrid-manager__label">
            <label data-checkbox
                   class="custom-checkbox ">
                <input type="checkbox" data-role="renderable"
                <% if (disabledVisibilityChange) { %> disabled <% } %>
                <% if (renderable) { %> checked <% } %>
                    class="custom-checkbox__input"
                />
                <span class="custom-checkbox__icon"></span>
                <span class="custom-checkbox__text"><%= label %></span>
            </label>
        </div>

        <div class="datagrid-manager__move">
            <span class="datagrid-manager__move-btn datagrid-manager__move-up" data-role="moveUp" title="Move column up">
                <i class="fa-long-arrow-up"></i>
            </span>
            <span class="datagrid-manager__move-btn datagrid-manager__move-down" data-role="moveDown" title="Move column down">
                <i class="fa-long-arrow-down"></i>
            </span>
        </div>
    </div>
</td>
