<div class="datagrid-manager settings">
    <div class="datagrid-manager__header">
        <h5 class="datagrid-manager__title"><%- _.__('oro_frontend.settings.title') %></h5>
    </div>
    <div class="datagrid-manager-filter" data-role="datagrid-settings-filter"></div>
    <div class="datagrid-manager__actions">
        <button type="button"
                class="btn btn--link btn--no-x-offset btn--no-y-offset"
                data-role="datagrid-settings-select-all"
        ><%- _.__('oro.datagrid.settings.select_all')%></button>
        <span class="datagrid-manager__separator" aria-hidden="true">|</span>
        <button type="button"
                class="btn btn--link btn--no-x-offset btn--no-y-offset"
                data-role="datagrid-settings-unselect-all"
        ><%- _.__('oro.datagrid.settings.deselect_all')%></button>
    </div>
    <div class="datagrid-manager-table" data-role="datagrid-settings-table"></div>
    <div class="datagrid-manager__footer" data-role="datagrid-settings-footer">
        <button type="button"
                class="btn btn--link btn--no-x-offset btn--no-y-offset datagrid-manager__reset-btn"
                data-role="datagrid-settings-reset"
        >
            <span class="fa fa-refresh" aria-hidden="true"></span>
            <span><%- _.__('oro.datagrid.settings.reset')%></span>
        </button>
    </div>
    <button type="button"
            class="close-dialog"
            data-role="close"
            title="<%- _.__('Close') %>"
            aria-label="<%- _.__('oro_frontend.settings.close.aria_label') %>"></button>
</div>
