<h2 <% if (obj.uniqueId) { %> id="<%- uniqueId %>" <% } %> class="grid-views__title<% if (icon) { %> has-icon <% } %>" data-toggle="dropdown" data-popper="false" aria-haspopup="true" aria-expanded="false">
    <% if (icon) { %>
        <span class="grid-views__piece">
            <span class="badge <%- iconClass %>">
                <span class="fa-<%- icon %>" aria-hidden="true"></span>
            </span>
        </span>
    <% } %>
    <%- title %>
</h2>
<button type="button" class="btn btn--plain" aria-label="<%- toggleAriaLabel %>" data-toggle="dropdown" data-popper="false" aria-haspopup="true" aria-expanded="false" >
    <span class="fa-angle-down fa--no-offset" aria-hidden="true"></span>
</button>
