<% let oroui = _.macros('oroui') %>

<form class="grid-views__inline-rename">
    <div class="form-row grid-views__inline-rename-container">
        <label class="label"><%- _.__('oro_frontend.datagrid_views.inline.rename.label') %></label>
        <input type="text" class="input grid-views__inline-rename-input" name="label" value="<%- label %>">
    </div>

    <div class="grid-views__inline-rename-button">
        <button type="submit" class="btn">
            <%= oroui.renderIcon({name: 'check'}) %>
            <span class="sr-only"><%- _.__('Save') %></span>
        </button>
        <button type="reset" class="btn btn--neutral">
            <%= oroui.renderIcon({name: 'close'}) %>
            <span class="sr-only"><%- _.__('Cancel') %></span>
        </button>
    </div>
</form>
