/* @theme: default; */

.fullscreen-popup {
    .filters-manager-trigger {
        width: $filter-manager-fullscreen-popup-mode-trigger-width;
        margin: $filter-manager-fullscreen-popup-mode-trigger-offset;

        span {
            display: $filter-manager-fullscreen-popup-mode-trigger-span-display;
        }
    }
}

@include breakpoint('mobile-big-min') {
    .filters-overlay-popup {
        width: 100%;
        max-width: 400px;
    }
}
