/* @theme: default; */

.toggle-mode {
    height: 100%;

    .ui-multiselect-menu {
        /* stylelint-disable declaration-no-important */
        // Break inline styles
        position: static !important;
        // Break inline styles
        max-width: 100% !important;
        // Break inline styles
        width: 100% !important;
        display: block !important;
        /* stylelint-enable declaration-no-important */

        .ui-multiselect-header {
            display: none;
        }

        .ui-multiselect-checkboxes {
            /* stylelint-disable declaration-no-important */
            overflow: visible !important;
            height: auto !important;
            max-height: none !important;
            /* stylelint-enable declaration-no-important */
            padding: 0;
            margin-bottom: 0;
        }

        .datagrid-manager-search {
            margin-top: $filter-toggle-mode-datagrid-manager-search-offset-top;
            margin-bottom: $filter-toggle-mode-datagrid-manager-search-offset-bottom;
        }
    }

    .datagrid-manager {
        &__title {
            text-align: center;
            margin-bottom: 0;

            &--back-btn {
                margin-inline-start: -10px;
            }

            &--close-btn {
                margin-inline-end: -10px;
            }
        }

        &__list,
        &__actions {
            background-color: $filter-toggle-mode-datagrid-manager-background-color;
        }

        &__footer {
            background-color: $filter-toggle-mode-datagrid-manager-background-color;
            height: 100%;
        }

        .dropdown-menu {
            // stylelint-disable-next-line declaration-no-important
            max-width: 100% !important;
            box-shadow: none;
            padding: 0;
            margin: 0;
            height: 100%;
            background: transparent;
        }
    }

    .filter-container {
        display: grid;
        height: 100%;

        .datagrid-manager__header {
            > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $filter-toggle-mode-datagrid-manager-background-color;

                padding-inline-end: 14px;
            }
        }

        > .datagrid-manager {
            position: absolute;
            height: 100%;

            .datagrid-manager__header {
                margin-top: -46px;

                // stylelint-disable-next-line selector-max-compound-selectors
                > div {
                    // stylelint-disable-next-line selector-max-compound-selectors
                    .in-sticky & {
                        margin-bottom: spacing('lg');
                    }
                }
            }
        }
    }

    .product-price-filter {
        margin-top: $filter-toggle-mode-product-price-filter-offset-top;
        padding-left: $filter-toggle-mode-product-price-filter-inner-offset-left;
    }

    .product-price-unit-filter-separator {
        display: $filter-toggle-mode-unit-filter-separator-display;
    }

    .filter-action-row {
        display: flex;
        justify-content: end;
    }

    .filter-criteria-selector {
        display: $filter-toggle-mode-criteria-selector-display;
        grid-auto-flow: $filter-toggle-mode-criteria-selector-grid-auto-flow;
        align-items: $filter-toggle-mode-criteria-selector-align-items;
        gap: $filter-toggle-mode-criteria-selector-gap;
        padding: $filter-toggle-mode-criteria-selector-offset-inner;
        margin: $filter-toggle-mode-criteria-selector-offset;

        width: 100%;
        min-height: $filter-toggle-mode-criteria-selector-min-height;

        color: $filter-toggle-mode-criteria-selector-color;
        font-weight: $filter-toggle-mode-criteria-selector-font-weight;

        border: none;
        background: none;

        &.active {
            .filter-criteria-selector-icon {
                transform: rotate(180deg);
            }
        }
    }

    .filters-manager-trigger {
        span {
            display: none;
        }
    }

    .fields-row {
        min-width: $filter-toggle-mode-fields-row-min-width;
    }

    .filter-item {
        // fix after filter enabling, using Filter manager
        width: $filter-toggle-mode-filter-item-width;
        padding: $filter-toggle-mode-filter-item-padding;
        border-bottom: $filter-toggle-mode-filter-item-border-bottom;
    }

    .filter-items {
        margin-bottom: spacing('sm');

        > :empty {
            display: none;
        }
    }

    .filter-items-hint {
        padding-top: $filter-toggle-mode-items-hint-offset-top;
        padding-bottom: $filter-toggle-mode-items-hint-offset-bottom;

        line-height: $filter-toggle-mode-items-hint-line-height;
        font-size: $filter-toggle-mode-items-hint-font-size;

        clear: both;

        display: flex;
        flex-wrap: wrap;

        gap: spacing('sm') spacing('base');
    }

    .filter-criteria-hint-item {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        margin: $filter-toggle-mode-criteria-hint-item-offset;
        padding: $filter-toggle-mode-criteria-hint-item-offset-inner;

        border-radius: $filter-toggle-mode-criteria-hint-item-border-radius;

        max-width: 100%;
    }

    .reset-filter-button {
        margin-bottom: $filter-toggle-mode-criteria-hint-item-offset-bottom;
        padding: $filter-toggle-mode-reset-filter-button-inner-offset;

        border: 0;
    }

    .dropdown.datefilter,
    .datepicker-input {
        max-width: $filter-toggle-mode-datepicker-input-max-width;
        min-width: 0;
        width: $filter-toggle-mode-datepicker-input-width;
    }

    .timepicker-input {
        max-width: $filter-toggle-mode-timepicker-input-max-width;
        min-width: 0;
        width: $filter-toggle-mode-timepicker-input-width;
        margin-left: $filter-toggle-mode-timepicker-input-offset-left;
    }

    .filter-select-oro-wrapper,
    .value-field-frame,
    .filter-date-range {
        width: 100%;
        display: block;
    }

    .filter-criteria {
        display: none;
        padding: $filter-toggle-mode-criteria-offset-inner;
        // stylelint-disable-next-line declaration-no-important
        visibility: $filter-toggle-mode-criteria-visibility !important;

        .value-field-frame {
            width: $filter-toggle-mode-criteria-value-field-frame-width;
            /* stylelint-disable declaration-no-important */
            // Break inline styles
            margin-left: 0 !important;
            // Break inline styles
            padding-right: 0 !important;
            /* stylelint-enable declaration-no-important */
        }
    }

    .filter-extra-hint {
        display: none;
        max-width: 30%;
        padding-left: $filter-toggle-mode-filter-extra-hint-offset;
        padding-right: $filter-toggle-mode-filter-extra-hint-offset;
        margin-left: auto;

        color: $filter-toggle-mode-filter-extra-hint-color;

        &:not(:empty) {
            display: flex;
        }
    }

    .filter-extra-hint-text {
        display: block;
        max-width: 100%;

        @include ellipsis();
    }

    .filter-item-label {
        font-size: $filter-toggle-mode-filter-item-label-font-size;
        line-height: $filter-toggle-mode-filter-item-label-line-height;
        display: inline-block;

        @include ellipsis();
    }

    .open-filter {
        .filter-extra-hint {
            display: none;
        }

        .filter-criteria {
            display: block;
        }
    }

    .data-filter-choice,
    .choice-filter {
        display: flex;
        flex-direction: column;
    }

    .filter-select-oro-wrapper {
        margin-bottom: 12px;
    }

    .filter-start-date,
    .filter-end-date {
        width: $filter-toggle-mode-start-end-max-width;
    }

    &.in-sticky {
        .filter-items-hint {
            padding-top: $filter-toggle-mode-in-sticky-criteria-hint-item-offset;
            padding-bottom: $filter-toggle-mode-in-sticky-criteria-hint-item-offset-inner;
        }
    }

    .filter-update {
        margin-inline-start: auto;
    }
}
