/* @theme: default; */

.mega-menu-depth-2 {
    &__list {
        @include list-normalize();
    }

    &__image-link {
        display: $mega-menu-depth-2-image-link-display;
    }

    &__item-img {
        display: $mega-menu-depth-2-item-img-display;
        width: $mega-menu-depth-2-item-img-width;
        height: $mega-menu-depth-2-item-img-height;
    }

    &__scroll {
        min-height: $mega-menu-depth-2-scroll-min-height;
        display: $mega-menu-depth-2-scroll-display;
        grid-template-rows: $mega-menu-depth-2-scroll-grid-template-rows;
    }

    &__scroll-shadow {
        overflow: $mega-menu-depth-2-scroll-shadow-overflow;
        height: $mega-menu-depth-2-scroll-shadow-height;
    }

    &__featured-list {
        display: $mega-menu-depth-2-featured-list-display;
        gap: $mega-menu-depth-2-featured-list-gap;
        grid-template-columns: $mega-menu-depth-2-featured-list-grid-template-columns;
    }
}

@at-root {
    .main-menu-stack-mode {
        .mega-menu-depth-2 {
            @include main-menu-stack-actions-arrow();

            &__link {
                font-weight: font-weight('semi-bold');
                text-decoration: underline;
                text-transform: none;

                display: grid;
                align-items: center;
                padding-inline: 40px 24px;
                min-height: 44px;

                transition: all 200ms ease-in-out;
            }

            &__list--columns {
                &:has(.mega-menu-depth-2__inner) {
                    display: grid;
                    grid-template-columns: repeat(var(--menu-grid-column-count, 4), minmax(260px, 1fr));
                    gap: spacing('xl') spacing('massive');

                    &:before {
                        display: none;
                    }
                }

                // Set grid column count depend on child count
                @for $i from 4 through 2 {
                    &:not(:has(> :nth-child(#{$i}))) {
                        --menu-grid-column-count: #{$i - 1};
                    }
                }
            }

            &__scroll-shadow {
                &:after {
                    display: none;
                }
            }
        }
    }
}

@include breakpoint('mega-menu-wide') {
    .mega-menu-depth-2 {
        &__scroll {
            gap: $mega-menu-depth-2-scroll-gap;
        }

        &__scroll-shadow {
            margin: $mega-menu-depth-2-scroll-shadow-margin;
            padding: $mega-menu-depth-2-scroll-shadow-padding;

            &.shadow-start::before {
                top: -$mega-menu-depth-2-scroll-shadow-offset;
            }

            &.shadow-end::after {
                bottom: -$mega-menu-depth-2-scroll-shadow-offset;
            }
        }

        &__list:only-child {
            grid-row: $mega-menu-depth-2-list-only-child-grid-row;
        }

        &__list--columns {
            column-count: $mega-menu-depth-2-list-column-count;
            column-width: $mega-menu-depth-2-list-column-width;
            column-gap: $mega-menu-depth-2-list-column-gap;
            margin-top: $mega-menu-depth-2-list-margin-top;
            padding-inline-end: $mega-menu-depth-2-list-padding-inline-end;

            &::before {
                content: $mega-menu-depth-2-list-before-content;
                background: $mega-menu-depth-2-list-before-background;
                height: $mega-menu-depth-2-list-before-height;
                display: $mega-menu-depth-2-list-before-display;
                margin-inline-end: $mega-menu-depth-2-list-before-margin-inline-end;
                margin-bottom: $mega-menu-depth-2-list-before-margin-bottom;
                column-span: $mega-menu-depth-2-list-before-column-span;
                position: $mega-menu-depth-2-list-before-position;
                pointer-events: $mega-menu-depth-2-list-before-pointer-events;
            }
        }

        &__list--columns & {
            &__item {
                padding-top: $mega-menu-depth-2-item-padding-top;
                break-inside: $mega-menu-depth-2-item-break-inside;
            }

            &__inner {
                margin-top: $mega-menu-depth-2-item-inner-margin-top;
            }
        }

        &__list--grid {
            display: $mega-menu-depth-2-list-grid-display;
            grid-template-columns: $mega-menu-depth-2-list-grid-grid-template-columns;
            gap: $mega-menu-depth-2-list-grid-gap;
        }

        &__button {
            display: $mega-menu-depth-2-button-display;
        }

        &__link {
            font-weight: $mega-menu-depth-2-link-font-weight;
            color: $mega-menu-depth-2-link-color;
            text-decoration: $mega-menu-depth-2-link-text-decoration;
            position: $mega-menu-depth-2-link-position;

            &:hover {
                color: $mega-menu-depth-2-link-hover-color;
                text-decoration: $mega-menu-depth-2-link-hover-text-decoration;
            }
        }
    }

    .main-menu-stack-mode {
        .mega-menu-depth-2 {
            &__link {
                @media (hover: hover) {
                    &:hover {
                        background-color: $mega-menu-depth-2-stack-mode-link-hover-background-color;
                        color: $mega-menu-depth-2-stack-mode-link-hover-color;
                        text-decoration: underline;
                    }
                }
            }

            &__actions {
                &:not(:only-child)::after {
                    display: none;
                }
            }

            &__inner {
                margin-top: 0;
            }

            &__scroll {
                grid-template-rows: max-content auto;
            }

            &__featured-list {
                padding: 0 24px 0 40px;
            }

            &__list--columns {
                column-count: auto;
                column-width: auto;
                column-rule: none;

                &:not(:has(.mega-menu-depth-2__inner)) {
                    .mega-menu-depth-2__link {
                        font-weight: font-weight('normal');
                        color: $mega-menu-depth-2-stack-mode-link-list-columns-color;
                        text-decoration: none;

                        @media (hover: hover) {
                            color: $mega-menu-depth-2-stack-mode-link-list-columns-hover-color;
                        }
                    }

                    .mega-menu-depth-2__item:not(:first-child) {
                        padding-top: 0;
                    }
                }
            }
        }
    }
}

@include breakpoint('tablet-big') {
    .main-menu-stack-mode {
        .mega-menu-depth-2 {
            &__list--columns {
                // stylelint-disable-next-line declaration-no-important
                --menu-grid-column-count: 3 !important;
            }
        }
    }
}

@include breakpoint('tablet') {
    .main-menu-stack-mode {
        .mega-menu-depth-2 {
            &__list--columns {
                // stylelint-disable-next-line declaration-no-important
                --menu-grid-column-count: 2 !important;
            }
        }
    }
}

@include breakpoint('mobile-big') {
    .mega-menu-depth-2 {
        &__list:only-child {
            grid-row: $mega-menu-depth-2-list-only-child-mobile-big-grid-row;
        }

        @include main-menu-stack-items();

        &__inner {
            position: $mega-menu-depth-2-inner-mobile-big-position;
            top: $mega-menu-depth-2-inner-mobile-big-top;
            left: $mega-menu-depth-2-inner-mobile-big-left;
            bottom: $mega-menu-depth-2-inner-mobile-big-bottom;
            z-index: $mega-menu-depth-2-inner-mobile-big-z-index;
            width: $mega-menu-depth-2-inner-mobile-big-width;
            background: $mega-menu-depth-2-inner-mobile-big-background;
            transition: $mega-menu-depth-2-inner-mobile-big-transition;
        }

        @include main-menu-stack-mobile-title();

        &__featured {
            padding: $mega-menu-depth-2-featured-mobile-big-padding;
        }

        .main-menu-stack-mode & {
            &__actions {
                height: 44px;
                margin-inline: spacing('base');

                &:after {
                    transform: rotate(0deg);
                }
            }

            &__title-inner {
                padding: 0 spacing('base');
            }

            &__link {
                font-weight: font-weight('normal');
                text-decoration: none;
                padding-inline: 0;
                margin-inline-end: spacing('lg');
            }

            &__list--columns:has(.mega-menu-depth-2__inner) {
                display: block;
            }
        }
    }
}
