/* @theme: default; */

.mega-menu-depth-3 {
    &__list {
        @include list-normalize();
    }
}

@at-root {
    .main-menu-stack-mode {
        .mega-menu-depth-3 {
            @include main-menu-stack-actions-arrow();

            &__link {
                display: grid;
                align-items: center;
                padding-inline: 40px 24px;
                min-height: 44px;

                transition: all 200ms ease-in-out;
            }
        }
    }
}

@include breakpoint('mega-menu-wide') {
    .mega-menu-depth-3 {
        &__item {
            margin-top: $mega-menu-depth-3-item-margin-top;
        }

        &__button {
            display: $mega-menu-depth-3-button-display;
        }

        &__link {
            color: $mega-menu-depth-3-link-color;
            position: $mega-menu-depth-3-link-position;

            &:hover {
                color: $mega-menu-depth-3-link-hover-color;
            }
        }

        &__divider {
            margin-top: $mega-menu-depth-3-divider-margin-top;
        }

        &__inner {
            padding-inline-start: $mega-menu-depth-3-inner-padding-inline-start;
        }

        &__item:not(:last-child) &__inner {
            margin-bottom: $mega-menu-depth-3-inner-margin-bottom;
        }
    }

    .main-menu-stack-mode {
        .mega-menu-depth-3 {
            &__link {
                @media (hover: hover) {
                    &:hover {
                        background-color: $mega-menu-depth-3-stack-mode-link-background-color;
                        color: $mega-menu-depth-3-stack-mode-link-color;
                        text-decoration: underline;
                    }
                }
            }

            &__actions {
                &:not(:only-child)::after {
                    display: none;
                }
            }

            &__item {
                margin-top: 0;
            }
        }
    }
}

@include breakpoint('mobile-big') {
    .mega-menu-depth-3 {
        &__list {
            height: $mega-menu-depth-3-list-mobile-big-height;
            overflow: $mega-menu-depth-3-list-mobile-big-overflow;
        }

        @include main-menu-stack-items();

        &__inner {
            position: $mega-menu-depth-3-inner-mobile-big-position;
            top: $mega-menu-depth-3-inner-mobile-big-top;
            left: $mega-menu-depth-3-inner-mobile-big-left;
            bottom: $mega-menu-depth-3-inner-mobile-big-bottom;
            z-index: $mega-menu-depth-3-inner-mobile-big-z-index;
            width: $mega-menu-depth-3-inner-mobile-big-width;
            background: $mega-menu-depth-3-inner-mobile-big-background;
            transition: $mega-menu-depth-3-inner-mobile-big-transition;
        }

        @include main-menu-stack-mobile-title();

        &__divider {
            display: $mega-menu-depth-3-divider-mobile-big-display;
        }

        &__actions {
            height: 44px;
            margin-inline: spacing('base');

            &:after {
                transform: rotate(0deg);
            }
        }

        &__item.show &__inner {
            left: $mega-menu-depth-3-inner-mobile-big-current-left;
        }

        .main-menu-stack-mode & {
            &__link {
                font-weight: font-weight('normal');
                text-decoration: none;
                padding-inline: 0;
                margin-inline-end: spacing('lg');
            }
        }
    }
}
