/* @theme: default; */

.mega-menu-depth-4 {
    &__list {
        @include list-normalize();
    }
}

@at-root {
    .main-menu-stack-mode {
        .mega-menu-depth-4 {
            &__item {
                margin-top: 0;
            }

            &__link {
                display: grid;
                align-items: center;
                padding-inline: 40px 24px;
                min-height: 44px;

                transition: all 200ms ease-in-out;

                @media (hover: hover) {
                    &:hover {
                        background-color: $mega-menu-depth-3-stack-mode-link-background-color;
                        color: $mega-menu-depth-3-stack-mode-link-color;
                    }
                }
            }
        }
    }
}

@include breakpoint('mega-menu-wide') {
    .mega-menu-depth-4 {
        &__item {
            margin-top: $mega-menu-depth-4-item-margin-top;
        }

        &__button {
            display: $mega-menu-depth-4-button-display;
        }

        &__link {
            color: $mega-menu-depth-4-link-color;
            position: $mega-menu-depth-4-link-position;

            &:hover {
                color: $mega-menu-depth-4-link-hover-color;
            }
        }

        &__divider {
            margin-top: $mega-menu-depth-4-divider-margin-top;
        }
    }

    .main-menu-stack-mode {
        .mega-menu-depth-4 {
            &__link {
                @media (hover: hover) {
                    &:hover {
                        background-color: $mega-menu-depth-3-stack-mode-link-background-color;
                        color: $mega-menu-depth-3-stack-mode-link-color;
                    }
                }
            }
        }
    }
}

@include breakpoint('mobile-big') {
    .mega-menu-depth-4 {
        &__list {
            height: $mega-menu-depth-4-list-mobile-big-height;
            overflow: $mega-menu-depth-4-list-mobile-big-overflow;
        }

        @include main-menu-stack-items();

        &__actions {
            height: 44px;
            margin-inline: spacing('base');

            &:after {
                transform: rotate(0deg);
            }
        }

        &__divider {
            display: $mega-menu-depth-4-divider-mobile-big-display;
        }

        .main-menu-stack-mode & {
            &__link {
                font-weight: font-weight('normal');
                text-decoration: none;
                padding-inline: 0;
                margin-inline-end: spacing('lg');
            }
        }
    }
}
