/* @theme: default; */
@use 'sass:color';

$ui-multiselect-menu-min-width: 200px !default;
$ui-multiselect-menu-bg: get-color('neutral', 'white-100');
$ui-multiselect-menu-header-offset-bottom: spacing('xs') !default;
$ui-multiselect-menu-header-li-offset-inner-right: spacing('xs') !default;
$ui-multiselect-menu-header-div-offset-inner: 13px 20px spacing('sm') !default;
$ui-multiselect-menu-header-div-offset-bottom: spacing('sm') !default;
$ui-multiselect-menu-header-div-border-bottom: 1px solid get-color('neutral', 'grey2') !default;
$ui-multiselect-menu-header-input-offset-inner: spacing('sm') 9px !default;
$ui-multiselect-menu-header-input-line-height: 1 !default;
$ui-multiselect-menu-header-input-border-color-hover: get-color('secondary', 'c3') !default;
$ui-multiselect-menu-header-input-box-shadow-hover: inset
    0 1px 1px color.scale(get-color('neutral', 'white-100'), $alpha: -75%),
    0 0 8px color.scale(get-color('neutral', 'focus'), $alpha: -60%) !default;
