/* @theme: blank; */

.map-visual {
    height: 100%;
}

.map-visual-frame {
    height: 320px;
    margin-top: $address-list-item-v-space;
    margin-left: 2%;

    flex-basis: 54%;
}

.address-list {
    display: flex;
    flex-direction: row;

    margin-left: 25px;

    border-top: $address-list-border;

    justify-content: space-between;

    &__item {
        position: relative;

        padding-right: 70px;
    }

    &__primary {
        display: inline-block;

        padding: 3px 7px;

        color: $address-list-primary-color;
        border-radius: $address-list-primary-border-radius;
        background-color: $address-list-primary-background-color;
    }

    &__button {
        display: inline-flex;

        &.item-map-button {
            display: none;
        }
    }

    &__actions {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__manage {
        padding: 20px 0;
    }

    &__manage-link {
        @include fa-icon(var(--fa-var-angle-right), after, true, true) {
            display: inline-block;
            margin-left: $font-icon-offset-end;
        }
    }

    .view-loading {
        flex-grow: 1;
    }

    .no-data {
        flex-grow: 1;
    }

    .map-visual {
        height: 320px;
    }
}

.map-address-list {
    flex-basis: 44%;
    flex-grow: 1;
    list-style: none;

    .map-item {
        padding-top: $address-list-item-v-space;
    }
}

.list-item {
    padding: 20px 15px 20px 20px;

    border-bottom: $address-list-item-border;

    &.active {
        background-color: $address-list-item-background-color;
    }
}

@include breakpoint('tablet-small') {
    .address-list {
        margin-left: 0;

        &__button.item-map-button {
            display: inline-flex;
        }
    }

    .list-item {
        padding: 15px 10px;
    }

    .map-visual-frame {
        height: auto;
        margin-left: 0;
    }
}
