/* @theme: blank; */

.customer-profile {
    margin-top: $customer-profile-container-offset-top;

    &__container {
        display: $customer-profile-container-display;
    }

    &__data {
        padding: $customer-profile-data-offset-inner;
        width: $customer-profile-data-width;
        border-top: $customer-profile-data-border-top;
    }

    &__controls-wrapper {
        display: $customer-profile-controls-wrapper-display;

        width: $customer-profile-controls-wrapper-width;
        margin-bottom: $customer-profile-controls-wrapper-offset-bottom;

        justify-content: $customer-profile-controls-wrapper-justify-content;
    }

    &__controls {
        text-align: $customer-profile-controls-text-align;

        li {
            display: $customer-profile-controls-li-display;

            margin: $customer-profile-controls-li-offset;
            padding-right: $customer-profile-controls-li-inner-offset-right;

            font-size: $customer-profile-controls-li-font-size;
            line-height: $customer-profile-controls-li-line-height;

            border-right: $customer-profile-controls-li-border-right;

            &:last-child {
                border-right: $customer-profile-controls-li-last-child-border-right;
            }
        }
    }

    .page-subtitle & {
        &__controls {
            display: $customer-profile-page-subtitle-controls-display;

            text-align: $customer-profile-page-subtitle-controls-text-align;

            li {
                font-size: $customer-profile-page-subtitle-controls-li-font-size;

                border-right: $customer-profile-page-subtitle-controls-li-border-right;
            }

            .fa-pencil {
                margin: $customer-profile-page-subtitle-controls-fa-pencil-margin;

                font-size: $customer-profile-page-subtitle-controls-fa-pencil-font-size;

                color: $customer-profile-page-subtitle-controls-fa-pencil-color;
            }
        }
    }
}

@include breakpoint('mobile-big') {
    .customer-profile {
        &__container {
            display: $customer-profile-container-mobile-big-display;
        }

        &__data {
            padding: $customer-profile-mobile-data-offset-inner;
            &:not(:first-child) {
                border-top: $customer-profile-mobile-big-border-top;
            }
        }
    }
}


@include breakpoint('mobile') {
    .customer-profile {
        margin-top: $customer-profile-mobile-offset-top;

        &__controls-wrapper {
            display: $customer-profile-mobile-controls-wrapper-display;
        }

        &__controls {
            margin-top: $customer-profile-mobile-controls-offset-top;

            text-align: $customer-profile-mobile-controls-text-align;
        }
    }
}
