// @theme: blank;

.info-list {
    margin: $info-list-offset;
    padding: $info-list-inner-offset;

    border-top: $info-list-border-top;

    &__item {
        display: $info-list-item-display;

        padding: $info-list-item-inner-offset;
    }

    &__name {
        width: $info-list-name-width;
        margin: $info-list-name-offset;

        &:after {
            content: $info-list-name-after-content;
        }
    }
}

@include breakpoint('mobile') {
    .info-list {
        margin: $info-list-mobile-offset;

        &__name {
            width: $info-list-name-mobile-width;
            margin: $info-list-name-mobile-offset;
        }
    }
}
