// @theme: blank

.topbar-customer-menu {
    &__trigger {
        padding: $top-bar-cusomer-menu-trigger-offset-top;

        background: none;
        border: 0;

        outline: none;
    }

    &__dropdown {
        padding: $top-bar-cusomer-menu-dropdown-offset;
    }
}
