layout:
    actions:
        - '@setBlockTheme':
            themes: 'OroFrontendBundle:layouts:blank/page/require_js_config.html.twig'
        - '@add':
            id: require_js_config
            parentId: require_js
            blockType: block
        - '@add':
            id: require_js_multi_select_filter_config
            parentId: require_js
            blockType: block
            options:
                visible: '=data["system_config_provider"].getValue("oro_frontend.filter_value_selectors")=="all_at_once"'
        - '@add':
            id: require_js_bootstrap_config
            parentId: require_js
            blockType: block
