/* @theme: default; */

* {
    box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
}

:focus {
    outline: none;
}

:focus-visible {
    outline: $base-ui-element-focus-visible-outline;
    outline-offset: $base-ui-element-focus-visible-outline-offset;
    box-shadow: $focus-visible-style;

    &[data-skip-focus-decoration],
    [data-skip-focus-decoration-inner-elements] &,
    &:disabled,
    &.disabled {
        outline: none;
        box-shadow: none;
    }
}

/* stylelint-disable-next-line comment-word-disallowed-list */
// TODO: Remove reset of ul, ol
ul,
ol {
    margin-block: 0;
    padding-inline-start: 0;
}

fieldset {
    min-inline-size: auto;
}

fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
