/* @theme: default; */

* {
    box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
}

:focus {
    outline: none;
}

:focus-visible {
    outline: none;
    box-shadow: $base-ui-element-focus-style;

    &:disabled,
    &.disabled {
        box-shadow: none;
    }
}

// Links
a {
    text-decoration: $link-link-normal-text-decoration;

    @include link();

    @include element-state('hover') {
        text-decoration: $link-link-hover-text-decoration;
    }
}

/* stylelint-disable-next-line comment-word-disallowed-list */
// TODO: Remove reset of ul, ol
ul,
ol {
    margin-block: 0;
    padding-inline-start: 0;
}

fieldset {
    min-inline-size: auto;
}

fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
