<% if(items.length) { %>
<% var subTreeLvl = 0; %>
<ul class="style-book-menu nav">
    <% for (i = 0; i < items.length; i++) { %>
        <% if (i + 1 < items.length) { var nextItmTreeLvl = (items[i + 1].subTreeLvl || 0); } %>
        <li class="style-book-menu__item" data-style-book-element-item>
            <a href="#<%= items[i].id %>" class="style-book-menu__link" data-style-book-element-switch><%= items[i].label %></a>
        <% if (i + 1 < items.length && subTreeLvl < nextItmTreeLvl) { %>
            <% subTreeLvl = subTreeLvl + 1; %>
            <ul class="style-book-menu nav">
            <% continue; %>
        <% } %>
        <% if (i + 1 < items.length && subTreeLvl > nextItmTreeLvl) { %>
            <% for (j = 0; j < subTreeLvl - nextItmTreeLvl; j++) { %>
                </li>
                </ul>
            <% } %>
            </li>
            <% subTreeLvl = subTreeLvl + nextItmTreeLvl - subTreeLvl; %>
            <% continue; %>
        <% } %>
        <% if (i + 1 < items.length && subTreeLvl === nextItmTreeLvl) { %>
        </li>
            <% continue; %>
        <% } %>
    <% } %>
    </li>
</ul>
<% } %>
