<% if(colorPalette) { %>
    <% _.each(colorPalette, function(colors, palette) { %>
        <div class="color-palette">
            <h3 class="color-palette__palette-title">
                <span class="color-palette__palette-title--key">$palette:</span>
                <span class="color-palette__palette-title--value"><%- palette %></span>
            </h3>
            <div class="grid">
                <% _.each(colors, function(color, key) { %>
                    <div class="color-palette__color-box grid-col-4 grid-col-mobile-landscape-6 grid-col-mobile-12">
                        $key:
                        <strong class="color-palette__name--title"><%- key %></strong>
                        <div class="color-palette__name color-palette__name--<%- palette %>-<%- key %>" style="background: <%- color %>;"><%- color %></div>
                        <code class="color-palette__usage language-css">get-color('<%- palette %>', '<%- key %>');</code>
                    </div>
                <% }); %>
            </div>
        </div>
    <% }); %>
<% } %>
