Oro\Bundle\CommerceMenuBundle\Entity\MenuUpdate:
    group_sequence:
        - MenuUpdate
        - MaxNestedLevel
    constraints:
        - Oro\Bundle\NavigationBundle\Validator\Constraints\MaxNestedLevel:
            groups: [Move, MaxNestedLevel]
        - Oro\Bundle\CommerceMenuBundle\Validator\Constraints\PageTarget: ~
    properties:
        titles:
            - Valid: ~
        uri:
            - Oro\Bundle\SecurityBundle\Validator\Constraints\NotDangerousProtocol:
                message: oro.commercemenu.validator.menu_update.not_dangerous_protocol.message

Oro\Bundle\CommerceMenuBundle\Entity\MenuUserAgentCondition:
    properties:
        value:
            - NotBlank: ~
            - Length:
                max: 255
