{% block __frontend_export__export_button_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' datagrid-tool'
    }) %}
    {% if toolbarPosition is defined and toolbarPosition == 'top' %}
        <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    {% endif %}
{% endblock %}

{% block __frontend_export__export_button_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' btn btn--simple hide export-button',
        'role': 'button',
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            'view': 'orofrontendimportexport/js/app/views/export-button-view',
            'exportRoute': exportRoute,
            'routeOptions': routeOptions|default({}),
            'successMessage': successMessage|default('oro.frontend_importexport.export.success.message'),
            'errorMessage': errorMessage|default('oro.frontend_importexport.export.fail.message')
        }
    }) %}

    <button {{ block('block_attributes') }}>
        {{ renderIcon.icon({name: 'download'}) }}
    </button>
{% endblock %}
