oro_api:
    config_files:
        frontend:
            file_name: api_frontend.yml
            request_type: ['frontend']
    api_doc_views:
        frontend_rest_json_api:
            label: 'JSON:API'
            default: true
            headers:
                Accept: application/vnd.api+json
                Content-Type:
                    -
                        value: application/vnd.api+json
                        actions:
                            - create
                            - update
                            - update_list
                            - delete
                            - delete_list
                            - add_subresource
                            - update_subresource
                            - delete_subresource
                            - add_relationship
                            - update_relationship
                            - delete_relationship
                X-Include:
                    -
                        value: noHateoas
                        actions:
                            - get
                            - get_list
                            - create
                            - update
                            - get_relationship
                            - get_subresource
                            - add_subresource
                            - update_subresource
                            - delete_subresource
                    -
                        value: totalCount
                        actions: [get_list, delete_list, get_relationship, get_subresource]
                    -
                        value: deletedCount
                        actions: [delete_list]
            request_type: ['rest', 'json_api', 'frontend']
    api_doc_cache:
        excluded_features: [ frontend_web_api ]

oro_frontend:
    frontend_api:
        api_doc_views: [frontend_rest_json_api]

oro_navigation:
    js_routing_filename_prefix: '%web_backend_prefix%'

twig:
    globals:
        commerce:
            layout: '@OroFrontend/base.html.twig'
    paths:
        '%kernel.project_dir%/vendor/oro/customer-portal/src/Oro/Bundle/FrontendBundle/Resources/public': 'OroFrontendBundlePublic'

security:
    firewalls:
        assets:
            pattern:                        ^/(css|images|js)/
            security:                       false

        install:
            pattern:                        ^/installer
            security:                       false
            anonymous:                      true

        # override pattern
        wsse_secured:
            pattern:                        '^%web_backend_prefix%/api/rest.*'

        # override pattern
        login:
            pattern:                        '^%web_backend_prefix%/user/(login|reset-request|send-email|check-email)$'

        # override pattern
        reset_password:
            pattern:                        '^%web_backend_prefix%/user/reset/*'

        # override pattern
        embedded_form:
            pattern:                        '^%web_backend_prefix%/embedded-form/(submit|success)'

        # override pattern and config
        main:
            pattern:                        '^%web_backend_prefix%'
            organization-form-login:
                default_target_path:        oro_default
            logout:
                invalidate_session:         false
                target:                     oro_default
oro_layout:
    active_theme: default

oro_theme:
    themes:
        oro:
            logo: bundles/orofrontend/images/oro-commerce-logo.svg
        demo:
            logo: bundles/orofrontend/images/oro-commerce-logo.svg

oro_translation:
    package_names:
        # The oro/customer-portal package was a part of oro/commerce package initially, and the translations
        # have not been separated into a separate translation package after the split:
        - OroCommerce
