oro_api:
    config_files:
        frontend:
            file_name: api_frontend.yml
            request_type: ['frontend']
    api_doc_views:
        frontend_rest_json_api:
            label: JSON.API
            default: true
            headers:
                Content-Type: application/vnd.api+json
                X-Include:
                    -
                        value: noHateoas
                        actions: [get, get_list, create, update, get_relationship, get_subresource]
                    -
                        value: totalCount
                        actions: [get_list, delete_list, get_relationship, get_subresource]
                    -
                        value: deletedCount
                        actions: [delete_list]
            request_type: ['rest', 'json_api', 'frontend']

oro_frontend:
    frontend_api:
        api_doc_views: [frontend_rest_json_api]

twig:
    globals:
        commerce:
            layout: OroFrontendBundle::base.html.twig

security:
    firewalls:
        assets:
            pattern:                        ^/(css|images|js)/
            security:                       false

        install:
            pattern:                        ^/installer
            security:                       false
            anonymous:                      true

        # override pattern
        wsse_secured:
            pattern:                        '^%web_backend_prefix%/api/rest.*'

        # override pattern
        login:
            pattern:                        '^%web_backend_prefix%/user/(login|reset-request|send-email|check-email)$'

        # override pattern
        reset_password:
            pattern:                        '^%web_backend_prefix%/user/reset/*'

        # override pattern
        embedded_form:
            pattern:                        '^%web_backend_prefix%/embedded-form/(submit|success)'

        # override pattern and config
        main:
            pattern:                        '^%web_backend_prefix%/'
            organization-form-login:
                default_target_path:        oro_default
            logout:
                invalidate_session:         false
                target:                     oro_default
oro_layout:
    active_theme: default

oro_theme:
    themes:
        oro:
            logo: bundles/orofrontend/images/oro-commerce-logo.svg
        demo:
            logo: bundles/orofrontend/images/oro-commerce-logo.svg

fos_rest:
    exception:
        exception_controller: 'Oro\Bundle\FrontendBundle\Controller\ExceptionController::showAction'
