oro_workflow_frontend_bundle:
    resource:     "@OroFrontendBundle/Controller/Workflow"
    type:         annotation
    options:
        frontend: true

oro_frontend_workflow_widget_buttons:
    path: /workflowwidget/buttons/{entityClass}/{entityId}
    defaults: { _controller: OroWorkflowBundle:Widget:buttons }
    options:
        frontend: true

oro_frontend_workflow_api:
    resource:     "@OroFrontendBundle/Controller/Api/Rest/WorkflowController.php"
    type:         rest
    requirements:
        version:  latest|v1
        _format:  json
    defaults:
        version:  latest
    options:
        frontend: true
