system_configuration:
    groups:
        design:
            title: oro_frontend.system_configuration.groups.design.title
        theme:
            title: oro_frontend.system_configuration.groups.theme.title
            icon: 'fa-picture-o'
        theme_settings:
            title: oro_frontend.system_configuration.groups.theme_settings.title
        commerce:
            title: oro_frontend.system_configuration.groups.commerce.title
            icon:  fa-shopping-cart
        page_templates:
            title: oro_frontend.system_configuration.groups.page_templates.title
            description: oro_frontend.system_configuration.groups.page_templates.legacy_note
            description_style: warning
        guests:
            title: oro_frontend.system_configuration.groups.guests.title
        website_access:
            title: oro_frontend.system_configuration.groups.website_access.title
            icon:  fa-globe
        filter_settings:
            title: oro_frontend.system_configuration.groups.filter_settings.title
    fields:
        oro_frontend.page_templates:
            data_type: array
            type: Oro\Bundle\FrontendBundle\Form\Type\PageTemplateCollectionType
            priority: 90
            options:
                required: false
                label: oro_frontend.system_configuration.fields.page_template_routes.label

        oro_frontend.guest_access_enabled:
            data_type: boolean
            type: Oro\Bundle\ConfigBundle\Form\Type\ConfigCheckbox
            priority: 2000
            options:
                label: oro_frontend.system_configuration.fields.guest_access_enabled.label
                tooltip: oro_frontend.system_configuration.fields.guest_access_enabled.tooltip
                required: false
                attr:
                    'data-dependee-id': 'guest_access_enabled'

        oro_frontend.guest_access_allowed_system_pages:
            data_type: array
            type: Oro\Bundle\NavigationBundle\Form\Type\RouteMultipleChoiceType
            priority: 1900
            options:
                label: oro_frontend.system_configuration.fields.guest_access_allowed_system_pages.label
                tooltip: oro_frontend.system_configuration.fields.guest_access_allowed_system_pages.tooltip
                required: false
                menu_name: 'frontend_menu'
                options_filter:
                    frontend: true
                configs:
                    component: dependent
                    placeholder: oro_frontend.system_configuration.fields.guest_access_allowed_system_pages.placeholder
                attr:
                    'data-depend-on': 'guest_access_enabled'
                    'data-show-if': 'unchecked'

        oro_frontend.filter_value_selectors:
            data_type: string
            type: Symfony\Component\Form\Extension\Core\Type\ChoiceType
            search_type: choice
            priority: 100
            options:
                required: false
                label: oro_frontend.system_configuration.fields.filter_value_selectors.label
                tooltip: oro_frontend.system_configuration.fields.filter_value_selectors.tooltip
                choices:
                    oro_frontend.system_configuration.fields.filter_value_selectors.option.dropdown: dropdown
                    oro_frontend.system_configuration.fields.filter_value_selectors.option.all_at_once: all_at_once

        oro_frontend.web_api:
            data_type: boolean
            type: Oro\Bundle\ConfigBundle\Form\Type\ConfigCheckbox
            priority: 5
            options:
                label: oro_frontend.system_configuration.fields.web_api.label
                attr:
                    'data-dependee-id': 'frontend_web_api'

    tree:
        system_configuration:
            platform:
                children:
                    general_setup:
                        children:
                            application_settings:
                                children:
                                    web_api_settings:
                                        children:
                                            - oro_frontend.web_api
            commerce:
                children:
                    design:
                        priority: 800
                        children:
                            theme:
                                children:
                                    theme_settings:
                                        children:
                                            - oro_theme.theme_configuration
                                    page_templates:
                                        children:
                                            - oro_frontend.page_templates
                                    filter_settings:
                                        children:
                                            - oro_frontend.filter_value_selectors
                    guests:
                        priority: 2000
                        children:
                            website_access:
                                priority: 100
                                children:
                                    website_access:
                                        priority: 100
                                        children:
                                            - oro_frontend.guest_access_enabled
                                            - oro_frontend.guest_access_allowed_system_pages
