/* @theme: default; */

.datagrid-toggle-pagination {
    display: flex;
    align-items: center;

    &:first-child {
        .datagrid-divider {
            display: none;
        }
    }

    &.empty,
    &:empty {
        display: none;
    }
}
