/* @theme: default; */

.product-selected-counter {
    display: block;
    color: $datagrid-massaction-product-counter-color;
    order: -1;
}

.datagrid-massaction {
    &-close-container {
        text-align: right;
        order: 1;
    }

    &-select-all-label {
        display: flex;
        align-items: center;
        gap: spacing('sm');
        cursor: pointer;
        user-select: none;
    }

    &.sticky-mode {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $datagrid-massaction-sticky-mode-offset;
        background-color: $datagrid-massaction-sticky-mode-background-color;

        .datagrid-massaction-close-container,
        .product-selected-counter {
            flex: 0 0 30%;
        }
    }
}

@include breakpoint('mobile-big') {
    .datagrid-massaction {
        &-actions {
            width: 100%;
        }

        &.sticky-mode {
            flex-wrap: wrap;
            gap: spacing('sm') 0;

            .datagrid-massaction-close-container,
            .product-selected-counter {
                flex-basis: 50%;
                order: -1;
            }

            .action-group {
                width: 100%;
                flex-basis: 100%;
            }
        }

        &-select-all-label {
            > span {
                display: none;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .datagrid-massaction {
        &.sticky-mode {
            padding: $datagrid-massaction-sticky-mode-offset-mobile-landscape;
        }
    }
}
