/* @theme: default; */

.datagrid-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $datagrid-toolbar-gap;

    &__start {
        display: flex;
        align-items: center;
        gap: $datagrid-tool-gap-start;
        flex-grow: 1;

        &:empty {
            display: none;
        }
    }

    &__center {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $datagrid-tool-gap-center;

        &:empty {
            display: none;
        }
    }

    &__end {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: $datagrid-tool-gap-end;
        flex-grow: 1;

        &:empty {
            display: none;
        }
    }

    &__panel {
        width: 100%;
    }

    &-sticky-container {
        margin: 0 auto;
        max-width: $site-width;
        z-index: $loader-mask-z-index + 1;
    }

    &-pagination-info {
        padding: spacing('xs') 0;
        color: $datagrid-tool-pagination-info-color;
        font-size: $datagrid-tool-pagination-info-font-size;
    }

    .page-size {
        flex-grow: 0;
        display: flex;
        align-items: center;

        .select2-container {
            min-width: 64px;
        }

        .select {
            min-width: 64px;
        }
    }

    .datagrid-toolbar-counter {
        flex-shrink: 0;
    }

    .action-selectbox-custom-in-pager {
        display: inline-block;
    }

    &.datagrid-toolbar-bottom {
        .datagrid-toolbar {
            &__start,
            &__center,
            &__end {
                flex: 1 1 0;
            }
        }
    }
}

.datagrid-tool {
    &__label {
        vertical-align: middle;
    }
}

.catalog-actions-panel-container {
    &:not(:has(.actions-panel)) {
        display: none;
    }
}

.frontend-datagrid__panel {
    display: flex;
    align-items: center;
}

.actions-panel:empty {
    display: none;
}

@include breakpoint('tablet') {
    .datagrid-toolbar {
        &.extended {
            .datagrid-tool {
                &:last-child {
                    flex-basis: auto;
                }

                &__label {
                    display: none;
                }
            }
        }

        .grid-toolbar-mass-actions {
            order: 3;
            flex-basis: calc(100% - 138px);
            margin: 0 0 10px;
            text-align: right;
        }
    }
}

@include breakpoint('tablet-small') {
    .datagrid-toolbar {
        gap: $datagrid-toolbar-tablet-small-gap;

        &__start {
            gap: $datagrid-tool-tablet-small-gap;
        }

        &__center {
            gap: $datagrid-tool-tablet-small-gap;
        }

        &__end {
            gap: $datagrid-tool-tablet-small-gap;
        }
    }

    .datagrid-tool {
        &__label {
            display: none;
        }
    }

    .export-button {
        padding-left: spacing('sm');
        padding-right: spacing('sm');
    }
}

@include breakpoint('mobile-big') {
    .datagrid-toolbar {
        &__start {
            gap: $datagrid-tool-mobile-big-gap;
        }

        &__center {
            gap: $datagrid-tool-mobile-big-gap;
        }

        &__end {
            gap: $datagrid-tool-mobile-big-gap;
        }

        &.datagrid-toolbar-bottom {
            .datagrid-toolbar__start {
                flex-basis: auto;
            }
        }

        .page-size {
            .select2-chosen-extra {
                display: none;
            }
        }

        &:not(:has(.filters-selected)) &__panel {
            display: none;
        }

        &-sticky-container {
            &.toolbar.in-sticky {
                padding-right: spacing('base');
                margin-right: -#{spacing('base')};
            }
        }
    }
}

@include breakpoint('mobile') {
    .datagrid-toolbar {
        gap: $datagrid-toolbar-mobile-gap;

        &__start {
            gap: $datagrid-tool-mobile-gap;
        }

        &__center {
            gap: $datagrid-tool-mobile-gap;
        }

        &__end {
            gap: $datagrid-tool-mobile-gap;
        }

        &-bottom {
            flex-wrap: wrap;
            gap: spacing('base');

            .datagrid-toolbar__center {
                flex: 1 0 100%;
                order: 1;
            }

            .datagrid-toolbar__start {
                order: 2;
            }

            .datagrid-toolbar__end {
                order: 3;
            }

            .oro-pagination {
                width: 100%;
            }
        }

        .page-size {
            .select2-container {
                min-width: 54px;
            }

            .select {
                min-width: 54px;
            }
        }
    }
}
