/* @theme: default; */

.product-selected-counter {
    display: block;
    color: $datagrid-massaction-product-counter-color;
}

.datagrid-massaction-close-container {
    text-align: right;
}

.datagrid-massaction {
    &-actions {
        .dropdown-menu {
            min-width: 360px;
        }

        .add-to-shopping-list-button {
            min-width: $datagrid-massaction-action-min-width;
            max-width: $datagrid-massaction-action-max-width;
        }
    }

    &-select-all-label {
        display: flex;
        align-items: center;
        gap: spacing('sm');
        cursor: pointer;
        user-select: none;

        &__text,
        &__input {
            line-height: $datagrid-massaction-select-all-label-input-line-height;
        }
    }

    &.sticky-mode {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: $datagrid-massaction-sticky-mode-offset;

        .datagrid-massaction-close-container,
        .product-selected-counter {
            flex: 0 0 30%;
        }
    }
}

@include breakpoint('tablet') {
    .datagrid-massaction {
        &.sticky-mode {
            padding: $datagrid-massaction-sticky-mode-offset-tablet;
        }
    }
}

@include breakpoint('mobile-big') {
    .datagrid-massaction {
        &-actions {
            width: 100%;

            .add-to-shopping-list-button {
                width: 100%;
                max-width: 100%;
            }
        }

        &.sticky-mode {
            flex-wrap: wrap;
            gap: $datagrid-massaction-sticky-mode-gap-mobile-big;

            .datagrid-massaction-close-container,
            .product-selected-counter {
                flex-basis: 50%;
                order: -1;
            }

            .action-group {
                width: 100%;
                flex-basis: 100%;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .datagrid-massaction {
        &.sticky-mode {
            padding: $datagrid-massaction-sticky-mode-offset-mobile-landscape;
        }

        &-select-all-label__input {
            padding: $datagrid-massaction-select-all-label-input-offset;
        }
    }
}
