/* @theme: default; */

.grid-views {
    display: flex;
    position: relative;
    align-items: center;

    margin: $grid-views-offset;
    padding: spacing('sm') 0;

    border-bottom: $grid-views-border-bottom;

    @include clearfix;

    &__header {
        display: inline-flex;
        align-items: center;
        gap: spacing('xs');
    }

    &__aditional {
        float: right;

        display: flex;
        gap: spacing('sm');
    }

    &__dropdown {
        width: $grid-views-dropdown-width;
        margin: $grid-views-dropdown-offset;
        left: 0;
    }

    &__suptitle {
        color: $grid-views-suptitle-color;
        padding-right: spacing('xs');
    }

    &__title {
        display: inline-block;
        vertical-align: middle;

        font-size: $grid-views-title-font-size;
        font-family: $grid-views-title-font-family;
        text-transform: $grid-views-title-text-transform;
        line-height: $grid-views-title-line-height;

        cursor: $grid-views-title-cursor;

        word-break: break-all;

        &.has-icon {
            position: relative;
            padding-left: $grid-views-title-icon-inner-offset;

            display: inline-flex;
            align-items: center;
        }
    }

    &__piece {
        position: absolute;
        left: 0;
    }

    &__subtitle {
        padding: $grid-views-subtitle-offset-inner;
        line-height: $grid-views-subtitle-line-height;
        font-size: $grid-views-subtitle-font-size;
    }

    &__edit-label {
        color: $grid-views-edit-label-color;
        vertical-align: middle;
    }

    &__list {
        padding-bottom: spacing('sm');
    }

    &__item {
        display: flex;
        padding: $grid-views-dropdown-list-item-offset-inner;
        min-height: $grid-views-dropdown-list-item-min-height;
    }

    &__actions {
        padding-left: spacing('xs');
        color: $grid-views-actions-color;
        white-space: nowrap;
    }

    &__label {
        display: flex;
        align-items: center;
        flex-basis: 55%;
        flex: 1;
        word-break: break-all;
    }

    &__text-line {
        // two rows
        max-height: ($base-font-size * $base-line-height) * 2;
        font-size: $base-font-size;
        line-height: $base-line-height;
    }

    &__footer {
        padding: $grid-views-dropdown-footer-offset-inner;
    }

    &__edit-container {
        display: none;

        &-content {
            padding: $grid-views-dropdown-form-content-offset-inner;

            @include clearfix();
        }

        &.show {
            display: block;
        }
    }

    &__toggle-container {
        text-align: center;

        &.opened {
            display: none;

            + .grid-views__form {
                display: block;
            }
        }
    }

    &__form-content {
        --grid-gap: #{$grid-views-dropdown-footer-content-gap};
    }

    &__button-group {
        display: flex;
        gap: spacing('md');
    }

    &__form-footer {
        display: flex;
        gap: spacing('base');
        align-items: center;
        justify-content: space-between;
    }

    &__set-default {
        display: flex;
        align-items: center;
        gap: spacing('sm');
        font-size: $grid-views-dropdown-footer-label-font-size;
    }
}

@include breakpoint('mobile-landscape') {
    .grid-views {
        width: 100%;
    }
}

@include breakpoint('mobile') {
    .grid-views {
        &__dropdown {
            top: -6px;
            left: -1px;
            width: $grid-views-dropdown-mobile-width;
        }
    }
}
