/* @theme: default; */

.grid-views {
    display: flex;
    position: relative;
    align-items: center;

    gap: spacing('xs') spacing('lg');

    margin: $grid-views-offset;
    padding: 6px 0;

    border-bottom: $grid-views-border-bottom;

    &__header {
        display: inline-flex;
        align-items: center;
        gap: spacing('sm');
    }

    &__aditional {
        float: right;

        display: flex;
        gap: spacing('sm');
    }

    &__dropdown {
        width: $grid-views-dropdown-width;
        margin: $grid-views-dropdown-offset;
        left: 0;
    }

    &__suptitle {
        color: $grid-views-suptitle-color;
    }

    &__title {
        display: inline-flex;
        align-items: center;
        gap: spacing('xs');

        font-size: $grid-views-title-font-size;
        font-family: $grid-views-title-font-family;
        text-transform: $grid-views-title-text-transform;
        line-height: $grid-views-title-line-height;

        cursor: $grid-views-title-cursor;

        word-break: break-all;

        &.has-icon {
            position: relative;
            padding-left: $grid-views-title-icon-inner-offset;

            display: inline-flex;
            align-items: center;
        }
    }

    &__title-btn {
        color: $grid-views-title-btn-color;
        margin-left: -6px;
    }

    &__piece {
        position: absolute;
        left: 0;
    }

    &__subtitle {
        padding: $grid-views-subtitle-offset-inner;
        line-height: $grid-views-subtitle-line-height;
        font-size: $grid-views-subtitle-font-size;
    }

    &__edit-label {
        color: $grid-views-edit-label-color;
        display: inline-flex;
        align-items: center;
        gap: spacing('sm');

        padding-inline-start: spacing('lg');
        position: relative;

        &:before {
            content: '';
            display: block;

            height: 20px;

            border-left: $grid-views-edit-label-border-left;

            position: absolute;
            inset: 0 auto 0 0;

            margin: auto;
        }
    }

    &__edit-label-buttons {
        margin-left: spacing('xs');
    }

    &__list {
        padding-bottom: spacing('sm');
    }

    &__item {
        display: flex;
        padding: $grid-views-dropdown-list-item-offset-inner;
        min-height: $grid-views-dropdown-list-item-min-height;
    }

    &__actions {
        padding-left: spacing('xs');
        color: $grid-views-actions-color;
        white-space: nowrap;
    }

    &__label {
        display: flex;
        align-items: center;
        flex-basis: 55%;
        flex: 1;
        word-break: break-all;
    }

    &__text-line {
        // two rows
        max-height: ($base-font-size * $base-line-height) * 2;
        font-size: $base-font-size;
        line-height: $base-line-height;
    }

    &__footer {
        padding: $grid-views-dropdown-footer-offset-inner;
    }

    &__edit-container {
        display: none;

        &-content {
            padding: $grid-views-dropdown-form-content-offset-inner;

            @include clearfix();
        }

        &.show {
            display: block;
        }
    }

    &__toggle-container {
        text-align: center;

        &.opened {
            display: none;

            + .grid-views__form {
                display: block;
            }
        }
    }

    &__form-content {
        --grid-gap: #{$grid-views-dropdown-footer-content-gap};
    }

    &__button-group {
        display: flex;
        gap: spacing('md');
    }

    &__form-footer {
        display: flex;
        gap: spacing('base');
        align-items: center;
        justify-content: space-between;
    }

    &__set-default {
        display: flex;
        align-items: center;
        gap: spacing('sm');
        font-size: $grid-views-dropdown-footer-label-font-size;
    }

    &__shared-status {
        display: flex;
        align-items: center;

        color: $grid-views-public-color;
    }

    &__options {
        min-width: max-content;

        &-item {
            padding: 0;
        }

        &-action {
            --btn-hover-background: none;
            --btn-background: none;
            --btn-hover-color: #{get-color('text', 'primary')};
            --btn-color: #{get-color('text', 'primary')};
            --btn-font-weight: font-weight('normal');
            --btn-justify-content: start;

            width: 100%;
        }
    }

    &__inline-rename {
        display: flex;
        gap: spacing('base');
        align-items: end;
    }

    &__inline-rename-container {
        display: flex;
        gap: spacing('md');
        align-items: center;

        label {
            margin: 0;
            flex: 1 0 auto;
            font-weight: font-weight('normal');
        }
    }

    &__inline-rename-input {
        width: 100%;
        min-width: 296px;
    }

    &__inline-rename-button {
        display: flex;
        gap: spacing('sm');
    }
}

@include breakpoint('mobile-landscape') {
    .grid-views {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: spacing('xs') spacing('md');

        &__options-dropdown {
            display: flex;
            justify-content: end;
        }

        &:has(&__shared-status) {
            grid-template-columns: auto auto 1fr;
        }

        &__shared-status {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        &__edit-label {
            padding-left: 0;
            flex-grow: 1;

            &:before {
                display: none;
            }
        }

        &__inline-rename-container {
            flex-direction: column;
            align-items: start;
            gap: spacing('xs');

            flex-grow: 1;
        }

        &__inline-rename {
            grid-column: 1 / 3;
        }

        &__inline-rename-input {
            min-width: 100%;
        }
    }
}
