// @theme: blank;

.breadcrumbs {
    font-size: $breadcrumbs-font-size;

    color: $breadcrumbs-color;

    margin: $breadcrumbs-offset;

    &__item,
    &__link,
    a,
    a:hover {
        color: $breadcrumbs-link-color;
    }
}

@include breakpoint('print') {
    .breadcrumbs {
        display: none !important;
    }
}
