/* @theme: blank; */

.datagrid-manager-table {
    position: relative;

    margin: 10px 0;

    color: get-color('additional', 'dark');

    .table-wrapper {
        border: 1px solid get-color('additional', 'light');
        border-radius: $base-ui-element-border-radius;

        overflow: auto;
        overflow-x: hidden;

        background-color: get-color('additional', 'light');

        .table {
            margin-bottom: 0;
        }
    }

    .datagrid-manager__item {
        padding: 0 10px;
        background-color: get-color('additional', 'ultra');
    }

    .ui-sortable-helper {
        .datagrid-manager__item {
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        }
    }

    .sortable-placeholder {
        display: none;
    }

    .table {
        border-width: 0;

        tr {
            &:first-child td {
                border-top-width: 0;
            }

            &:last-child td {
                border-bottom-width: 0;
            }
        }
    }

    @at-root {
        .fullscreen {
            .datagrid-manager-table {
                .datagrid-manager__item {
                    padding: 0 12px;
                }

                .table-wrapper {
                    border-radius: 0;
                }
            }
        }
    }
}
