/* @theme: blank; */

.middlebar {
    margin: 15px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@include breakpoint('mobile-landscape') {
    .middlebar {
        flex-wrap: wrap;

        &__left,
        &__right,
        &__center {
            width: 100%;
        }
    }
}
