// @theme: blank

.popup-gallery-widget {
    position: fixed;
    z-index: z('popup');
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    visibility: hidden;

    transition: .4s all;

    //Slick slider customization
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        display: block;

        width: $popup-gallery-widget-arrow-width;
        height: $popup-gallery-widget-arrow-height;
        padding: 0;

        outline: none;
        font-size: 0;
        line-height: 0;
        text-align: center;

        border: none;
        border-radius: 100%;
        color: transparent;
        background: $popup-gallery-widget-arrow-bg;

        cursor: pointer;

        &:before,
        &:after {
            display: block;

            font-size: $popup-gallery-widget-arrow-icon-size;

            color: $popup-gallery-widget-arrow-icon-color;
        }
    }

    .slick-prev {
        left: $popup-gallery-widget-arrow-side-position;

        @include fa-icon($fa-var-chevron-left, after);

        &:after {
            margin-right: 2px;
        }
    }

    .slick-next {
        right: $popup-gallery-widget-arrow-side-position;

        @include fa-icon($fa-var-chevron-right);

        &:before {
            margin-left: 2px;
        }
    }

    .slick-no-slide {
        max-width: $popup-gallery-widget-no-slide-max-width;
        padding: 0;

        .slick-track {
            width: 100% !important;

            text-align: center;

            transform: inherit !important;
        }

        .slick-slide {
            display: inline-block;
            float: none;
        }

        .slick-list {
            max-width: $popup-gallery-widget-no-slide-list-max-width;
            padding: 0 !important;
        }
    }

    //Gallery styles
    &__bg {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: $popup-gallery-widget-overlay-bg;
    }

    &__wrapper {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translate(-50%);

        max-width: $popup-gallery-widget-wrapper-max-width;
        max-height: $popup-gallery-widget-wrapper-max-height;
        padding: 0;
    }

    &__close {
        position: absolute;
        right: $popup-gallery-widget-close-top-right-pos;
        top: $popup-gallery-widget-close-top-right-pos;
        z-index: z('base');

        width: $popup-gallery-widget-close-width;
        height: $popup-gallery-widget-close-height;

        text-align: center;

        background: $popup-gallery-widget-close-bg;

        border-radius: $popup-gallery-widget-close-border-radius;
        cursor: pointer;

        @include fa-icon($fa-var-close);

        &:before {
            display: inline-block;
            margin: $popup-gallery-widget-close-icon-offset;

            font-size: $popup-gallery-widget-close-icon-size;
            line-height: $popup-gallery-widget-close-height;

            color: $popup-gallery-widget-close-icon-color;
        }
    }

    &__images {
        margin-bottom: $popup-gallery-widget-images-offset-bottom;

        transition: all .4s;
        opacity: 0;
        visibility: hidden;

        .slick-list {
            border: $popup-gallery-widget-slick-list-border;
            background: $popup-gallery-widget-slick-list-bg;

            box-sizing: border-box;
        }

        .slick-dots {
            position: absolute;
            bottom: $popup-gallery-widget-slick-dots-position-bottom;

            display: none !important;

            width: 100%;
            margin: 0 auto;
            padding: 0;

            text-align: center;
            vertical-align: bottom;

            li {
                display: inline-block;

                width: $popup-gallery-widget-slick-dots-item-size;
                height: $popup-gallery-widget-slick-dots-item-size;
                margin: $popup-gallery-widget-slick-dots-item-offset;

                text-indent: -9999px;

                border-radius: $popup-gallery-widget-slick-dots-item-border-radius;
                background: $popup-gallery-widget-slick-dots-item-bg;
                box-shadow: $popup-gallery-widget-slick-dots-item-box-shadow;

                &.slick-active {
                    background: $popup-gallery-widget-slick-dots-item-active-bg;
                    box-shadow: $popup-gallery-widget-slick-dots-item-active-box-shadow;
                }
            }
        }
    }

    &__image {
        height: auto;
        min-height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__thumbnails {
        width: 100%;

        padding: $popup-gallery-widget-thumbnails-offset-inner;

        text-align: center;

        opacity: 0;
        visibility: hidden;

        .slick-arrow {
            width: $popup-gallery-widget-thumbnail-arrow-width;
            height: $popup-gallery-widget-thumbnail-arrow-height;

            &:before,
            &:after {
                font-size: $popup-gallery-widget-thumbnail-arrow-icon-size;
            }
        }

        .slick-prev {
            left: $popup-gallery-widget-thumbnail-arrow-side-position;
        }

        .slick-next {
            right: $popup-gallery-widget-thumbnail-arrow-side-position;
        }

        &-img {
            margin: $popup-gallery-widget-thumbnails-img-offset;

            text-align: center;

            &.slick-current {
                position: relative;
            }

            img {
                border: $popup-gallery-widget-thumbnails-img-border;
            }

            &.slick-current img {
                box-sizing: border-box;
                border: $popup-gallery-widget-thumbnails-img-active-border;
            }
        }
    }

    &--opened,
    &--opened &__images.slick-initialized,
    &--opened &__thumbnails.slick-initialized {
        opacity: 1;
        visibility: visible;
    }
}

.gallery-popup-opened {
    overflow: hidden !important;

    .zoomContainer {
        display: none;
    }
}

@include breakpoint('tablet-small') {
    .popup-gallery-widget {
        &__thumbnails {
            display: none;
        }

        &__close {
            right: $popup-gallery-widget-close-top-right-pos-tablet-small;
            top: $popup-gallery-widget-close-top-right-pos-tablet-small;
        }

        &__images {
            max-width: 100vh;

            .slick-list {
                max-width: 100vh;
                border: 0;
            }

            .slick-arrow {
                display: none !important;
            }

            .slick-dots {
                display: inline-block !important;
            }
        }

        &__wrapper {
            max-width: 100vh;
            max-height: 100%;
        }
    }
}
