/* @theme: blank; */

.scroll-top {
    position: $scroll-top-position;
    z-index: $scroll-top-z-index;

    display: none;
    height: $scroll-top-height;

    cursor: pointer;

    &--bottom-left {
        left: $scroll-top-bl-left;
        bottom: $scroll-top-bl-bottom;

        &.scroll-top--landed {
            margin: -($scroll-top-height + $scroll-top-bl-bottom) 0 $scroll-top-bl-bottom  $scroll-top-bl-left;
        }
    }

    &--bottom-right {
        right: $scroll-top-br-right;
        bottom: $scroll-top-br-bottom;

        &.scroll-top--landed {
            float: right;

            margin: -($scroll-top-height + $scroll-top-br-bottom) $scroll-top-br-right $scroll-top-br-bottom 0;
        }
    }

    &--center {
        left: $scroll-top-c-left;
        bottom: $scroll-top-c-bottom;

        transform: translateX(-#{$scroll-top-c-left});

        &.scroll-top--landed {
            margin: -($scroll-top-height + $scroll-top-c-bottom) auto $scroll-top-c-bottom;

            transform: none;
        }
    }

    &--landed {
        position: static;
    }
}

@include breakpoint('print') {
    .scroll-top {
        display: none !important;
    }
}
