/* @theme: blank; */

.skip-to-content {
    position: $skip-to-content-position;
    z-index: $skip-to-content-z-index;
    top: $skip-to-content-top;
    left: $skip-to-content-left;

    padding: $skip-to-content-padding;

    color: $skip-to-content-color;
    background: $skip-to-content-bg;
    border-radius: $skip-to-content-radius;
  
    &:focus {
        top: $skip-to-content-top-focus;

        color: $skip-to-content-color-focus;
        box-shadow: $skip-to-content-box-shadow;
    }
}
