/* @theme: blank; */

.skip-to-content {
    position: absolute;
    top: $skip-to-content-top;
    left: 50%;
    transform: translateX(-50%);
    z-index: $skip-to-content-z-index;

    background: $skip-to-content-bg;
    border-radius: $skip-to-content-radius;
    padding: $skip-to-content-padding;
    box-shadow: $skip-to-content-box-shadow;
    border: $skip-to-content-border;
    .btn {
        font-weight: bold;
    }
    &:focus {
        top: $skip-to-content-top-focus;
    }
}
