// @theme: blank;

.style-book-sticky-elements-nav {
    position: relative;

    display: flex;
    justify-content: flex-end;

    max-width: $style-book-sticky-max-width;
    margin: 0 auto;
    padding: $style-book-sticky-inner-offset;

    &:empty {
        display: none;
    }

    &__sidebar {
        position: absolute;
        right: $style-book-sticky-sidebar-right;

        width: $style-book-sticky-sidebar-width;
    }
}
