// @theme: blank;

.tiny-container {
    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }

    p {
        margin: $tiny-container-p-offset;
    }

    strong,
    b {
        font-weight: bold;
    }

    em,
    i {
        font-style: italic;
    }

    ul,
    ol {
        margin: $tiny-container-list-offset;
        padding: $tiny-container-list-inner-offset;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }
}
